<template>
    <div class="row mt-4 mb-4">
        <div class="col-md-12 pd-x-2">
            <div class="d-flex bg-white p-3 border report-pages">
                <div class="col-md-3 mb-5">
                    <label for="name">Start Date</label>
                    <datepicker format="d MMMM yyyy" placeholder="Select Date" class="datePicker1"  name="fromdate" v-model="searchDate1"></datepicker>
                    <div class="error-msg" style="display: none;"></div>
                </div>
                <div class="col-md-3 mb-5">
                    <label for="name">End Date</label>
                    <datepicker format="d MMMM yyyy" placeholder="Select Date" class="datePicker1"  name="fromdate" v-model="searchDate2"></datepicker>
                    <div class="error-msg" style="display: none;"></div>
                </div>
                <div class="col-md-3 mb-5 pt-4">
                    <button type="button" v-on:click="downloadReport()" class="mt-2 d-inline-block px-3 py-2 rounded text-white theme-bg border-0 save-btn" style="height: 40px">Download Report</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { siteUrl } from "../utility.js";
    import Datepicker from 'vuejs-datepicker';

    import moment from 'moment';
    export default {
        name: "rider-report",
        data() {
            return {
                pageurl: siteUrl,
                searchDate1: '',
                searchDate2: '',
                date1 : '',
                date2 : ''

            };
        },
        props: [],
        watch: {
            searchDate1: function () {

                this.date1 = moment(this.searchDate1).format('YYYY-MM-DD');
              
            },
            searchDate2: function () {
                 var $this = this;
               
               if(this.searchDate1 > this.searchDate2){
                   this.$dialog.alert('From date must less than to todate !').then(function (dialog) {
                      
                    });
                    
                    return;
               }
               if($this.searchDate2 != ''){
                this.date2 = moment(this.searchDate2).format('YYYY-MM-DD');
            }
               
            },

        },
        filters: {

        },
        components: {
            Datepicker,
          
        },
        methods: {
            downloadReport() {
                let currentObj = this;
                window.location.href = currentObj.pageurl + '/report/scheme-report?date1=' + this.date1 + '&date2=' + this.date2 ;
            }
        },
        mounted() {



        }
    };
</script>
