<template>
    <div class="col-md-3 bg-white shadow1 rounded px-3 py-3 call-script" >
        <div class="inner-text" v-if="loaded">
            <h6 class="font-weight-bold">Calling Script</h6>
            <ul class="pl-3 mb-0 mt-2 position-relative list-unstyled call-list" v-if="scripts.length > 0">
                <li v-for="(list,index) in scripts" v-if="list.level.name == level && list.event.name == event"  class="my-1">{{ list.script }}  
                    <span class="d-block font-12" v-if="event == 'Initial'"><a href='#' v-on:click="event = 'Yes' ">Yes </a> | <a href='#' v-on:click="event = 'No'"> No</a></span>
                    <span class="d-block font-12" v-else><a href='#' v-on:click="proceed(index)">Proceed</a></span>
                </li>
            </ul>
            <ul class="pl-3 mb-0 mt-2 position-relative list-unstyled call-list" v-else>
                <li class="my-1">Script Not Available</li>
            </ul>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
    name: 'calling_script',
            props: ['retailerid'],
            data() {
    return{
    pageUrl: siteUrl,
            tab: 1,
            loaded : false,
           
            scripts : '',
            level : 'Level 0',
            event : 'Initial',
            currIndex : 0,
            integer : 1,
          
    }
    },
            computed: {

            },
            components: {

            },
            methods: {
            proceed(ind){

            this.level = 'Level ' + (parseInt(this.currIndex) + parseInt(this.integer++));
            this.event = 'Initial';
            },
                    getScript(){
            this.loaded = false;
            let currentObj = this;
            axios.get(currentObj.pageUrl + 'retailer/call/script/' + currentObj.retailerid)
                    .then(function (response) {
//                            console.log(response.data.profile);
                    currentObj.scripts = response.data.list;
                    currentObj.loaded = true;
                    })
                    .catch(function (error) {

                    });
            }

            },
            mounted() {

    this.getScript();
    }

    }
</script>
<!--<script>
   window.open ("yourPageURL","mywindow","status=1,toolbar=0");
    (function (global) {

    if (typeof (global) === "undefined")
    {
    throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function () {
    global.location.href += "#";
    // making sure we have the fruit available for juice....
    // 50 milliseconds for just once do not cost much (^__^)
    global.setTimeout(function () {
    global.location.href += "!";
    }, 50);
    };
    // Earlier we had setInerval here....
    global.onhashchange = function () {
    if (global.location.hash !== _hash) {
    global.location.hash = _hash;
    }
    };
    global.onload = function () {

    noBackPlease();
    // disables backspace on page except on input fields and textarea..
    document.body.onkeydown = function (e) {
    var elm = e.target.nodeName.toLowerCase();
    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
    e.preventDefault();
    }
    // stopping event bubbling up the DOM tree..
    e.stopPropagation();
    };
    };
});
</script>-->
