<template>
    <div class="d-inline-block w-100 py-3 p-0 inner-div border-top border-bottom">
        <h6 class="font-weight-bold">Feedback & Issues</h6>
        <select class="light-border border w-100 feedback-drop add-icons" v-on:change="addRetailerFeedback" v-model="feedbackRetailer" name="feedbackRetailer">
            <option value="">Select any one</option>
            <option v-for="list in feedbacklist" v-bind:value="list.id">{{ list.remark }}</option>
        </select>
        <a href="#" data-toggle="modal" data-target="#add-feedback">
            <span class="theme-text edit-ico font-18">
                +
            </span>
        </a>

        <div class="modal" id="add-feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Feedback</h5>
                    <button type="button" class="position-absolute close" data-dismiss="modal"><i class="las la-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-4 mt-3">
                            <div class="select-editable">
                                <label>Select Issue</label>
                                <select v-model="feedback_category_select"  v-on:change="showInText" name="feedback_category" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                    <option value="">Select Issue</option>
                                    <option v-for="cat in feedbackcategory" v-bind:value="cat.id">{{ cat.name }}</option>
                                </select>                           
                            </div>

                        </div>
                        <div class="col-md-6 mb-4 mt-3">
                            <label>Add Issue</label>
                            <input type="text" v-on:keyup.enter="addFeedbackCategory" v-model="feedback_category_text" name="format" class="input-shadow border light-border rounded px-3" />
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="remark">Remarks<sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" name="remark"  v-model="remark" id="quantity" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                            <span v-if="error.remark" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.remark[0] }}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="addFeedback">Add</button>
                </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';

    export default {
        name: 'feedback_panel',
        props: ['retailerid'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                feedbackcategory: '',
                feedbacklist: '',
                feedback_category_select: '',
                feedback_category_text: '',
                remark: '',
                error: '',
                feedbackRetailer: '',
                 
            }
        },
        computed: {

        },
        components: {

        },
        methods: {
            showInText() {
                for (var i = 0; i < this.feedbackcategory.length; i++) {
                    if (this.feedbackcategory[i].id == this.feedback_category_select) {
                        this.feedback_category_text = this.feedbackcategory[i].name;
                    }
                }
            },
            addFeedback() {
                var currentObj = this;
                axios.post(currentObj.pageUrl + 'retailer/add/feedbacks', {
                    name: currentObj.remark,
                    feedback_category_id: currentObj.feedback_category_select,
                })
                        .then(function (response) {
                            $("#add-feedback").modal('hide');

                            currentObj.getFeedback();

                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                            currentObj.error = error.response.data.errors;
                        });

            },
            addRetailerFeedback() {
                var currentObj = this;
                let message = "Are you sure?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'retailer/add/retailer/feedback', {
                                retailer_id: currentObj.retailerid,
                                feedback_id: currentObj.feedbackRetailer,
                            })
                                    .then(function (response) {
                                          EventBus.$emit("invokeSuccess", 'Remark Sent Successfully');
                                    })
                                    .catch(function (error) {
                                        console.log(error.response.data.errors);
                                        currentObj.error = error.response.data.errors;
                                    });
                        })
                        .catch(function () {

                        });
            },
            addFeedbackCategory() {
                var currentObj = this;
                axios.post(currentObj.pageUrl + 'retailer/add/feedback/category', {
                    name: currentObj.feedback_category_text
                })
                        .then(function (response) {
//                            $("#add-feedback").modal('hide');

                            currentObj.getFeedback();
                            currentObj.feedback_category_text = '';
                            currentObj.remark = '';

                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                            currentObj.error = error.response.data.errors;
                        });

            },
            getFeedback() {
                var currentObj = this;
                axios.get(currentObj.pageUrl + 'retailer/get/feedbacks')
                        .then(function (response) {

                            currentObj.feedbacklist = response.data.remark;
                            currentObj.feedbackcategory = response.data.list;


                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                        });

            },
        },
        mounted() {
            this.getFeedback();
            $('#add-feedback').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })
        }

    }
</script>
<style>
    /*.select-editable {
        position:relative;
        background-color:white;
        border:solid grey 1px;
        width:120px;
        height:18px;
    }
    .select-editable select {
        position:absolute;
        top:0px;
        left:0px;
        font-size:14px;
        border:none;
        width:120px;
        margin:0;
    }
    .select-editable input {
        position:absolute;
        top:0px;
        left:0px;
        width:100px;
        padding:1px;
        font-size:12px;
        border:none;
    }
    .select-editable select:focus, .select-editable input:focus {
        outline:none;
    }*/
</style>
