<template>

    
<!-- agent listing section -->
<div class="col-md-12 toggle-switch bg-grey agentPages panel">
    <!--<header-guard-page :pagetitle="'Agent Panel'"></header-guard-page>-->
    <div class="row">
      <div class="col-md-12 pd-x-2 py-3 header-part">
        <div class="row">
          <profile v-bind:retailerid="$attrs.retailerid"></profile>
          <calling-script v-bind:retailerid="$attrs.retailerid"></calling-script>
          <orders v-bind:retailerid="$attrs.retailerid"></orders>
        </div>
      </div>

      <div class="col-md-12 pd-x-2 py-3 body-section">
        <div class="row">
          <div class="col-md-4 sidelist">
            <div class="col-12 p-3 bg-white side-inner shadow1 rounded">
              <product-list v-bind:retailerid="$attrs.retailerid"></product-list>
              <scheme-promotions v-bind:retailerid="$attrs.retailerid"></scheme-promotions>
              <feedback v-bind:retailerid="$attrs.retailerid"></feedback>
            </div>
          </div>
          <products v-bind:retailerid="$attrs.retailerid"></products>
        </div>
      </div>

    </div>
<!-- end -->

<!-- The Modal -->
<div class="modal fade" id="timeeditModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      <button type="button" class="position-absolute close" data-dismiss="modal">&times;</button>

      <!-- Modal body -->
      <div class="modal-body pt-4">
        <div class="col-12 bg-white dayslist">
          <div class="row">
            <div class="col-md-12 section1">
              <h5 class="font-weight-normal mb-3">Order Days:</h5>
              <ul class="row list-unstyled preferred-time">
                <li class="col-4">
                  <label class="d-inline-block align-text-bottom checklabel">
                    <input type="checkbox" name="selectcheck" value="1" class="checkbox-select">
                    <span class="checkmark"></span>
                    <span class="font-weight-light days">Monday</span>
                  </label>
                </li>
                <li class="col-4">
                  <label class="d-inline-block align-text-bottom checklabel">
                    <input type="checkbox" name="selectcheck" value="2" class="checkbox-select">
                    <span class="checkmark"></span>
                    <span class="font-weight-light days">Tuesday</span>
                  </label>
                </li>
                <li class="col-4">
                  <label class="d-inline-block align-text-bottom checklabel">
                    <input type="checkbox" name="selectcheck" value="3" class="checkbox-select">
                    <span class="checkmark"></span>
                    <span class="font-weight-light days">Wednesday</span>
                  </label>
                </li>
                <li class="col-4">
                  <label class="d-inline-block align-text-bottom checklabel">
                    <input type="checkbox" name="selectcheck" value="4" class="checkbox-select">
                    <span class="checkmark"></span>
                    <span class="font-weight-light days">Thrusday</span>
                  </label>
                </li>
                <li class="col-4">
                  <label class="d-inline-block align-text-bottom checklabel">
                    <input type="checkbox" name="selectcheck" value="5" class="checkbox-select">
                    <span class="checkmark"></span>
                    <span class="font-weight-light days">Friday</span>
                  </label>
                </li>
                <li class="col-4">
                  <label class="d-inline-block align-text-bottom checklabel">
                    <input type="checkbox" name="selectcheck" value="6" class="checkbox-select">
                    <span class="checkmark"></span>
                    <span class="font-weight-light days">Saturday</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-4 section2">
              <div class="row">
                <div class="col-md-6 grid2">
                  <label for="call-start">Calling Start Time:</label>
                  <input type="time" name="call-start" id="call-start" placeholder="Value" class="px-3 w-100 rounded-lg shadow border">
                </div>
                <div class="col-md-6 grid3">
                  <label for="call-end">Calling End Time:</label>
                  <input type="time" name="call-end" id="call-end" placeholder="Value" class="px-3 w-100 rounded-lg shadow border">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    import CallingScript from '../retailerpanel/CallingScriptComponent.vue';
    import Feedback from '../retailerpanel/FeedbackComponent.vue';
    import OrderProducts from '../retailerpanel/OrderProductComponent.vue';
    import OrdersList from '../retailerpanel/OrdersViewComponent.vue';
    import ProductList from '../retailerpanel/ProductsListComponent.vue';
    import Profile from '../retailerpanel/RetailerProfileComponent.vue';
    import SchemePromotions from '../retailerpanel/SchemePromotionsComponent.vue';

    export default {
        name: 'panel-master',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
            }
        },
        computed: {

        },
        components: {
          'calling-script' : CallingScript,
          'feedback' : Feedback,
          'products' : OrderProducts,
          'orders' : OrdersList,
          'product-list' : ProductList,
          'profile' : Profile,
          'scheme-promotions' : SchemePromotions,
        },
        methods: {





        },
        mounted() {


        }

    }
</script>
