<template>
    <div class="col-md-8 middle-content">
        <div class="col-12 bg-white p-3 shadow orderTB-in">
            <div class="d-flex flex-wrap justify-content-between align-items-center w-100 mb-2 inner-div">
                <h6 class="font-weight-bold">Order Details</h6>
            </div>
            <div class="border py-2 bg-white table-responsive table-inner" v-if="mycarts.length > 0">
                <table border="0" cellspacing='0' class="order-detail table table-striped ordered-table layout-fixed" >
                    <thead>
                        <tr>
                            <th class="border-0" width="150">Item Name</th>
                            <th class="border-0" width="100">Packaging Type</th>
                            <th class="border-0" width="80">No. of Unit</th>
                            <th class="border-0" width="80">MRP</th>
                            <th class="border-0" width="80">RLP</th>
                            <th class="border-0" width="80">Order Qty</th>
                            <th class="border-0" width="80">Order Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='(prods,index) in mycarts'>
                            <td width="150">{{ prods.name }}</td>
                            <td width="100"><span v-if='prods.packaging == 1'>Box</span><span v-if='prods.packaging == 2'>Weight</span></td>
                            <td width="80">{{ prods.package_unit }}</td>
                            <td width="80">{{ prods.mrp }}</td>
                            <td width="80">{{ prods.rlp }}</td>
                            <td width="80" v-if='prods.free != undefined'>
                                <input type="text" name="rate"  v-model.lazy='prods.rate' placeholder="Enter Quantity" class="quantity-input" disabled>
                            </td>
                            <td width="80" v-else>
                                <input type="text" name="rate" v-on:keyup='setOrderValue(prods.rate,prods.rlp,index)' v-model='prods.rate' placeholder="Enter Quantity" class="quantity-input">
                            </td>
                            <td width="80">{{ prods.ordervalue }}
                                <a href='#' v-if='prods.free != undefined'  class="delete" ><span class="text-info">Free</span></a>
                                <a href='#' v-else v-on:click.prevent='removefromcard(index)' class="delete" ><i class="ml-3 las la-trash-alt text-grey font-18 cursor-pointer"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="border-0"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="border-0 p-0">
                                <a v-if='applied'  href="#" class="d-flex flex-wrap justify-content-between align-items-center text-white p-2 coupone coupone-link">
                                    <span >Coupon Applied</span><span>Coupan Code:{{ promocode.toUpperCase() }}</span><span>{{ coupanMessage }} </span><i class="las la-trash-alt" v-on:click.prevent='removeCoupan'></i>  
                                </a>
                                <a v-else href="#" data-toggle='modal' data-target='#couponeModal' class="d-flex flex-wrap justify-content-between align-items-center text-white p-2 coupone coupone-link">
                                    <span >Apply Coupon</span> <i class="las la-angle-right"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="border-0"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="border border-right-0 border-left-0 rounded-0 pl-0">Discount</td>
                            <td class="border border-right-0 border-left-0 text-center"></td>
                            <td class="border border-right-0 border-left-0 rounded-0 pl-0 text-right"><span class="pr-4">{{ productDiscount }}</span></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="border border-right-0 border-left-0 rounded-0 pl-0">Total</td>
                            <td class="border border-right-0 border-left-0 text-center">{{ totalQuantity }}</td>
                            <td class="border border-right-0 border-left-0 rounded-0 pl-0 text-right"><span class="pr-4">{{ totalAmount }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center action-btns mt-3">
                <button type="button" name="button" class="mx-1 px-2 py-1 d-inline-block rounded text-white bg-danger border-0 font-12">No Order</button>
                <button type="button" name="button" class="mx-1 d-inline-block bg-primary text-white px-2 py-1 rounded backtolist border-0 font-12">Call Drop</button>
                <button type="button" name="button" class="mx-1 d-inline-block bg-success text-white px-2 py-1 rounded backtolist border-0 font-12">Call Schedule</button>
                <button v-if="carts.length > 0" type="button" v-on:click="placeOrder" name="button" class="mx-1 d-inline-block theme-bg text-white px-2 py-1 rounded backtolist border-0 font-12">Choose Delivery Date</button>
            </div>
        </div>
        <div class="modal fade" id="couponeModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Apply Coupon</h5>
                    <button type="button" class="position-absolute close" data-dismiss="modal"><i class="las la-times"></i></button>
                </div>
                   

                    <!-- Modal body -->
                    <div class="modal-body pt-4">
                        <div class="col-12 bg-white dayslist">
                            <div class="row">
                                <div class="col-md-12 section1">
                                    <h5 class="font-weight-normal mb-3"></h5>
                                    <div class="row mb-4">
                                        <div class="col-md-9 pr-0">
                                            <input type="text" v-model="promocode" class="w-100 border light-border rounded"  placeholder="Enter Code">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" name="button" v-on:click="usePromocode" class="w-100 rounded theme-bg text-white py-2 border-0">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 coupon-row">
                                    <div class="row align-items-center applycoupone" v-if="promocodeList.length > 0" v-for="list in promocodeList">
                                        <div class="col-md-2 pr-0 off-thumb">
                                            <img src="images/off-thumb.png" alt="" class="img-fluid mr-2" />
                                        </div>
                                        <div class="col-md-8 off-text">
                                            <h6 class="mb-1">Get 20% discount up to Rs.200</h6>
                                            <p class="m-0">Use code <span class="font-weight-bold codeCoupon">{{ list.value }}</span> and get 20% discount up to Rs.200 on orders above Rs. 500.</p>
                                        </div>
                                        <div class="col-md-2 applyBtn">
                                            <button type="button" name="button" v-on:click="applyCoupan(list)" class="border-0 bg-transaprent">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="chooseDate">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose Delivery Date</h5>
                    <button type="button" class="position-absolute close" data-dismiss="modal"><i class="las la-times"></i></button>
                </div>
                    <!-- Modal body -->
                    <div class="modal-body pt-4">
                        <div class=" dayslist">
                            <div class="row">
                                <div class="col-md-12 section1">
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <datepicker v-if="currentTime < '18:00'" format="YYYY-MM-DD" :disabled-dates="disabledDates" placeholder="Select Date" class="datePicker1"  name="fromdate" v-model="deliveryDate"></datepicker>
                                            <datepicker v-else format="YYYY-MM-DD" :disabled-dates="disabledDates1" placeholder="Select Date" class="datePicker1"  name="fromdate" v-model="deliveryDate"></datepicker>
                                            <div v-show="dateRequired" class="error-msg">
                                                <i v-show="dateRequired" class="fa fa-warning"></i>
                                                <span v-if="dateRequired" class="help is-danger">Delivery Date is Mandatory</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mb-4" v-if="timeSlotShow && deliveryDate == currentDate">
                                        <div class="col-md-12">
                                            <!-- Group of material radios - option 1 -->
                                            <div class="form-check" v-if="currentTime < '12:00'" >
                                                <input type="radio" class="form-check-input custom-radio" value="12:00" id="materialGroupExample1" v-model="deliverytime" name="deliverytime">
                                                <label class="form-check-label" for="materialGroupExample1">09 AM to 12 PM</label>
                                            </div>

                                            <!-- Group of material radios - option 2 -->
                                            <div class="form-check" v-if="currentTime < '15:00'">
                                                <input type="radio" class="form-check-input custom-radio" value="03:00" id="materialGroupExample2" v-model="deliverytime" name="deliverytime" >
                                                <label class="form-check-label" for="materialGroupExample2">12 PM to 03 PM</label>
                                            </div>

                                            <!-- Group of material radios - option 3 -->
                                            <div class="form-check" v-if="currentTime < '18:00'">
                                                <input type="radio" class="form-check-input custom-radio" value="06:00" id="materialGroupExample3" v-model="deliverytime" name="deliverytime">
                                                <label class="form-check-label" for="materialGroupExample3">03 PM to 06 PM</label>
                                            </div>
                                            <div class="form-check" v-if="currentTime > '18:00'">
                                                <div class="error-msg">
                                                <i class="fa fa-warning"></i>
                                                <span  class="help is-danger">No Time Slot Available for Today Please Choose Another Date</span>
                                            </div>
                                            </div>
                                            <div v-show="timeRequired" class="error-msg">
                                                <i class="fa fa-warning"></i>
                                                <span  class="help is-danger">Time is Mandatory</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4" v-if="timeSlotShow && deliveryDate != currentDate">
                                        <div class="col-md-12">
                                            <!-- Group of material radios - option 1 -->
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input custom-radio" value="12:00" id="materialGroupExample1" v-model="deliverytime" name="deliverytime">
                                                <label class="form-check-label" for="materialGroupExample1">09 AM to 12 PM</label>
                                            </div>

                                            <!-- Group of material radios - option 2 -->
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input custom-radio" value="03:00" id="materialGroupExample2" v-model="deliverytime" name="deliverytime" >
                                                <label class="form-check-label" for="materialGroupExample2">12 PM to 03 PM</label>
                                            </div>

                                            <!-- Group of material radios - option 3 -->
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input custom-radio" value="06:00" id="materialGroupExample3" v-model="deliverytime" name="deliverytime">
                                                <label class="form-check-label" for="materialGroupExample3">03 PM to 06 PM</label>
                                            </div>
                                            <div v-show="timeRequired" class="error-msg">
                                                <i class="fa fa-warning"></i>
                                                <span  class="help is-danger">Time is Mandatory</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" name="button" v-on:click="chooseDate" class="w-100 rounded theme-bg text-white py-2 border-0">Place Order</button>
                                      </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    import moment from 'moment';
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: 'retailer_order',
        props: ['retailerid'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                carts: [],
                totalAmount: 0,
                totalQuantity: 0,
               
                promocodeList: '',
                promocode: '',
                promokey: '',
                productDiscount: 0,
                applied: false,
                coupanMessage: '',
                deliveryDate: '',
                deliverytime: '',
                momentDate: '',
                dateRequired: false,
                timeRequired: false,
                timeSlotShow: false,
              
                disabledDates: {
                    to: new Date(Date.now() - 8640000)
                },
                disabledDates1: {
                    to: new Date(Date.now() - (8640000 - 1000 * 60 * 60 * 24 * 1))
                },
                
            

            }
        },
        computed: {
          currentTime:function(){ 
              
              return moment(new Date()).format("HH:mm");
          },
          currentDate:function(){ 
              
              return moment(new Date()).format('YYYY-MM-DD'); 
          },
          mycarts() {
                return store.getters.currentCarts;
            },
       
          
        },
      
        watch: {
            carts: function () {
                if (this.carts.length == 0) {
                    store.commit('carts', []);
                    this.totalAmount = 0;
                    this.totalQuantity = 0;
                    this.$forceUpdate();
                }
            },
            deliveryDate:function(){
           
              this.timeSlotShow = true;  
            },
            
        },
        components: {
            Datepicker
        },
        methods: {
            chooseDate() {
                this.dateRequired = false;
                this.timeRequired = false;
                this.momentDate = moment(this.deliveryDate).format('YYYY-MM-DD');
                if (this.momentDate == '') {
                    return this.dateRequired = true;
                }
                if (this.deliverytime == '') {
                    return this.timeRequired = true;
                }
                let currentObj = this;
                var params;
                if (this.applied) {
                    params = {
                        cart_items: currentObj.mycarts,
                        totalAmount: currentObj.totalAmount,
                        totalQuantity: currentObj.totalQuantity,
                        promocode: currentObj.promocode,
                        promocode_key: currentObj.promokey,
                        id: currentObj.retailerid,
                        deliver_date: currentObj.momentDate,
                        delivery_time: currentObj.deliverytime,
                    };
                } else {
                    params = {
                        cart_items: currentObj.mycarts,
                        totalAmount: currentObj.totalAmount,
                        totalQuantity: currentObj.totalQuantity,
                        id: currentObj.retailerid,
                        deliver_date: currentObj.momentDate,
                        delivery_time: currentObj.deliverytime,
                    };
                }
                axios.post(currentObj.pageUrl + 'retailer/place/order', params)
                        .then(function (response) {
                            EventBus.$emit("invokeSuccess", response.data.message);
                            currentObj.carts = [];
                            currentObj.totalAmount = [];
                            currentObj.totalQuantity = [];
                            currentObj.deliverytime = '';
                            currentObj.momentDate = '';
                            currentObj.timeSlotShow = false;
                            currentObj.timeRequired = false;
                            currentObj.dateRequired = false;
                            $("#chooseDate").modal('hide');
                            store.commit('carts', currentObj.carts);
                              EventBus.$emit("repeatRefresh");
                        })
                        .catch(function (error) {

                        });


            },
            usePromocode() {
                
                let currentObj = this;
                currentObj.applied = false;
                axios.post(currentObj.pageUrl + 'retailer/promocode-detail', {
                    promocode_key: currentObj.promokey,
                    promocode: currentObj.promocode,
                    id: currentObj.retailerid,
                })
                        .then(function (response) {
                            $("#couponeModal").modal('hide');
                            EventBus.$emit("invokeSuccess", response.data.message);
                            if (response.data.discount.free_product != undefined) {
                                currentObj.mycarts.push(response.data.discount.free_product);
                                currentObj.mycarts[currentObj.mycarts.length - 1].rate = response.data.discount.free_product_count;
                                currentObj.mycarts[currentObj.mycarts.length - 1].free = true;
                                currentObj.mycarts[currentObj.mycarts.length - 1].ordervalue = parseInt(response.data.discount.free_product_count) * parseInt(response.data.discount.free_product.rlp);
                                currentObj.productDiscount += parseInt(response.data.discount.free_product_count) * parseInt(response.data.discount.free_product.rlp);
                                currentObj.totalQuantity += parseInt(response.data.discount.free_product_count);
                            } else {
                                currentObj.productDiscount = response.data.discount.discount;
                                currentObj.totalAmount -= parseInt(response.data.discount.discount);
                                currentObj.coupanMessage = response.data.discount.message;
                            }
                             store.commit('carts', currentObj.mycarts);
                            currentObj.applied = true;
                            setTimeout(function () {
                                EventBus.$emit("invokeSuccess", response.data.discount.message);
                            }, 3000);
                        })
                        .catch(function (error) {

                        });
            },
            removeCoupan() {
                this.promocode = '';
                this.promokey = '';
                this.totalAmount += parseInt(this.productDiscount);
                this.productDiscount = 0;
                for (let i = 0; i < this.mycarts.length; i++) {
                    if (this.mycarts[i].free == !undefined && this.mycarts[i].free == true) {
                        this.mycarts.splice(i, 1);
                    }
                }
                 store.commit('carts', this.mycarts);
                setTimeout(function () {
                    EventBus.$emit("invokeSuccess", 'Coupan Removed Successfully');
                    this.applied = false;
                }.bind(this), 3000);
            },
            applyCoupan(coupan) {
                this.promocode = coupan.value;
                this.promokey = coupan.key;
                this.applied = false;
            },
            placeOrder() {
                $("#chooseDate").modal('show');
            },
            getPromocodes() {
                let currentObj = this;
                currentObj.applied = false;
                var request = {
                    params: {
                        id: this.retailerid,
                    }
                };
                axios.get(currentObj.pageUrl + 'retailer/get/promocode', request
                        )
                        .then(function (response) {
                            currentObj.promocodeList = response.data.promocodes;
                        })
                        .catch(function (error) {

                        });
            },
            total() {
                this.totalAmount = 0;
                this.totalQuantity = 0;
                for (var i = 0; i < this.mycarts.length; i++) {
                    if (this.mycarts[i].rate == '') {
                        this.mycarts[i].rate = 0;
                    }
                    this.totalAmount += parseInt(this.mycarts[i].ordervalue);
                    this.totalQuantity += parseInt(this.mycarts[i].rate);
                }
            },
            setOrderValue(rate, mrp = 0, index) {
                if (rate == '') {
                    setTimeout(function () {
                        this.mycarts[index].rate = '';
                        this.mycarts[index].ordervalue = 0;
                        this.total();
                    }.bind(this), 800);
                } else {
                    setTimeout(function () {
                        this.mycarts[index].rate = rate;
                        this.mycarts[index].ordervalue = 0;
                        this.$forceUpdate();
                    }.bind(this), 500);
                    setTimeout(function () {
                        this.mycarts[index].ordervalue = mrp * rate;
                        this.total();
                    }.bind(this), 1000);
                    this.$forceUpdate();
                }
                store.commit('carts', this.mycarts);
            },
            removefromcard(index) {
                this.carts.splice(index, 1);
                this.total();
                setTimeout(function () {
                    store.commit('carts', this.carts);
                }.bind(this), 500);

            },

        },
        mounted() {
            let $this = this;
            EventBus.$on("addtocart", function (data) {
                $this.carts.push(data);
              
                
                store.commit('carts', $this.carts);
                $this.total();
            });
            this.getPromocodes();
            $('#couponeModal').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })
            $('#chooseDate').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })

        }

    }
</script>
