<template>
    <div class="col-md-6 tab-section">
        <div class="bg-white shadow1 rounded h-100 p-3 order-history">
            <h6 class="font-weight-bold w-100">Ordered</h6>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs w-100 border-0 attention-tabs tabs">
                <!-- <ul class="nav text-center border-0 nav-tabs tabs"> -->
                <li class="nav-item nav-item">
                    <a class="nav-link active" v-on:click="getFrequentOrders"  data-toggle="tab" href="#frequentlyorder">Frequently</a>
                </li>
                <li class="nav-item nav-item">
                    <a class="nav-link" v-on:click="searchDateforrmat = dayMinusthree" data-toggle="tab" href="#order1012">{{ dayMinusthree }}</a>
                </li>
                <li class="nav-item nav-item">
                    <a class="nav-link" v-on:click="searchDateforrmat = dayMinustwo" data-toggle="tab" href="#order1112">{{ dayMinustwo }}</a>
                </li>
                <li class="nav-item nav-item">
                    <a class="nav-link" v-on:click="searchDateforrmat = dayMinusone" data-toggle="tab" href="#order1212">{{ dayMinusone }}</a>
                </li>
                <li class="nav-item nav-item">
                    <a class="nav-link" v-on:click="orders = ''" data-toggle="tab" href="#allorder">All Orders</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content w-100 mt-2 bg-white tabs-content">
                <div class="tab-pane container p-0 active" id="frequentlyorder">
                    <div class="table-responsive bg-white">
                        <table border="0" cellspacing='0' class="m-0 table info-tabs border table-striped ordered-table layout-fixed">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>RLP(Rs.)</th>
                                    <th>MRP(Rs.)</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody style="height:100px;">
                                <tr v-for="fr in frequent.order">
                                    <td>{{ fr.name }}</td>
                                    <td>{{ fr.rlp }}</td>
                                    <td>{{ fr.mrp }}</td>
                                    <!-- <td><a href="#" class="cart-btn theme-bg px-2 rounded py-1">Add to Cart</a></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane container p-0 fade" id="order1012">
                    <div class="table-responsive bg-white">
                        <table border="0" cellspacing='0' class="m-0 table info-tabs border table-striped ordered-table layout-fixed">
                            <thead>
                                <tr>
                                    <th class="border-0">Order No</th>
                                    <th class="border-0">Amount</th>
                                    <th class="border-0">Discount</th>
                                    <th class="border-0">Action</th> 
                                    <th class="border-0">Rating</th> 
                                </tr>
                            </thead>
                            <tbody v-for="(list,index) in orders" style="height:37px;">
                                <tr  style="cursor: pointer">
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.order_number | capitalize }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.total_amount |  currency }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.discount_amount | currency }}</td>
                                    <td><a v-if="!RepeatIndex.includes(index)" href="#" class="btn-success px-2 py-1 rounded cart-btn" v-on:click="repeatOrder(list,index)">Repeat Order</a>
                                        <a v-else href="#" class="px-2 py-1 rounded cart-btn btn-danger" v-on:click="removeRepeatOrder(list,index)">Remove</a></td>
                                    <td>
                                        <div class="rate" v-if="list.ratings == null">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" v-on:click="rateToOrder(5,'excellent',list.id)" title="5 stars"><span class="valuesRate">5 stars</span></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" v-on:click="rateToOrder(4,'great',list.id)" title="4 stars"><span class="valuesRate">4 stars</span></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" v-on:click="rateToOrder(3,'very good',list.id)" title="3 stars"><span class="valuesRate">3 stars</span></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" v-on:click="rateToOrder(2,'best',list.id)" title="2 stars"><span class="valuesRate">2 stars</span></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" v-on:click="rateToOrder(1,'good',list.id)" title="1 star"><span class="valuesRate">1 star</span></label>
                                        </div>
                                        <div class="rate" v-else>
                                            {{ list.ratings.stars }}
                                            {{ list.ratings.comment }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="tab-pane container p-0 fade" id="order1112">
                    <div class="table-responsive bg-white">
                        <table border="0" cellspacing='0' class="m-0 table info-tabs border table-striped ordered-table layout-fixed">
                            <thead>
                                <tr>
                                    <th class="border-0">Order No</th>
                                    <th class="border-0">Amount</th>
                                    <th class="border-0">Discount</th>
                                    <th class="border-0">Action</th> 
                                    <th class="border-0">Rating</th> 
                                </tr>
                            </thead>
                            <tbody v-for="(list,index) in orders" style="height:37px;">
                                <tr  style="cursor: pointer">
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.order_number | capitalize }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.total_amount |  currency }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.discount_amount | currency }}</td>
                                    <td><a v-if="!RepeatIndex.includes(index)" href="#" class="btn-success px-2 py-1 rounded cart-btn" v-on:click="repeatOrder(list,index)">Repeat Order</a>
                                        <a v-else href="#" class="px-2 py-1 rounded cart-btn btn-danger" v-on:click="removeRepeatOrder(list,index)">Remove</a></td>
                                    <td>
                                        <div class="rate" v-if="list.ratings == null">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" v-on:click="rateToOrder(5,'excellent',list.id)" title="5 stars"><span class="valuesRate">5 stars</span></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" v-on:click="rateToOrder(4,'great',list.id)" title="4 stars"><span class="valuesRate">4 stars</span></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" v-on:click="rateToOrder(3,'very good',list.id)" title="3 stars"><span class="valuesRate">3 stars</span></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" v-on:click="rateToOrder(2,'best',list.id)" title="2 stars"><span class="valuesRate">2 stars</span></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" v-on:click="rateToOrder(1,'good',list.id)" title="1 star"><span class="valuesRate">1 star</span></label>
                                        </div>
                                        <div class="rate" v-else>
                                            {{ list.ratings.stars }}
                                            {{ list.ratings.comment }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane container p-0 fade" id="order1212">
                    <div class="table-responsive bg-white">
                        <table border="0" cellspacing='0' class="m-0 table info-tabs border table-striped ordered-table layout-fixed">
                            <thead>
                                <tr>
                                    <th class="border-0">Order No</th>
                                    <th class="border-0">Amount</th>
                                    <th class="border-0">Discount</th>
                                    <th class="border-0">Action</th> 
                                    <th class="border-0">Rating</th> 
                                </tr>
                            </thead>
                            <tbody v-for="(list,index) in orders" style="height:37px;">
                                <tr  style="cursor: pointer">
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.order_number | capitalize }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.total_amount |  currency }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.discount_amount | currency }}</td>
                                    <td><a v-if="!RepeatIndex.includes(index)" href="#" class="btn-success px-2 py-1 rounded cart-btn" v-on:click="repeatOrder(list,index)">Repeat Order</a>
                                        <a v-else href="#" class="px-2 py-1 rounded cart-btn btn-danger" v-on:click="removeRepeatOrder(list,index)">Remove</a></td>
                                    <td>
                                        <div class="rate" v-if="list.ratings == null">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" v-on:click="rateToOrder(5,'excellent',list.id)" title="5 stars"><span class="valuesRate">5 stars</span></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" v-on:click="rateToOrder(4,'great',list.id)" title="4 stars"><span class="valuesRate">4 stars</span></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" v-on:click="rateToOrder(3,'very good',list.id)" title="3 stars"><span class="valuesRate">3 stars</span></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" v-on:click="rateToOrder(2,'best',list.id)" title="2 stars"><span class="valuesRate">2 stars</span></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" v-on:click="rateToOrder(1,'good',list.id)" title="1 star"><span class="valuesRate">1 star</span></label>
                                        </div>
                                        <div class="rate" v-else>
                                            {{ list.ratings.stars }}
                                            {{ list.ratings.comment }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane container p-0 all-orders fade" id="allorder">
                    <datepicker format="d MMMM yyyy" placeholder="Select Date" class="datePicker1"  name="fromdate" v-model="searchDate"></datepicker>
                    <div class="table-responsive bg-white">  

                       <table border="0" cellspacing='0' class="m-0 table info-tabs border table-striped ordered-table layout-fixed">
                            <thead>
                                <tr>
                                    <th class="border-0">Order No</th>
                                    <th class="border-0">Amount</th>
                                    <th class="border-0">Discount</th>
                                    <th class="border-0">Action</th> 
                                    <th class="border-0">Rating</th> 
                                </tr>
                            </thead>
                            <tbody v-for="(list,index) in orders" style="height:37px;">
                                <tr  style="cursor: pointer">
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.order_number | capitalize }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.total_amount |  currency }}</td>
                                    <td v-on:click="showOrderDetail(list)" class="">{{ list.discount_amount | currency }}</td>
                                    <td><a v-if="!RepeatIndex.includes(index)" href="#" class="btn-success px-2 py-1 rounded cart-btn" v-on:click="repeatOrder(list,index)">Repeat Order</a>
                                        <a v-else href="#" class="px-2 py-1 rounded cart-btn btn-danger" v-on:click="removeRepeatOrder(list,index)">Remove</a></td>
                                    <td>
                                        <div class="rate" v-if="list.ratings == null">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" v-on:click="rateToOrder(5,'excellent',list.id)" title="5 stars"><span class="valuesRate">5 stars</span></label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" v-on:click="rateToOrder(4,'great',list.id)" title="4 stars"><span class="valuesRate">4 stars</span></label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" v-on:click="rateToOrder(3,'very good',list.id)" title="3 stars"><span class="valuesRate">3 stars</span></label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" v-on:click="rateToOrder(2,'best',list.id)" title="2 stars"><span class="valuesRate">2 stars</span></label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" v-on:click="rateToOrder(1,'good',list.id)" title="1 star"><span class="valuesRate">1 star</span></label>
                                        </div>
                                        <div class="rate" v-else>
                                            {{ list.ratings.stars }}
                                            {{ list.ratings.comment }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="orderView" class="modal fade" >
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content customer-details" v-if="showPopview">
                    <div class="modal-header">
                        <h5 class="modal-title">Order Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- <button type="button" data-dismiss="modal" class="close position-absolute close-modals">X</button> -->
                    <div class="pt-4 px-3 modal-body calling-view">
                        <div class="col-12 pt-2 calling-agent-view">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 mb-4">
                                            <span class="labl">Order Number</span>
                                            <span class="full-detail">{{ modalData.order_number | capitalize }}</span>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <span class="labl">Total Amount</span>
                                            <span class="full-detail">{{ modalData.total_amount |  currency }}</span>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <span class="labl">Discount</span>
                                            <span class="full-detail">{{ modalData.discount_amount | currency }}</span>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <span class="labl">Promocode</span>
                                            <span class="full-detail">{{ modalData.promocode }}</span>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 border border-left-0 border-right-0 border-bottom-0 light-border pt-3 callingView">
                                    <order-view v-bind:orderdata="modalData"></order-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4 px-3 modal-body calling-view" v-if="promodetails != ''">
                        <div class="col-12 pt-2 calling-agent-view">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 mb-8">
                                           {{ promodetails.message }}
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    import moment from 'moment';
    import Datepicker from 'vuejs-datepicker';
    import OrderView from '../retailerpanel/OrderDetailComponent.vue';
    export default {
        name: 'retailer_order_view',
        props: ['retailerid'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
               
                loaded: false,
                orders: [],
                searchDate: '',
                searchDateforrmat: '',
                frequent: '',
                modalData: '',
                showPopview: false,
                RepeatIndex: [],
                promodetails : ''


            }
        },
        filters: {
            capitalize: function (value) {
                if (!value)
                    return ''
                value = value.toString()
                return value.toUpperCase()
            },
            currency: function (value) {
                if (!value)
                    return ''
                let val = (value / 1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "")
            }
        },
        computed: {
            dayMinusone: function () {

                return  moment().subtract(1, 'd').format('YYYY-MM-DD');
            },
            dayMinustwo: function () {

                return moment().subtract(2, 'd').format('YYYY-MM-DD');
            },
            dayMinusthree: function () {

                return moment().subtract(3, 'd').format('YYYY-MM-DD');
            },
            mycarts() {
                return store.getters.currentCarts;
            },
        },
        components: {
            Datepicker,
            'order-view': OrderView

        },
        watch: {

            searchDate: function () {

                this.searchDateforrmat = moment(this.searchDate).format('YYYY-MM-DD');

            },
            searchDateforrmat: function () {
                this.getOrders();
            },

        },
        methods: {
            rateToOrder(rating, comment, orderId) {

                let currentObj = this;
                axios.post(currentObj.pageUrl + 'retailer/retailer/rating', {
                    user_id: currentObj.retailerid,
                    stars: rating,
                    comment: comment,
                    order_id: orderId
                })
                        .then(function (response) {

                            EventBus.$emit("invokeSuccess", response.data.message);
                            currentObj.getOrders();
                        })
                        .catch(function (error) {
                            EventBus.$emit("invokeSuccess", error.response.data.message);

                        });
            },
            removeRepeatOrder(list, index) {
                
                this.RepeatIndex.splice(index, 1);
                for (var i = 0; i < this.mycarts.length; i++) {
                    if (this.mycarts[i].repeatIndex != undefined && this.mycarts[i].repeatIndex == index) {
                        this.mycarts.splice(i, 1);
                        alert(3);
                        continue;
                    }
                }

                var $this = this;
                store.commit('carts', $this.mycarts);

            },
            IsProductExistIncart(prodId) {
                for (var i = 0; i < this.mycarts.length; i++) {
                    if (this.mycarts[i].id == prodId) {
                        return false;
                    }
                }
                return true;
            },
            repeatOrder(list, index) {
                this.RepeatIndex.push(index);
                for (var j = 0; j < list.order_items.length; j++) {
                    if (this.IsProductExistIncart(list.order_items[j].products.id)) {
                        list.order_items[j].products.rate = list.order_items[j].quantity;
                        list.order_items[j].products.repeatIndex = index;
                        list.order_items[j].products.ordervalue = parseInt(list.order_items[j].quantity) * parseInt(list.order_items[j].products.rlp);
                        EventBus.$emit("addtocart", list.order_items[j].products);
                    }
                }
            },
            showOrderDetail(list) {  
                this.modalData = list;
                if (this.modalData.promocode != '' && this.modalData.promocode_key != '')
                {
                    this.usePromocode(this.modalData.promocode_key, this.modalData.promocode);
                }
                setTimeout(function () {
                    $("#orderView").modal('show');
                }, 3000);
            },
            usePromocode(key, code) {
                
                let currentObj = this;
                currentObj.applied = false;
                axios.post(currentObj.pageUrl + 'retailer/promocode-detail', {
                    promocode_key: key,
                    promocode: code,
                    id : currentObj.retailerid,
                })
                        .then(function (response) {
                           currentObj.promodetails = response.data.discount;
                        })
                        .catch(function (error) {

                        });
            },
            getOrders() {
                this.loaded = false;
                this.orders = '';
                let currentObj = this;
                var request = {
                    params: {
                        searchDate: currentObj.searchDateforrmat,
                        retailerId: currentObj.retailerid
                    }
                };
                axios.get(currentObj.pageUrl + 'retailer/order/list', request)
                        .then(function (response) {
//                            console.log(response.data.profile);
                            currentObj.orders = response.data.list;
                            currentObj.loaded = true;

                        })
                        .catch(function (error) {

                        });

            },
            getFrequentOrders() {
                this.loaded = false;
                this.frequent = '';
                let currentObj = this;
                var request = {
                    params: {
                        retailerId: currentObj.retailerid
                    }
                };
                axios.get(currentObj.pageUrl + 'retailer/frequent/order/list', request)
                        .then(function (response) {
//                            console.log(response.data.profile);
                            currentObj.frequent = response.data.frequent;
                            currentObj.loaded = true;

                        })
                        .catch(function (error) {

                        });

            }

        },
        mounted() {


            this.getFrequentOrders();
            var $this = this;
            $('#orderView').on('shown.bs.modal', function (e) {
                $this.showPopview = true;
            })
            $('#orderView').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $this.showPopview = false;
            });
            EventBus.$on("repeatRefresh", function (data) {
                $this.RepeatIndex = [];
                $this.orders = [];
                $this.searchDate = '';
            });
        }

    }
</script>
