<template>
    <div class="col-md-3 d-flex flex-wrap justify-content-between address">
        <div class="col-12 bg-white shadow1 rounded p-2">
            <div class="position-relative div-left" v-if='loaded'>
                <div class="position-absolute shop-info">
                  <p class="m-0"><i class="las la-store"></i> {{ profile.shop_name }}</p>
                  <p class="m-0"><i class="las la-map-marker"></i> {{ profile.shop_address }}</p>
                </div>
                <div class="mb-2 position-relative shop-img" v-if="profile.shop_image != ''">
                    <img id="myImg" v-bind:src="pageUrl + 'uploads/retailers/shop_image/' + profile.shop_image" alt="" class="w-100 img-fluid" />
                    <div class="popup">
                        <img v-bind:src="pageUrl +'uploads/retailers/shop_image/' + profile.shop_image" alt="" class="h-auto img-fluid" />
                    </div>
                </div>
            </div>
            
            <div class="d-flex flex-wrap align-items-center mt-3">
                <div class="mr-3 user-img" v-if="profile.primary_image != ''">
                  <img v-bind:src="profile.primary_image" alt="" class="rounded-circle img-fluid w-100 h-100" />
                </div>
                <div class="">
                  <p class="text-capitalize font-weight-bold m-0">{{ profile.full_name }}</p>
                  <p class="text-capitalize m-0">{{ profile.city }}</p>
                  <p class="m-0">Call Time: 10AM - 11PM <i class="las la-pencil-alt theme-text" data-toggle="modal" data-target="#timeeditModal"></i></p>
                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';

    export default {
        name: 'retailer_profile',
        props: ['retailerid'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                profile: '',
              
                loaded: false
            }
        },
        computed: {

        },
        components: {

        },
        methods: {
            getProfile(id) {
                this.loaded = false;
                let currentObj = this;
                axios.get(currentObj.pageUrl + 'retailer/view/retailer/data/panel/' + currentObj.retailerid)
                        .then(function (response) {
//                            console.log(response.data.profile);
                            currentObj.profile = response.data.profile;
                            currentObj.loaded = true;

                        })
                        .catch(function (error) {

                        });

            }

        },
        created() {

            this.getProfile();
        },
        mounted() {

//          this.getProfile();
        },

    }
</script>
