<template>
    <div class="d-inline-block w-100 mt-3 p-0 inner-div">
        <h6 class="font-weight-bold">Schemes & Promotions</h6>
        <ul class="list-group">
            <li v-for="(list,index) in schemeList" class="d-flex flex-wrap align-items-center justify-content-between list-group-item rounded mb-2 px-3 py-2">
                <span>{{ list.scheme_name }}</span>
                <a href="#" v-on:click.prevent="nextProduct(index)" class="text-body"><i class="las la-angle-right"></i></a>
                <div class="table-responsive bg-white mt-2 table-wrap" v-if="index == currIndex && clicked == true" >
                    <table border="0" cellspacing='0' class="m-0 table info-tabs">
                        <thead>
                            <tr>
                                <th class="border-0">Duration</th>
                                <th class="border-0">Title</th>
                                <th class="border-0">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="position-relative bg-white border border-right-0 rounded-left light-border">{{ list.from_date | moment("dd-MM-YYYY") }} To {{ list.to_date | moment("dd-MM-YYYY") }}</td>
                                <td class="position-relative bg-white border border-right-0 rounded-left light-border">{{ list.scheme_name }}</td> 
                                <td class="position-relative bg-white border border-left-0 rounded-left light-border"><a href="#" v-on:click.prevent='seeDetails(list)' data-toggle="modal" data-target="#scheme-detail" class="cart-btn theme-bg px-2 rounded py-1">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

        </ul>
        <div  class="modal" id="scheme-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5  class="modal-title" id="exampleModalLabel">Scheme Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="pt-4 px-3 modal-body calling-view">
                        <div class="col-12 pt-2">
                            <div class="row calling-agent-view">
                                <span class="w-100 user-image">
                                    <img v-if="detail.avtar != '' " v-bind:src="pageUrl + 'images/scheme/' +  detail.avatar"  alt   class="w-100 img-fluid" />
                                    <img  v-else v-bind:src="pageUrl + 'images/detail-img.jpg'" alt   class="w-100 img-fluid"   />
                                </span>
                                <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info"  >
                                    <span id="agent_name" class="h4 font-weight-normal mb-0 name" >{{  detail.scheme_name }}</span>
                                </div>
                                <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info"  >
                                    <span id="agent_name" class="h4 font-weight-normal mb-0 name" >{{  detail.eligibility }}</span>
                                </div>
                                <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info"  >
                                    <span id="agent_name" class="h4 font-weight-normal mb-0 name" >{{  detail.description }}</span>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
            
        name: 'scheme_promotion_list_panel',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                schemeList: [],
                currIndex: '',
                clicked: false,
                detail : '',
                shown : false
            }
        },
        computed: {

        },
        components: {

        },
        methods: {
            seeDetails(list) {

                this.detail = list;
                
            },
            getSchemes() {

                let currentObj = this;
                axios.post(currentObj.pageUrl + 'retailer/get/schemes/promotions')
                        .then(function (response) {
                            if (response.data.status == true) {
                                currentObj.schemeList = response.data.scheme;
                            } else {
                                currentObj.schemeList = [];
                            }
                        })
                        .catch(function (error) {

                        });
            },
            nextProduct(index) {
                if (this.currIndex == index) {
                    this.clicked = false;
                    this.currIndex = null;
                    return;
                }
                this.currIndex = index;
                this.clicked = true;
            },
        },

        mounted() {
            this.getSchemes();
            var $this = this;
           $('#scheme-detail').on('show.bs.modal', function(e) {
             
                $this.shown = true;

            });
        }

    }
</script>
