body{background: #f3f7fd;}
.shop-img {height: 100px; overflow: hidden;}
.shop-img img, .user-img img {object-fit: cover; height: 100%;}
.user-img {display: inline-block; width: 90px; height: 90px; overflow: hidden;}
.user-img img {border: 2px solid #eaeaea;}
.agentPages {font-size: 0.875rem;}
.tabs li {width: 20%; font-size: 0.75rem;}
.tabs li a {color: #ababab;}
.tabs li a.active {color: #000000;}
table {font-size: 0.8125rem;}
table.order-detail td:first-child, table.order-detail td:last-child {border-radius: 0 !important;}
.inventory-info span.notavailable::before {background-color: #dc3545;}
.order-detail td {vertical-align: middle;}
.coupone {background-color: #fb5276;}
.sidelist .search-div .la-search {right: 8px;}
.table.info-tabs td {padding: 8px;}
a.cart-btn {font-size: 10px;}
.table-wrap {max-height: 130px;}
.close {right: 10px; z-index: 1;}
.codeCoupon {color: #fb5276;}
.off-text p {font-size: 14px; color: #9e9e9e; line-height: normal;}
.applyBtn button {color: #fb5c8b; font-weight: 600;}
.applycoupone {background-color: #f9f9f9; padding: 10px 0; margin: 8px 0 0;}
/* image zoom css */
.popup {position: fixed; z-index: -1; left: 50%; top: 35%; opacity: 0; transform: translate(-50%, -50%); text-align: center; padding: 10px; background: rgba(0, 0, 0, 0.3); transition: all 0.4s; width: 65%;}
.view-shop-img:hover + .shop-img .popup {z-index: 11; opacity:1; transform: translate(-50%, -50%); top: 50%; transition: all 0.2s; height: 100%; overflow-y: auto;}
.view-shop-img{z-index: 12;position: absolute;right: 5px;top: 5px;}
.grid-connectCall:after {font-family: 'FontAwesome'; content: "\f095"; position: absolute; font-size: 5rem; transform: rotate(45deg); left: 3px; opacity: 0.15;}
.grid-orderVal:after {font-family: 'FontAwesome'; content:"\f07a"; position: absolute; font-size: 5rem; left: 3px; opacity: 0.15;}
.grid-avgTime:after {font-family: 'FontAwesome'; content:"\f017"; position: absolute; font-size: 5rem; left: 3px; opacity: 0.15;}
.grid-callRatio:after {font-family: 'FontAwesome'; content:"\f295"; position: absolute; font-size: 5rem; left: 3px; opacity: 0.15;}
.grid-orders-info .units, .grid-queue-info .units{font-size: 16px;margin-left: -5px;font-weight: 400;}
.grid-orders-info span, .grid-queue-info span{font-size: 14px;}
.div-right {bottom: 15px; left: 15px;}
.shop-info {z-index: 1; right: 5px;color: #fff;background: rgba(56, 56, 56, 0.9); text-transform: capitalize; padding: 5px 8px; top: 5px; border-radius: 2px; pointer-events: none;}
.call-list li::before {content: "\f105"; font-family: "FontAwesome"; position: absolute; left: 0px;font-weight: bold;}
.call-list li a:hover{color:#000;transition: .5s ease-in-out;}
.order-history ul li a.active::after {content: ''; border-top: 10px solid #7356db; position: absolute; bottom: -5px; border-right: 15px solid transparent; border-left: 15px solid transparent; z-index: 1; left: 50%; transform: translateX(-50%) !important;}
.side-inner, .orderTB-in {max-height: 590px; overflow-y: auto;}
.panel .ham-icon {display: none;}

/* rate buttons */
.rate {float: left; height: 46px; padding: 0 10px;}
.rate:not(:checked) > input {position:absolute; /* top:-9999px; */ opacity: 0;}
.rate:not(:checked) > label {float:right; width:1em; overflow:hidden; white-space:nowrap; cursor:pointer; font-size:30px; color:#ccc;}
.rate:not(:checked) > label:before {/* content: '★ '; */ content:"\f005"; font-family: 'FontAwesome';}
.rate > input:checked ~ label {color: #ffc700;}
.rate:not(:checked) > label:hover,.rate:not(:checked) > label:hover ~ label { color: #deb217;}
.rate > input:checked + label:hover,.rate > input:checked + label:hover ~ label,.rate > input:checked ~ label:hover,.rate > input:checked ~ label:hover ~ label,.rate > label:hover ~ input:checked ~ label { color: #c59b08;}

.sidebar-list aside {height: 100vh; position: fixed; flex: 0 0 17.8%; max-width: 17.8%; width: 17.8%;}
.ham-icon{display: none;}
.sidebar-menu{height: calc(100vh - 70px); overflow-y: auto;}
.valuesRate {opacity: 0;}

.attention-tabs.tabs li{width: auto;}
.attention-tabs.tabs li a{border: 1px solid #b4b4b4;border-right: none;border-radius: 0;margin: 0;color: #000;padding: 5px 15px;}
.attention-tabs.tabs li a.active{border-color: #7356db;}
.attention-tabs.tabs li a:hover{border-color:#b4b4b4;}
.attention-tabs.tabs li:last-child a {border-right: 1px solid #b4b4b4;}
.attention-tabs.tabs li a.active::after{display: none;}
.ordered-table thead th{border-bottom-width: 1px;border-top:none;}
.ordered-table thead th, .ordered-table tbody td{padding: 5px 8px !important;font-size: 12px;}
.ordered-table{border-collapse: collapse;}
.ordered-table thead{width: calc( 100% - 4px );display: table;}
.ordered-table thead tr{width: 100%;display: table;table-layout: fixed;}
.ordered-table tbody{display: block;overflow-y:auto;}
.ordered-table tbody tr{width: 100%;display: table;table-layout: fixed;}
.ordered-table .rate label{font-size: 16px;margin-bottom: 0;}
.ordered-table .rate{height:auto;}
.ordered-table .cart-btn{box-shadow: none;}
.tab-section .all-orders .datePicker1{width: 180px;float: right;margin-bottom: 8px;}
.tab-section .all-orders .datePicker1 input, .product-list input.search{min-height: 30px;height: 30px;font-size: 12px;border: 1px solid #c5c5c5;padding: 5px 10px;}
input.quantity-input{min-height: 25px;height: 25px;font-size: 12px;border: 1px solid #c5c5c5;padding: 5px 10px;width: 50px;text-align: center;}
.custom-radio{min-height: 10px;}
.product-list ul li.list-group-item{background-color: #f6f3ff;color: #000 !important;}
.product-list ul li table.table{font-size: 11px;}
.product-list ul li table.table tr th, .product-list ul li table.table tr td{padding: 5px 8px !important;border-radius: 0 !important}
.dg-btn--ok{background-color: #7356db !important; color: #fff !important; border-color: #7356db !important;font-weight: 400 !important;}
.dg-btn--cancel{background-color: #bd2130!important;font-weight: 400;}

.after-select-date{left: 0; top: 0; right: 0; position: fixed !important; bottom: 0; height: 40px;}