.edit-btn-small{font-size:10px;padding:2px 7px;letter-spacing:.4px;margin-left:5px;}
.edit-btn-small:focus{box-shadow: none;}
.order-status-outer .status-circle{background-color: #e6e6e6;width: 12px;height: 12px;border-radius: 50px;display: inline-block;position: relative;z-index:1;}
.order-status-outer h6{color:#c7c7c7;font-size: 14px;margin-bottom:5px;}
.order-status-outer{text-align: center;}
.order-status-outer .status-done h6{color:#00b050;}
.order-status-outer .status-red h6{color:#ef0202;}
.order-status-outer .status-done .status-circle{background-color: #26a541;}
.order-status-outer .status-red .status-circle {background-color: #ef0202;}
.order-status-outer .order-status-inner:before{content: '';position: absolute;height:5px;width:100%;left:-50%;background-color: #e6e6e6;bottom: 10px;}
.order-status-outer .status-done.order-status-inner:before{background-color:#26a541;}
.order-status-outer .status-red.order-status-inner:before{background-color:#ef0202;}
.order-status-outer .order-status-inner:first-child:before{display:none;}
.details-heading{display: block;font-size: 12px;font-weight: 400;color: #999;}
.details{font-size: 15px;}
