@import "agent-style.css";
@import "hub-style.css";
/*@import "graph.css";*/
html, body {font-family: 'Roboto', sans-serif; font-size: 16px;}
::-webkit-scrollbar-track{background-color: #7356db;}
::-webkit-scrollbar{width: 4px;height: 5px;}
::-webkit-scrollbar-thumb{background-color: #000;}
.bg-grey {background-color: #f4f7fe;}
.light-bg {background-color: #dcd2f4;}
.theme-bg, .attention-tabs.nav-tabs .nav-link.active {background-color: #7356db; color: #fff !important;}
.theme-text, .theme-text:hover {color: #7356db;}
.text-grey {color: #7a7a7a;}
.text-grey-dark {color: #555555;}
.text-grey-medium {color: #323232;}
.info-title {font-size: 1.8125rem;}
.font-12{font-size: 0.75rem;}.font-14{font-size: 0.875rem;}.font-18{font-size: 1.125rem;}
.cursor-pointer{cursor: pointer;}
.page-title {font-size: 1.25rem;}
.input-border {border-width: 0 0 1px; border-color: #cdcdcd; border-style: solid;}
.light-border {border-color: #e4ebfd !important;}
.pd-x-2 {padding-left: 2.1rem; padding-right: 2.1rem;}
.layout-fixed {table-layout: fixed;}
.overflow-x{overflow-x: scroll;}
.overflow-x::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;background-color: #F5F5F5;}
.overflow-x::-webkit-scrollbar{width: 4px;height: 10px;}
.overflow-x::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);background-color: #b9b9b9;}
a, .top-profile, .notification, .ham-icon, .la-pencil-alt, .accord, .manage-btn label {cursor:pointer;}
a:hover {text-decoration: none; color: #fff;}
.border-btn {border: 1px solid #7457db; line-height: 1.8;}
table {border-collapse: inherit;}
table td {color: #46526d;}
input, select {min-height: 40px; font-size: 0.875rem; padding: 5px;transition: .5s ease-in-out;}
input:focus, select:focus {outline: none; border: 1px solid #7356db !important;}
.shadow {box-shadow: 0 0.5rem 1rem rgba(211, 215, 221, 0) !important;}
.shadow1 {box-shadow: 0 0.5rem 1rem rgba(211, 215, 221, 0.3) !important;}
span {word-break: break-word;}
button[type="reset"], .bg-transaprent {background-color: transparent; outline: none;}
table td:first-child {border-radius: 0.3rem 0 0 0.3rem !important;}
table td:last-child {border-radius: 0 0.3rem 0.3rem 0 !important;}
select {-webkit-appearance: none; background: #fff url('../images/drop-icon.svg') top 17px right 15px no-repeat;line-height: 1.9;padding: 5px 30px 5px 15px;}
button:focus {outline: none;}
.custom-btn{height: 40px;}
.error-msg1 {color: #dc3445; font-size: 13px; background-color: #ff001a1c; padding: 8px 10px; display: flex; align-items: center; justify-content: space-between; margin-top: 1px;font-weight: 500; border-left: 4px solid #dc3445;}
.error-msg i, .error-msg1 i {font-size: 12px; margin-right: 5px;}
.invalid-feedback{font-weight: 500;}
.error-msg {color: #dc3445; font-size: 12px; margin-top: 2px;font-weight: 500; position:absolute; display: flex; align-items: center; width: 100%; padding: 3px 15px;right: 0;}
/* pagination css */
.pagination {justify-content: flex-end;}
.pagination ul li a {width: 28px; height: 28px; font-size: 13px; line-height: normal; color: #333333;}
.pagination ul li.active a {background-color: rgb(213, 224, 251);}
/* --- end --- */
/* --- Error / Info msg --- */
.info-msg {position: absolute; left: 0; height: 100%; top: 0; z-index: 1;}
.info-msg > div {z-index: 1; top: 15%; background-color: #fb5276; font-size: 18px; box-shadow: 0px 0px 45px rgba(62, 62, 62, 0.3);}
span.close-info {position: absolute; right: -10px; top: -10px; background-color: #464646; width: 20px; height: 20px; font-size: 11px; display: flex; align-items: center; justify-content: center; border-radius: 30px; line-height: normal; cursor: pointer;}
/* --- end --- */
/* --- sidebar css --- */
.sidebar .logo {position: sticky; height: 70px; top: 0; z-index: 11; background-color: #7356db;border-bottom: 1px solid #5e47b2;display: flex;justify-content: center;align-items: center;}
.logo span {display: inline-block; width: 150px;}
.sidebar-list {flex: 0 0 17.8%; max-width: 17.8%;height: 100vh;}
.sidebar .list-group-item:first-child{border-top: none;}
.sidebar .list-group-item {border-top: 1px solid #6b4bdc; border-left: 4px solid transparent; padding: 0; cursor: pointer;border-bottom: 0;}
.sidebar .list-group-item>a{padding: 15px;width: 100%;font-size: 0.875rem;color: #fff;display: flex;}
.sidebar li .submenu li a{padding: 0;width: 100%;color: #fff;display:block}
.sidebar .sidebar-menu li a.sidebar-link i{font-size: 22px;margin-right: 10px;}
.sidebar li.has-submenu:after {content: '';position: absolute;width: 10px;height: 10px;border-color: #fff;border-top: 1.2px solid #fff;border-right: 1.2px solid #fff;z-index: 1; right: 15px;top:19px;transform: rotate(135deg);transition: .3s ease-in-out;}
.sidebar li.has-submenu.has-submenu-active:after{transform: rotate(-45deg);}
.sidebar li.has-submenu.has-submenu-active .submenu{display:block;}
.sidebar .list-group-item:hover {background-color: #694ec9; border-left: 4px solid #bb96f8;}
.sidebar .list-group-item.active {background-color: #694ec9; border-left: 4px solid #bb96f8; border-top: 2px solid #5e47b2; border-bottom: 1px solid #5e47b2;z-index: initial;}
.sidebar .list-group .inner-nav:hover a {color: #ffffff; text-decoration: none;}
.toggle-switch, .la-angle-down {transition: all 0.3s;}
.sidebar-list.switch {max-width: 7%; flex: 0 0 7%; transition: all 0.3s;}
.sidebar-list.switch .label-name {display: none;}
.sidebar .list-group .inner-nav{background-color: transparent; border: none; padding-top: 0; border-left: 5px solid transparent; padding-bottom: 0; font-size: 15px;margin: 8px 0;line-height: 1;}
.sidebar .list-group .inner-nav a {color: #b8a8f3; font-weight: 300;}
.sidebar .submenu .list-group .inner-nav.active a {font-weight: 400; color: #fff;}
.sidebar .list-group .inner-nav.active {border-top: 0; border-bottom: 0; border-right: 0; border-left: 5px solid #bb96f8; padding-top: 0.1rem; padding-bottom: 0.1rem;}
.sidebar .list-group-item .inner-nav:hover {background-color: #694ec9; border-left: 5px solid #bb96f8;}
.submenu {max-height: 0; overflow: hidden; transition: max-height 0.4s ease-out; width: 100%;padding-left: 45px;}
.submenu.open {max-height:800px;padding-bottom: 10px;transition: max-height 0.8s ease-in;}
.rotate {transform: rotate(180deg); transition: all 0.5s;}
/* --- end --- */
/* --- login page css --- */
.login-logo img {height: 45px;}
.loginType {top: 40px; right: 25px;}
.form-control, .form-control:focus {background: transparent; box-shadow: none; padding: 1.7rem 1.75rem;transition: .5s ease-in-out;}
.form-group::before {content: ''; background-image: url('../images/input-left.png'); position: absolute; width: 7px; height: 25px; z-index: 1; background-repeat: no-repeat; top: 50%; transform: translateY(-50%);}
span.input-icon {position: absolute; right: 7px; top: 50%; display: inline-block; width: 20px; transform: translateY(-50%);}
.submit-btn {height: 65px; width: 65px; font-size: 2rem;}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus, .form-control.is-valid:focus, .was-validated .form-control:valid:focus {box-shadow: none;}
.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {background-position: center right calc(2.375em + .1875rem)}
.loginSelect.nav-tabs .nav-link.active {color: #f4f7fe; background-color: #7356db;}
.loginSelect.nav-tabs .nav-link {border-radius: 0; background-color: #ffffff; color: #333333;}
.loginSelect.nav-tabs li:first-child .nav-link {border-radius: 5px 0 0 5px;}
.loginSelect.nav-tabs li:last-child .nav-link {border-radius: 0 5px 5px 0;}


/* --- end --- */
/* --- header css --- */
.header {border-bottom: 1px solid #d1d9e5; min-height: 70px; position: sticky; top: 0; z-index: 11;}
span.profile {display: inline-block; width: 45px; height: 45px; vertical-align: middle; border-radius: 35px;border: 1px solid #dcdcdc;overflow: hidden;}
.dropdown-menu.open {display: block; right: 0; left: initial; top: 55px;border-top: 2px solid #7356db !important; border: none; border-radius: 0;}
.dropdown-menu.open::before {content: ''; border-bottom: 7px solid #7356db; position: absolute; right: 35px; top: -8px; border-right: 7px solid transparent; border-left: 7px solid transparent;}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {background-color: #efefef; color: #7356db;}
/* --- end --- */
/* dashboard page css */
.grid-agent, .grid-connectCall {background-color: #0daffc;}
.grid-queue, .grid-orderVal {background-color: #fd414a;}
.grid-orders, .grid-avgTime {background-color: #3eae4d;}
.grid-collect {background-color: #a68fff;}
.grid-value {background: #e2aa2c;}
.grid-process {background: #24bbb4;}
.grid-assign {background: #7a7a7a;}
.grid-callRatio {background-color: #d0a627;}
.grid-ico {width: 55px; height: 55px; background-color: rgba(115, 86, 219, 0.23);}
.count {width: 130px; height: 110px; border-radius: 20px; margin-top: 10px;}
#collapse {min-height: 0px; height: 0; overflow: hidden; transition: height 0.5s;}
#collapse.open {min-height: 10px; height: 100%; transition: height 0.5s;}
.rotate-Ico i {transform: rotate(45deg); transition: all 0.5s}
.accord i {transition: all 0.5s}
/* --- end --- */
/* --- user profile detail css --- */
.profile-pic {border: 6px solid white; height: 160px; width: 160px; box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.19);}
.profile-page::after {content: ''; position: absolute; width: 100%; height: 65px; background-color: #f3f7fd; bottom: 0px;}
.profile-inner {background: url('../images/profile-bg.jpg') rgba(0, 0, 0, 0.25); background-blend-mode: overlay; background-size: cover;}
.profile-inner > .row, .tag-list {z-index: 1;}
.edit-btn {background-color: rgba(255, 255, 255, 0.28);}
.cam-icon::after {content: "\f030"; font-family: 'FontAwesome'; position: absolute; right: 14px; bottom: 0; font-size: 0.9375rem; background-color: #7356db; width: 30px; height: 30px; border-radius: 25px; display: flex; align-items: center; justify-content: center; color: #fff; cursor: pointer;}
.cam-icon input {visibility: hidden; height: 0; width: 0;}
.overlay {position: fixed; width: 100%; min-height: 100%; right: 0; top: 0; background-color: transparent; z-index: 2;}
/* --- end --- */
/* --- notification dropdown css --- */
.notify .custom-dropdown {transform: translate3d(-175px, 52px, 0px) !important; width: 270px;transition: .3s ease-in-out; position: relative;}
.notify .custom-dropdown.show {transform: translate3d(-230px, 35px, 0px) !important;}
.notify .custom-dropdown.show::before {content: ''; position: absolute; border-bottom: 8px solid #7356db; border-right: 8px solid transparent; border-left: 8px solid transparent; right: 20px; top: -8px;}
.notify-list li p {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin: 0; width: 90%;}
.unread {background-color: rgba(115, 86, 219, 0.08);}
.unread::after { content: ''; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); /* border: 1px solid red; */ border-radius: 56px; height: 10px; width: 10px; background: rgba(115, 86, 219, 0.69);}
/* --- end --- */
/* --- onboarding page css --- */
.onboard-list {flex: 0 0 82.2%; max-width: 82.2%;margin-left: auto;}
.switch .ham-icon {transform: scale(-1);}
.notification {width: 22px;}
.notification sup {position: absolute; width: 20px; text-align: center; right: -8px; border: 2px solid white; height: 20px; border-radius: 20px; top: -8px; display: flex; align-items: center; justify-content: center;}

.table-list th {font-size: 0.6875rem; font-weight: 500; text-transform: uppercase; color: #b0bac9;}
.table-list td, .dropdown-menu.open a, .notify-drop li a {font-size: 0.6875rem; vertical-align: middle;}
.star-rating__star{font-weight: 11px !important;padding: 0 !important;}
span.actions {padding: 0 5px;}
.separation {line-height: 7px;}
i.la-search {right: 23px;top: 13px;transform: rotate(-90deg); cursor: pointer;}
.search-box{padding: 5px 30px 5px 15px;}
.onboard-list.switch {max-width: 93%; flex: 0 0 93%; transition: all 0.3s; z-index: 0;}
img.mr-2.img-ico {width: 45px; height: 45px; border-radius: 50%;}
sup {top: 0;}
input.checkbox-select[disabled="disabled"] + .checkmark, .checklabel input.checkbox-select[disabled="disabled"] ~ .checkmark:after {opacity: 0.3; cursor: default; background: none;}
/* --- end --- */
/* --- popup css --- */
label, .deviceText {color: #323232; font-size: 0.9375rem;}
.number small, .info-detail p {color: #959595; font-size: 0.875rem}
.number i {color: #00b923; transform: rotate(45deg);}
.close.close-modals {right: 10px; font-size: 1.56rem; z-index: 1; top: 5px;}
/* .user-image {height: 300px; overflow: hidden;} */
/* --- end --- */
/* --- retail page css --- */
.theme-text.border-btn:hover {background-color: #7356db; color: #fff; transition: all 0.3s;}
.retailer-list th, .attention-list th {padding: 0 3px 10px;}
.retailer-list td, .attention-list td {padding: 3px; /*font-size: 0.875rem;*/ font-size: 0.75rem;}
.checklabel {display: block; position: relative; padding-left: 20px; margin-bottom: 20px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.checklabel .checkbox-select {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.checkmark {position: absolute; top: 2px; left: 0; height: 15px; width: 15px; border: 1px solid #7a7a7a;}
.checkmark:after {content: ""; position: absolute; display: none;}
.checklabel .checkbox-select:checked ~ .checkmark:after {display: block; background-image: url('../images/check.png'); width: 100%; height: 100%; top: -4px; background-size: cover; left: 4px;}
.grids {box-shadow: 1px 1px 5px #dedede; min-height: 160px;}
.list-details span {width: 200px;}
.kyc-label, .calling-agent-view span {color: #959595;}
.retail-type, .retail-shop, .retail-name {cursor: default; /*white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 70px;*/ display: inline-block; margin: 5px 0 0; line-height: normal;}
.radio-label input[type=radio]{visibility: hidden; z-index: 10;}
.radio-label label{padding-left: 25px; z-index: 10; cursor: pointer; -webkit-transition: all 0.25s linear;}
.radio-label .check{display: block; position: absolute; border: 1px solid #7a7a7a; border-radius: 100%; height: 17px; width: 17px; top: 0px; left: 0px; z-index: 1; transition: border .25s linear; -webkit-transition: border .25s linear;}
.radio-label .check::before {display: block; position: absolute; content: ''; border-radius: 100%; height: 11px; width: 11px; top: 2px; left: 2px; margin: auto;}
input[type=radio]:checked ~ .check {border: 1px solid #7a7a7a;}
input[type=radio]:checked ~ .check::before{background: #7a7a7a;}
.retailAddForm .photo-upload {bottom: initial; position: relative;}
/* .retailAddForm .upload-file-input {bottom: 50%;} */
.manage-Retailer .nav-tabs .nav-item.show .nav-link, .manage-Retailer .nav-tabs .nav-link.active {border-color: transparent; box-shadow: 0px -3px 0px #7356db inset;}
.manage-Retailer .nav-tabs .nav-link {border: none;}
.retailAddform {background: #f9f9f9;}
/* --- end --- */
/* --- retail page detail css --- */
.retail-contact-img {height: 80px; overflow: hidden;}
.retail-contact-detail p {font-size: 0.8125rem; color: #676666;}
.retail-view-profile {height: 210px; display: inline-block;}
.kyc-img img {width: 100%; height: 100px;}
span.other-qr {height: 22px; margin-bottom: 10px;}
.tag-list li:hover {background-color: #f7f7f7; cursor: pointer;}
.tag-list li:hover p, .tag-list li:hover small {color: #7356db;}
/* .datePicker > div {width: 100%; border-radius: 0.3rem;} */
.vdp-datepicker > div input {border: 1px solid #e4ebfd; width: 100%; border-radius: 0.3rem; padding: 6px 15px;}
.date-input::after {content:''; width: 12%; height: 100%; position: absolute; background-image: url('../images/calender-icon.svg'); background-repeat: no-repeat; right: 7px; background-position: center; top: 0; pointer-events: none;}
.vdp-datepicker__calendar {left: 0;}
/* --- end --- */
/* --- attention request page css --- */
.attention-tabs .nav-tabs li:first-child .nav-link {border-radius: 5px 0 0 5px;}
.attention-tabs .nav-tabs li:last-child .nav-link {border-radius: 0 5px 5px 0;}
/* --- end --- */
/* master page */
.unit-type-list {position: absolute; width: calc(100% - 30px); background-color: #fff; z-index: 1; border: 1px solid #3399ff;}
.unit-type-list ul {max-height: 90px; overflow-y: auto; font-size: 0.875rem; box-shadow: 1px 1px 1px #ccc;}
.unit-type-list ul li:hover {background-color: #3399ff; color: #fff;}
.drop-down {display: none;}
.drop-down.open {display: block;}
/* --- end --- */
/* --- order and calling page css --- */
.orders-calling h6 {font-size: 1.0625rem;}
.lar.la-user {line-height: 0.7; margin: 0; font-weight: 100;}
.order-days-list {table-layout: fixed;}
.order-days .section2 input {border: 1px solid #e1e9f3;}
input[type="checkbox"] {position: absolute; opacity: 0;}
input[type="checkbox"].ios-switch + div {vertical-align: middle; width: 40px; height: 20px; border-radius: 999px; background-color: #eceff1; -webkit-transition-duration: .4s; box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);}
input[type="checkbox"].ios-switch:checked + div {width: 40px; background-position: 0 0; background-color: #eceff1; border: 1px solid #eceff1;}
input[type="checkbox"].bigswitch.ios-switch + div {width: 80px; height: 35px;}
input[type="checkbox"].ios-switch + div > div {float: left; width: 18px; height: 18px; border-radius: inherit; background: #ffffff; -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1); -webkit-transition-duration: 0.4s; -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1); -moz-transition-duration: 0.4s; pointer-events: none; margin-top: 1px; margin-left: 1px; border: 1px solid #d4d4d4;}
input[type="checkbox"].bigswitch.ios-switch + div > div {width: 25px; height: 25px; margin-top: 4px; position: relative; left: 5px; top: 1px; background-color: #afafaf; background-position: center;}
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {-webkit-transform: translate3d(47px, 0, 0); -moz-transform: translate3d(47px, 0, 0); background: #7357db; left: 0; right: 0; margin-top: 3px;}
input[type="checkbox"].bigswitch.ios-switch:checked + div > div::before {content: ''; border-color: #ffffff; position: absolute; left: 50%; top: 49%; width: 6px; height: 12px; border-style: solid; border-width: 0px 2px 2px 0px; -webkit-transform: translate(-50%, -50%) rotate(45deg); -ms-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg);}
.days, .inner-img, .list-details span p {font-size: 0.8125rem;}
.orders-calling .theme-text span, .onboard-view span {font-size: 0.875rem;}
.days-inner input, .days-inner select {min-height: 42px;}
.swtich-inactive span {color: #7a7a7a;}
.swtich-inactive span, .swtich-active span, .label-distribute {font-size: 0.75rem;}
/* --- end --- */
/* --- agent approve page css --- */
.detail-inner {width: 70px; height: 70px;}
/* --- end --- */
/* --- manage user css --- */
.add-user-form {max-height: 0px; overflow: hidden; transition-duration: 0.5s; transition-property: all; transition-timing-function: linear;}
.open-form {max-height: 900px; overflow: visible; transition-duration: 0.5s; transition-property: all; transition-timing-function: linear;}
/* --- end --- */
/* --- master distributor detail css --- */
span.icons-ico  {width: 50px;text-align: center;}
.distributor-view span {word-break: break-word;}
/* .modal-dialog {max-width: 650px;} */
.export-btn {color:#212529;font-size: 0.875rem;background: #fff;border-radius: 5px;padding: 10px 20px; border: 1px solid #efefef;display: flex;align-items: center;}
.export-btn:hover {box-shadow: 1px 1px 12px rgba(140, 140, 140, 0.3); transition: all 0.4s; color: #7356db; background-color: #fff;}
/* --- end --- */
/* --- order page css --- */

/* bootstrap-tagsinput.css file - add in local */
.bootstrap-tagsinput {background-color: #fff; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); display: inline-block; color: #555; vertical-align: middle; border-radius: 4px; max-width: 100%; line-height: 22px; cursor: text;}
.bootstrap-tagsinput input {border: none; box-shadow: none; outline: none; background-color: transparent; padding: 0 6px; margin: 0; width: auto; max-width: inherit;}
.bootstrap-tagsinput.form-control input::-moz-placeholder {color: #777; opacity: 1;}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder, .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {color: #777;}
.bootstrap-tagsinput input:focus {border: none; box-shadow: none;}
.bootstrap-tagsinput .tag {margin-right: 2px; color: white; background-color: #fb5276; font-size: 12px; display: inline-block; padding: 0px 12px 0 5px; border-radius: 4px; width: 42%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.bootstrap-tagsinput .tag [data-role="remove"] {cursor: pointer; font-size: 14px; position: absolute; right: 0px; background-color: #e85a79;}
.bootstrap-tagsinput .tag [data-role="remove"]:after {content: "x"; padding: 0px 2px;}
.taginput-overlay::before {content: ''; position: absolute; right: -51px; width: 1345px; height: 100vh; top: -48px;}
/* --- end --- */
/* --- calling agent page css --- */
.upload-pic {opacity: 0; position: absolute; top: 0; height: 100%; cursor: pointer;}
.photo-upload {/*position: absolute; bottom: 20px;*/ cursor: pointer; display: flex; align-items: center; margin: 10px 0 0;}
.photo-upload .la-arrow-circle-up{line-height: .8;}


/* --- end --- */
/* --- calling agent page css --- */
.fa-play {color: #cdd6e3; cursor: pointer;}
/* --- end --- */
/* Hub manage order page */
.date-filter .date-input, .select-filter select, .select-filter input {flex-grow: 1;}
.select-filter .search-div i.la-search {right: 25px;}
/* end */
/* Hub manage order popup */
.hubOrder-modal .close {right: 10px; z-index: 1; top: 5px; font-size: 30px;}
table.hub-ordered-detail {border-collapse: collapse;}
table.hub-ordered-detail td {border-radius: 0 !important;}
/* end */
/* Stock detail page */
.stock-img {height: 219px;}
/* end */
/*Highcharts Graph*/
#ordervalue{outline: none;}
.highcharts-credits{display: none;}
path.highcharts-label-box.highcharts-tooltip-box {fill: #fff;stroke:#999;}
.highcharts-container text, tspan, .highcharts-tooltip span, .highcharts-tooltip table tr td{font-family: 'Roboto', sans-serif;}
.highcharts-exporting-group{display: none;}
/* end */
/* Manage scheme - order volume */
.details-view {font-size: 18px;}
.details-view label {font-size: 14px; color: #949494; font-weight: 300;}
.notification.dropdown-toggle::after {display:none}
.custom-dropdown {padding:5px 0;}
.custom-dropdown ul {list-style: none; padding: 0; margin: 0; max-height: 366px; overflow-y: auto; height: 100%;}
.custom-dropdown ul li a {padding: 5px 10px;color: #333;font-size:0.875rem;display: block;line-height: 1.3;}
.auth-pages {height: 100vh;}
.login-section input {border-bottom-color: #cdcdcd !important;border-color: #f4f7fe;}
.login-section input:focus {border-color: #7356db !important;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0px 1000px #f4f7fe inset;}
.customer-details .labl {display: block;color: #959595;font-size: 0.8125rem;}
.customer-details .full-detail {font-size: 0.8125rem;color: #212529;}
.customer-details .user-profile img {height: 200px;border-radius: 8px;border: 3px solid #efefef;}
.vdp-datepicker__calendar {width: 220px !important;padding: 0 8px 10px !important;}
/*.vdp-datepicker__calendar .cell {line-height:2.6 !important;height: 32px !important;}*/
.vdp-datepicker__calendar .cell {line-height: 2 !important;height: 25px !important;}
.vdp-datepicker__calendar .cell.day-header {font-weight: 600;}
.vdp-datepicker__calendar .cell.day, .vdp-datepicker__calendar .cell.month, .vdp-datepicker__calendar .cell.year{font-size: 12px;}
.vdp-datepicker__calendar .cell.month{padding:0 !important;}
.vdp-datepicker__calendar header .prev:after, .vdp-datepicker__calendar header .next:after{border: solid black !important;border-width: 0 2px 2px 0 !important;display: inline-block !important;width: 10px;height: 10px;top: 15px !important;}
.vdp-datepicker__calendar header .prev:after {transform: rotate(135deg) !important;left: 17px !important;}
.vdp-datepicker__calendar header .next:after {transform: rotate(-45deg) !important;left: 2px !important;}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {border: 1px solid #efefef !important;background-color: #efefef !important;}
/* end */
/* call script css */
.customSelect {position: relative; width: 100%; height: 40px; border: 1px solid #ccc; padding: 0 15px; line-height: 40px; font-size: 14px;}
.ulListType {border: 1px solid #007bff; width: calc(100% - 30px); position: absolute; top: 70px; left: 15px; padding: 0; margin:0; display: none; z-index: 1;}
.ulListType ul li {padding:0 15px; list-style:none; cursor: default; font-size: 14px;}
.ulListType ul li:hover {background-color: #007bff; color: #fff;}
.scriptText {width: 92px;}
.script-text {width: 200px; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.manageBtn button {font-size: 14px;}
/* end */
.distributor-list{list-style: none;padding: 0;max-height: 254px;overflow-y: auto;z-index: 1;background-color: #fff;border-bottom: 1px solid #efefef;box-shadow: 1px 1px 5px #dedede;}
.distributor-list li{padding: 5px 16px;font-size: 12px;border-bottom:1px solid #e4ebfd;border: 1px solid #e4ebfd;border-bottom: none;cursor: pointer;transition: .5s ease-in-out;}
.distributor-list li:hover{background-color: #f7f7f7;}
.distributor-list li:last-child{border-bottom:1px solid #e4ebfd;}

.report-pages{height: calc(100vh - 150px);}
.action-btn:hover i{color:initial;}

.file-upload{height: 80px;outline: 1px dashed #bdbdbd;position: relative;font-size: 14px;}
.file-upload input[type="file"]{position: absolute;top: 0;left: 0;height: 100%;opacity: 0;}
.browse-file-btn{background: #000;color: #fff;margin-top: 10px;position: relative;font-size: 14px;}
.browse-file-btn:hover{color: #fff;}
.browse-file-btn input{position: absolute;top: 0;left: 0;height: 100%;opacity: 0;}
.dash-logo{width: 135px;}
.btn-height{height: 44px;}
.custom-tabs li a{padding: 10px 15px;font-size: 0.875rem;border: 1px solid #dee2e6 !important;color: #212529;background: #fff;}
.custom-tabs li a.active{border-color: #7356db !important;}
.primary-btn1{color:#fff;font-size: 0.875rem;background: #7356db;border-radius: 5px;padding: 10px 20px; border: 1px solid #7356db;}
.no-record{text-align: center;font-weight: 600;font-size: 14px !important;padding-top: 40px !important;}

.btn-approve{background-color: #7457db;color: #fff; border: 0; line-height: 1; padding: 5px 12px; border-radius: 7px; margin-left: 10px;}
.add-item-input{border-radius: 3px; border: 1px solid #d4d4d4; padding: 8px 10px;height: 40px;}
.folder-items .btn-info{height: 40px;border-radius: 3px;border: none;padding: 5px 10px;text-transform: capitalize;background-color: #7457db;font-size: 14px;cursor: pointer;}
.folder-items, .folder-items ul{list-style: none;}
.folder-items ul{padding-left: 20px;}
.folder-items ul li{margin: 10px 0;position: relative}
.folder-items ul li:before {content: '';position: absolute;left: -40px;width: 1px;height: 120%;background: #c1c1c1;top: -30px;}
.folder-items ul li:after {content: '';position: absolute;left: -40px;width: 38px;height: 1px;background: #c1c1c1;top: 19px;}

/*.folder-items ul li:nth-child(odd):after, .folder-items ul li:nth-child(odd):before{background: #000 !important;}*/


.folder-items ul:nth-child(1) li:after, .folder-items ul:nth-child(1) li:before{background: #000 !important;}

.pageloader {position: fixed;z-index: 1;right: 0;top: 0;background:rgba(0, 0, 0, 0.73);height: 100%;width: calc(100% - 17.8%); text-align: center; display: flex;align-items: center;justify-content: center;}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #7356db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




.cancelled::before {
    content: '';
    border: 1px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    z-index: 9;
    background-image: url('../images/cancel.png');
    background-repeat: no-repeat;
    background-size: 70%;
    opacity: 0.15;
    background-position: center;
}
.invalid-feedback-login {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}