<template>
    <div class="col-md-3 bg-white shadow1 rounded px-3 py-3 call-script" >
        <div class="inner-text" v-if="loaded">
            <h6 class="font-weight-bold">Calling Script</h6>
           
               <my-tree-script v-bind:data="scriptData"></my-tree-script> 
           
            
        </div>
    </div>

</template>


<script>

  
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
        name: 'calling_script',
        props: ['retailerid', 'type'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                loaded: false,

                scripts: '',
                level: 'Level 0',
                event: 'Initial',
                currIndex: 0,
                integer: 1,
                notAvailable : false,
                scriptData : ''

            }
        },
       
        
        methods: {
            proceed(ind) {

                this.level = 'Level ' + (parseInt(this.currIndex) + parseInt(this.integer++));
                this.event = 'Initial';
            },
            getScript() {
                this.loaded = false;
                let currentObj = this;
                 currentObj.notAvailable = false;
                axios.get(currentObj.pageUrl + currentObj.type + '/call/script/' + currentObj.retailerid)
                        .then(function (response) {
                            if (response.data.status == false) {
                               currentObj.notAvailable = true;
                            }
                            currentObj.scripts = response.data.list;
                            currentObj.scriptData = JSON.parse(response.data.list.script_data);
                            
                            
                            currentObj.loaded = true;
                        })
                        .catch(function (error) {

                        });
            }

        },
        mounted() {

            this.getScript();
        }

    }
</script>
<!--<script>
   window.open ("yourPageURL","mywindow","status=1,toolbar=0");
    (function (global) {

    if (typeof (global) === "undefined")
    {
    throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function () {
    global.location.href += "#";
    // making sure we have the fruit available for juice....
    // 50 milliseconds for just once do not cost much (^__^)
    global.setTimeout(function () {
    global.location.href += "!";
    }, 50);
    };
    // Earlier we had setInerval here....
    global.onhashchange = function () {
    if (global.location.hash !== _hash) {
    global.location.hash = _hash;
    }
    };
    global.onload = function () {

    noBackPlease();
    // disables backspace on page except on input fields and textarea..
    document.body.onkeydown = function (e) {
    var elm = e.target.nodeName.toLowerCase();
    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
    e.preventDefault();
    }
    // stopping event bubbling up the DOM tree..
    e.stopPropagation();
    };
    };
});
</script>-->
