<template>
    <li class="mb-2" v-if="item.name != ''">
        <div :class="{bold: isFolder}" > 
            <button  @click="toggle($event)" type='button' class="btn-info1 btn theme-bg py-2 px-2 text-white">Yes</button>
            <input type='text' v-model='item.name' v-bind:title="item.name" class="add-item-input" disabled="">
            <button  @click="toggle($event)" @dblclick="makeFolder" type='button' class="btn-info1 btn theme-bg py-2 px-3 text-white">No</button> 
        </div>
        <ul class="list-unstyled p-0" v-show="isOpen" v-if="isFolder">
            <tree-item-script
                class="item"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                ></tree-item-script>
<!--            <li class="add" @click="$emit('add-item', item)">+</li>-->
        </ul>
    </li>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'childtreeagent12',
        
        props: [],
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function ($event) {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
                $(this).parents('li').siblings('li').hide();
                 console.log($(this));
        //       $event.target.parentElement.remove();
            },
            makeFolder: function () {
                if (!this.isFolder) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            },
            
        },
        mounted(){
            
            $(document).on('click','.btn-info1',function(){
               $(this).parents('li').siblings('li').hide();
                $(this).parents('.bold').hide();
              
            });
        }
        
       



    }
</script>
