<template>
    <div class="d-inline-block w-100 py-3 p-0 inner-div product-list border-top border-bottom">
        <h6 class="font-weight-bold">Feedback & Issues</h6>
        <!--        <select class="light-border border w-100 feedback-drop add-icons" v-on:change="addRetailerFeedback" v-model="feedbackRetailer" name="feedbackRetailer">
                    <option value="">Select any one</option>
                    <option v-for="list in feedbacklist" v-bind:value="list.id">{{ list.remark }}</option>
                </select>
                <a href="#" data-toggle="modal" data-target="#add-feedback">
                    <span class="theme-text edit-ico font-18">
                        +
                    </span>
                </a>-->

        <ul class="list-group">
            <li v-for="(list,index) in feedbackcategory" class="d-flex flex-wrap justify-content-between align-items-center rounded list-group-item theme-bg mb-2 p-0">
                <div class="p-2 w-100">
                    <a href="#" class="text-dark d-flex w-100 justify-content-between align-items-center" v-on:click.prevent="nextProduct(index)">
                        <span>{{ list.name }}</span>
                    <i class="las la-angle-right"></i>
                    </a>
                </div>
                
                <div class="bg-white w-100" v-if="index == currIndex && clicked == true" >
                    <table border="0" cellspacing='0' class="m-0 table info-tabs border-top">
                        <thead>
                            <tr>
                                <th class="border-0">Remark</th>
                                <th class="border-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="rem in list.remarks">
                                <td class="position-relative bg-white border border-right-0 rounded-left light-border">{{ rem.remark }}</td> 
                                <td class="position-relative bg-white border border-left-0 rounded-left light-border"><a href="#" v-on:click.prevent='addRetailerFeedback(rem.id)' class="cart-btn theme-bg px-2 rounded py-1">Send</a></td>
                            </tr>
                            <tr v-if="index == feedbackcategory.length - 1">
                                <td colspan="2" class="position-relative bg-white border border-right-0 rounded-left light-border">
                                    <input type='text' v-model='add_remark' placeholder='Add Your Remark' class='form-control p-2 mb-2 font-14' style="height:80px;" v-on:enter='addRemark'> 
                                    <a href="#" v-on:click='addRemark' class="cart-btn theme-bg px-2 rounded py-1 float-right">Add & Send</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </li>

        </ul>


    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';

    export default {
        name: 'feedback_panel',
        props: ['retailerid','type'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                feedbackcategory: '',
                feedbacklist: '',
                feedback_category_select: '',
                feedback_category_text: '',
                remark: '',
                error: '',
                feedbackRetailer: '',
                currIndex: '',
                clicked: false,
                detail: '',
                shown: false,
                add_remark: ''
            }
        },
        computed: {

        },
        components: {

        },
        methods: {

            
            nextProduct(index) {
                if (this.currIndex == index) {
                    this.clicked = false;
                    this.currIndex = null;
                    return;
                }
                this.currIndex = index;
                this.clicked = true;
            },

            addRemark() {
                var currentObj = this;
                let message = "Are you sure want to send this remark?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + currentObj.type + '/add/feedbacks', {
                                name: currentObj.add_remark,
                                feedback_category_id: 5,
                                retailer_id: currentObj.retailerid,
                            })
                                    .then(function (response) {
                                        currentObj.add_remark = '';

                                        currentObj.getFeedback();
                                        EventBus.$emit("invokeSuccess", 'Remark Sent Successfully');

                                    })
                                    .catch(function (error) {
                                        console.log(error.response.data.errors);
                                        currentObj.error = error.response.data.errors;
                                    });
                        })
                        .catch(function () {

                        });

            },
            addRetailerFeedback(remid) {
                var currentObj = this;
                let message = "Are you sure want to send this remark?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + currentObj.type + '/add/retailer/feedback', {
                                retailer_id: currentObj.retailerid,
                                feedback_id: remid,
                            })
                                    .then(function (response) {
                                        EventBus.$emit("invokeSuccess", 'Remark Sent Successfully');
                                    })
                                    .catch(function (error) {
                                        console.log(error.response.data.errors);
                                        currentObj.error = error.response.data.errors;
                                    });
                        })
                        .catch(function () {

                        });
            },
            addFeedbackCategory() {
                var currentObj = this;
                axios.post(currentObj.pageUrl + currentObj.type + '/add/feedback/category', {
                    name: currentObj.feedback_category_text
                })
                        .then(function (response) {
//                            $("#add-feedback").modal('hide');

                            currentObj.getFeedback();
                            currentObj.feedback_category_text = '';
                            currentObj.remark = '';

                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                            currentObj.error = error.response.data.errors;
                        });

            },
            getFeedback() {
                var currentObj = this;
                axios.get(currentObj.pageUrl + currentObj.type + '/get/feedbacks')
                        .then(function (response) {

//                            currentObj.feedbacklist = response.data.remark;
                            currentObj.feedbackcategory = response.data.list;


                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                        });

            },
        },
        mounted() {
            this.getFeedback();
            $('#add-feedback').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })
        }

    }
</script>
<style>
    /*.select-editable {
        position:relative;
        background-color:white;
        border:solid grey 1px;
        width:120px;
        height:18px;
    }
    .select-editable select {
        position:absolute;
        top:0px;
        left:0px;
        font-size:14px;
        border:none;
        width:120px;
        margin:0;
    }
    .select-editable input {
        position:absolute;
        top:0px;
        left:0px;
        width:100px;
        padding:1px;
        font-size:12px;
        border:none;
    }
    .select-editable select:focus, .select-editable input:focus {
        outline:none;
    }*/
</style>
