<template>


    <!-- agent listing section -->
    <div class="col-md-12 toggle-switch bg-grey agentPages panel">
        <header-guard-page v-if="$attrs.type == 'agent'" :pagetitle="'Agent Panel'"></header-guard-page>
        <header-admin-panel v-if="$attrs.type == 'retailer'" :pagetitle="'Admin Panel'"></header-admin-panel>
        <div class="row">
            <div class="col-md-12 pd-x-2 py-3 header-part">
                <div class="row">
                    <profile v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></profile>
                    <calling-script v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></calling-script>
                    <orders v-bind:flag='flag' v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></orders>
                </div>
            </div>

            <div class="col-md-12 pd-x-2 py-3 body-section">
                <div class="row">
                    <div class="col-md-4 sidelist">
                        <div class="col-12 p-3 bg-white side-inner shadow1 rounded">
                            <product-list v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></product-list>
                            <scheme-promotions v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></scheme-promotions>
                            <feedback v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></feedback>
                        </div>
                    </div>
                    <products v-bind:retailerid="$attrs.retailerid" v-bind:type="$attrs.type"></products>
                </div>
            </div>

        </div>
        <!-- end -->

        <!-- The Modal -->
        <div class="modal fade" id="timeeditModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="position-absolute close" data-dismiss="modal">&times;</button>

                    <!-- Modal body -->
                    <div class="modal-body pt-4">
                        <div class="col-12 bg-white dayslist">
                            <div class="row">
                                <div class="col-md-12 section1">
                                    <h5 class="font-weight-normal mb-3">Order Days:</h5>
                                    <ul class="row list-unstyled preferred-time">
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox"  name="selectcheckall" v-model="selectcheckall" v-on:change="chooseAllDays($event)"   class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">All</span>
                                            </label>
                                        </li>
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox" v-model="days" name="selectcheck" value="1" class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">Monday</span>
                                            </label>
                                        </li>
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox" v-model="days" name="selectcheck" value="2" class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">Tuesday</span>
                                            </label>
                                        </li>
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox" v-model="days" name="selectcheck" value="3" class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">Wednesday</span>
                                            </label>
                                        </li>
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox" v-model="days" name="selectcheck" value="4" class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">Thrusday</span>
                                            </label>
                                        </li>
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox" v-model="days" name="selectcheck" value="5" class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">Friday</span>
                                            </label>
                                        </li>
                                        <li class="col-4">
                                            <label class="d-inline-block align-text-bottom checklabel">
                                                <input type="checkbox" v-model="days" name="selectcheck" value="6" class="checkbox-select">
                                                <span class="checkmark"></span>
                                                <span class="font-weight-light days">Saturday</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-4 section2">
                                    <div class="row">
                                        <div class="col-md-4 grid2">
                                            <label for="call-start">Calling Start Time:</label>

                                            <VueTimepicker format="hh:mm a" v-model="startTime" ></VueTimepicker>
                                        </div>
                                        <div class="col-md-4 grid3">
                                            <label for="call-end">Calling End Time:</label>
                                            <VueTimepicker format="hh:mm a" v-model="endTime" ></VueTimepicker>

                                        </div>
                                        <div class="col-md-4 grid3">
                                            <label for="call-end">Order Limit:</label>
                                            <input type="number" name="call-end" id="call-end" v-model="orderLimit" placeholder="Value" class="px-3 w-100 rounded-lg shadow border">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center mt-4">
                                <a href="#" v-on:click="cancelOrderCalling" class="px-3 py-2 mr-2 d-inline-block rounded text-uppercase theme-text border-btn">Cancel</a>
                                <a href="#" v-on:click="saveOrderCalling" class="d-inline-block px-4 py-2 rounded mt-3 text-uppercase text-white theme-bg border-btn save-btn">Save</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    import moment from 'moment';
    import CallingScript from '../agentpanel/CallingScriptComponent.vue';
    import Feedback from '../agentpanel/FeedbackComponent.vue';
    import OrderProducts from '../agentpanel/OrderProductComponent.vue';
    import OrdersList from '../agentpanel/OrdersViewComponent.vue';
    import ProductList from '../agentpanel/ProductsListComponent.vue';
    import Profile from '../agentpanel/RetailerProfileComponent.vue';
    import SchemePromotions from '../agentpanel/SchemePromotionsComponent.vue';
    import VueTimepicker from 'vue2-timepicker';
    import 'vue2-timepicker/dist/VueTimepicker.css';
    export default {
        name: 'panel-master',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                days: [],
                endTime: '',
                startTime: '',
                orderLimit: '',
                axiosError: [],
                flag: 0,
                orderCalling: '',
                selectcheckall: false
            }
        },
        computed: {

        },
        watch: {
            days: function () {
                if (this.days.length == 6) {

                    this.selectcheckall = true;
                } else {
                    this.selectcheckall = false;
                }
            }
        },
        components: {
            'calling-script': CallingScript,
            'feedback': Feedback,
            'products': OrderProducts,
            'orders': OrdersList,
            'product-list': ProductList,
            'profile': Profile,
            'scheme-promotions': SchemePromotions,
            VueTimepicker

        },
        methods: {
            tConvert(time) {
                // Check correct time format and split into components
                time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

                if (time.length > 1) { // If time format correct
                    time = time.slice(1);  // Remove full string match value
                    time[5] = +time[0] < 12 ? ' am' : ' pm'; // Set AM/PM
                    time[0] = +time[0] % 12 || 12; // Adjust hours
                }
                return time.join(''); // return adjusted time or original string
            },
            chooseAllDays($event) {

                if ($event.target.checked == true) {
                    this.days = [];
                    var d = [1, 2, 3, 4, 5, 6];
                    for (var i = 0; i < d.length; i++) {
                        this.days.push(d[i]);
                    }
                } else {
                    this.days = [];
                }

            },
            cancelOrderCalling() {
                $("#timeeditModal").modal('hide');
                this.days = [];
                this.endTime = '';
                this.startTime = '';
                this.orderLimit = '';
            },
            converToFormat(times) {
                var result;
                var t1 = times.split(' ');
                var t2 = t1[0].split(':');
            
              var h;
              if(parseInt(t2[0]) < 10){
                 h = '0' + t2[0];
                 
              }
              
              return  result = {
                    "hh": h,
                    "mm": t2[1],
                    "a": t1[1],
                };

            },
            saveOrderCalling() {

                var currentObj = this;
                axios.post(currentObj.pageUrl + currentObj.$attrs.type + '/retailer/order/calling', {
                    days: currentObj.days.join(),
                    endTime: currentObj.endTime,
                    startTime: currentObj.startTime,
                    orderLimit: currentObj.orderLimit,
                    retailerId: currentObj.$attrs.retailerid,
                })
                        .then(function (response) {
                            if (response.data.status) {
                                EventBus.$emit("invokeSuccess", 'Retailer Order Calling Time Added Successfully');
                                $("#timeeditModal").modal('hide');
                            }
                        })
                        .catch(function (error) {
                            EventBus.$emit("invokeSuccess", 'Retailer Order Calling Setting Not Updated Successfully');
                            currentObj.axiosError = error.response.data.errors;
                        });

            },

        },
        mounted() {

            $('#timeeditModal').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });

            this.flag = false;
            var $this = this;
            EventBus.$on("invokeComponents", function (data) {
                $this.flag++;
            });
            EventBus.$on("retailerProfile", function (data) {
                $this.orderCalling = data;
                $this.days = ($this.orderCalling.order_calling.calling_days).split(',');

               
                var input1 = $this.orderCalling.order_calling.end_time;
                var fields1 = input1.split('.');
                var input2 = $this.orderCalling.order_calling.start_time;
                var fields2 = input2.split('.');
                var endt = $this.tConvert(fields1[0]);
                var startt = $this.tConvert(fields2[0]);
                $this.endTime = $this.converToFormat(endt);
                $this.startTime = $this.converToFormat(startt);
                $this.orderLimit = $this.orderCalling.order_calling.order_limit;
            });
        }

    }
</script>
