<template>
    <div class="row">
        <div class="col-12">
            <h5>Product Details</h5>
            <table cellspacing="0" cellpadding="8" border="1" class="mt-3 w-100 hub-ordered-detail layout-fixed">
                <thead>
                    <tr>
                        <th width='50'>SNo.</th>
                        <th>Product</th>
                        <th width='80'>Rate(Rs)</th>
                        <th width='70'>Unit</th>
                        <th width='70'>Qty</th>
                        <th>Packed Qty</th>
                        <th>Delivered Qty</th>
                        <th>Discount(%)</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(items,index) in orderdata.order_items">
                        <td><span class="data">{{ index + 1 }}</span></td>
                        <td><span class="data">{{ items.products.name }}</span></td>
                        <td><span class="data">{{ items.products.rlp }}</span></td>
                        <td><span class="data">{{ items.products.package_unit }}</span></td>
                        <td><span class="data">{{ items.quantity  }} </span></td> 
                        <td>
                            <span  class="font-weight-light ml-2" >{{ items.packed_quantity }}</span>
                        </td>
                        <td><span class="data">{{ items.delivered_quantity }}</span></td>
                        <td><span class="data">{{ items.offer_discount_percentage }}</span></td>
                       
                        <td><span class="data">{{ showTotal(items.quantity,items.products.rlp) | currency }}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right font-weight-bold">Sub Total</td>
                        <td>{{ orderdata.total_amount | currency }}</td>
                        <td  class="text-right font-weight-bold">Quantity</td>
                        <td>{{totalQty}}</td>
                        <td>{{ totalPackedQuantity }}</td>
                        <td>{{ totalDeliveredQuantity  }}</td>
                        <td class="text-right font-weight-bold">Discount</td>
                        <td>{{ orderdata.discount_amount  | currency}}</td>
                       
                        <!--<td>{{ orderdata.apiorder.total_cost }}</td>-->
                    </tr>
                    <tr>
                        <td colspan="7" class="text-right font-weight-bold"></td>
                        <td class="text-right font-weight-bold">Total Amount</td>
                        <td>{{ orderdata.total_amount | currency }}</td>
                        <!--<td>{{ orderdata.apiorder.total_cost }}</td>-->
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
</template>

<script>

    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'agent_order_detail_list',
        props: ['orderdata','type'],
        data() {
            return{
                pageUrl: siteUrl,
                quantity: 0,
                showInput: false,
                currIndex: '',
                totalQty: 0,
                totalPackedQuantity: 0,
                totalDeliveredQuantity: 0,
                original: 0,
                originalpacked: 0,
                
                
            }
        },
        computed: {

        },
        filters: {
            capitalize: function (value) {
                if (!value)
                    return ''
                value = value.toString()
                return value.toUpperCase()
            },
            currency: function (value) {
                if (!value)
                    return ''
                let val = (value / 1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "")
            }
        },
        watch: {
            quantity: function (val) {
                
                if (parseInt(val) > parseInt(this.original)) {
                    this.quantity = parseInt(this.originalpacked);
                    
                      EventBus.$emit("invokeSuccess", 'Packed Quantity Can not Greater That Quantity!!');
                }
            }

        },
        methods: {
            checkPositive($event, packed_quantity) {
                console.log($event);
                if (($event.which != 8 && $event.which != 0 && ($event.which < 48 || $event.which > 57)) &&  ($event.which != 96 && $event.which != 99 && $event.which != 98 && $event.which != 97 && $event.which != 102 && $event.which != 101 && $event.which != 100 && $event.which != 105 && $event.which != 104 && $event.which != 103)) {

                      EventBus.$emit("invokeSuccess", 'Packed Quantity Must be Positive Integer!');
                    $event.target.value = packed_quantity;
                   
                    return false;
                }

            },
            showTotal(qty, rlp) {
                var quantity;
                var rlpprice;
                if (qty != null && qty != '') {
                    quantity = parseInt(qty);
                }
                if (rlp != null && rlp != '') {
                    rlpprice = parseInt(rlp);
                }
                
                return rlpprice * quantity;
            },
            totalAmount(ttl, dis) {
                var total;
                var discount;
                if (ttl != null && ttl != '') {
                    total = parseInt(ttl);
                }
                if (dis != null && dis != '') {
                    discount = parseInt(dis);
                }
                
                return total -  discount;
            },
            editNow(arg, qty, index) {
                if(arg == null ||  arg == ''){
                    arg = 0;
                }
                if(qty == null || qty == ''){
                    qty = 0;
                }
                this.currIndex = index;
                this.showInput = true;
                this.quantity = arg;
                this.original = qty;
                this.originalpacked = arg;
            },
            allQuantity() {
                this.totalQty = 0;
                this.totalPackedQuantity = 0;
                this.totalDeliveredQuantity = 0;
                for (var i = 0; i < this.orderdata.order_items.length; i++) {
                    if (this.orderdata.order_items[i].products.quantity != null) {
                        this.totalQty += parseInt(this.orderdata.order_items[i].quantity);
                    }
                    if (this.orderdata.order_items[i].packed_quantity != null) {
                        this.totalPackedQuantity += parseInt(this.orderdata.order_items[i].packed_quantity);
                    }
                    if (this.orderdata.order_items[i].delivered_quantity != null) {
                        this.totalDeliveredQuantity += parseInt(this.orderdata.order_items[i].delivered_quantity);
                    }
                }
            },
            changeNow(itemId, orderid) {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'hub/update/packed/quantity', {
                    quantity: currentObj.quantity,
                    orderid: orderid,
                    itemId: itemId,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.orderdata.order_items[currentObj.currIndex].packed_quantity = currentObj.quantity;
                                EventBus.$emit("invokeSuccess", 'Product Packed Quantity Successfuly');
                                currentObj.allQuantity();
                                currentObj.quantity = 0;
                                currentObj.originalpacked = 0;
                                currentObj.original = 0;
                                currentObj.showInput = false;
                            } else {
                                EventBus.$emit("invokeSuccess", 'Product Packed Quantity Not Successfuly');
                            }


                        })
                        .catch(function (error) {

                        });
            },
            orderAction(type) {
                let message = "Are you sure?";
                let currentObj = this;
                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {

                            axios.post(currentObj.pageUrl + 'hub/cancel/packed/order', {
                                orderid: currentObj.orderdata.id,
                                type: type,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            var msg;
                                            var msg1;
                                            if (type == 2) {
                                                msg = "Order Packed Successfuly";
                                                msg1 = "Order Not Packed Successfuly";
                                            }
                                            if (type == 0) {
                                                msg = "Order Canceled Successfuly";
                                                msg1 = "Order Not Canceled Successfuly";
                                            }
                                            EventBus.$emit("invokeSuccess", msg);
                                            location.reload();
                                        } else {
                                            EventBus.$emit("invokeSuccess", msg1);
                                        }


                                    })
                                    .catch(function (error) {

                                    })
                        })
                        .catch(function () {

                        });
            }
        },
        components: {

        },
        mounted() {
            this.allQuantity();
        }



    }
</script>
<style>
    .pull-right {
        float: right !important;
    }
</style>
