<template>
    <div class="d-inline-block w-100 mb-3 p-0 inner-div product-list">
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
            <h6 class="font-weight-bold">Products</h6>
            <div class="position-relative search-div">
                <input type="text" name="search" id="search" placeholder="Search Product" v-model="searchKey" v-on:change="getProducts" class="px-2 pr-4 rounded-lg input-shadow search"> <i class="position-absolute la la-search"></i>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-3" v-if="errorMsg != ''">
            <p class="font-weight-bold">{{ errorMsg }}</p> 
        </div> 
        <ul class="list-group pr-2" style="max-height:300px;overflow-y:auto;">
            <li v-for="(cat,index) in products" v-if="cat.products.length > 0 && cat.status == 0" class="d-flex flex-wrap justify-content-between align-items-center rounded list-group-item theme-bg mb-2 p-0">
                <div class="p-2 w-100">
                    <a href="#" v-on:click.prevent="nextProduct(index)" class="text-dark d-flex w-100 justify-content-between">
                        <span>{{ cat.name }}</span>
                        <i class="h5 m-0 las la-angle-down text-dark"></i>
                    </a>
                </div>
                <div class="bg-white w-100" v-if="index == currIndex && clicked == true" >
                    <table border="0" cellspacing='0' class="m-0 table info-tabs border-top">
                        <thead>
                            <tr>
                                <th class="border-0">Item Name</th>
                                <th class="border-0">RLP(Rs.)</th>
                                <th class="border-0">MRP(Rs.)</th>
                                <th class="border-0">CQ</th>
                                <th class="border-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="prod in cat.products"  v-if="prod.stockagent != null && prod.stockagent.status == 0 && prod.status == 0 && prod.subcategory.status == 0 &&  !chekOutStock(prod.stockagent.product_quantity , prod.stockagent.in_stock,  prod.stockagent.out_stock)" >
                                <td class="">{{ prod.name }} {{ prod.weight_type.name  }}</td>
                                <td class="">{{prod.rlp}}</td>
                                <td class="">{{prod.mrp}} </td>
                                <td class="">{{chekOutStockQTY(prod.stockagent.product_quantity , prod.stockagent.in_stock,  prod.stockagent.out_stock)}} </td>
                                <td class=""><a href="#" v-on:click.prevent='addToCart(prod)' class="cart-btn theme-bg px-2 rounded py-1 text-center d-inline-block" style="width:70px;">Add to Cart</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

        </ul>
    </div>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';

    export default {
        name: 'product_list_panel',
        props: ['type', 'retailerid'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                loaded: false,
                products: '',
                currIndex: null,
                clicked: false,
                existed: [],
                available: false,
                searchKey: '',
                errorMsg : ''

            }
        },
        computed: {
            mycarts() {
                return store.getters.currentCarts;
            },
        },
        components: {

        },
        methods: {
            
            chekOutStock(qty,instock,outstock){
                if(((parseInt(qty) + parseInt(instock)) - parseInt(outstock)) > 0 ){
                    console.log(((parseInt(qty) + parseInt(instock)) - parseInt(outstock)));
                    return false;
                }
                console.log(((parseInt(qty) + parseInt(instock)) - parseInt(outstock)));
                
                return true;
            },
            chekOutStockQTY(qty,instock,outstock){
//                if(((parseInt(qty) + parseInt(instock)) - parseInt(outstock)) > 0 ){
//                    console.log(((parseInt(qty) + parseInt(instock)) - parseInt(outstock)));
//                    return false;
//                }
               
                
                return ((parseInt(qty) + parseInt(instock)) - parseInt(outstock));
            },
            checkIfExist(prodid) {
                if (this.mycarts.length > 0) {

                    this.existed = this.mycarts.filter(function (cart) {
                        if (cart.id == prodid) {
                            return prodid;
                        }
                    });
                    console.log(this.existed);

                } else {
                    return false;
                }

            },
            addToCart(prod) {

                this.available = false;
                for (let i = 0; i < this.mycarts.length; i++) {
                    if (prod.id == this.mycarts[i].id) {
                        this.available = true;
                    }
                    prod.rate = 0;
                }
                if (!this.available) {
                    prod.rate = 1;
                    prod.ordervalue = prod.rlp;
                    EventBus.$emit("addtocart", prod);
                } else {
                    EventBus.$emit("invokeSuccess", 'Product is already added!!');
                }

//                this.checkIfExist(prod.id);
            },
            nextProduct(index) {
                if (this.currIndex == index) {
                    this.clicked = false;
                    this.currIndex = null;
                    return;
                }
                this.currIndex = index;
                this.clicked = true;
            },
            getProducts() {
                this.loaded = false;
                this.errorMsg = '';
                let currentObj = this;
                var request = {
                    params: {
                        key: currentObj.searchKey,
                        id: currentObj.retailerid
                    }
                };
                axios.get(currentObj.pageUrl + currentObj.type + '/product/list', request)
                        .then(function (response) {
                            if (response.data.code == '404') {
                                currentObj.errorMsg = response.data.msg;
                                currentObj.products = []
                                 EventBus.$emit("hubCheck");
                                
                            } else if(response.data.code == 500) {
                                currentObj.errorMsg = "No Product found";
                                currentObj.products = [];
                                 EventBus.$emit("hubCheck");
                            }else{
                                 currentObj.products = response.data.list;
                            }
                           

                        })
                        .catch(function (error) {

                        });


            }

        },
        mounted() {

            this.getProducts();
        }

    }
</script>
