<template>
    <div class="col-md-3 d-flex flex-wrap justify-content-between address">
        <div class="col-12 bg-white shadow1 rounded p-2" v-if='loaded'>
            <div class="position-relative div-left" >
                <div class="position-absolute shop-info">
                    <p class="m-0"><i class="las la-store"></i> {{ profile.shop_name }}</p>
                    <p class="m-0"><i class="las la-map-marker"></i> {{ profile.shop_address }}</p>
                </div>
                <a href="javascript:void(0);" class="view-shop-img text-white"><i class="lar la-eye font-18 mr-1"></i></a>
                <div class="mb-2 position-relative shop-img" v-if="profile.shop_image != ''">
                    <img id="myImg" v-bind:src="pageUrl + 'uploads/retailers/shop_image/' + profile.shop_image" alt="" class="w-100 img-fluid" />
                    <div class="popup">
                        <img v-bind:src="pageUrl +'uploads/retailers/shop_image/' + profile.shop_image" alt="" class="h-auto img-fluid" />
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mt-3">
                <div class="mr-3 user-img" v-if="profile.primary_image != ''">
                    <img v-bind:src="profile.primary_image" alt="" class="rounded-circle img-fluid w-100 h-100" />
                </div>
                <div class="">
                    <p class="text-capitalize font-weight-bold m-0">{{ profile.full_name }}</p>
                    <p class="text-capitalize m-0">{{ getRetailType(profile.shop_type) }}</p>
                    <p class="text-capitalize m-0">{{ profile.city }}</p>
                    <p class="text-capitalize m-0">{{ profile.primary_mobile_number }}</p>
                    <p  class="m-0" v-if='isCalling'><span>Call Time: {{ formatTime( profile.order_calling.start_time) }} - {{ formatTime( profile.order_calling.end_time) }}</span> <i class="las la-pencil-alt theme-text" data-toggle="modal" data-target="#timeeditModal"></i></p>
                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    import moment from 'moment';
    export default {
        name: 'retailer_profile',
        props: ['retailerid', 'type'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                profile: '',

                loaded: false,
                isCalling : false
            }
        },
        computed: {

        },
        components: {

        },
        methods: {
            getRetailType(type) {
                if (type == 1) {
                    return 'General A';
                } else if (type == 2) {
                    return 'General B';
                } else if (type == 3) {
                    return 'General C';
                } else if (type == 4) {
                    return 'Chemist A';
                } else if (type == 5) {
                    return 'Chemist B';
                } else if (type == 6) {
                    return 'Chemist C';
                } else if (type == 7) {
                    return 'Cosmetic';
                } else if (type == 8) {
                    return 'Paan A';
                } else if (type == 9) {
                    return 'Paan B';
                } else if (type == 10) {
                    return 'Paan C';
                } else {
                    return " ";
                }
            },
            getProfile(id) {
                this.loaded = false;
                let currentObj = this;
                axios.get(currentObj.pageUrl + currentObj.type + '/view/retailer/data/panel/' + currentObj.retailerid)
                        .then(function (response) {
//                            console.log(response.data.profile);
                            currentObj.profile = response.data.profile;
                            currentObj.isCalling = response.data.nocalling;
                            if (response.data.nocalling) {
                                EventBus.$emit("retailerProfile", currentObj.profile);
                            }
                            currentObj.loaded = true;

                        })
                        .catch(function (error) {

                        });

            },
            formatTime(time) {

                return moment(time, "HH:mm:ss").format("hh:mm A");
            }

        },
        created() {

            this.getProfile();
        },
        mounted() {

//          this.getProfile();
        },

    }
</script>
