<template>
    <div class="d-inline-block w-100 mt-3 p-0 inner-div product-list">
        <h6 class="font-weight-bold">Schemes & Promotions</h6>
        <ul class="list-group">
            <li v-for="(list,index) in schemeList" class="d-flex flex-wrap justify-content-between align-items-center rounded list-group-item theme-bg mb-2 p-0">
                <div class="p-2 w-100">
                    <a href="#" class="text-dark d-flex w-100 justify-content-between align-items-center" v-on:click.prevent="nextProduct(index)">
                        <span>{{ list.scheme_name }}</span>
                        <i class="las la-angle-right"></i>
                    </a>
                </div>
                
               
                <div class="bg-white w-100" v-if="index == currIndex && clicked == true" >
                    <table border="0" cellspacing='0' class="m-0 table info-tabs border-top">
                        <thead>
                            <tr>
                                <th class="border-0">Duration</th>
                                <th class="border-0">Title</th>
                                <th class="border-0">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="position-relative bg-white border border-right-0 rounded-left light-border">{{ list.from_date | moment("DD-MM-YYYY") }} To {{ list.to_date | moment("DD-MM-YYYY") }}</td>
                                <td class="position-relative bg-white border border-right-0 rounded-left light-border">{{ list.scheme_name }}</td> 
                                <td class="position-relative bg-white border border-left-0 rounded-left light-border"><a href="#" v-on:click.prevent='seeDetails(list)' data-toggle="modal" data-target="#scheme-detail" class="cart-btn theme-bg px-2 rounded py-1">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

        </ul>
        <div  class="modal" id="scheme-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5  class="modal-title" id="exampleModalLabel">Scheme Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="pt-4 px-3 modal-body calling-view">
                        <div class="col-12 pt-2">
                            <div class="row calling-agent-view">

                                <span class="w-100 user-image">
                                    <img v-if="detail.avtar != '' " v-bind:src="pageUrl + 'images/scheme/' + detail.avatar"  alt   class="w-100 img-fluid" />
                                    <img  v-else v-bind:src="pageUrl + 'images/detail-img.jpg'" alt   class="w-100 img-fluid"   />
                                </span>
                                <div class="row">
                                    <div class="col-md-12 border border-left-0 border-right-0 border-bottom-0 light-border pt-3 callingView">
                                        <div class="row">
                                            
                                            <div class="col-md-4 mb-4">
                                                <span class="labl">Scheme Name :</span>
                                                <span class="full-detail">{{ detail.scheme_name}}</span>
                                            </div> 
                                            <div class="col-md-4 mb-4">
                                                <span class="labl">Eligibility :</span>
                                                <span class="full-detail">{{ detail.eligibility}}</span>
                                            </div> 
                                            <div class="col-md-4 mb-4">
                                                <span class="labl">From :</span>
                                                <span class="full-detail">{{ detail.from_date  | moment("DD-MM-YYYY") }}</span>
                                            </div> 
                                            <div class="col-md-4 mb-4">
                                                <span class="labl">To :</span>
                                                <span class="full-detail">{{ detail.to_date | moment("DD-MM-YYYY")}}</span>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-12 border border-left-0 border-right-0 border-bottom-0 light-border pt-3 callingView">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="labl">Description :</span>
                                                <span class="full-detail">{{ detail.description}}</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {

        name: 'scheme_promotion_list_panel',
        props: ['type'],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
                schemeList: [],
                currIndex: '',
                clicked: false,
                detail: '',
                shown: false
            }
        },
        computed: {

        },
        components: {

        },
        methods: {
            seeDetails(list) {

                this.detail = list;

            },
            getSchemes() {

                let currentObj = this;
                axios.post(currentObj.pageUrl + currentObj.type + '/get/schemes/promotions')
                        .then(function (response) {
                            if (response.data.status == true) {
                                currentObj.schemeList = response.data.scheme;
                            } else {
                                currentObj.schemeList = [];
                            }
                        })
                        .catch(function (error) {

                        });
            },
            nextProduct(index) {
                if (this.currIndex == index) {
                    this.clicked = false;
                    this.currIndex = null;
                    return;
                }
                this.currIndex = index;
                this.clicked = true;
            },
        },

        mounted() {
            this.getSchemes();
            var $this = this;
            $('#scheme-detail').on('show.bs.modal', function (e) {

                $this.shown = true;

            });
        }

    }
</script>
