<template>
    <div>
        <ul id="demo" class="list-unstyled p-0">
            <tree-item-script
                class="item"
                :item="data"
                ></tree-item-script>
        </ul>
    </div>
</template>
<script>
// demo data
    

// define the tree-item component
    Vue.component("tree-item-script", {
        template: `<li v-if="item.name != ''">
    <div
    :class="{bold: isFolder}"
    @click="toggle($event)"
    @dblclick="makeFolder">
    {{ item.name }}
    <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
    </div>
    <ul v-show="isOpen" v-if="isFolder">
    <tree-item
    class="item"
    :baba="index"
    v-for="(child, index) in item.children"
    :key="index"
    :item="child"
    ></tree-item>
    
    </ul>
    </li>`,
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function ($event) {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
                 $event.target.parentElement.remove();
            },
            makeFolder: function () {
                if (!this.isFolder) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            }
        }
    });
       import Vue from 'vue';
       import { siteUrl } from "../utility.js";
       import { EventBus } from "../eventBus.js";
// boot up the demo
    export default {
        name: 'treelist-agent',
        props : ['data'],
        data: function () {
            return {
                 treeData: [],
                 pageurl: siteUrl,
                 treeDataloaded : false,
            }
        },
        methods: {
            makeFolder: function (item) {
                Vue.set(item, "children", [{
                        name: "",
                        children: []
                    },
                    {
                        name: "",
                        children: []
                    }]);
//                this.addItem(item);
            },
            addItem: function (item) {
                item.children.push({
                    name: "new stuff"
                });
            },
            saveScript(){
                
               let currentObj = this;
                axios.post(currentObj.pageurl + 'save/script/tree',{
                    scritpid : currentObj.$attrs.script_id,
                    treeData : currentObj.treeData
                })
                        .then(function (response) {

                           
                        })
                        .catch(function (error) {

                        });  
            },
        
    },
            mounted: function () {
           var $this = this;
           EventBus.$on('saveScript', function () {
                $this.saveScript();
            }); 
          
            this.treeDataloaded = false;
          
        }
        }
   
</script>

