<template>
    <div class="row" id="addscheme">
        <div class="col-md-12 pd-x-2 mt-2 add-user-form">
            <h6 class="mt-4 mb-3 font-weight-bold text-grey-dark">Add Scheme & Promotions</h6>
            <form id="manage" class="bg-white rounded border light-border p-4 manage-user">
                <div class="row p-4">
                    <div class="col-md-4">
                        <label for="name">Scheme Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="myname" v-validate="'required'" v-model="scheme_name" id="name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        <div v-if="error.scheme_name" class="error-msg">
                            <i v-if="error.scheme_name" class="fa fa-warning"></i>
                            <span v-if="error.scheme_name" class="help is-danger">{{ error.scheme_name[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="code">Scheme Duration from <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <!--<input type="datetime-local"  v-validate="'required'" v-model="fromdate" name="fromdate"  id="code" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />-->
                        <datepicker format="d MMMM yyyy" placeholder="Select Date" :disabled-dates="disabledDates" name="fromdate" v-validate="'required'" v-model="fromdate"></datepicker>
                        <div v-if="error.fromdate" class="error-msg">
                            <i v-if="error.fromdate" class="fa fa-warning"></i>
                            <span v-if="error.fromdate" class="help is-danger">{{ error.fromdate[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="code">Scheme Duration To<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <!--<input type="datetime-local" v-validate="'required'" v-model="todate" name="todate"  id="code" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />-->
                        <datepicker format="d MMMM yyyy" placeholder="Select Date" :disabled-dates="disabledDates" name="todate" v-validate="'required'" v-model="todate"></datepicker>
                        <div v-if="error.todate" class="error-msg">
                            <i v-if="error.todate" class="fa fa-warning"></i>
                            <span v-if="error.todate" class="help is-danger">{{ error.todate[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <label class="photo-upload" for="upload-pic"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                            <span class="upload-text">Upload Image</span>
                        </label>
                        <input type="file" v-validate="'required'" name="avtar" v-on:change="onImageChange" value id="upload-pic" class="upload-file-input upload-pic" />
                        <div v-if="error.avtar" class="error-msg">
                            <i v-if="error.avtar" class="fa fa-warning"></i>
                            <span v-if="error.avtar" class="help is-danger">{{ error.avtar[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <label for="code">Scheme Eligibility <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <textarea name="eligibility" v-validate="'required'" rows="3" v-model="eligibility" cols="80" class="w-100 input-shadow border light-border rounded px-3"> </textarea>
                        <div v-if="error.eligibility" class="error-msg">
                            <i v-if="error.eligibility" class="fa fa-warning"></i>
                            <span v-if="error.eligibility" class="help is-danger">{{ error.eligibility[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <label for="code">description <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <textarea name="description" v-validate="'required'" rows="3" v-model="description" cols="80" class="w-100 input-shadow border light-border rounded px-3"> </textarea>
                        <div v-if="error.description" class="error-msg">
                            <i v-if="error.description" class="fa fa-warning"></i>
                            <span v-if="error.description" class="help is-danger">{{ error.description[0] }}</span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button v-on:click="cancelUserForm" type="reset" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button v-on:click="saveScheme" type="button" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import Datepicker from 'vuejs-datepicker';
    import * as lang from "vuejs-datepicker/src/locale";

    const state = {
        date1: new Date()
    }

    export default {
        name: "add_scheme_form",
        data() {
            return {
                pageurl: siteUrl,
                description: '',
                eligibility: '',
                todate: '',
                fromdate: '',
                scheme_name: '',
                avtar: '',
                format: "d MMMM yyyy",
                error: [],
                disabledDates: {
                    to: new Date(Date.now() - 8640000)
                },

            };
        },
        props: [],
        components: {
            Datepicker
        },
        methods: {

            onImageChange(e) {


                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file, index) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    vm.avtar = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUserForm() {
                $("#addscheme>div.open-form").removeClass("open-form");
            },
            saveScheme() {
                let currentObj = this;
                $(".pageloader").show();
                axios.post(currentObj.pageurl + "add/scheme", {
                    description: currentObj.description,
                    eligibility: currentObj.eligibility,
                    todate: currentObj.todate,
                    fromdate: currentObj.fromdate,
                    scheme_name: currentObj.scheme_name,
                    avtar: currentObj.avtar,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                EventBus.$emit("schemeadded");
                                EventBus.$emit("invokeSuccess", 'Scheme Added Successfuly');
                                $("#addscheme>div.open-form").removeClass("open-form");
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });
            },
        },
        mounted() {

        }
    };
</script>
