<template>
    <div class="schemelist">
        <div class="row align-items-center">
            <div class="col-md-12 mt-3 mb-4 pd-x-2">
                <div class="row ustify-content-between align-items-center">
                    <div class="col-md-3 position-relative search-div">
                        <input type="text" v-model="searchKey" name="search" v-on:keyup="getScheme(searchKey)" id="search" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <i class="position-absolute la la-search"></i>
                    </div>

                    <div class="col-md-9 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                        <div class="ml-4"  >
                            <h6 class="m-0">
                                <a href="#" title="" class="d-inline-block w-100 py-2 px-5 rounded text-white theme-bg border-btn addresource">ADD</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pd-x-2 mt-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th class="position-relative pl-4">Scheme Name</th>
                                <th>Scheme Duration</th>
                                <th>Modified On</th>
                                <th>Status</th>
                                <th class="pr-3">Actions</th>
                            </tr>
                        </thead>
                        <tbody v-for="(list,index) in schemeList.data">
                            <tr>
                                <td class="bg-white py-2 pl-4 border border-right-0 light-border">
                                    <img v-bind:src="pageurl + 'images/scheme/' + list.avatar" alt="list-image" class="mr-2 img-ico">
                                    <span class="value">{{ list.scheme_name }}</span>
                                </td>

                                <td  class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span class="data"><font class="text-success">{{ list.from_date | moment("DD-MM-YYYY") }}</font> - {{  list.to_date | moment("DD-MM-YYYY") }}</span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.updated_at | moment("DD-MM-YYYY") }}</span>
                                </td>
                                <td  class="bg-white py-2 border border-left-0 border-right-0 light-border">
                                    <label class="m-0">
                                        <input v-if="list.status == 0"  v-on:change="changeStatus(1,list.id,$event)" type="checkbox" checked="checked" class="ios-switch bigswitch">
                                        <input v-else type="checkbox" v-on:change="changeStatus(0,list.id,$event)"  class="ios-switch bigswitch">
                                        <div><div></div></div>
                                    </label>
                                </td>
                                <td class="bg-white py-2 pr-3 border border-left-0 light-border">
                                    <span class="actions">
                                        <a href="#" title="View" v-on:click="showSchemeImage(list)" class="action-btn">
                                            <img v-bind:src="pageurl + 'images/view-icon.png'" alt="view" class="action-icon">
                                        </a>
                                    </span>

                                    <span class="actions">
                                        <a href="#" title="Reject" class="action-btn">
                                            <img v-bind:src="pageurl + 'images/reject-icon.png'" v-on:click="deleteScheme(list.id)" alt="reject" class="action-icon">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>


                        </tbody>
                        <tfoot v-if="schemeList.data.length == 0 && loaded">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="mb-3 pagination" v-if="schemeList.data.length > 0 && loaded">
                    <vue-pagination
                        :pagination="schemeList"
                        @paginate="getScheme()"
                        :offset="4">
                    </vue-pagination>
                </div>
            </div>
        </div>
        <div id="productview" class="modal fade" >
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="pt-4 px-3 modal-body calling-view" v-if="showPopview">
                        <div class="col-12 pt-2">
                            <div class="row calling-agent-view">

                                <span class="w-100 user-image">
                                    <img v-if="modalData.avtar != '' " v-bind:src="pageurl + 'images/scheme/' + modalData.avatar"  alt   class="w-100 img-fluid" />
                                    <img  v-else v-bind:src="pageurl + 'images/detail-img.jpg'" alt   class="w-100 img-fluid"   />
                                </span>
                                           <div class="row">
                                <div class="col-md-12 border border-left-0 border-right-0 border-bottom-0 light-border pt-3 callingView">
                                    <div class="row">
                                        
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Scheme Name :</span>
                                            <span class="full-detail">{{ modalData.scheme_name}}</span>
                                        </div> 
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Eligibility :</span>
                                            <span class="full-detail">{{ modalData.eligibility}}</span>
                                        </div> 
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">From :</span>
                                            <span class="full-detail">{{ modalData.from_date  | moment("DD-MM-YYYY") }}</span>
                                        </div> 
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">To :</span>
                                            <span class="full-detail">{{ modalData.to_date | moment("DD-MM-YYYY")}}</span>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-12 border border-left-0 border-right-0 border-bottom-0 light-border pt-3 callingView">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Description :</span>
                                            <span class="full-detail">{{ modalData.description}}</span>
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VuePagination from '../partials/PaginationComponent.vue';
    export default {
        name: "scheme_table",
        data() {
            return {
                pageurl: siteUrl,
                modalData: '',
                searchKey: '',
                schemeList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                offset: 4,
                loaded : false,
                showPopview : false

            };
        },
        props: [],
        components: {
            VuePagination,
        },
        methods: {
            showSchemeImage(list) {
                this.modalData = list;
                $("#productview").modal('show');

            },
            addClassTodiv() {


                $('.add-user-form').addClass('open-form');

            },

            getScheme(key = '') {
                this.loaded = false;
                var currentObj = this;
                axios.post(currentObj.pageurl + "get/schemes", {
                    key: key
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.schemeList = response.data.list;
//                                    $("#callagentadd>div.open-form").removeClass("open-form");
                            } else {
                                currentObj.schemeList.data = [];
                            }
                             currentObj.loaded = true;
                               $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },
            changeStatus(arg1, sid, $event) {
                var currentObj = this;
                let message = "Are you sure want to change scheme status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageurl + "change/scheme/status", {
                                status: arg1,
                                sid: sid,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getScheme();
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        }).catch(function () {
                    if (arg1 == 1) {
                        $event.target.checked = true;
                    }
                    if (arg1 == 0) {
                        $event.target.checked = false;
                    }
                });
            },
            deleteScheme(sid) {
                var currentObj = this;
                let message = "Are you sure want to delete scheme?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageurl + "delete/scheme", {
                                sid: sid,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getScheme();
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        }).catch(function () {
                    console.log('Clicked on cancel');
                });
            },
        },
        mounted() {
            var $this = this;
            EventBus.$on('schemeadded', function () {
                $this.getScheme();
            });
            
            $('#productview').on('shown.bs.modal', function (e) {
               
                $this.showPopview = true;
            });
            $('#productview').on('hidden.bs.modal', function (e) {
               
                $this.showPopview = false;
            });
            $this.getScheme();

        }
    };
</script>
