<template>
    <div id="callagentadd" class="row">
        <div class="col-md-12 pd-x-2 mt-2 add-user-form">
            <h6 class="mt-4 mb-3 font-weight-bold text-grey-dark">Add New Product Launch</h6>
            <form id="manage" class="bg-white rounded border light-border p-4 manage-user">
                <div class="row p-4">
                    <div class="col-md-4 mb-4">
                        <label for="name">Scheme Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="scheme_name" v-model="scheme_name" id="name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                        <div v-show="error.scheme_name" class="error-msg">
                            <i v-show="error.scheme_name" class="fa fa-warning"></i>
                            <span v-if="error.scheme_name" class="help is-danger">{{ error.scheme_name[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="from_date">From Date <sup class="text-danger font-weight-bold h6">*</sup></label>

                        <datepicker format="d MMMM yyyy" placeholder="From Date" :disabled-dates="disabledDates" v-model="froms"  class="datePicker1"   name="fromdate"></datepicker>
                        <div v-show="error.fromdate" class="error-msg">
                            <i v-show="error.fromdate" class="fa fa-warning"></i>
                            <span v-if="error.fromdate" class="help is-danger">{{ error.fromdate[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="to_date">To Date <sup class="text-danger font-weight-bold h6">*</sup></label>

                        <datepicker format="d MMMM yyyy" :disabled-dates="disabledDates" placeholder="To Date" v-model="tos"  class="datePicker1"   name="todate"></datepicker>
                        <div v-show="error.todate" class="error-msg">
                            <i v-show="error.todate" class="fa fa-warning"></i>
                            <span v-if="error.todate" class="help is-danger">{{ error.todate[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="promo">Promocode <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-model="promocode"  name="promocode" id="promo" placeholder="Value" class="w-100 px-3 input-shadow border light-border rounded" aria-required="true" aria-invalid="false">
                        <div v-show="error.promocode" class="error-msg">
                            <i v-show="error.promocode" class="fa fa-warning"></i>
                            <span v-if="error.promocode" class="help is-danger">{{ error.promocode[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="shop_type">Retailer Type 1<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <select name="shop_type"  v-model="shop_type" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false" multiple="">
                            <option value="">Retailer Type 1</option>
                            <option value="11">All</option>
                            <option value="1">General A</option>
                            <option value="2">General B</option>
                            <option value="3">General C</option>
                            <option value="4">Chemist A</option>
                            <option value="5">Chemist B</option>
                            <option value="6">Chemist C</option>
                            <option value="7">Cosmetic</option>
                            <option value="8">Paan A</option>
                            <option value="9">Paan B</option>
                            <option value="10">Paan C</option>
                        </select>
                        <div v-show="error.shop_type" class="error-msg">
                            <i v-show="error.shop_type" class="fa fa-warning"></i>
                            <span v-if="error.shop_type" class="help is-danger">{{ error.shop_type[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="retailer_type">Retailer Type 2<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <select name="retailer_type"  v-model="retailer_type" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Retailer Type 2</option>
                            <option value="11">All</option>
                            <option value="1">Prime</option>
                            <option value="2">Non Prime</option>
                            <option value="3">Regular</option> 
                        </select>
                        <div v-show="error.retailer_type" class="error-msg">
                            <i v-show="error.retailer_type" class="fa fa-warning"></i>
                            <span v-if="error.retailer_type" class="help is-danger">{{ error.retailer_type[0] }}</span>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4 mt-3">
                        <label for="primary_prod">Frequency<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <select name="frequency"   v-model="frequency" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Channel Type</option>
                            <option value="1">Weekly</option>
                            <option value="2">Monthly</option>
                            <option value="3">Yearly</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="channel_type">Channel Type<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <select name="channel_type"   v-model="channel_type" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Choose Frequency</option>
                            <option value="11">All</option>
                            <option value="1">Mobile App</option>
                            <option value="2">Call Center</option>

                        </select>
                        <div v-show="error.channel_type" class="error-msg">
                            <i v-show="error.channel_type" class="fa fa-warning"></i>
                            <span v-if="error.channel_type" class="help is-danger">{{ error.channel_type[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="primary_prod">Minimum Order Value<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type='number' v-model='minimum_order_value' class='w-100 input-shadow border light-border rounded px-3 show-data' name='minimum_order_value'>
                        <div v-show="error.minimum_order_value" class="error-msg">
                            <i v-show="error.minimum_order_value" class="fa fa-warning"></i>
                            <span v-if="error.minimum_order_value" class="help is-danger">{{ error.minimum_order_value[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="fixed_amount_percentage">Fixed Amount/Percentage<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type='number' v-model='fixed_amount_percentage' class='w-100 input-shadow border light-border rounded px-3 show-data' name='fixed_amount_percentage'>
                        <div v-show="error.fixed_amount_percentage" class="error-msg">
                            <i v-show="error.fixed_amount_percentage" class="fa fa-warning"></i>
                            <span v-if="error.fixed_amount_percentage" class="help is-danger">{{ error.fixed_amount_percentage[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="max_applicability">Max Time Applicability<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="number" v-model="max_applicability" name="max_applicability" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" aria-required="true" aria-invalid="false">
                        <div v-show="error.max_applicability" class="error-msg">
                            <i v-show="error.max_applicability" class="fa fa-warning"></i>
                            <span v-if="error.max_applicability" class="help is-danger">{{ error.max_applicability[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="location">Applied Location</label>
                        <select name="location" v-model="location"   class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false" multiple="">
                            <option value="">Choose Location</option>
                            <option value="All">All</option>
                            <option v-for="list in citylist" v-if="list.city != null && list.city != ''" v-bind:value="list.city">{{list.city}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button v-on:click="cancelUserForm" type="reset" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button v-if='editing' type="button" v-on:click='updateSchemeBuilding' class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                            <button v-else type="button" v-on:click='saveSchemeBuilding' class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import { store } from '../store.js';
    import moment from 'moment';
    import Datepicker from 'vuejs-datepicker';
    export default {
        name: "new_product_launch",
        data() {
            return {
                pageurl: siteUrl,
                scheme_name: "",
                from_date: "",
                to_date: "",
                promocode: "",
                minimum_order_value: "",
                shop_type: [],
                frequency: '',
                max_applicability: '',
                fixed_amount_percentage: "",
                location: [],
                citylist: [],
                editing: false,
                currentid: '',
                error: '',
                retailer_type: '',
                channel_type: '',
                tos: '',
                froms: '',
                reseting : false,
                disabledDates: {
                    to: new Date(Date.now() - 8640000)
                },

            };
        },
        props: [],
        watch: {
            tos: function () {
                if (!this.reseting) {
                    if (this.froms == '') {

                        this.$dialog.alert('Please Chosse From Date First').then(function (dialog) {

                        });
                    }
                    if (this.froms > this.tos) {

                        this.$dialog.alert('From date must less than to Todate ').then(function (dialog) {

                        });
                    }
                    this.to_date = moment(this.tos).format('YYYY-MM-DD');


                }

            },
            froms: function () {

                this.from_date = moment(this.froms).format('YYYY-MM-DD');

            },

        },
        computed: {
            loggedInUser() {
                return store.getters.getCurrentUser;
            },
            productList() {
                return store.getters.products;
            },
        },
        components: {
            Datepicker

        },
        methods: {
            cancelUserForm() {
                this.editing = false;
                this.error = '';

                $("#callagentadd>div.open-form").removeClass("open-form");
            },
            saveSchemeBuilding() {
                $(".pageloader").show();
                let currentObj = this;
                this.error = '';
                axios.post(currentObj.pageurl + "add/new/product", {
                    scheme_name: currentObj.scheme_name,
                    fromdate: currentObj.from_date,
                    todate: currentObj.to_date,
                    promocode: currentObj.promocode,
                    minimum_order_value: currentObj.minimum_order_value,
                    fixed_amount_percentage: currentObj.fixed_amount_percentage,
                    shop_type: currentObj.shop_type.join(),
                    max_applicability: currentObj.max_applicability,
                    frequency: currentObj.frequency,
                    retailer_type: currentObj.retailer_type,
                    location: currentObj.location.join(),
                    channel_type: currentObj.channel_type,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                EventBus.$emit("addnew");
                                EventBus.$emit("invokeSuccess", 'New Product Launched Successfuly');
                                $("#callagentadd>div.open-form").removeClass("open-form");
                                $(".pageloader").hide();
                            }
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                    
                        });

            },
            updateSchemeBuilding() {
                $(".pageloader").show();
                if (this.retailer_type == 0) {
                    this.retailer_type = '';
                }
                let currentObj = this;
                if(currentObj.tos != ''){
                    currentObj.to_date = moment(currentObj.tos).format('YYYY-MM-DD');
                }
                if(currentObj.froms != ''){
                    currentObj.from_date = moment(currentObj.froms).format('YYYY-MM-DD');
                }
                this.error = '';
                axios.post(currentObj.pageurl + "update/new/product", {
                    currentid: currentObj.currentid,
                    scheme_name: currentObj.scheme_name,
                    fromdate: currentObj.from_date,
                    todate: currentObj.to_date,
                    promocode: currentObj.promocode,
                    minimum_order_value: currentObj.minimum_order_value,
                    fixed_amount_percentage: currentObj.fixed_amount_percentage,
                    shop_type: currentObj.shop_type.join(),
                    max_applicability: currentObj.max_applicability,
                    frequency: currentObj.frequency,
                    retailer_type: currentObj.retailer_type,
                    location: currentObj.location.join(),
                    channel_type: currentObj.channel_type,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                EventBus.$emit("addnew");
                                EventBus.$emit("invokeSuccess", 'New Product Launched Updated Successfuly');
                                $("#callagentadd>div.open-form").removeClass("open-form");
                                currentObj.editing = false;
                                currentObj.reseting = false;
                                $(".pageloader").hide();
                            }
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });

            },
            getCity() {
                let currentObj = this;
                axios.get(currentObj.pageurl + "get/retailer/city")
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.citylist = response.data.list;
                            } else {
                                console.log("No city available");
                            }
                        })
                        .catch(function (error) {

                        });
            },
            resetForm() {
                var currentObj = this;
                currentObj.reseting = true;
                currentObj.error = '';
                currentObj.to_date = '';
                currentObj.from_date = '';
                currentObj.scheme_name = '';
                currentObj.promocode = '';
                currentObj.location = [];
                currentObj.minimum_order_value = '';
                currentObj.fixed_amount_percentage = '';
                currentObj.frequency = '';
                currentObj.max_applicability = '';
                currentObj.shop_type = [];
                currentObj.currentid = '',
                        currentObj.retailer_type = '';
                currentObj.channel_type = '';
            },

        },
        mounted() {

            this.getCity();
            var currentObj = this;
            EventBus.$on('schemeeditordervolume', function (list) {
                currentObj.resetForm();
                setTimeout(function () {
                    currentObj.editing = true;
                    currentObj.error = '';
                    currentObj.froms = moment(list.from_date).format('YYYY-MM-DD');
                    currentObj.tos = moment(list.to_date).format('YYYY-MM-DD');
                    currentObj.scheme_name = list.scheme_name;
                    currentObj.promocode = list.promocode;
                    if (list.applied_location != null) {
                        currentObj.location = list.applied_location.split(',');
                    }
                    currentObj.minimum_order_value = list.minimum_order_value;
                    currentObj.fixed_amount_percentage = list.fixed_amount_percentage
                    if (list.frequency != null) {
                        currentObj.frequency = list.frequency;
                    }
                    currentObj.max_applicability = list.max_time_applicability;
                    if (list.retailer_type == 0) {
                        this.retailer_type = '';
                    } else {
                        currentObj.retailer_type = list.retailer_type;
                    }

                    currentObj.shop_type = list.shop_type.split(',');
                    currentObj.currentid = list.id;
                    currentObj.channel_type = list.channel_type;
                }.bind(currentObj), 2000);
            });
            EventBus.$on('addscheme', function () {
                currentObj.editing = false;
                currentObj.error = '';
                currentObj.to_date = '';
                currentObj.from_date = '';
                currentObj.scheme_name = '';
                currentObj.promocode = '';
                currentObj.location = [];
                currentObj.minimum_order_value = '';
                currentObj.fixed_amount_percentage = '';
                currentObj.frequency = '';
                currentObj.max_applicability = '';
                currentObj.shop_type = [];
                currentObj.currentid = '',
                        currentObj.retailer_type = '';
                currentObj.channel_type = '';
            });
        }
    };
</script>
