<template>
    <div id="callagentadd" class="row">
        <div class="col-md-12 pd-x-2 mt-2 add-user-form">
            <h6 class="mt-4 mb-3 font-weight-bold text-grey-dark">Add Bundling Scheme</h6>
            <form id="manage" class="bg-white rounded border light-border p-4 manage-user">
                <div class="row p-4">
                    <div class="col-md-4 mb-4">
                        <label for="name">Scheme Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="scheme_name"  v-validate="'required'"  v-model="scheme_name" id="name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                        <i v-show="errors.has('scheme_name')" class="fa fa-warning"></i>
                        <span v-show="errors.has('scheme_name')" class="help is-danger">Scheme Name is required</span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="from_date">From Date <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="date" name="from_date"  v-validate="'required'" id="from_date" v-model="from_date" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                        <i v-show="errors.has('from_date')" class="fa fa-warning"></i>
                        <span v-show="errors.has('from_date')" class="help is-danger">From Date is required</span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="to_date">To Date <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="date" name="to_date" v-validate="'required'" v-model="to_date" id="to_date" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                        <i v-show="errors.has('to_date')" class="fa fa-warning"></i>
                        <span v-show="errors.has('to_date')" class="help is-danger">To Date is required</span>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="primary_prod">Primary Product -1</label>
                        <select name="primary_prod_one" v-validate="'required'" v-model="primary_prod_one" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Primary Product -1</option>
                            <option v-for="list in productList" v-bind:value="list.id">{{ list.name }}</option>
                        </select>
                        <i v-show="errors.has('primary_prod_one')" class="fa fa-warning"></i>
                        <span v-show="errors.has('primary_prod_one')" class="help is-danger">Primary Product -1 is required</span>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="primary_prod">Primary Product -2</label>
                        <select name="primary_prod_two" v-validate="'required'" v-model="primary_prod_two" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Primary Product -2 </option>
                            <option v-for="list in productList" v-bind:value="list.id">{{ list.name }}</option>
                        </select>
                        <i v-show="errors.has('primary_prod_two')" class="fa fa-warning"></i>
                        <span v-show="errors.has('primary_prod_two')" class="help is-danger">Primary Product -2 is required</span>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="secondary_prod">Secondary Product</label>
                        <select name="secondary_prod" v-validate="'required'"  v-model="secondary_prod" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Secondary Product -1</option>
                            <option v-for="list in productList" v-bind:value="list.id">{{ list.name }}</option>
                        </select>
                        <i v-show="errors.has('secondary_prod')" class="fa fa-warning"></i>
                        <span v-show="errors.has('secondary_prod')" class="help is-danger">Secondary Product is required</span>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="discount">Apply Discount</label>
                        <select name="discount" v-validate="'required'"  v-model="discount" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Apply Discount</option>
                            <option value="1">Apply as percentage on secondary product price</option>
                            <option value="2">Apply as fixed amount on secondary product price</option>
                            <option value="3">Apply as percentage on total cart value</option>
                            <option value="4">Apply as fixed amount on total cart value</option>
                        </select>
                        <i v-show="errors.has('discount')" class="fa fa-warning"></i>
                        <span v-show="errors.has('discount')" class="help is-danger">Apply Discount is required</span>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="amount_percentage">Fixed Amount/Percentage <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-validate="'required'"  v-model="amount_percentage" name="amount_percentage" id="amount_percentage" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" aria-required="true" aria-invalid="false">

                        <i v-show="errors.has('amount_percentage')" class="fa fa-warning"></i>
                        <span v-show="errors.has('amount_percentage')" class="help is-danger">Fixed Amount/Percentage is required</span>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="promo">Promocode <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-validate="'required'"  v-model="promocode" name="promocode" id="promo" placeholder="Value" class="w-100 px-3 input-shadow border light-border rounded" aria-required="true" aria-invalid="false">
                        <i v-show="errors.has('promocode')" class="fa fa-warning"></i>
                        <span v-show="errors.has('promocode')" class="help is-danger">Promocode is required</span>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label for="location">Applied Location</label>
                        <select name="location" v-model="location"  v-validate="'required'" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data" aria-required="true" aria-invalid="false">
                            <option value="">Choose Location</option>
                            <option v-for="list in citylist" v-if="list.city != null" v-bind:value="list.city">{{list.city}}</option>

                        </select>
                        <i v-show="errors.has('location')" class="fa fa-warning"></i>
                        <span v-show="errors.has('location')" class="help is-danger">Applied Location is required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button v-on:click="cancelUserForm" type="reset" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button type="button" v-on:click='saveSchemeBuilding' class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import { store } from '../store.js';
    export default {
        name: "scheme_building_form",
        data() {
            return {
                pageurl: siteUrl,
                scheme_name: '',
                location: '',
                promocode: '',
                amount_percentage: '',
                discount: '',
                secondary_prod: '',
                primary_prod_two: '',
                primary_prod_one: '',
                to_date: '',
                from_date: '',
                citylist: []
            };
        },
        props: [],
        computed: {
            loggedInUser() {
                return store.getters.getCurrentUser;
            },
            productList() {
                return store.getters.products;
            },
        },

        methods: {

            cancelUserForm() {
                $("#callagentadd>div.open-form").removeClass("open-form");
            },
            saveSchemeBuilding() {
                let currentObj = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post(currentObj.pageurl + "add/scheme/building", {
                            todate: currentObj.to_date,
                            fromdate: currentObj.from_date,
                            scheme_name: currentObj.scheme_name,
                            primary_prod_one: currentObj.primary_prod_one,
                            primary_prod_two: currentObj.primary_prod_two,
                            secondary_prod: currentObj.secondary_prod,
                            discount: currentObj.discount,
                            amount_percentage: currentObj.amount_percentage,
                            promocode: currentObj.promocode,
                            location: currentObj.location,
                            scheme_name: currentObj.scheme_name,

                        })
                                .then(function (response) {
                                    if (response.data.code == 200) {
                                        EventBus.$emit("schemeBuildadded");
                                        EventBus.$emit("invokeSuccess", 'Scheme Build Added Successfuly');
                                        $("#callagentadd>div.open-form").removeClass("open-form");
                                    }
                                })
                                .catch(function (error) {

                                });
                    }
                });
            },
            getCity() {
                let currentObj = this;
                axios.get(currentObj.pageurl + "get/retailer/city")
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.citylist = response.data.list;
                            } else {
                                console.log("No city available");
                            }
                        })
                        .catch(function (error) {

                        });
            }

        },
        mounted() {
            this.getCity();
        }
    };
</script>
