<template>
    <div class="usertablewrap">
        <div class="row align-items-center">
            <div class="col-md-12 mt-3 mb-5 pd-x-2">
                <div class="row ustify-content-between align-items-center">
                    <div class="col-md-4 position-relative search-div">
                        <input type="text" name="search" v-on:keyup='getSchemeBuild' v-model='searchKey' id="search" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <i class="position-absolute la la-search"></i>
                    </div>
                    <div class="col-md-8 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                        <div v-if='checkedList.length == 0 && checkedEnableList.length == 0' class="d-flex flex-wrap align-items-center checkbox-switch"><label class="m-0">
                                <input type="checkbox" checked="checked" disabled="disabled" class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label> <span class="ml-2 mt-1 theme-text">Inactive</span>
                        </div>
                        <div v-if='checkedList.length > 0' class="d-flex flex-wrap align-items-center checkbox-switch"><label class="m-0">
                                <input type="checkbox" v-on:change='changeStatus(1,checkedList)' checked="checked"  class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label> <span class="ml-2 mt-1 theme-text">Inactive</span>
                        </div>
                        <div v-if='checkedEnableList.length > 0' class="d-flex flex-wrap align-items-center checkbox-switch"><label class="m-0">
                                <input type="checkbox" v-on:change='changeStatus(0,checkedEnableList)'   class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label> <span class="ml-2 mt-1 theme-text">Active</span>
                        </div>


                        <div class="ml-4">
                            <h6 class="m-0"><a href="#" title="" class="d-inline-block w-100 py-2 px-5 rounded text-white theme-bg border-btn addresource">ADD</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model='allcheck'  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>SNo.</th>
                                <th>Scheme Name</th>
                                <th>Promocode</th>
                                <th>Scheme Duration</th>
                                <th>Status</th>
                                <th class="pr-3">Action</th>
                            </tr>
                        </thead>
                        <tbody v-for='(list,index) in schemeList.data'>
                            <tr style="cursor: pointer;">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                    <label class="checklabel" v-if="list.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck"  class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(list.id,$event)"  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-if="list.status == 1">
                                        <input v-on:click="enableuser(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                    <span class="data">{{ schemeList.from + index }}</span>
                                </td>
                                <td  class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.scheme_name }}</span>
                                </td>
                                <td  class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.promo_code }}</span>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                    <span class="data">
                                        {{ list.from_date }} <font class=""> &nbsp;-&nbsp; </font> {{ list.to_date }}
                                    </span>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                    <span v-if='list.status == 0' class="data">Active</span>
                                    <span v-else class="data">Inactive</span>
                                </td>

                                <td  class="bg-white py-4 pr-3 border border-left-0 light-border">
                                    <span class="actions">
                                        <a href="#" title="View" v-on:click.prevent='showScheme(list)' class="action-btn">
                                            <img v-bind:src=" pageurl + '/images/view-icon.png'" alt="view" class="action-icon">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>


                <div class="mb-3 pagination">
                    <vue-pagination   :pagination="schemeList"
                        @paginate="getSchemeBuild()"
                        :offset="4">
                    </vue-pagination>

                </div>

            </div>
        </div>
        <div id="productview" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="pt-4 px-3 modal-body calling-view">
                        <div class="col-12 pt-2">
                            <div class="row calling-agent-view">

                                <div class="row calling-agent-view">

                                    <div class="col-md-8 callingView">
                                        <ul class="list-group">
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Scheme Name</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.scheme_name }}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Promocode</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.promo_code }}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Scheme Duration</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.from_date }} : {{  modalData.to_date}}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Primary Product 1</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.from_date }} : {{  modalData.to_date}}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Primary Product 2</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.primary_product_1 }}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Secondary Product</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.secondary_product }}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Discount</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.apply_discount }}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Fixed Amount/Percentage</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.fixed_amount }}</span>
                                            </li>
                                            <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                                <span class="mr-3">Applied Location</span>
                                                <span class="text-body font-weight-light agenttext">{{ modalData.applied_location    }}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VuePagination from '../partials/PaginationComponent.vue';
    export default {
        name: "scheme_building_table",
        data() {
            return {
                pageurl: siteUrl,
                modalData: '',
                searchKey: '',
                schemeList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                allcheck: false,
                offset: 4,
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],

            };
        },
        props: [],
        watch: {
            checkedList: function (val) {
                if (this.schemeList.data.length != this.checkedList.length) {
                    this.allcheck = false;
                }
            },
        },
        components: {
            VuePagination,
        },
        methods: {
            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    for (var i = 0; i < this.schemeList.data.length; i++) {
                        if (this.schemeList.data[i].status == 0) {
                            this.checkedList.push(this.schemeList.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkAllList = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {
                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable scheme at a time');
                    }
                } else {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable scheme at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            showScheme(list) {

                this.modalData = list;
                $("#productview").modal('show');

            },
            addClassTodiv() {


                $('.add-user-form').addClass('open-form');

            },

            getSchemeBuild(key = '') {

                 var request = {
                    params: {
                        page: this.schemeList.current_page,
                        key: this.searchKey
                    }
                };
                var currentObj = this;
                axios.get(currentObj.pageurl + "get/schemes/building",request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.schemeList = response.data.list;
//                                    $("#callagentadd>div.open-form").removeClass("open-form");
                            } else {
                                currentObj.schemeList.data = [];
                            }
                        })
                        .catch(function (error) {

                        });
            },
            changeStatus(arg1, list) {
                var currentObj = this;
                axios.post(currentObj.pageurl + "change/scheme/building/status", {
                    status: arg1,
                    list: list,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.getSchemeBuild();
                                EventBus.$emit("invokeSuccess", 'Scheme Build Status updated Successfuly');
                                $('table tbody tr td input[type="checkbox"]').each(function () {
                                    $(this).prop('checked', false);
                                });
                                 currentObj.checkedList = [];
                                    currentObj.checkedEnableList = [];
                                    currentObj.checkAllList = false;
                            }
                        })
                        .catch(function (error) {

                        });
            },

        },
        mounted() {
            var $this = this;
            EventBus.$on('schemeBuildadded', function () {
                $this.getSchemeBuild();
            });

            $this.getSchemeBuild();

        }
    };
</script>
