<template>
    <div class="usertablewrap">
        <div class="row align-items-center">
            <div class="col-md-12 mt-3 mb-4 pd-x-2">
                <div class="row ustify-content-between align-items-center">
                    
                    <div class="col-md-2 position-relative type-div">
                        <select v-model="channel" v-on:change="getSchemeBuild" name="channel" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                             <option value="">Channel Type</option>
                            <option value="1">Mobile App</option>
                            <option value="2">Call Center</option>
                            <option value="11">All</option>
                        </select>
                    </div>
                    <div class="col-md-2 position-relative type-div">
                        <select v-model="is_active" v-on:change="getSchemeBuild" name="is_active" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>
                    <div class="col-md-2 position-relative search-div">
                        <input type="text" name="search" v-on:keyup='getSchemeBuild' v-model='searchKey' id="search" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <i class="position-absolute la la-search"></i>
                    </div>
                    <div class="col-md-6 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                        <div v-if='checkedList.length == 0 && checkedEnableList.length == 0' class="d-flex flex-wrap align-items-center checkbox-switch">
                            <span class="ml-2 mt-1 theme-text">Active</span>
                            <label class="m-0">
                                <input type="checkbox" checked="checked" disabled="disabled" class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label> <span class="ml-2 mt-1 theme-text">Inactive</span>
                        </div>
                        <div v-if='checkedList.length > 0' class="d-flex flex-wrap align-items-center checkbox-switch">
                            <span class="ml-2 mt-1 theme-text">Inactive</span>
                            <label class="m-0">
                                <input type="checkbox" v-on:change='changeStatus(1,checkedList)'   class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label> 
                        </div>
                        <div v-if='checkedEnableList.length > 0' class="d-flex flex-wrap align-items-center checkbox-switch">
                            <span class="ml-2 mt-1 theme-text">Active</span>
                            <label class="m-0">
                                <input type="checkbox" v-on:change='changeStatus(0,checkedEnableList)'   class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label> 
                        </div>
                        <div class="ml-4">
                            <h6 class="m-0"><a href="#" title="" class="d-inline-block w-100 py-2 px-5 rounded text-white theme-bg border-btn addresource">ADD</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-x-2 mt-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th width="60" class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model='allcheck'  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th width="60">SNo.</th>
                                <th>Scheme Name</th>
                                <th>Promocode</th>
                                <th>Scheme Duration</th>
                                <th>Channel Type</th>
                                <th>Status</th>
                                <th width="120" class="pr-3">Action</th>
                            </tr>
                        </thead>
                        <tbody v-for='(list,index) in schemeList.data'>
                            <tr style="cursor: pointer;">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                    <label class="checklabel" v-if="list.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck"  class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(list.id,$event)"  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-if="list.status == 1">
                                        <input v-on:click="enableuser(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                    <span class="data">{{ schemeList.from + index }}</span>
                                </td>
                                <td  class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.scheme_name }}</span>
                                </td>
                                <td  class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.promocode }}</span>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                    <span class="data">
                                        {{ list.from_date | moment("DD-MM-YYYY")}} <font class=""> &nbsp;-&nbsp; </font> {{ list.to_date  | moment("DD-MM-YYYY")}}
                                    </span>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                    <span v-if='list.status == 0' class="data">Active</span>
                                    <span v-else class="data">Inactive</span>
                                </td>
                                <td  class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                     <span v-if='list.channel_type == 1' class="data">Mobile App</span>
                                    <span v-if='list.channel_type == 2' class="data">Call Center</span>
                                    <span v-if='list.channel_type == 11' class="data">All</span>
                                </td>

                                <td  class="bg-white py-4 pr-3 border border-left-0 light-border">
                                    <span class="actions">
                                        <a href="#" title="View" v-on:click='showScheme(list)' class="action-btn">
                                            <img v-bind:src=" pageurl + '/images/view-icon.png'" alt="view" class="action-icon">
                                        </a>
                                        <a href="#" v-on:click="editscheme(list)" > <span class="ml-3 theme-text edit-ico">
                                                <i class="la la-pen"></i>
                                            </span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                        </tbody>
                        <tfoot v-if="schemeList.data.length == 0 && loaded">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="mb-3 pagination" v-if="schemeList.data.length > 0 && loaded">
                    <vue-pagination   :pagination="schemeList"
                        @paginate="getSchemeBuild()"
                        v-bind:checked="checked"
                        v-bind:chekall="checkAllList"
                        :offset="4">
                    </vue-pagination>
                </div>
            </div>
        </div>
        <div id="productview" class="modal fade" >
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="pt-4 px-3 modal-content">
                    <button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="col-md-12">
                        <h5 class="border border-top-0 border-left-0 border-right-0 pb-2">Details</h5>
                    </div>
                    <div class="modal-body sku-line-sold-view">
                        <div class="row details-view">
                            <div class="col-md-4 inner-items">
                                <label>Scheme Name</label>
                                <p>{{ modalData.scheme_name }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Promocode</label>
                                <p>{{ modalData.promocode }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Frequency</label>
                                <p>{{ getfrequency(modalData.frequency) }}</p>
                            </div>
                           <div class="col-md-4 inner-items">
                                <label>Retailer Type 1</label>
                                <p>{{ getRetailType(modalData.shop_type) }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Retailer Type 2</label>
                                <p>{{ getRetailType2(modalData.retailer_type) }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Minimum Order Value</label>
                                <p>{{ modalData.minimum_order_value }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Scheme Duration</label>
                                <p>{{ formatDate(modalData.from_date) }} : {{  formatDate(modalData.to_date)}}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Apply Discount</label>
                                <p>{{ discounttype(modalData.apply_discount) }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Fixed Amount/Percentage</label>
                                <p>{{ modalData.fixed_amount_percentage }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Max Time Applicability</label>
                                <p>{{ modalData.max_time_applicability }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Free Secondary Product</label>
                                <p>{{ getProductName(modalData.free_secondary_product) }}</p>
                            </div>
                            <div class="col-md-4 inner-items">
                                <label>Applied Location</label>
                                <p>{{ modalData.applied_location    }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import { store } from '../store.js';
    import VuePagination from '../partials/PaginationComponent.vue';
    export default {
        name: "sku_scheme_table",
        data() {
            return {
                pageurl: siteUrl,
                modalData: '',
                searchKey: '',
                schemeList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                allcheck: false,
                offset: 4,
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                shown: '',
                is_active: 0,
                checked: false,
                loaded: false,
                channel : ''

            };
        },
        props: [],
        watch: {
            checkedList: function (val) {
                if (this.schemeList.data.length != this.checkedList.length) {
                    this.allcheck = false;
                }
            },
        },
        computed: {

            productList() {
                return store.getters.products;
            },
        },
        components: {
            VuePagination,
        },
        methods: {
            formatDate(date) {
                var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;
                return [day, month, year].join('-');
            },
            getRetailType2(type){
              if(type == 1){
                  return 'Prime';
              }else if(type == 2){
                  return 'Non Prime';
              } else if(type == 3){
                  return 'Regular';
              }else{
                  return '';
              }
                
            },
            getfrequency(fr) {
                if (fr == 1) {
                    return "Weekly";
                }
                if (fr == 2) {
                    return "Monthly";
                }
                if (fr == 3) {
                    return "Yearly";
                }
            },
            discounttype(dis) {
                if (dis == 1) {
                    return "Apply as percentage on free seconday product value";
                }
                if (dis == 2) {
                    return "Apply as fixed amount on free seconday product value";
                }
            },
            getProductName(prod) {

                for (var i = 0; i < this.productList.length; i++) {
                    if (this.productList[i].id == prod) {
                        return this.productList[i].product_name.name;
                    }
                }
            },
            getRetailType(type) {

                if (this.shown) {

                    var result = [];
                    if (type.includes(',') != -1) {
                        var arr = type.split(',');
                        for (var i = 0; i < arr.length; i++) {

                            if (arr[i] == 1) {
                                result.push('General A');
                            } else if (arr[i] == 2) {
                                result.push('General B');
                            } else if (arr[i] == 3) {
                                result.push('General C');
                            } else if (arr[i] == 4) {
                                result.push('Chemist A');
                            } else if (arr[i] == 5) {
                                result.push('Chemist B');
                            } else if (arr[i] == 6) {
                                result.push('Chemist C');
                            } else if (arr[i] == 7) {
                                result.push('Cosmetic');
                            } else if (arr[i] == 8) {
                                result.push('Paan A');
                            } else if (arr[i] == 9) {
                                result.push('Paan B');
                            } else if (arr[i] == 10) {
                                result.push('Paan C');
                            } else if (arr[i] == 11) {
                                return 'All';
                            }

                        }
                        return result.join();

                    }

                }
            },
            editscheme(list) {

                EventBus.$emit('schemeeditskuscheme', list);

                $("#callagentadd>div").addClass("open-form");
            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.allcheck = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.schemeList.data.length; i++) {
                        if (this.schemeList.data[i].status == 0) {
                            this.checkedList.push(this.schemeList.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.schemeList.data.length; i++) {
                        if (this.schemeList.data[i].status == 1) {
                            this.checkedEnableList.push(this.schemeList.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {

                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {

                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {

                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {

                        this.checked = false;

                        $event.target.checked = false;
                        alert('You can select disable or enable scheme at a time');
                    }
                } else {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        this.checked = true;
                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable scheme at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },
            showScheme(list) {
                this.modalData = list;
                $("#productview").modal('show');

            },
            addScheme() {

                EventBus.$emit('addscheme');
            },
            addClassTodiv() {


                $('.add-user-form').addClass('open-form');

            },

            getSchemeBuild(key = '') {
                this.loaded = false;
                var request = {
                    params: {
                        page: this.schemeList.current_page,
                        key: this.searchKey,
                        status: this.is_active,
                        channel: this.channel,
                    }
                };
                var currentObj = this;
                axios.get(currentObj.pageurl + "get/sku/scheme", request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.schemeList = response.data.list;
//                                    $("#callagentadd>div.open-form").removeClass("open-form");
                            } else {
                                currentObj.schemeList.data = [];
                            }
                            currentObj.resetCheckbox();
                            currentObj.loaded = true;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },
            changeStatus(arg1, list) {
                var currentObj = this;
                let message = "Are you sure want to change scheme status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageurl + "change/sku/scheme/status", {
                                status: arg1,
                                list: list,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getSchemeBuild();
                                            EventBus.$emit("invokeSuccess", 'Scheme Status updated Successfuly');
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkedEnableList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checked = false;
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });
            },

        },
        mounted() {
            var $this = this;
            EventBus.$on('addsku', function () {
                $this.getSchemeBuild();
            });
            $('#productview').on('show.bs.modal', function (e) {

                $this.shown = true;

            });
            $('#productview').on('hidden.bs.modal', function (e) {

                $this.shown = false;
                $this.modalData = '';

            });
            $this.shown = false;
            $this.getSchemeBuild();

        }
    };
</script>
