<template>
    <div class="usertablewrap">
        <div class="row">
            <div class="col-md-12 pd-x-2 mt-3">
                <div class="col-md-12 px-3 py-3 mb-3 bg-white border rounded">
                    <div class="row hub-order-manage">
                        <div class="d-flex flex-wrap w-100 date-filter">
                            <div class="col-sm-2 px-1">
                                <span class="position-relative date-input">
                                    <datepicker  format="d MMMM yyyy" placeholder="From Date" class="datePicker1" :disabled-dates="disabledDates"  name="fromdate" v-model="searchFromDate"></datepicker>
                                </span>
                            </div>
                            <div class="col-sm-2 px-1">
                                <span class="position-relative date-input">
                                    <datepicker format="d MMMM yyyy" placeholder="To Date" class="datePicker1" :disabled-dates="disabledDates"  name="todate" v-model="searchToDate"></datepicker>
                                </span>
                            </div>
                            <div class="col-sm-2 px-1">
                                <select class="border rounded w-100" name="orderBy"  v-model="orderBy">
                                    <option value="">Order Source</option>
                                    <option value="">All</option>
                                    <option value="1">Mobile App</option>
                                    <option value="2">Call Centre</option>
                                    <option value="3">Admin</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-1">
                                <select class="border rounded w-100"  name="orderStatus" v-model="orderStatus">
                                    <option value="">Order Status</option>
                                    <option value="">All</option>
                                    <option value="1">Order Placed</option>
                                    <option value="2">Packed</option>
                                    <option value="3">Dispatched</option>
                                    <option value="4">Delivered</option>
                                    <option value="0">Cancelled</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-1">
                                <select name="hub_search"  v-model='hub_search' class="border rounded w-100">
                                    <option value="">Hub</option>
                                    <option v-for="dist in distributorList" v-bind:value="dist.id">{{ dist.distributor_name }}</option>   
                                </select>
                            </div>                            
                            <div class="col-md-2 px-1 position-relative search-div d-flex pl-0">
                                <select class="border rounded" v-on:change="getOrders" name="pagesize" v-model="pagesize">
                                    <option value="">Show</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>                            
                                <button class="border-0 rounded mx-1 theme-bg px-2 custom-btn ml-2" type="button" v-on:click="resetFilter">Clear</button>
                            </div>

                        </div>
                        <div class="d-flex flex-wrap w-100 select-filter mt-3">
                            <div class="col-md-2 px-1">
                        <input type="text" name="searchKey"  v-model="searchKey" id="search"  placeholder="Search Here" class="w-100 rounded-lg border search search-box">
                        <i class="position-absolute la la-search"></i>  
                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list ordered-list">
                        <thead>
                            <tr>
                                <th width="130" class="pl-4">Order Date</th>
                                <th class="pl-4">Delivery Date</th>
                                <th width="110">Order No</th>
                                <th>Order Source</th>
                                <th>Retailer</th>
                                <th>Hub</th>
                                <th width="110">Mobile No.</th>
                                <th>City</th>
                                <th>Amount</th>
                                <th>Ratings</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody v-if='orderList.data.length == 0 && orderLoad == true'>
                            <tr>
                                <td class="no-record" colspan="9">
                                    No Record Found !!!!
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-for='order in orderList.data' v-if='orderList.data.length > 0 && orderLoad == true'>
                            <tr>
                                <td class="bg-white py-4 pl-4 border border-right-0 border-right-0 light-border"><span class="data">{{ order.created_at | moment("DD-MM-YYYY") }}<small class="text-success font-weight-bold">{{ order.created_at | moment("HH:mm") }}</small></span></td>
                                <td class="bg-white py-4 pl-4 border border-right-0 border-right-0 light-border"><span class="data">{{ order.delivery_time.split(' ')[0] }} <small class="text-success font-weight-bold">{{ order.delivery_time.split(' ')[1] }}</small></span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ order.order_number | capitalize }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if="order.order_by == 1">Mobile App</span><span class="data" v-if="order.order_by == 2">Call Center</span><span class="data" v-if="order.order_by == 3">Admin</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="text-capitalize data" v-if='order.retailer != null'>{{ order.retailer.full_name }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="text-capitalize data">{{ order.mappedhub.distributor_name }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if='order.retailer != null'>{{ order.retailer.primary_mobile_number }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if='order.retailer != null'>{{ order.retailer.city }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ order.total_amount | currency }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border">  
                        <star-rating v-if="order.ratings != null" v-bind:page="orderList.current_page" v-bind:value="order.ratings.stars" :disabled="true" v-bind:orderid="order.id" v-bind:retailerid="order.user_id"></star-rating>
                        <star-rating v-else v-bind:value="0" :disabled="true" v-bind:orderid="order.id" v-bind:retailerid="order.user_id"></star-rating>
                        </td>
                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" >{{ findStatus(order.status) }}</span></td>
                        <td class="bg-white p-3 border border-left-0 rounded-right light-border">
                            <span class="actions">
                                <a v-bind:href="pageurl + 'order/view/' + order.id" title="View"  class="action-btn">
                                    <img v-bind:src="pageurl + 'images/view-icon.png'" alt="view" class="action-icon">
                                </a>
                            </span>

                        </td>
                        </tr>
                        <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                        </tbody>
                    </table>

                </div>
                <div class="mb-3 pagination" v-if='orderList.data.length > 0 && orderLoad == true'>
                    <vue-pagination   :pagination="orderList"
                        @paginate="getOrders()"
                        :offset="4">
                    </vue-pagination>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import Datepicker from 'vuejs-datepicker';
    import VuePagination from '../partials/PaginationComponent.vue';
    import rating from '../partials/ratingtable.vue';
    import moment from 'moment';
    export default {
        name: "order_table",
        data() {
            return {
                pageurl: siteUrl,
                modalData: '',
                searchDate: '',
                searchKey: '',
                orderList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                status: [
                    'Cancelled',
                    'Order Placed',
                    'Packed',
                    'Dispatched',
                    'Delivered',
                ],
                offset: 4,
                orderLoad: false,
                disabledDates: {
                    from: new Date(),
                },
                searchFromDate: '',
                searchToDate: '',
                orderBy: '',
                orderStatus: '',
                searchToDateMoment: '',
                disabledDates: {
                    from: new Date(),
                },
                reset: false,
                pagesize: 10,
                distributorList: '',
                hub_search: ''
            };
        },
        props: [],
        watch: {

            searchToDate: function () {
                if (!this.reset) {
                    if (this.searchToDate == '') {

                        this.$dialog.alert('lease Chosse From Date First!').then(function (dialog) {

                        });
                    }
                    if (this.searchFromDate > this.searchToDate) {
                        this.$dialog.alert('From date must less than to todate"!').then(function (dialog) {

                        });
                    }
                    this.orderList.current_page = 1;
                    this.searchToDateMoment = moment(this.searchToDate).format('YYYY-MM-DD');
                }

            },
            searchFromDate: function () {
                if (!this.reset) {
                    this.orderList.current_page = 1;
                    this.searchFromDate = moment(this.searchFromDate).format('YYYY-MM-DD');
                }
            },
            searchToDateMoment: function () {
                this.orderList.current_page = 1;
                this.getOrders();

            },
            searchKey: function () {

                this.orderList.current_page = 1;
                this.getOrders();
            },
            hub_search: function () {

                this.orderList.current_page = 1;
                this.getOrders();
            },
            orderStatus: function () {

                this.orderList.current_page = 1;
                this.getOrders();

            },
            orderBy: function () {

                this.orderList.current_page = 1;
                this.getOrders();

            },

        },
        filters: {
            capitalize: function (value) {
                if (!value)
                    return ''
                value = value.toString()
                return value.toUpperCase()
            },
            currency: function (value) {
                if (!value)
                    return ''
                let val = (value / 1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "")
            }
        },
        components: {
            Datepicker,
            VuePagination,
            'star-rating': rating
        },
        methods: {
            getDistributor() {
                let currentObj = this;
                axios.get(currentObj.pageurl + 'get/distributor/list')
                        .then(function (response) {
                            currentObj.distributorList = response.data.list;
                        })
                        .catch(function (error) {

                        });
            },
            resetFilter() {
                this.reset = true;
                this.searchKey = '';
                this.searchFromDate = '';
                this.searchToDate = '';
                this.orderBy = '';
                this.orderStatus = '';
                this.pagesize = 10;
                this.getOrders();

            },
            findStatus(status) {
                return this.status[status];
            },
            showBannerImage(list) {
                this.modalData = list;
                $("#productview").modal('show');
            },
            getOrders() {
                this.orderLoad = false;
                var currentObj = this;
                var request = {
                    params: {
                        page: currentObj.orderList.current_page,
                        key: currentObj.searchKey,
                        searchFromDate: currentObj.searchFromDate,
                        searchToDate: currentObj.searchToDate,
                        orderBy: currentObj.orderBy,
                        orderStatus: currentObj.orderStatus,
                        retailerId: currentObj.$attrs.retailerid,
                        pagesize: currentObj.pagesize,
                        hub : currentObj.hub_search
                    }
                };
                axios.get(currentObj.pageurl + "get/order/list", request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.orderList = response.data.list;

                            } else {
                                currentObj.orderList.data = [];
                            }
                            currentObj.orderLoad = true;
                            currentObj.reset = false;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },
            changeStatus(oid, status) {
                var currentObj = this;
                axios.post(currentObj.pageurl + "change/order/status", {
                    status: status,
                    oid: oid,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.getOrders();
                            }
                        })
                        .catch(function (error) {

                        });
            },
            deleteSlider(sid) {
                var currentObj = this;
                axios.post(currentObj.pageurl + "delete/home/slider", {

                    sid: sid,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.getOrders();
                            }
                        })
                        .catch(function (error) {

                        });
            },
        },
        mounted() {
            var $this = this;
             this.getDistributor();
            $this.getOrders();

        }
    };
</script>
