<template>
    <div>
        <div class="row">
            <div class="col-md-12 pd-x-2 mt-3">
                <div class="col-md-12 px-3 pb-3 mb-3 bg-white border rounded">
                    <div class="row hub-order-manage">
                        <div class="d-flex flex-wrap w-100 date-filter">
                            <div class="col-sm-2 px-2 mt-3">
                                <!--<span class="mr-1">Order Date</span>-->
                                <span class="position-relative date-input">
                                    <datepicker format="d MMMM yyyy" placeholder="From Date" class="datePicker1" :disabled-dates="disabledDates"  name="fromdate" v-model="searchFromDate"></datepicker>
                                </span>
                            </div>
                            <div class="col-sm-2 px-2 mt-3">
                                <span class="position-relative date-input">
                                    <datepicker format="d MMMM yyyy" placeholder="To Date" class="datePicker1" :disabled-dates="disabledDates"  name="todate" v-model="searchToDate"></datepicker>
                                </span>
                            </div>
                            <div class="col-sm-2 px-2 mt-3">
                                <!--<span class="mr-1">Order Date</span>-->
                                <span class="position-relative date-input">
                                    <datepicker format="d MMMM yyyy" placeholder="Delivery From Date" class="datePicker1" name="fromdate" v-model="deliverysearchFromDate"></datepicker>
                                </span>
                            </div>
                            <div class="col-sm-2 px-2 mt-3">
                                <span class="position-relative date-input">
                                    <datepicker format="d MMMM yyyy" placeholder="Delivery To Date" class="datePicker1"  name="todate" v-model="deliverysearchToDate"></datepicker>
                                </span>
                            </div>
                            <div class="col-sm-2 px-2 mt-3">
                                <select class="border rounded pl-3 w-100" name="orderBy" v-on:change="getOrders" v-model="orderBy">
                                    <option value="">Order Source</option>
                                    <option value="">All</option>
                                    <option value="1">Mobile App</option>
                                    <option value="2">Call Centre</option>
                                    <option value="3">Admin</option>
                                </select>
                            </div>
                            <div class="col-sm-2 px-2 mt-3">
                                <select class="border rounded pl-3 w-100" v-on:change="getOrders" name="orderStatus" v-model="orderStatus">
                                    <option value="">Order Status</option>
                                    <option value="">All</option>
                                    <option value="1">Order Placed</option>
                                    <option value="2">Packed</option>
                                    <option value="3">Dispatch</option>
                                    <option value="4">Delivered</option>
                                    <option value="0">Cancelled</option>
                                </select>
                            </div>
                            <div class="col-md-2 px-2 mt-3 position-relative search-div">
                                <input type="text" name="searchKey" v-on:keyup="getOrders" v-model="searchKey" id="search"  placeholder="Search Here" class="px-3 w-100 pr-4 rounded-lg border search"> <i class="position-absolute la la-search"></i>
                            </div>
                            <div class="col-md-2 px-2 mt-3 position-relative search-div d-flex">
                                <select class="border rounded pl-3 mx-1" v-on:change="getOrders" name="pagesize" v-model="pagesize">
                                    <option value="">Show</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                                <button class="border-0 rounded mx-1 theme-bg px-2 custom-btn" type="button" v-on:click="resetFilter">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless mt-3 table-list ordered-list">
                        <thead>
                            <tr>
                                <th class="pl-4">Order Date</th>
                                <th class="pl-4">Delivery Date</th>
                                <th>Order No</th>
                                <th>Retailer</th>
                                <th>Order Source</th>
                                <th>Mobile No.</th>
                                <th>City</th>
                                <th>Amount</th>
                                <!-- <th>Location</th> -->
                                <th>Ratings</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody v-for="list in orders.data">
                            <tr>
                                <td class="bg-white py-4 pl-4 border border-right-0 border-right-0 light-border"><span class="data">{{ list.created_at | moment("DD-MM-YYYY") }} <small class="text-success font-weight-bold">{{ list.created_at | moment("HH:mm") }}</small></span></td>
                                <td class="bg-white py-4 pl-4 border border-right-0 border-right-0 light-border"><span class="data">{{ list.delivery_time.split(' ')[0] }} <small class="text-success font-weight-bold">{{ list.delivery_time.split(' ')[1] }}</small></span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.order_number | capitalize }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if="list.retailer != null">{{ list.retailer.full_name }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if="list.order_by == 1">Mobile App</span><span class="data" v-if="list.order_by == 2">Call Center</span><span class="data" v-if="list.order_by == 3">Admin</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if="list.retailer != null">{{ list.retailer.primary_mobile_number }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data" v-if="list.retailer != null">{{ list.retailer.city }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.total_amount | currency }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border">
                        <star-rating v-if="list.ratings != null" v-bind:page="orders.current_page" v-bind:value="list.ratings.stars" :disabled="true" v-bind:orderid="list.id" v-bind:retailerid="list.user_id"></star-rating>
                        <star-rating v-else v-bind:value="0" :disabled="true" v-bind:orderid="list.id" v-bind:retailerid="list.user_id"></star-rating>
                        </td>
                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ status[list.status] }}</span></td>


                        <td class="bg-white p-3 border border-left-0 rounded-right light-border">
                            <span class="actions">
                                <a v-bind:href="pageUrl + 'hub/order/view/' + list.id " title="View" class="action-btn">
                                    <img v-bind:src="pageUrl + 'images/view-icon.png'" alt="view" class="action-icon">
                                </a>
                            </span>
                        </td>
                        </tr>
                        <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                        </tbody>
                        <tfoot v-if="orders.data.length == 0 && load">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div v-if="orders.current_page != 0 && orders.data.length > 0" class="pagination">
                    <vue-pagination :pagination="orders" @paginate="getOrders(1)" :offset="4"></vue-pagination>
                </div>
            </div>

        </div>
        <!-- end -->

        <!-- The Modal -->


    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import rating from '../partials/ratingtable.vue';

    export default {
        name: 'hub_order_list',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                modalData: '',
                searchKey: '',
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                subcategory_id: '',
                category_id: '',
                allcheck: false,
                orders: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                status: [
                    'Cancelled',
                    'Order Placed',
                    'Packed',
                    'Dispatched',
                    'Delivered',
                ],
                offset: 4,
                searching: false,
                searchFromDate: '',
                searchToDate: '',
                orderBy: '',
                orderStatus: '',
                searchToDateMoment: '',
                disabledDates: {
                    from: new Date(),
                },
                pagesize: 10,
                deliverysearchFromDate: '',
                deliverysearchToDate: '',
                deliverysearchToDateMoment: '',
                deliverysearchFromDate: '',
                resetFil: false,
                load: false,

            }
        },
        filters: {
            capitalize: function (value) {
                if (!value)
                    return ''
                value = value.toString()
                return value.toUpperCase()
            },
            currency: function (value) {
                if (!value)
                    return ''
                let val = (value / 1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "")
            },
            timeformat: function (value) {
                if (value) {
                    return moment(String(value)).format('hh:mm a')
                }
            }
        },
        computed: {

        },
        watch: {
            checkedList: function (val) {
                if (this.products.data.length != this.checkedList.length) {
                    this.allcheck = false;
                }
            },
            searchToDate: function () {
                if (!this.resetFil) {
                    if (this.searchToDate == '') {

                        this.$dialog.alert('lease Chosse From Date First!').then(function (dialog) {

                        });
                    }
                    if (this.searchFromDate > this.searchToDate) {
                        this.$dialog.alert('From date must less than to todate"!').then(function (dialog) {

                        });
                    }
                    this.searchToDateMoment = moment(this.searchToDate).format('YYYY-MM-DD');

                }
            },
            searchFromDate: function () {

                this.searchFromDate = moment(this.searchFromDate).format('YYYY-MM-DD');

            },
            deliverysearchToDate: function () {
                if (!this.resetFil) {
                    if (this.deliverysearchToDate == '') {
                        this.$dialog.alert('lease Chosse From Date First!').then(function (dialog) {
                        });
                    }
                    if (this.deliverysearchFromDate > this.deliverysearchToDate) {
                        this.$dialog.alert('From date must less than to todate"!').then(function (dialog) {
                        });
                    }
                    this.deliverysearchToDateMoment = moment(this.deliverysearchToDate).format('YYYY-MM-DD');
                }

            },
            deliverysearchFromDate: function () {

                this.deliverysearchFromDate = moment(this.deliverysearchFromDate).format('YYYY-MM-DD');

            },
            searchToDateMoment: function () {
                this.getOrders();
            },
            searchToDateMoment: function () {
                this.getOrders();
            },
            deliverysearchToDateMoment: function () {
                this.getOrders();
            },

        },

        methods: {
            resetFilter() {

                this.resetFil = true;
                this.reset = true;
                this.searchKey = '';
                this.searchFromDate = '';
                this.searchToDate = '';
                this.deliverysearchFromDate = '';
                this.deliverysearchToDateMoment = '';
                this.orderBy = '';
                this.orderStatus = '';
                this.deliverysearchToDate = '';
                this.pagesize = 10;
                this.getOrders();

            },

            showDeatil(data) {

                this.modalData = data;
                $("#orderDetailss").modal('show');
            },

            getOrders(arg = 0) {
                this.load = false;
                this.modalData = '';
                let currentObj = this;
                if (arg != 1) {
                    if (this.searchKey != '' || this.searchFromDate != '' || this.searchToDate != '' || this.orderBy != '' || this.orderStatus != '' || this.deliverysearchFromDate != '' || this.deliverysearchToDateMoment != '') {
                        currentObj.orders.current_page = 1;
                    }
                }

                var request = {
                    params: {
                        page: currentObj.orders.current_page,
                        key: currentObj.searchKey,
                        searchFromDate: currentObj.searchFromDate,
                        searchToDate: currentObj.searchToDate,
                        orderBy: currentObj.orderBy,
                        orderStatus: currentObj.orderStatus,
                        pagesize: currentObj.pagesize,
                        deliveryFromTime: currentObj.deliverysearchFromDate,
                        deliveryToTime: currentObj.deliverysearchToDateMoment,
                    }
                };
                axios.get(currentObj.pageUrl + "hub/get/orders", request)
                        .then(function (response) {
                            if (response.data.code == 200) {

                                currentObj.orders = response.data.list;
                            } else {
                                currentObj.orders.data = [];
                                currentObj.orders.total = 0;
                                currentObj.orders.current_page = 0;
                                currentObj.orders.to = 0;
                                currentObj.orders.from = 0;


                            }
                            currentObj.load = true;
                            $(".pageloader").hide();
                            currentObj.resetFil = false;
                        })
                        .catch(function (error) {});
            },
            
            checkAll($event) {

                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    for (var i = 0; i < this.products.data.length; i++) {
                        if (this.products.data[i].status == 0) {
                            this.checkedList.push(this.products.data[i].id);
                        }
                    }

                } else {

                    this.checkedList = [];
                    this.checkAllList = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {
                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable Category at a time');
                    }
                } else {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable Category at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            changeStatus(arg, $event) {
                let currentObj = this;

                var r = confirm('Are you sure want change product status!!');
                if (r) {
                    axios.post(currentObj.pageUrl + 'hub/change/staus/stock', {
                        list: currentObj.checkedList,
                        arg: arg,
                    })
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.getOrders();
                                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                        $(this).prop('checked', false);
                                    });
                                    currentObj.checkedList = [];
                                    currentObj.checkAllList = false;
                                    currentObj.checkedEnableList = [];

                                } else {
                                    console.log(response.data.msg);
                                }
                            })
                            .catch(function (error) {

                            });
                } else {
                    $event.target.checked = true;
                }
            },
            changeStatus1(arg, $event) {
                let currentObj = this;

                var r = confirm('Are you sure want change product status!!');
                if (r) {
                    axios.post(currentObj.pageUrl + 'hub/change/staus/stock', {
                        list: currentObj.checkedEnableList,
                        arg: arg,
                    })
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.getOrders();
                                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                        $(this).prop('checked', false);
                                    });
                                    currentObj.checkedList = [];
                                    currentObj.checkAllList = false;
                                    currentObj.checkedEnableList = [];
                                    EventBus.$emit("invokeSuccess", 'Product Category Inactivated Successfully');
                                } else {
                                    console.log(response.data.msg);
                                }
                            })
                            .catch(function (error) {

                            });
                } else {
                    $event.target.checked = true;
                }
            },

        },
        components: {
            VuePagination,
            Datepicker,
            'star-rating': rating
        },
        created() {

//            this.getOrders();


        },
        mounted() {

            this.getOrders();

        }



    }
</script>
