<template>
    <div>
        <div class="row">
            <div class="col-md-12 pd-x-2 mt-3">
                <div class="col-md-12 mb-3 pb-3 bg-white border rounded">
                    <div class="row">
                        <div class="col-md-3 px-2 mt-3">
                            <select name="category_id" v-on:change="getProducts" v-model='category_id' class="w-100 select-shadow border light-border rounded pl-3">
                                <option value="">Category</option>
                                <option v-for='cat in categorylist' v-if='cat.status == 0' v-bind:value="cat.id">{{ cat.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-3 px-2 mt-3">
                            <select name="subcategory_id" v-on:change="getProducts" v-model='subcategory_id' class="w-100 select-shadow border light-border rounded pl-3">
                                <option value="">Sub Category</option>
                                <option v-for='cat in subcategorylist' v-bind:value="cat.id" v-if='cat.category.id == category_id'>{{ cat.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-3 px-2 mt-3" v-if="hub_status != 2">
                            <select name="hub_status" v-on:change="getProducts" v-model='thresh' class="w-100 select-shadow border light-border rounded pl-3">
                                <option value="">Threshold Quantity</option>
                                <option value='1'>Threshold Quantity 1</option>
                                <option value='2'>Threshold Quantity 2</option>
                            </select>
                        </div>
                        <div class="col-md-3 px-2 mt-3" >
                            <select name="hub_status" v-on:change="getProducts" v-model='hub_status' class="w-100 select-shadow border light-border rounded pl-3">
                                <option value="">Product Mapped /Unmapped</option>
                                <option value="1">Mapped</option>
                                <option value="2">Unmapped</option>
                            </select>
                        </div>

                        <div class="col-md-3 px-2 mt-3" v-if="hub_status != 2">
                            <select name="subcategory_id" v-on:change="getProducts" v-model='stock_status' class="w-100 select-shadow border light-border rounded">
                                <option value="0">Active</option>
                                <option value="1">Inactive</option>
                            </select>
                        </div>

                        <div class="col-sm-3 px-2 mt-3 position-relative search-div">
                            <input type="text" name="search" v-on:keyup="getProducts" v-model='searchKey' id="search" placeholder="Search Here" class="w-100 rounded-lg border search search-box"> <i class="position-absolute la la-search"></i>
                        </div>

                        <div class="col-md-3 px-2 mt-3 d-flex flex-wrap align-items-center offset-sm-3">
                            <div v-if='checkedList.length == 0 && checkedEnableList.length == 0' class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                                <span class="mr-2 mt-1 text-secondary">Inactive</span>
                                <label class="m-0">
                                    <input type="checkbox" checked="checked"  class="ios-switch green bigswitch" disabled>
                                    <div>
                                        <div></div>
                                    </div>
                                </label>
                                <span class="ml-2 mt-1 theme-text">Active</span>
                            </div>
                            <div v-if='checkedList.length > 0' class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                                <label class="m-0">
                                    <input type="checkbox" v-on:change="changeStatus(1,$event)"  class="ios-switch green bigswitch">
                                    <div>
                                        <div></div>
                                    </div>
                                </label>
                                <span class="mr-2 mt-1 text-secondary">Inactive</span>
                            </div>
                            <div v-if='checkedEnableList.length > 0' class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                                <span class="ml-2 mt-1 theme-text">Active</span>
                                <label class="m-0">
                                    <input type="checkbox" v-on:change="changeStatus1(0,$event)"  class="ios-switch green bigswitch">
                                    <div>
                                        <div></div>
                                    </div>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pd-x-2 mt-4">
                <div class="overflow-x mb-3">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list layout-fixed">
                        <thead>
                            <tr>
                                <th width="50" class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model='allcheck'  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th width="40">SNo.</th>
                                <th width="70">Avtar</th>
                                <th width="120">Product Name</th>
                                <th width="100">SKU Code</th>
                                <th width="60">DLP(Rs)</th>
                                <th width="60">RLP(Rs)</th>
                                <th width="150">Opening Inventory</th>
                                <th width="150">Current Inventory</th>
                                <th width="60">In</th>
                                <th width="60">Out</th>
                                <th width="100">Unit Type</th>
                                <th width="100">Packing Type</th>
                                <th width="80">Weight</th>
                                <th width="80">Status</th>
                                <th width="80">Action</th>
                            </tr>
                        </thead>

                        <tbody v-for='(prods,index) in products.data' v-if="products.data.length > 0 && load">
                            <tr v-if="prods.stock != null" v-bind:class="{'threshold-two': calculateCurrentQuantityThreshosld(prods.stock.product_quantity,prods.stock.in_stock,prods.stock.out_stock,prods,1) && calculateCurrentQuantityThreshosld(prods.stock.product_quantity,prods.stock.in_stock,prods.stock.out_stock,prods,2),'threshold-one': calculateCurrentQuantityThreshosld(prods.stock.product_quantity,prods.stock.in_stock,prods.stock.out_stock,prods,2) && !calculateCurrentQuantityThreshosld(prods.stock.product_quantity,prods.stock.in_stock,prods.stock.out_stock,prods,1)}">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border" v-if="prods.stock == null">
                                    <label class="checklabel">
                                        <input type="checkbox" name="selectcheck"  class="checkbox-select" disabled>

                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border" v-else>
                                    <label class="checklabel" v-if="prods.stock != null && prods.stock.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(prods.id,$event)"  type="checkbox" name="selectcheck"  class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(prods.id,$event)"  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-else-if="prods.stock != null && prods.stock.status == 1">
                                        <input v-on:click="enableuser(prods.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-else>
                                        <input v-on:click="enableuser(prods.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-3 border border-left-0 border-right-0 light-border"><span class="data">{{ products.from + index  }}</span></td>
                                <td v-on:click="showPop(prods)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <img v-if="prods.avtar != ''" v-bind:src="pageUrl + 'images/product/'+ prods.avtar" alt="list-image" class="mr-2 img-ico" />
                                    <img v-if="prods.avtar == ''" v-bind:src="pageUrl + 'images/no-profile.png'" alt="list-image" class="mr-2 img-ico" />
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.product_name.name }}</span></td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.sku_number }}</span></td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.dlp }}</span></td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.rlp }}</span></td>


                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.stock != null && prods.stock.product_quantity != 0 " class="data">{{ prods.stock.product_quantity }}</span>
                                    <span v-else-if="prods.stock != null && prods.stock.product_quantity == 0 " class="data">000</span>
                                    <span v-else class="data">000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">

                                    <span  class="data" v-if="prods.stock != null">{{calculateCurrentQuantity(prods.stock.product_quantity,prods.stock.in_stock,prods.stock.out_stock)}}</span>
                                    <span  class="data" v-else>000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.stock != null && prods.stock.in_stock != 0 " class="data">{{ prods.stock.in_stock }}</span>
                                    <span v-else-if="prods.stock != null && prods.stock.in_stock == 0 " class="data">000</span>
                                    <span v-else class="data">000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">

                                    <span v-if="prods.stock != null && prods.stock.out_stock != 0 " class="data">{{ prods.stock.out_stock }}</span>
                                    <span v-else-if="prods.stock != null && prods.stock.out_stock == 0 " class="data">000</span>
                                    <span v-else class="data">000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.unit_type != null && prods.package_unit != 1 " class="data">{{ prods.unit_type.name }}</span>
                                    <span v-else class="data"></span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.packing_type != null " class="data">{{ prods.packing_type.name }}</span>
                                    <span v-else class="data"></span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.weight_type != null " class="data">{{ prods.weight_type.name }}</span>
                                    <span v-else class="data"></span>
                                </td>

                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.stock != null && runningQty != 0 && prods.stock.status == 0 " class="data">Mapped/Active/In Stock</span>
                                    <span v-if="prods.stock != null && runningQty == 0 && prods.stock.status == 0 " class="data">Mapped/Active/Out Of Stock</span>
                                    <span v-if="prods.stock != null && runningQty == 0 && prods.stock.status == 1 " class="data">Mapped/Inactive/Out Of Stock</span>
                                    <span v-if="prods.stock != null && runningQty != 0 && prods.stock.status == 1 " class="data">Mapped/Inactive/In Stock</span>
                                    <span v-if="prods.stock == null" class="data">Unmapped/Inactive/Out Of Stock</span>
                                </td>


                                <td class="bg-white p-3 pr-4 border border-left-0 rounded-right light-border">
                                    <span class="actions">
                                        <a v-bind:href="pageUrl + 'hub/product/view/' + prods.id" title="View"  class="action-btn">
                                            <img v-bind:src=" pageUrl + 'images/view-icon.png'" alt="view" class="action-icon">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr  v-if="prods.stock == null">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border" v-if="prods.stock == null">
                                    <label class="checklabel">
                                        <input type="checkbox" name="selectcheck"  class="checkbox-select" disabled>

                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border" v-else>
                                    <label class="checklabel" v-if="prods.stock != null && prods.stock.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(prods.id,$event)"  type="checkbox" name="selectcheck"  class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(prods.id,$event)"  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-else-if="prods.stock != null && prods.stock.status == 1">
                                        <input v-on:click="enableuser(prods.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-else>
                                        <input v-on:click="enableuser(prods.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-3 border border-left-0 border-right-0 light-border"><span class="data">{{ products.from + index  }}</span></td>
                                <td v-on:click="showPop(prods)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <img v-if="prods.avtar != ''" v-bind:src="pageUrl + 'images/product/'+ prods.avtar" alt="list-image" class="mr-2 img-ico" />
                                    <img v-if="prods.avtar == ''" v-bind:src="pageUrl + 'images/no-profile.png'" alt="list-image" class="mr-2 img-ico" />
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.product_name.name }}</span></td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.sku_number }}</span></td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.dlp }}</span></td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border"><span class="data">{{ prods.rlp }}</span></td>


                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.stock != null && prods.stock.product_quantity != 0 " class="data">{{ prods.stock.product_quantity }}</span>
                                    <span v-else-if="prods.stock != null && prods.stock.product_quantity == 0 " class="data">000</span>
                                    <span v-else class="data">000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">

                                    <span  class="data" v-if="prods.stock != null">{{calculateCurrentQuantity(prods.stock.product_quantity,prods.stock.in_stock,prods.stock.out_stock)}}</span>
                                    <span  class="data" v-else>000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.stock != null && prods.stock.in_stock != 0 " class="data">{{ prods.stock.in_stock }}</span>
                                    <span v-else-if="prods.stock != null && prods.stock.in_stock == 0 " class="data">000</span>
                                    <span v-else class="data">000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">

                                    <span v-if="prods.stock != null && prods.stock.out_stock != 0 " class="data">{{ prods.stock.out_stock }}</span>
                                    <span v-else-if="prods.stock != null && prods.stock.out_stock == 0 " class="data">000</span>
                                    <span v-else class="data">000</span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.unit_type != null && prods.package_unit != 1 " class="data">{{ prods.unit_type.name }}</span>
                                    <span v-else class="data"></span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.packing_type != null " class="data">{{ prods.packing_type.name }}</span>
                                    <span v-else class="data"></span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.weight_type != null " class="data">{{ prods.weight_type.name }}</span>
                                    <span v-else class="data"></span>
                                </td>
                                <td class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                    <span v-if="prods.stock != null && runningQty != 0 && prods.stock.status == 0 " class="data">Mapped/Active/In Stock</span>
                                    <span v-if="prods.stock != null && runningQty == 0 && prods.stock.status == 0 " class="data">Mapped/Active/Out Of Stock</span>
                                    <span v-if="prods.stock != null && runningQty == 0 && prods.stock.status == 1 " class="data">Mapped/Inactive/Out Of Stock</span>
                                    <span v-if="prods.stock != null && runningQty != 0 && prods.stock.status == 1 " class="data">Mapped/Inactive/In Stock</span>
                                    <span v-if="prods.stock == null" class="data">Unmapped/Inactive/Out Of Stock</span>

                                </td>
                                <td class="bg-white p-3 pr-4 border border-left-0 rounded-right light-border">
                                    <span class="actions">
                                        <a v-bind:href="pageUrl + 'hub/product/view/' + prods.id" title="View"  class="action-btn">
                                            <img v-bind:src=" pageUrl + 'images/view-icon.png'" alt="view" class="action-icon">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                        </tbody>
                        <tfoot v-if="products.data.length == 0 && load">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-12 pd-x-2">
                <div v-if="products.data.length > 0 && load" class="pagination">
                    <vue-pagination :pagination="products" v-bind:checked="checked" v-bind:chekall="checkAllList" @paginate="getProducts()" :offset="4"></vue-pagination>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
        name: 'stock_list',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                searchKey: '',
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                subcategory_id: '',
                category_id: '',
                allcheck: false,
                products: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                offset: 4,
                searching: false,
                load: false,
                stock_status: 0,
                checked: false,
                loaded: false,
                hub_status: 1,
                runningQty: 0,
                disableActive: false,
                threshold: '',
                thresh: '',

                threshold2: '',
                threshold1: ''

            }
        },
        computed: {
            categorylist() {
                return store.getters.productCategoryList;
            },
            subcategorylist() {
                return store.getters.productSubCategoryList;
            }
        },
        watch: {
            checkedList: function (val) {
                if (this.products.data.length != this.checkedList.length) {
                    this.allcheck = false;
                }
            },
            hub_status: function (val) {
                if (this.hub_status == 2) {
                    this.disableActive = true;
                } else {
                    this.disableActive = false;
                }

            },
        },
        methods: {
            calculateCurrentQuantity(ava, inq, outq) {
                let Inquantity = 0;
                let opening = 0;
                let out = 0;
                if (ava != null && ava != '') {
                    opening = ava;
                }
                if (inq != null && inq != '') {
                    Inquantity = inq;
                }
                if (outq != null && outq != '') {
                    out = outq;
                }

                this.runningQty = (parseInt(opening) + parseInt(Inquantity)) - parseInt(out);

                return (parseInt(opening) + parseInt(Inquantity)) - parseInt(out);
            },
            calculateCurrentQuantityThreshosld(ava, inq, outq, prods, type) {
                if (prods.stock != null) {
                    var prodId = prods.id;
                    let Inquantity = 0;
                    let opening = 0;
                    let out = 0;
                    let thresh1 = 0;
                    let thresh2 = 0;
                    if (ava != null && ava != '') {
                        opening = ava;
                    }
                    if (inq != null && inq != '') {
                        Inquantity = inq;
                    }
                    if (outq != null && outq != '') {
                        out = outq;
                    }
                    if (prods.stock.threshold_quantity_one != null && type == 1) {
                        thresh1 = prods.stock.threshold_quantity_one;
                    }
                    if (prods.stock.threshold_quantity_two != null && type == 2) {
                        thresh2 = prods.stock.threshold_quantity_two;
                    }
                     var threshType = type;
                    if (((parseInt(opening) + parseInt(Inquantity)) - parseInt(out) < parseInt(thresh1)) && type == 1) {
//                        if (prodId != prods.id) {
//                            this.sendNotificationToHub(prods, 1);
//                        }
                        return true;
                    }
                    if (((parseInt(opening) + parseInt(Inquantity)) - parseInt(out) < parseInt(thresh2)) && type == 2) {
//                        if (prodId != prods.id) {
//                            this.sendNotificationToHub(prods, 2);
//                        }
                        return true;
                    }

                    return false;
                }
                return false;
            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.allcheck = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            getProducts() {
                this.load = false;
                let currentObj = this;
                var request = {
                    params: {
                        page: this.products.current_page,
                        key: this.searchKey,
                        cat: this.category_id,
                        subcat: this.subcategory_id,
                        status: this.stock_status,
                        hub_status: this.hub_status,
                        thresh: this.thresh,

                    }
                };
                axios.get(currentObj.pageUrl + "hub/get/products", request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.products = response.data.list;

                            } else {
                                currentObj.products.data = [];
                                currentObj.products.total = 0;
                                currentObj.products.current_page = 0;
                                currentObj.products.to = 0;
                                currentObj.products.from = 0;
                            }

                            currentObj.load = true;
                            currentObj.checked = false;
                            currentObj.allcheck = false;
                            currentObj.checkAllList = false;
                            currentObj.disableActive = false;
                            currentObj.resetCheckbox();
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {


                        });
            },
            sendNotificationToHub(prods, type) {

                let currentObj = this;

                axios.post(currentObj.pageUrl + "hub/send/threshold/notification", {
                    prods: prods,
                    type: type
                })
                        .then(function (response) {

                        })
                        .catch(function (error) {


                        });
            },
            checkAll($event) {

                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    for (var i = 0; i < this.products.data.length; i++) {
                        if (this.products.data[i].stock != null && this.products.data[i].stock.status == 0) {
                            this.checkedList.push(this.products.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.products.data.length; i++) {
                        if (this.products.data[i].stock != null && this.products.data[i].stock.status == 1) {
                            this.checkedEnableList.push(this.products.data[i].id);
                        }

                    }
                    for (var i = 0; i < this.products.data.length; i++) {
                        if (this.products.data[i].stock == null) {
                            this.checkedEnableList.push(this.products.data[i].id);
                            this.checkedList.push(this.products.data[i].id);
                        }
                    }

                } else {

                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {
                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }

                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        this.$dialog.alert('You can select In Stock or Out of stock at a time!').then(function (dialog) {
                            console.log('Closed');
                        });
                    }
                } else {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        this.$dialog.alert('You can select In Stock or Out of stock at a time!').then(function (dialog) {
                            console.log('Closed');
                        });
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            changeStatus(arg, $event) {
                let message = "Are you sure?";
                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                let currentObj = this;
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {


                            axios.post(currentObj.pageUrl + 'hub/change/staus/stock', {
                                list: currentObj.checkedList,
                                arg: 1,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getProducts();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit("invokeSuccess", 'Product Category Inactivated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        })
                        .catch(function () {
                            $event.target.checked = false;
                        });
            },
            changeStatus1(arg, $event) {
                let message = "Are you sure?";
                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                let currentObj = this;
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {

                            axios.post(currentObj.pageUrl + 'hub/change/staus/stock', {
                                list: currentObj.checkedEnableList,
                                arg: 0,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getProducts();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit("invokeSuccess", 'Product Category Activated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        })
                        .catch(function () {
                            $event.target.checked = true;
                        });
            },
        },
        components: {
            VuePagination,
        },
        mounted() {
            this.getProducts();
        }





    }
</script>

<style>



    tr.threshold-one td {
        background: #ffc18f !important;
    }
    tr.threshold-two td {
        background: #ffc6c5 !important;
    }
</style>
