<template>
    <div class="col-md-9 toggle-switch bg-grey onboard-list">
        <header-page :loader="true" :pagetitle="'Product Master'"></header-page>
        <div class="row mt-4 mb-4">
            <div class="col-md-12 pd-x-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-wrap mb-3 justify-content-between align-items-center attention-tabs">
                            <ul role="tablist" class="nav nav-tabs custom-tabs attention-tabs">
                                <li class="nav-item">
                                    <a data-toggle="tab" href="#category" v-on:click.prevent='changeTab(1)' class="nav-link" v-bind:class="{active:tab== 1}">Category</a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" href="#sub-category" v-on:click.prevent='changeTab(2)' class="nav-link" v-bind:class="{active:tab== 2}">Sub Category</a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" href="#productlist" v-on:click.prevent='changeTab(3)' class="nav-link" v-bind:class="{active:tab== 3}">Product List</a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" href="#product" id="productdetail" v-on:click.prevent='changeTab(4)' class="nav-link" v-bind:class="{active:tab== 4}">Product Detail</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <product-category :tab="tab" v-if="tab == 1"></product-category>
                    <product-sub-category :tab="tab" v-if="tab == 2"></product-sub-category>
                    <product-list :tab="tab" v-if="tab == 3"></product-list>
                    <product :tab="tab" v-if="tab == 4"></product>
                </div>
            </div>
        </div>

    </div>
</template>


<script>


    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';

    export default {
        name: 'product-master',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                tab: 1,
            }
        },
        computed: {

        },
        components: {

        },
        methods: {
            changeTab(arg) {
                 $(".pageloader").show();
                this.tab = arg;
                EventBus.$emit('runInit');
            },
            getCategory(searchkey = '') {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'get/product/category', {
                    searchkey: searchkey
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                store.commit('productCategory', response.data.list);
                            } else {
                                store.commit('productCategory', []);
                                console.log(response.data.msg);
                            }
                        })
                        .catch(function (error) {

                        });
            },
            getSubCategory(cat = '', key = '') {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'get/product/subcategory', {
                    cat: cat,
                    key: key
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                store.commit('productSubCategory', response.data.list);
                            } else {
                                store.commit('productSubCategory', []);
                                console.log(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                        });
            },
            getProducts(cat = '', key = '') {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'get/product/list', {
                    cat: cat,
                    key: key
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                store.commit('productlist', response.data.list);
                            } else {
                                store.commit('productlist', []);
                                console.log(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                        });
            },
            getProductsNameList(cat = '', key = '') {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'get/product/name/list')
                        .then(function (response) {
                            if (response.data.code == 200) {
                                store.commit('productNamelist', response.data.list);
                            } else {
                                store.commit('productNamelist', []);
                                console.log(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                        });
            },

        },
        mounted() {
             
            
            this.getCategory();
            this.getSubCategory();
            this.getProducts();
            this.getProductsNameList();
            var $this = this;
            EventBus.$on('runInit', function () {

                $this.getCategory();
                $this.getSubCategory();
                $this.getProducts();
                $this.getProductsNameList();
            });
            EventBus.$on('searchcategory', function (searchKey) {
                $this.getCategory(searchKey);
            });


            EventBus.$on('searchSubCat', function (category, searchKey) {
                $this.getSubCategory(category, searchKey);
            });
            EventBus.$on('searchProducts', function (category, searchKey) {
                $this.getProducts(category, searchKey);
            });
            
            if(this.$attrs.messege){
                this.tab = 4;
                   $( "#productdetail" ).trigger( "click" );
                  EventBus.$emit("invokeSuccess", this.$attrs.messege);
              } 
             if(this.$attrs.bug){
                this.tab = 4;
                $("#errorpop").modal('show');
              } 
        }

    }
</script>
