<template>
    <div id="productlist" class="tab-pane" v-bind:class="{active:tab== 3}">
        <div class="row">
            <div class="col-md-12 mt-0 add-user-form">
                <div class="bg-white p-3">
                    <h5 class="text-grey-dark mt-3">Add Product</h5>
                    <form method="" action="" id="add-category" class="py-3 addcategory">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <label for="name">Product Category <sup class="text-danger font-weight-bold h6">*</sup></label>
                                <select v-model="product_category"  name="category" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                    <option value>Select</option>
                                    <option v-for="cats in categorylist" v-if="cats.status == 0" v-bind:value="cats.id">{{ cats.name }}</option>
                                </select>
                                <div v-show="error.category_id" class="error-msg">
                                    <i v-show="error.category_id" class="fa fa-warning"></i>
                                    <span v-if="error.category_id" :class="['label label-danger']">{{ error.category_id[0] }}</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4" >
                                <label for="name">Product Sub Category <sup class="text-danger font-weight-bold h6">*</sup></label>
                                <select v-model="product_subcategory"  name="subcategory" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                    <option value>Select</option>
                                    <option v-for="subs in subcategorylist" v-if="product_category == subs.category.id && subs.status == 0 " v-bind:value="subs.id">{{ subs.name }}</option>
                                </select>
                                <div v-show="error.subcategory_id" class="error-msg">
                                    <i v-show="error.subcategory_id" class="fa fa-warning"></i>
                                    <span v-if="error.subcategory_id" :class="['label label-danger']">{{ error.subcategory_id[0] }}</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5"><label for="name">Product Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                                <input type="text" name="product_name"  v-model="product_name" id="product_name" class="w-100 px-3 pr-5 select-shadow rounded-lg border light-border show-data">
                                <div v-show="error.name" class="error-msg">
                                    <i v-show="error.name" class="fa fa-warning"></i>
                                    <span v-if="error.name" :class="['label label-danger']">{{ error.name[0] }}</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <button type="reset" v-on:click="resetproduct" class="text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                                <button v-if="!editing" type="button" v-on:click="addCategory" class="text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                                <button v-if="editing" type="button" v-on:click="updateCategory" class="text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 pr-1">
                        <input type="text" name="search" id="search" v-model="searchKey" v-on:keyup="getCategories()" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border search">
                        <i class="position-absolute la la-search"></i>
                    </div>
                    <div class="col-md-3 px-1">
                        <select name="prodCat" v-model="productKey" v-on:change="getCategories(1)" id="prodCat" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                            <option value>Product Category</option>
                            <option v-for="cats in categorylist" v-bind:value="cats.id">{{ cats.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 px-1">
                        <select name="prodCat" v-model="subProductKey" v-on:change="getCategories()" id="prodCat" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                            <option value>Product Sub Category</option>
                            <option v-for="cats in subcategorylist" v-if="productKey == cats.category.id" v-bind:value="cats.id">{{ cats.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-2 px-1">
                        <select v-model="is_active" v-on:change="getCategories" name="is_active" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length == 0 && checkedList.length == 0" >
                     <span class="ml-2 mt-1 theme-text">Active</span>
                    <label class="m-0">
                        <input type="checkbox"  checked="checked" class="ios-switch green bigswitch" disabled>
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedList.length > 0" >
                   <span class="ml-2 mt-1 theme-text">Inactive</span>
                    <label class="m-0">
                        <input type="checkbox" v-on:change="disableUsers($event)"  class="ios-switch green bigswitch">

                        <div>
                            <div></div>
                        </div>
                    </label>
                    
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length > 0" >
                     <span class="ml-2 mt-1 theme-text">Active</span>
                    <label class="m-0">
                        <input type="checkbox" v-on:change="enableUsers($event)"  class="ios-switch green bigswitch">
                        <div>
                            <div></div>
                        </div>
                    </label>
                   
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch">
                    <h6 class="mb-0 ml-3"><button v-on:click="add" title="" class="d-inline-block w-100 py-2 px-4 rounded text-white theme-bg border-btn addbtn">ADD</button></h6>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12 mt-4">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th width="60" class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList"  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th width="70">SNo.</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Product</th>
                                <th width="100">Status</th>
                            </tr>
                        </thead>
                        <tbody v-if="productList.data.length == 0 && mountDone == true">
                            <tr>
                               <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else v-for="(cats,index) in productList.data">
                            <tr>
                                <td class="position-relative bg-white py-2 pl-4 border border-right-0 rounded-left light-border">
                                    <label class="checklabel" v-if="cats.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(cats.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(cats.id,$event)"  name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-if="cats.status == 1">
                                        <input v-on:click="enableuser(cats.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border"><span class="data">{{ productList.from + index }}</span></td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border"><span class="data">{{ cats.category.name }}</span></td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border"><span class="data">{{ cats.subcategory.name }}</span></td>

                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border"><span class="data">{{ cats.name }}</span></td>
                                <td class="bg-white border border-right-0 border-left-0 rounded-right light-border">
                                    <span v-if="cats.status == 0" class="text-success">Active</span>
                                    <span v-else class="text-success">Inactive</span>
                                    <a href="#" v-on:click="editProduct(cats)" > <span class="ml-3 theme-text edit-ico">
                                            <i class="la la-pen"></i>
                                        </span>
                                    </a>
                                </td>

                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                        </tbody>
                    </table>
                </div>
                <div class="mb-3 pagination" v-if="productList.data.length > 0 && mountDone == true">
                    <vue-pagination   :pagination="productList"
                        @paginate="getCategories()"
                        v-bind:checked="checked"
                        v-bind:chekall="checkAllList"
                        :offset="4">
                    </vue-pagination>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
        name: 'product-list',
       props: ['tab'],
        data() {
            return{
                pageUrl: siteUrl,
                product_name: '',
                product_subcategory: '',
                product_category: '',
                editId: '',
                editing: false,
                searchKey: '',
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                productKey: '',
                subProductKey: '',
                productList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                mountDone: false,
                load: false,
                error: [],
                is_active: 0,
                checked: false,
            }

        },
        computed: {
            categorylist() {
                return store.getters.productCategoryList;
            },
            subcategorylist() {
                return store.getters.productSubCategoryList;
            }
        },
        watch: {
            searchKey: function (val) {
                this.productList.current_page = 1;
            },
            productKey: function (val) {
                this.subProductKey = '';
                this.$forceUpdate();
            },

        },

        methods: {

            add() {
                this.product_name = '';
                this.product_subcategory = '';
                this.product_subcategory = '';
                this.product_category = '';
                this.editing = false;
                $("#productlist div.add-user-form").addClass("open-form");
            },
            editProduct(data) {
                this.editId = data.id;
                this.product_name = data.name;
                this.product_subcategory = data.subcategory.id;
                this.product_category = data.category.id;
                this.editing = true;
                $("#productlist div.add-user-form").addClass("open-form");
            },
            resetproduct() {

                $("#productlist div.open-form").removeClass("open-form");
            },
            getCategories(arg = '') {
                if (arg == 1) {
                    this.subProductKey = '';
                }
                let currentObj = this;
                var request = {
                    params: {
                        page: this.productList.current_page,
                        status: this.is_active,
                        searchkey: this.searchKey,
                        productKey: this.productKey,
                        subProductKey: this.subProductKey,

                    }
                };
                axios.get(currentObj.pageUrl + 'get/product/list/name', request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.productList = response.data.list;
                                if (!currentObj.load) {
                                    currentObj.mountDone = true;
                                }
                                currentObj.load = true;
                            } else {
                                currentObj.productList.data = [];

                            }
                            currentObj.resetCheckbox();
                             $(".pageloader").hide();

                        })
                        .catch(function (error) {

                        });
            },
            updateCategory() {
                $(".pageloader").show();
                let currentObj = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post(currentObj.pageUrl + 'update/product/list', {
                            name: currentObj.product_name,
                            category_id: currentObj.product_category,
                            subcategory_id: currentObj.product_subcategory,
                            editId: currentObj.editId,

                        })
                                .then(function (response) {

                                    $("#productlist div.open-form").removeClass("open-form");
                                    currentObj.editing = false;
                                    currentObj.editId = '';
                                    currentObj.product_name = '';
                                    currentObj.product_category = '';
                                    currentObj.product_subcategory = '';
                                    currentObj.getCategories();
                                    $(".pageloader").hide();
                                    EventBus.$emit("invokeSuccess", 'Product Category Updated Successfully');

                                })
                                .catch(function (error) {
                                    $(".pageloader").hide();
                                    currentObj.error = error.response.data.errors;
                                    console.log(error.response.data.errors);
                                });
                    }
                });

            },
            addCategory() {
                 $(".pageloader").show();
                let currentObj = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post(currentObj.pageUrl + 'add/product/list', {
                            name: currentObj.product_name,
                            category_id: currentObj.product_category,
                            subcategory_id: currentObj.product_subcategory,
                        })
                                .then(function (response) {
                                    if (response.data.status) {
                                        $("#productlist div.open-form").removeClass("open-form");
                                        currentObj.getCategories();
                                        EventBus.$emit("invokeSuccess", 'Product Added Successfully');
                                        $(".pageloader").hide();
                                    }
                                })
                                .catch(function (error) {
                                    $(".pageloader").hide();
                                    currentObj.error = error.response.data.errors;
                                    console.log(error.response.data.errors);
                                });
                    }
                });

            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.productList.data.length; i++) {
                        if (this.productList.data[i].status == 0) {
                            this.checkedList.push(this.productList.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.productList.data.length; i++) {
                        if (this.productList.data[i].status == 1) {
                            this.checkedEnableList.push(this.productList.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {

                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {

                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {

                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {

                        this.checked = false;

                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        this.checked = true;
                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },
            disableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedList.length == 0) {
                    return false;
                }
                let message = "Are you sure?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'disable/product/list', {
                                list: currentObj.checkedList,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getCategories();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            currentObj.checked = false;
                                            EventBus.$emit("invokeSuccess", 'Product Inactivated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        })
                        .catch(function () {
                            $event.target.checked = true;
                        });



            },
            enableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedEnableList.length == 0) {
                    return false;
                }
                this.$dialog.confirm('Do you really want to change status ?')
                        .then(function (dialog) {
                            axios.post(currentObj.pageUrl + 'enable/product/list', {
                                list: currentObj.checkedEnableList,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getCategories();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            currentObj.checked = false;
                                            EventBus.$emit("invokeSuccess", 'Product Activated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        })
                        .catch(function () {
                            $event.target.checked = true;
                        });

            },
        },
        components: {
            VuePagination,
        },
        mounted() {
            this.getCategories();

        }



    }
</script>
<style>
    .dg-btn--ok {
        border-color: green;
    }

    .dg-btn-loader .dg-circle {
        background-color: green;
    }
</style>
