<template>
    <div id="product" class="tab-pane" v-bind:class="{active:tab== 4}">
        <div class="row">
            <div class="col-md-12 mt-0 add-user-form">
                <h5 class="mt-4 mb-3 text-grey-dark" v-if="!editing">Add Product</h5>
                <h5 class="mt-4 mb-3 text-grey-dark" v-if="editing">Edit Product</h5>
                <form method action id="manage-user" class="bg-white rounded border light-border p-4 prod-detailForm" name="product_form">
                    <div class="row p-4">
                        <div class="col-md-4 mb-4">
                            <label for="name">Product Category <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <select v-model="product_category" name="category" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                <option value>Select</option>
                                <option v-for="cats in categorylist"  v-if="cats.status == 0" v-bind:value="cats.id">{{ cats.name }}</option>
                            </select>
                            <span v-if="error.product_category" :class="['label label-danger error-msg']">
                                  <i class="fa fa-warning"></i>
                                {{ error.product_category[0] }}
                            </span>
                        </div>
                        <div class="col-md-4 mb-4" >
                            <label for="name">Product Sub Category <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <select v-model="product_subcategory" name="subcategory" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                <option value>Select</option>
                                <option v-for="subs in subcategorylist" v-if="product_category == subs.category.id && subs.status == 0 " v-bind:value="subs.id">{{ subs.name }}</option>
                            </select>
                            <span v-if="error.product_subcategory" :class="['label label-danger error-msg']">
                                  <i class="fa fa-warning"></i>
                                {{ error.product_subcategory[0] }}
                            </span>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="email">Product Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <select v-model="product_name"  name="product_name" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                <option value>Select</option>
                                <option v-for="subs in productNameList" v-if="product_subcategory == subs.subcategory_id " v-bind:value="subs.id">{{ subs.name }}</option>
                            </select>
                            <span v-if="error.product_name" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.product_name[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="email">Product Unit Weight <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <select v-model="product_unit_weight"  name="product_unit_weight" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data add-icons">
                                <option value>Select</option>
                                <option v-for="subs in productUnitWeight" v-bind:value="subs.id">{{ subs.name }}</option>
                            </select>
                            <a href="#" v-on:click="showTypeModal(3,productUnitWeight)" data-toggle="modal" data-target="#add-packing-type">
                                <span class="theme-text edit-ico">
                                    +
                                </span>
                            </a>
                            <span v-if="error.product_unit_weight" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.product_unit_weight[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Product Unit Type<sup class="text-danger font-weight-bold h6">*</sup></label>
                            <select v-model="product_package_unit" name="product_package_unit" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data add-icons" id="product_package_unit">
                                <option value="">Select</option>
                                <option v-for="type in productUnitType" v-bind:value="type.id">{{ type.name }}</option>
                            </select>
                            <a href="#" v-on:click="showTypeModal(1,productUnitType)" data-toggle="modal" data-target="#add-packing-type">
                                <span class="theme-text edit-ico">
                                    +
                                </span>
                            </a>
                            <span v-if="error.product_package_unit" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.product_package_unit[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Packing Type <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <select v-model="packaging" name="packaging" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data add-icons">
                                <option value>Select</option>
                                <option v-for="type in packingType" v-bind:value="type.id">{{ type.name }}</option>
                            </select>
                            <a href="#" data-toggle="modal" v-on:click="showTypeModal(2,packingType)" data-target="#add-packing-type">
                                <span class="theme-text edit-ico">
                                    +
                                </span>
                            </a>
                            <span v-if="error.packaging" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.packaging[0] }}</span>
                        </div>

                        <div class="col-md-4 mb-4 mt-3">
                            <label for="email">Brand Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" v-model="brand_name" name="brand_name" id="brand_name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                            <span v-if="error.brand_name" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.brand_name[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">SKU Code<sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" v-model="product_sku" name="product_sku" id="product_sku" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                            <span v-if="error.product_sku" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.product_sku[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">No of unit in box<sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" name="quantity"  v-model="quantity" id="quantity" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                            <span v-if="error.quantity" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.quantity[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="email">DLP(Rs) <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" v-model="dlp"  name="dlp" id="dlp" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                            <span v-if="error.dlp" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.dlp[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="rlp">Retailer Landing Price(Rs) <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" name="product_lpr"  v-model="product_lpr" id="product_lpr" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                            <span v-if="error.rlp" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.rlp[0] }}</span>
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="mrp">MRP(Rs) <sup class="text-danger font-weight-bold h6">*</sup></label>
                            <input type="text" name="product_mrp"  v-model="product_mrp" id="product_mrp" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                            <span v-if="error.mrp" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.mrp[0] }}</span>
                        </div>

                        <div class="col-md-4 mb-4 mt-3">
                            <label for="email">Manufacturer</label>
                            <input type="text" v-model="manufacturer" name="manufacturer" id="manufacturer" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="email">HSN Code</label>
                            <input type="text" v-model="hsn_code"  name="hsn_code" id="hsn_code" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="email">EAN Code</label>
                            <input type="text" v-model="ean_code"  name="ean_code" id="ean_code" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Max Order Quantity</label>
                            <input type="text" name="max_quantity"  v-model="max_quantity" id="max_quantity" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Product Length</label>
                            <input type="text" name="product_length"  v-model="product_length" id="product_length" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Product Width</label>
                            <input type="text" name="product_width"  v-model="product_width" id="product_width" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Product Height</label>
                            <input type="text" name="product_height"  v-model="product_height" id="product_height" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Shelf Life</label>
                            <input type="text" name="shelf_life" v-model="shelf_life" id="shelf_life" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Customer Target</label>
                            <input type="text" name="custmor_target"  v-model="custmor_target" id="custmor_target" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Master Carton Gross Weight</label>
                            <input type="text" name="master_carton_gross_weight"  v-model="master_carton_gross_weight" id="master_carton_gross_weight" placeholder="Enter here"  class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Master Carton Net Weight</label>
                            <input type="text" name="master_carton_net_weight" v-model="master_carton_net_weight" id="master_carton_net_weight" placeholder="Enter here"  class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Master Carton Length</label>
                            <input type="text" name="master_carton_length"  v-model="master_carton_length" id="master_carton_length" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation">Master Carton Width</label>
                            <input type="text" name="master_carton_width"  v-model="master_carton_width" id="master_carton_width" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>
                        <div class="col-md-4 mb-4 mt-3">
                            <label for="designation"> Master Carton Height</label>
                            <input type="text" name="master_carton_height"  v-model="master_carton_height" id="master_carton_height" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        </div>

                        <div class="col-md-4 mb-4 mt-3 d-flex align-items-center">
                            <label class="m-0 checklabel mt-3" for="is_featured">
                                <input type="checkbox" name="is_featured" v-if="is_featured == 0" v-model="is_featured" id="is_featured" class="checkbox-select" />
                                <input type="checkbox" name="is_featured" v-else v-model="is_featured" id="is_featured" class="checkbox-select" />
                                <span class="checkmark"></span>
                                <span for="rlp">Featured Product </span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="photo-upload" for="upload-pic">
                                <i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i> Upload Image(jpg,jpeg,png)
                            </label>
                            <div id="preview">
                                <img v-if="avtar" :src="avtar" />
                            </div>
                            <input type="file" v-on:change="onImageChange" v-validate="'required'" name="avtar" id="upload-pic" class="w-100 px-3 opacity-0 upload-pic" />
                            <span v-if="error.avtar" :class="['label label-danger error-msg']"> <i class="fa fa-warning"></i>{{ error.avtar[0] }}</span>
                        </div>
                        <div class="col-md-8 mb-4 mt-3">
                            <label for="add"> Description</label>
                            <textarea name="address" v-model="short_description" id="address" placeholder="Enter here" rows="3" class="w-100 px-3 py-3 input-shadow border light-border rounded"></textarea>
                        </div>
                        <div class="col-md-12 mt-4 text-center">
                            <div class="col-md-6 offset-md-3 margin-auto">
                                <button type="reset" v-on:click="resetCategory" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                                <button v-if="!editing" type="button" v-on:click="addProduct" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                                <button v-if="editing" type="button" v-on:click="updateProduct" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div v-if="!hideTable" class="table_section">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-12 pr-0 pl-0 position-relative search-div">
                                <input type="text" name="search" v-model="searchKey" v-on:keyup="getProducts" id="search" value placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border search" />
                                <i class="position-absolute la la-search"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select name="prodCat" v-model="productKey" v-on:change="getProducts" id="prodCat" class="w-100 pl-1 pr-4 select-shadow rounded-lg light-border show-data">
                                <option value>Product Category</option>
                                <option v-for="cats in categorylist" v-bind:value="cats.id">{{ cats.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select v-model="is_active" v-on:change="getProducts" name="is_active" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                                <option value="0">Active</option>
                                <option value="1">Inactive</option>
                            </select>
                        </div>

                    </div>
                </div>



                <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-end">
                    <div v-if='checkedList.length == 0 && checkedEnableList.length == 0' class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                        <span class="mr-2 mt-1 text-secondary">Inactive</span>
                        <label class="m-0">
                            <input type="checkbox" checked="checked"  class="ios-switch green bigswitch" disabled>
                            <div>
                                <div></div>
                            </div>
                        </label>
                        <span class="ml-2 mt-1 theme-text">Active</span>
                    </div>
                    <div v-if='checkedList.length > 0' class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                        <span class="mr-2 mt-1 text-secondary">Inactive</span>
                        <label class="m-0">
                            <input type="checkbox" v-on:change="disableUsers($event)"  class="ios-switch green bigswitch">
                            <div>
                                <div></div>
                            </div>
                        </label>

                    </div>
                    <div v-if='checkedEnableList.length > 0' class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                        <span class="ml-2 mt-1 theme-text">Active</span>
                        <label class="m-0">
                            <input type="checkbox" v-on:change="enableUsers($event)"  class="ios-switch green bigswitch">
                            <div>
                                <div></div>
                            </div>
                        </label>

                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-end checkbox-switch">
                        <h6 class="mb-0 ml-3">
                            <button v-on:click="add" class="d-inline-block w-100 py-2 px-4 rounded text-white theme-bg border-btn addbtn">ADD</button>
                        </h6>
                    </div>
                </div>
                <div class="col-md-12 mt-4 d-flex flex-wrap justify-content-end text-right upload-download-buttons">
                    <button v-on:click="uploadEcxelPop" class="d-flex align-items-center mr-2 mt-2 float-right bg-transparent border-0 export-btn">
                        <i class="la h4 mr-1 mb-0 la-upload"></i> Upload Excel
                    </button>
                    <a v-bind:href="pageUrl + 'excel/products.xls'" class="d-flex align-items-center mt-2 float-right border-0 text-body export-btn" download>
                        <i class="la h4 mr-1 mb-0 la-download"></i> Download sample
                    </a>
                </div>
            </div>
            <div class="row my-3" >
                <div class="col-md-12 inner-producttb">
                    <div class="col-12 p-0 inner">
                        <table cellspacing="0" class="table table-borderless table-list retailer-list">
                            <thead>
                                <tr>
                                    <th width="60" class="position-relative pl-4">
                                        <label class="checklabel">
                                            <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList" name="selectcheck" class="checkbox-select" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th width="50">SNo.</th>
                                    <th width="70">Avtar</th>
                                    <th>Product Name</th>
                                    <th>Product Unit Wight</th>
                                    <th>Packing Type</th>
                                    <th>Unit Type</th>
                                    <th>Brand Name</th>
                                    <th>No of unit in box</th>
                                    <th>SKU Code</th>
                                    <th>DLP(rs)</th>
                                    <th>MRP(rs)</th>
                                    <th>RLP(rs)</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody v-if="products.data.length == 0 && mountDone == true">
                                <tr>
                                    <td colspan="10" class="text-center bg-light no-data">
                                        <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else v-for="(prods,index) in products.data" style="cursor : pointer">
                                <tr>
                                    <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                        <label class="checklabel" v-if="prods.status == 0">
                                            <input v-if="checkAllList" v-on:click="removeFromList(prods.id,$event)" type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked />
                                            <input v-else type="checkbox" v-on:click="addinList(prods.id,$event)" name="selectcheck" id="selectall" class="checkbox-select" />
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checklabel" v-if="prods.status == 1">
                                            <input v-on:click="enableuser(prods.id,$event)" type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-3 border border-left-0 border-right-0 light-border">
                                        <span class="data">{{ products.from + index }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <img v-if="prods.avtar != ''" v-bind:src="pageUrl + 'images/product/'+ prods.avtar" alt="list-image" class="mr-2 img-ico" />
                                        <img v-if="prods.avtar == ''" v-bind:src="pageUrl + 'images/no-profile.png'" alt="list-image" class="mr-2 img-ico" />
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span  class="data">{{ prods.product_name.name }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span v-if="prods.weight_type != null" class="data">{{ prods.weight_type.name }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span v-if="prods.packing_type != null" class="data">{{ prods.packing_type.name }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span v-if="prods.packing_type != null" class="data">{{ prods.unit_type.name }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span class="data">{{ prods.brand_name }}</span>
                                    </td>

                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span class="data">{{ prods.quantity }}</span>
                                    </td>

                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span class="data">{{ prods.sku_number }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                        <span class="data">{{ prods.dlp }}</span>
                                    </td>

                                    <td v-on:click="showPop(prods)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                        <span class="data">{{ prods.mrp }}</span>
                                    </td>
                                    <td v-on:click="showPop(prods)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                        <span class="data">{{ prods.rlp }}</span>
                                    </td>
                                    <td class="bg-white p-3 pr-4 border border-left-0 rounded-right light-border">
                                        <span v-if="prods.status == 0" class="text-success">Active</span>
                                        <span v-else class="text-success">Inactive</span>

                                        <a href="#" v-on:click="editProduct(prods)">
                                            <span class="ml-3 theme-text edit-ico">
                                                <i class="la la-pen"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="separation">
                                    <td class="p-0">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3 pagination" v-if="products.data.length > 0 && mountDone == true">
                        <vue-pagination :pagination="products" @paginate="getProducts()"
                            v-bind:checked="checked"
                            v-bind:chekall="checkAllList" :offset="4"></vue-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="excelModel">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="close position-absolute close-modals" data-dismiss="modal">&times;</button>
                    <!-- Modal body -->
                    <div class="pt-5 modal-body">
                        <form class="d-flex flex-wrap justify-content-between" v-bind:action="pageUrl +'import'" method="POST" name="importform" enctype="multipart/form-data">
                            <div class="col-md-12 text-center">

                                <button class="btn browse-file-btn" type="button">Browse<input type="file" name="excelfile" class="w-100" /></button>
                                <input type="hidden" name="_token" :value="csrf" />
                            </div>
                            <div class="col-md-12 mt-3">
                                <button type="submit" class="d-inline-block w-100 py-2 px-2 rounded text-white theme-bg border-btn addbtn">Import File</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="add-packing-type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-if="modalType == 1" class="modal-title" id="exampleModalLabel">Manage Unit Type</h5>
                        <h5 v-if="modalType == 2" class="modal-title" id="exampleModalLabel">Manage Packing Type</h5>
                        <h5 v-if="modalType == 3" class="modal-title" id="exampleModalLabel">Manage Weight Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table border="0" cellspacing='0' class="m-0 table-bordered">
                            <thead>
                                <tr>
                                    <th class="border-0"></th>
                                    <th class="border-0">Name</th>    
                                    <th class="border-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(prod,index) in modalData">
                                    <td class="">{{ index + 1  }}</td>
                                    <td class="" v-if="editingNow && editIndex == index"><input type="text" v-model="addTypeName" name="addname"></td>
                                    <td class="" v-else>{{prod.name}}</td>
                                    <td class="" v-if="editingNow && editIndex == index"><a href="#" v-on:click.prevent="updateType(prod.id)"> 
                                            <span class="ml-3 theme-text edit-ico">
                                                <i class="la la-store"></i>
                                            </span></a>
                                    </td>   
                                    <td class="" v-else><a  href="#" v-on:click.prevent="editType(prod.name,index)">
                                            <span class="ml-3 theme-text edit-ico">
                                                <i class="la la-pen"></i>
                                            </span></a>
                                    </td>   
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class=""><input type="text" placeholder="add new type" v-model="type" name="addname"></td>
                                    <td class=""><a href="#" class="btn" v-on:click="addInList" > 
                                            <span class="ml-3 theme-text edit-ico">
                                                <i class="la la-plus"></i>
                                            </span></a>
                                    </td>   
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>  
                    </div>
                </div>
            </div>
        </div>
        <div id="productview" class="modal fade" >
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content customer-details" v-if="showPopview">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalData.product_name.name }} Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- <button type="button" data-dismiss="modal" class="close position-absolute close-modals">X</button> -->
                    <div class="pt-4 px-3 modal-body calling-view">
                        <div class="col-12 pt-2 calling-agent-view">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="user-profile text-center">
                                        <img v-if="modalData.image_url != null " v-bind:src="modalData.image_url" alt class="w-100 img-fluid" />
                                        <img v-else v-bind:src="pageUrl + 'images/detail-img.jpg'" alt class="w-100 img-fluid" />
                                    </div>
                                    <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info">
                                        <!-- <h4 id="agent_name" class="w-100 text-center mb-1">{{ modalData.product_name.name }}</h4> -->
                                        <span class="number">
                                            <i class="fa fa-number"></i>
                                            <small id="agent_phone" class="full-detail">{{ modalData.sku_number }}</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Serial Number</span>
                                            <span class="full-detail">{{ modalData.serial_number }}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Product Category </span>
                                            <span class="full-detail">{{ modalData.category.name }}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Product Sub Category</span>
                                            <span class="full-detail">{{ modalData.subcategory.name }}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Product Name</span>
                                            <span class="full-detail">{{ modalData.product_name.name }}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Product Unit Weight</span>
                                            <span class="full-detail">{{ modalData.weight_type.name}}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Product Unit Type</span>
                                            <span class="full-detail">{{ modalData.unit_type.name}}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Packing Type</span>
                                            <span class="full-detail">{{ modalData.packing_type.name}}</span>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <span class="labl">Brand Name</span>
                                            <span class="full-detail">{{ modalData.brand_name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 border border-left-0 border-right-0 border-bottom-0 light-border pt-3 callingView">
                                    <div class="row">
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">SKU Code</span>
                                            <span class="full-detail">{{ modalData.sku_number}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">No of unit in box</span>
                                            <span class="full-detail">{{ modalData.quantity}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">DLP(Rs)</span>
                                            <span class="full-detail">{{ modalData.dlp}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Retailer Landing Price(Rs)</span>
                                            <span class="full-detail">{{ modalData.rlp}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">MRP(Rs)</span>
                                            <span class="full-detail">{{ modalData.mrp}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Manufacturer</span>
                                            <span class="full-detail">{{ modalData.manufacturer }}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">HSN Code</span>
                                            <span class="full-detail">{{ modalData.hsn_code}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">EAN Code</span>
                                            <span class="full-detail">{{ modalData.ean_code}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Max Order Quantity</span>
                                            <span class="full-detail">{{ modalData.max_order_quantity}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Product Length</span>
                                            <span class="full-detail">{{ modalData.product_length}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Product Width</span>
                                            <span class="full-detail">{{ modalData.product_width}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Product Height</span>
                                            <span class="full-detail">{{ modalData.product_height}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Shelf Life</span>
                                            <span class="full-detail">{{ modalData.shelf_life}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Customer Target</span>
                                            <span class="full-detail">{{ modalData.custmer_target}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Master Carton Gross Weight</span>
                                            <span class="full-detail">{{ modalData.master_carton_gross_weight}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Master Carton Net Weight</span>
                                            <span class="full-detail">{{ modalData.master_carton_net_weight}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Master Carton Length</span>
                                            <span class="full-detail">{{ modalData.master_carton_length}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Master Carton Width</span>
                                            <span class="full-detail">{{ modalData.master_carton_width}}</span>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <span class="labl">Master Carton Height</span>
                                            <span class="full-detail">{{ modalData.master_carton_height}}</span>
                                        </div>
                                        <div class="col-md-8 mb-4">
                                            <span class="labl">Description</span>
                                            <span class="full-detail">{{ modalData.short_description }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePagination from "../partials/PaginationComponent.vue";
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import {store } from "../store.js";
    export default {
        name: "product",
        props: ['tab'],
        data() {
            return {
                pageUrl: siteUrl,
                brand_name: "",
                manufacturer: "",
                hsn_code: "",
                ean_code: "",
                max_quantity: "",
                product_length: "",
                product_width: "",
                product_height: "",
                shelf_life: "",
                custmor_target: "",
                master_carton_gross_weight: "",
                master_carton_net_weight: "",
                master_carton_length: "",
                master_carton_width: "",
                master_carton_height: "",
                dlp: "",
                is_featured: false,
                quantity: "",
                packaging: "",
                product_package_unit: "",
                product_sku: "",
                short_description: "",
                product_name: "",
                product_subcategory: "",
                product_category: "",
                product_mrp: "",
                product_lpr: "",
                editId: "",
                editing: false,
                productKey: "",
                searchKey: "",
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                csrf: "",
                products: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                offset: 4,
                searching: false,
                modalData: "",
                avtar: "",
                hideTable: false,
                error: '',
                packingType: '',
                mountDone: false,
                load: false,
                productUnitType: [],
                modalType: '',
                type: '',
                productUnitWeight: '',
                product_unit_weight: '',
                is_active: 0,
                checked: false,
                duplicateCombination: false,
                showPopview: false,
                addTypeName: '',
                editingNow: false,
                editIndex: ''
            };
        },
        components: {
            VuePagination
        },
        watch: {
            searchKey: function (val) {
                this.products.current_page = 1;
            },
            productKey: function (val) {
                this.products.current_page = 1;
            },
        },
        computed: {
            categorylist() {
                return store.getters.productCategoryList;
            },
            subcategorylist() {
                return store.getters.productSubCategoryList;
            },
            productNameList() {
                return store.getters.productNameList;
            },
        },
        methods: {
            editType(name, index) {
                this.addTypeName = name;
                this.editingNow = true;
                this.editIndex = index;
            },
            updateType(editId) {
                var currentObj = this;
                var url;
                if (this.modalType == 1) {
                    url = 'update/unit/type';
                }
                if (this.modalType == 2) {
                    url = 'update/packing/type';
                }
                if (this.modalType == 3) {
                    url = 'update/weight/type';
                }
                axios.post(currentObj.pageUrl + url, {
                    name: currentObj.addTypeName,
                    editid: editId
                })
                        .then(function (response) {
//                            $("#add-packing-type").modal('hide');
                            currentObj.editingNow = false;
                            currentObj.addTypeName = '';
                            currentObj.editIndex = '';
                            var edit = true;
                            currentObj.getpackingType(edit);




                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                        });

            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            addInList() {
                var currentObj = this;
                var url;
                if (this.modalType == 1) {
                    url = 'add/unit/type';
                }
                if (this.modalType == 2) {
                    url = 'add/packing/type';
                }
                if (this.modalType == 3) {
                    url = 'add/weight/type';
                }
                axios.post(currentObj.pageUrl + url, {
                    name: currentObj.type
                })
                        .then(function (response) {
//                            $("#add-packing-type").modal('hide');
                            var edit = true;
                            currentObj.type = '';
                            currentObj.getpackingType(edit);


                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                        });


            },
            showPop(data) {
                this.modalData = data;
                $("#productview").modal("show");

            },
            showTypeModal(type, data) {
                if (type == 1) {
                    this.modalData = data;
                    this.modalType = 1;
                }
                if (type == 2) {
                    this.modalData = data;
                    this.modalType = 2;
                }
                if (type == 3) {
                    this.modalData = data;
                    this.modalType = 3;
                }
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;

                reader.onload = e => {
                    vm.avtar = e.target.result;
                };
                reader.readAsDataURL(file);
                $('#upload-pic').val('');
            },
            getProducts() {
                let currentObj = this;
                var request = {
                    params: {
                        page: this.products.current_page,
                        key: this.searchKey,
                        cat: this.productKey,
                        status: this.is_active,
                    }
                };
                axios.get(currentObj.pageUrl + "get/products", request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.products = response.data.list;
                                if (!currentObj.load) {
                                    currentObj.mountDone = true;
                                }
                                currentObj.load = true;
                            } else {
                                currentObj.products.data = [];
                            }
                            currentObj.resetCheckbox();
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {});
            },
            getpackingType(edit = false) {
                let currentObj = this;

                axios.post(currentObj.pageUrl + "get/products/packing/type")
                        .then(function (response) {

                            currentObj.packingType = response.data.type;
                            currentObj.productUnitType = response.data.unit;
                            currentObj.productUnitWeight = response.data.weight;
                            if (edit) {
                                if (currentObj.modalType == 1) {
                                    currentObj.modalData = currentObj.productUnitType;

                                }
                                if (currentObj.modalType == 2) {
                                    currentObj.modalData = currentObj.packingType;

                                }
                                if (currentObj.modalType == 3) {
                                    currentObj.modalData = currentObj.productUnitWeight;

                                }
                            }
                        })
                        .catch(function (error) {});
            },
            uploadEcxelPop() {
                $("#excelModel").modal("show");
            },
            searchProduct() {
                EventBus.$emit("searchProducts", this.productKey, this.searchKey);
            },
            add() {
                this.$validator.reset();
                this.editing = false;

                this.hideTable = true;
                this.editId = '';
                this.quantity = "";
                this.packaging = "";
                this.product_package_unit = "";
                this.product_sku = "";
                this.short_description = "";
                this.product_name = "";
                this.product_subcategory = "";
                this.product_category = "";
                this.product_lpr = "";
                this.product_mrp = "";
                this.avtar = "";
                this.brand_name = "";
                this.manufacturer = "";
                this.hsn_code = "";
                this.ean_code = "";
                this.max_quantity = "";
                this.product_length = "";
                this.product_width = "";
                this.product_height = "";
                this.shelf_life = "";
                this.custmor_target = "";
                this.master_carton_gross_weight = "";
                this.master_carton_net_weight = "";
                this.master_carton_length = "";
                this.master_carton_width = "";
                this.master_carton_height = "";
                this.product_unit_weight = "";
                this.dlp = "";
                this.is_featured = false;

                $("#product div.add-user-form").addClass("open-form");

            },
            editProduct(data) {
                this.$validator.reset();
                this.hideTable = true;
                this.editing = true;
                this.editId = data.id;

                this.quantity = data.quantity;
                this.packaging = data.packaging;
                this.product_package_unit = data.package_unit;
                this.product_unit_weight = data.product_unit_weight;
                this.product_sku = data.sku_number;
                this.short_description = data.short_description;
                this.product_name = data.product_lists_id;
                this.product_subcategory = data.subcategory.id;
                this.product_category = data.category.id;
                this.product_lpr = data.rlp;
                this.product_mrp = data.mrp;

                this.brand_name = data.brand_name;
                this.manufacturer = data.manufacturer;
                this.hsn_code = data.hsn_code;
                this.ean_code = data.ean_code;
                this.max_quantity = data.max_order_quantity;
                this.product_length = data.product_length;
                this.product_width = data.product_width;
                this.product_height = data.product_height;
                this.shelf_life = data.shelf_life;
                this.custmor_target = data.custmer_target;
                this.master_carton_gross_weight = data.master_carton_gross_weight;
                this.master_carton_net_weight = data.master_carton_net_weight;
                this.master_carton_length = data.master_carton_length;
                this.master_carton_width = data.master_carton_width;
                this.master_carton_height = data.master_carton_height;
                this.dlp = data.dlp;
                if (data.is_featured == '0') {
                    this.is_featured = false;
                }
                if (data.is_featured == '1') {
                    this.is_featured = true;
                }

                $("#product div.add-user-form").addClass("open-form");
            },
            resetCategory() {
                this.hideTable = false;
                $("#product div.open-form").removeClass("open-form");
            },
            addProduct() {
                $(".pageloader").show();
                let currentObj = this;
                currentObj.duplicateCombination = false;
                axios.post(currentObj.pageUrl + "add/product/data", {
                    product_unit_weight: currentObj.product_unit_weight,
                    brand_name: currentObj.brand_name,
                    manufacturer: currentObj.manufacturer,
                    hsn_code: currentObj.hsn_code,
                    ean_code: currentObj.ean_code,
                    max_quantity: currentObj.max_quantity,
                    product_length: currentObj.product_length,
                    product_width: currentObj.product_width,
                    product_height: currentObj.product_height,
                    shelf_life: currentObj.shelf_life,
                    custmor_target: currentObj.custmor_target,
                    master_carton_gross_weight: currentObj.master_carton_gross_weight,
                    master_carton_net_weight: currentObj.master_carton_net_weight,
                    master_carton_length: currentObj.master_carton_length,
                    master_carton_width: currentObj.master_carton_width,
                    master_carton_height: currentObj.master_carton_height,
                    dlp: currentObj.dlp,
                    is_featured: currentObj.is_featured,
                    quantity: currentObj.quantity,
                    packaging: currentObj.packaging,
                    product_package_unit: currentObj.product_package_unit,
                    product_sku: currentObj.product_sku,
                    short_description: currentObj.short_description,
                    product_name: currentObj.product_name,
                    product_subcategory: currentObj.product_subcategory,
                    product_category: currentObj.product_category,
                    rlp: currentObj.product_lpr,
                    mrp: currentObj.product_mrp,
                    avtar: currentObj.avtar
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                $("#product div.open-form").removeClass("open-form");
                                currentObj.hideTable = false;
                                currentObj.getProducts();
                                EventBus.$emit("invokeSuccess", "Product Added Successfully");
                            } else if (response.data.code == 500) {
                                currentObj.duplicateCombination = true;
                                EventBus.$emit("fileerror", response.data.message);
                            } else {
                                console.log(response.data.msg);
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });


            },
            updateProduct() {
                $(".pageloader").show();
                let currentObj = this;
                currentObj.duplicateCombination = false;
                axios.post(currentObj.pageUrl + "update/product/data", {
                    product_unit_weight: currentObj.product_unit_weight,
                    brand_name: currentObj.brand_name,
                    manufacturer: currentObj.manufacturer,
                    hsn_code: currentObj.hsn_code,
                    ean_code: currentObj.ean_code,
                    max_quantity: currentObj.max_quantity,
                    product_length: currentObj.product_length,
                    product_width: currentObj.product_width,
                    product_height: currentObj.product_height,
                    shelf_life: currentObj.shelf_life,
                    custmor_target: currentObj.custmor_target,
                    master_carton_gross_weight: currentObj.master_carton_gross_weight,
                    master_carton_net_weight: currentObj.master_carton_net_weight,
                    master_carton_length: currentObj.master_carton_length,
                    master_carton_width: currentObj.master_carton_width,
                    master_carton_height: currentObj.master_carton_height,
                    dlp: currentObj.dlp,
                    is_featured: currentObj.is_featured,
                    quantity: currentObj.quantity,
                    packaging: currentObj.packaging,
                    product_package_unit: currentObj.product_package_unit,
                    product_sku: currentObj.product_sku,
                    imis_code: currentObj.imis_code,
                    short_description: currentObj.short_description,
                    product_name: currentObj.product_name,
                    product_subcategory: currentObj.product_subcategory,
                    product_category: currentObj.product_category,
                    productid: currentObj.editId,
                    rlp: currentObj.product_lpr,
                    mrp: currentObj.product_mrp,
                    avtar: currentObj.avtar
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                $("#product div.open-form").removeClass("open-form");
                                currentObj.editId = "";
                                currentObj.editing = false;
                                currentObj.min_order = "";
                                currentObj.min_order_by = "";
                                currentObj.quantity = "";
                                currentObj.packaging = "";
                                currentObj.product_weight = "";
                                currentObj.product_package_unit = "";
                                currentObj.product_sku = "";
                                currentObj.imis_code = "";
                                currentObj.short_description = "";
                                currentObj.product_name = "";
                                currentObj.product_subcategory = "";
                                currentObj.product_category = "";
                                currentObj.product_lpr = "";
                                currentObj.product_mrp = "";
                                currentObj.avtar = "";
                                currentObj.product_unit_weight = "";
                                currentObj.hideTable = false;
                                currentObj.getProducts();
                                EventBus.$emit("invokeSuccess", "Product Updated Successfully");
                            } else if (response.data.code == 500) {
                                currentObj.duplicateCombination = true;
                                EventBus.$emit("fileerror", response.data.message);
                            } else {
                                console.log(response.data.msg);
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;

                        });

            },
            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.products.data.length; i++) {
                        if (this.products.data[i].status == 0) {
                            this.checkedList.push(this.products.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.products.data.length; i++) {
                        if (this.products.data[i].status == 1) {
                            this.checkedEnableList.push(this.products.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {

                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {

                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {

                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {

                        this.checked = false;

                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {
                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        this.checked = true;
                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {
                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },
            disableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedList.length == 0) {
                    return false;
                }
                let message = "Are you sure?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + "disable/product", {
                                list: currentObj.checkedList
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getProducts();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]'
                                                    ).each(function () {
                                                $(this).prop("checked", false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit(
                                                    "invokeSuccess",
                                                    "Product Deactivated Successfully"
                                                    );
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            enableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedEnableList.length == 0) {
                    return false;
                }
                let message = "Are you sure?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + "enable/product", {
                                list: currentObj.checkedEnableList
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getProducts();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]'
                                                    ).each(function () {
                                                $(this).prop("checked", false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit("invokeSuccess", "Product Activated Successfully");
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            }
        },
        created() {
            var token = document.head.querySelector('meta[name="csrf-token"]');
            this.csrf = token.content;
            this.getProducts();
        },
        mounted() {

            this.getpackingType();


            $('#add-packing-type').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })
            var $this = this;
            $('#productview').on('shown.bs.modal', function (e) {
                $this.showPopview = true;
            })
            $('#productview').on('hidden.bs.modal', function (e) {
                $this.showPopview = false;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })
        },
    };
</script>
<style>
    .add-icons{
        width: 95%!important;
    }

    #preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #preview img {
        max-width: 50%;
        max-height: 250px;
    }

</style>
