<template>
    <div id="sub-category" class="tab-pane" v-bind:class="{active: tab== 2}">
        <div class="row">
            <div class="col-md-12 mt-0 add-user-form">
                <div class="bg-white p-3">
                    <h5 class="text-grey-dark mt-3">Add Product Sub category</h5>
                    <form method="" action="" id="add-category" class="py-3 addcategory">
                        <div class="row">
                            <div class="col-md-4 mb-5">
                                <label for="name">Product Category <sup class="text-danger font-weight-bold h6">*</sup></label>
                                <select name="prodcat" id="prodcat" v-model="category" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                    <option value="">Select</option>
                                    <option v-for="cates in categorylist" v-bind:value="cates.id">{{ cates.name }}</option>
                                </select>
                                <div v-show="error.category" class="error-msg">
                                    <i v-show="error.category" class="fa fa-warning"></i>
                                    <span v-show="error.category" class="help is-danger">Category is required</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5">
                                <label for="name">Product Sub Category Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                                <input type="text"  v-model="subcategory" name="prodsubcat" id="prodsubcat" class="w-100 px-3 pr-5 select-shadow border rounded-lg light-border show-data">
                                <div v-show="error.subcategory" class="error-msg">
                                    <i v-show="error.subcategory" class="fa fa-warning"></i>
                                    <span v-show="error.subcategory" class="help is-danger">Sub Category is required</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5 retailAddForm" >
                                <label for="upload-pic" class="photo-upload">
                                    <i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i> 
                                    <span class="upload-text">Upload Image(jpg,jpeg,png)</span>
                                </label>
                                <div id="preview">
                                        <img v-if="avtar" :src="avtar" />
                                    </div>
                                <input type="file" v-on:change="onImageChange" name="upload-pic" value id="upload-pic" class="upload-file-input upload-pic" />
                                <div v-show="error.avtar" class="error-msg">
                                    <i v-show="error.avtar" class="fa fa-warning"></i>
                                    <span v-show="error.avtar" class="help is-danger">Sub category Image is required</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="reset" v-on:click="resetCategory" class="text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                                <button type="button" v-if="!editing" v-on:click="addSubCategory" class="text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                                <button type="button" v-if="editing" v-on:click="updateSubCategory" class="text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-12 pr-0 pl-0 position-relative search-div">
                            <input type="text" name="search" id="search" v-on:keyup="getSubCategories" v-model="searchKey" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border search">
                            <i class="position-absolute la la-search"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select name="prodCat" id="prodCat" v-model="search_category" v-on:change="getSubCategories" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                            <option value="">Product Category</option>
                            <option v-for="cates in categorylist" v-bind:value="cates.id">{{ cates.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 position-relative status-div">
                        <select v-model="is_active" v-on:change="getSubCategories" name="is_active" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-5 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length == 0 && checkedList.length == 0" >
                    <span class="ml-2 mt-1 theme-text">Active</span>
                    <label class="m-0">
                        <input type="checkbox"  checked="checked" class="ios-switch green bigswitch" disabled>

                        <div>
                            <div></div>
                        </div>
                    </label>
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedList.length > 0" >
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                    <label class="m-0">
                        <input type="checkbox" v-on:change="disableUsers($event)"  class="ios-switch green bigswitch">
                        <div>
                            <div></div>
                        </div>
                    </label>

                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length > 0" >
                    <span class="ml-2 mt-1 theme-text">Active</span>
                    <label class="m-0">
                        <input type="checkbox" v-on:change="enableUsers($event)"  class="ios-switch green bigswitch">
                        <div>
                            <div></div>
                        </div>
                    </label>

                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch">
                    <h6 class="mb-0 ml-3"><button v-on:click="add" title="" class="d-inline-block w-100 py-2 px-4 rounded text-white theme-bg border-btn addbtn">ADD</button></h6>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12 mt-4">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th width="60" class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList" name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th width="70">SNo.</th>
                                <th width="150">Avtar</th>
                                <th>Category</th>
                                <th>Sub category</th>
                                <th width="100">Status</th>
                            </tr>
                        </thead>
                        <tbody v-if="subCategories.data.length == 0 && mountDone == true">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else v-for="(sub,index) in subCategories.data">
                            <tr>
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                    <label class="checklabel" v-if="sub.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(sub.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(sub.id,$event)"  name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-if="sub.status == 1">
                                        <input v-on:click="enableuser(sub.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border"><span class="data">{{ subCategories.from + index }}</span></td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border"><span  v-if="sub.avtar != null && sub.avtar != ''" class="data"><img class='mr-2 img-ico' v-bind:src=" pageUrl + 'images/product/subcategories/' + sub.avtar "></span><span  v-else class="data"><img class='mr-2 img-ico' v-bind:src=" pageUrl + 'images/no-profile.png'"></span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{sub.category.name }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ sub.name }}</span></td>
                                <td class="bg-white border border-right-0 border-left-0 rounded-right light-border">
                                    <span v-if="sub.status == 0" class="text-success">Active</span>
                                    <span v-else class="text-success">Inactive</span>
                                    <a href="#" v-on:click="editSubCategory(sub)"> <span class="ml-3 theme-text edit-ico">
                                            <i class="la la-pen"></i>
                                        </span>
                                    </a>
                                </td>
                                <!-- <td class="bg-white p-3 pr-4 text-right border border-left-0 rounded-right light-border">
                                    <a href="#" v-on:click="editSubCategory(sub)"> <span class="ml-3 theme-text edit-ico">
                                            <i class="la la-pen"></i>
                                        </span>
                                    </a>
                                </td> -->
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="mb-3 pagination" v-if="subCategories.data.length > 0 && mountDone == true">
                    <vue-pagination   :pagination="subCategories"
                        @paginate="getSubCategories()"
                        v-bind:checked="checked"
                        v-bind:chekall="checkAllList"
                        :offset="4">
                    </vue-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
        name: 'product-sub-category',
        props: ['tab'],
        data() {
            return{
                pageUrl: siteUrl,
                category: '',
                subcategory: '',
                subid: '',
                editing: false,
                search_category: '',
                searchKey: '',
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                subCategories: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                avtar: '',
                mountDone: false,
                load: false,
                error: '',
                is_active: 0,
                checked: false,
            }
        },
        components: {
            VuePagination,
        },
        watch: {
            searchKey: function (val) {
                this.subCategories.current_page = 1;
            },

        },
        computed: {
            categorylist() {
                return store.getters.productCategoryList;
            },

        },
        methods: {
            resetCheckbox() {

                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    vm.avtar = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            getSubCategories() {

                let currentObj = this;
                var request = {
                    params: {
                        page: this.subCategories.current_page,
                        key: this.searchKey,
                        cat: this.search_category,
                        status: this.is_active,
                    }
                };
                axios.get(currentObj.pageUrl + 'get/product/sub/categories', request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.subCategories = response.data.list;
                                if (!currentObj.load) {
                                    currentObj.mountDone = true;
                                }
                                currentObj.checked = false;
                                currentObj.load = true;
                            } else {
                                currentObj.subCategories.data = [];

                            }
                            currentObj.resetCheckbox();
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

            editSubCategory(data) {
                this.category = data.category.id;
                this.subcategory = data.name;
                this.subid = data.id;
                this.editing = true;
                this.error = '';
                $("#sub-category div.add-user-form").addClass("open-form");
            },
            add() {
                this.error = '';
                $("#sub-category div.add-user-form").addClass("open-form");

            },
            resetCategory() {
                this.error = '';
                $("#sub-category div.open-form").removeClass("open-form");
            },
            addSubCategory() {
                 $(".pageloader").show();
                let currentObj = this;

                axios.post(currentObj.pageUrl + 'add/product/subcategory', {
                    category: currentObj.category,
                    subcategory: currentObj.subcategory,
                    avtar: currentObj.avtar,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                $("#sub-category div.open-form").removeClass("open-form");
                                currentObj.getSubCategories();
                                currentObj.category = '';
                                currentObj.subcategory = '';
                                currentObj.subid = '';
                                currentObj.avtar = '';
                                currentObj.editing = false;
                                EventBus.$emit("invokeSuccess", 'Product Sub Category Added Successfully');
                            } else {
                                console.log(response.data.msg);
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;

                        });

            },
            updateSubCategory() {
                 $(".pageloader").show();
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'update/product/subcategory', {
                    category: currentObj.category,
                    subcategory: currentObj.subcategory,
                    editId: currentObj.subid,
                    avtar: currentObj.avtar,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                $("#sub-category div.open-form").removeClass("open-form");
                                currentObj.category = '';
                                currentObj.subcategory = '';
                                currentObj.subid = '';
                                currentObj.avtar = '';
                                currentObj.editing = false;
                                currentObj.getSubCategories();
                                EventBus.$emit("invokeSuccess", 'Product Sub Category Updated Successfully');
                            } else {
                                console.log(response.data.msg);
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                           $(".pageloader").hide();
                        });

            },

            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.subCategories.data.length; i++) {
                        if (this.subCategories.data[i].status == 0) {
                            this.checkedList.push(this.subCategories.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.subCategories.data.length; i++) {
                        if (this.subCategories.data[i].status == 1) {
                            this.checkedEnableList.push(this.subCategories.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {

                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {

                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {

                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {

                        this.checked = false;

                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        this.checked = true;
                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },
            disableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedList.length == 0) {
                    return false;
                }
                let message = "Are you sure want change subcategory status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'disable/product/subcategory', {
                                list: currentObj.checkedList,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getSubCategories();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checked = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit("invokeSuccess", 'Product Sub Category Inactivated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            enableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedEnableList.length == 0) {
                    return false;
                }
                let message = "Are you sure want change subcategory status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'enable/product/subcategory', {
                                list: currentObj.checkedEnableList,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getSubCategories();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checked = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit("invokeSuccess", 'Product Sub Category Activated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
        },
        mounted() {


            this.getSubCategories();
        }



    }
</script>
<style>
     #preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 50%;
  max-height: 250px;
}    
    
</style>
