<template>
    <div id="category" class="tab-pane" v-bind:class="{active:tab== 1}">
        <div class="row">
            <div class="col-md-12 mt-0 add-user-form">
                <div class="bg-white p-3">
                    <h5 class="text-grey-dark">Add Product category</h5>
                    <form method="" action="" id="add-category" class="py-3 addcategory">
                        <div class="row">
                            <div class="col-md-4 mb-4"><label for="name">Product Category Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                                <input type="text" name="prodCat"  v-model="category_name" id="prodCat" class="w-100 px-3 pr-5 select-shadow rounded-lg border light-border show-data">
                                <div v-show="error.category" class="error-msg">
                                    <i v-show="error.category" class="fa fa-warning"></i>
                                    <span v-if="error.category" :class="['label label-danger']">{{ error.category[0] }}</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <label class="photo-upload" for="upload-pic">
                                    <i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                    <div id="preview">
                                        <img v-if="avtar" :src="avtar" />
                                    </div>
                                    <span class="upload-text">Upload Image(jpg,jpeg,png)<sup class="text-danger font-weight-bold h6">*</sup></span>
                                </label>
                                <input type="file" v-on:change="onImageChange"  name="upload-pic" value id="upload-pic" class="w-100 px-3 opacity-0 upload-pic upload-file-input" />
                                <div v-show="error.image" class="error-msg">
                                    <i v-show="error.image" class="fa fa-warning"></i>
                                    <span v-if="error.image" :class="['label label-danger']">{{ error.image[0] }}</span>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <button type="reset" v-on:click="resetCategory" class="text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                                <button v-if="!editing" type="button" v-on:click="addCategory" class="text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                                <button v-if="editing" type="button" v-on:click="updateCategory" class="text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-md-5">

                <div class="row">
                    <div class="col-md-6 position-relative search-div">
                        <input type="text" name="search" id="search" v-model="searchKey" v-on:keyup="getCategories" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border search">
                        <i class="position-absolute la la-search"></i>
                    </div>
                    <div class="col-md-6 position-relative status-div">
                        <select v-model="is_active" v-on:change="getCategories" name="is_active" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-md-7 pr-0 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length == 0 && checkedList.length == 0" >
                    <span class="ml-2 mt-1 theme-text">Active</span>
                    <label class="m-0">
                        <input type="checkbox"  checked="checked" class="ios-switch green bigswitch" disabled>
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedList.length > 0" >
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                    <label class="m-0">
                        <input type="checkbox" v-on:change="disableUsers($event)"  class="ios-switch green bigswitch">

                        <div>
                            <div></div>
                        </div>
                    </label>

                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length > 0" >
                    <span class="ml-2 mt-1 theme-text">Active</span>
                    <label class="m-0">
                        <input type="checkbox" v-on:change="enableUsers($event)"  class="ios-switch green bigswitch">
                        <div>
                            <div></div>
                        </div>
                    </label>

                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch">
                    <h6 class="mb-0 ml-3"><button v-on:click="add" title="" class="d-inline-block w-100 py-2 px-4 rounded text-white theme-bg border-btn addbtn">ADD</button></h6>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12 mt-4">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th width="60" class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList"  name="selectcheck"  class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th width="70">SNo.</th>
                                <th width="150">Avtar</th>
                                <th>Category</th>
                                <th width="100">Status</th>
                            </tr>
                        </thead>
                        <tbody v-if="categories.data.length == 0 && mountDone == true">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else v-for="(cats,index) in categories.data">
                            <tr>
                                <td class="position-relative bg-white py-2 pl-4 border border-right-0 rounded-left light-border" >
                                    <label class="checklabel" v-if="cats.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(cats.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(cats.id,$event)"  name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-if="cats.status == 1">
                                        <input v-on:click="enableuser(cats.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border"><span class="data">{{ categories.from + index }}</span></td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span  v-if="cats.avtar != null && cats.avtar != ''" class="data"><img class='mr-2 img-ico' v-bind:src=" pageUrl + 'images/product/categories/' + cats.avtar "></span>
                                    <span  v-else class="data"><img class='mr-2 img-ico' v-bind:src=" pageUrl + 'images/no-profile.png'  "></span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border"><span class="data">{{ cats.name }}</span></td>
                                <td class="bg-white border border-right-0 border-left-0 rounded-right light-border">
                                    <span v-if="cats.status == 0" class="text-success">Active</span>
                                    <span v-else class="text-success">Inactive</span>
                                    <a href="#" v-on:click="editCategory(cats)" > <span class="ml-3 theme-text edit-ico">
                                            <i class="la la-pen"></i>
                                        </span>
                                    </a>
                                </td>
                                <!-- <td class="bg-white p-3 pr-4 text-right border border-left-0 rounded-right light-border">
                                    <a href="#" v-on:click="editCategory(cats)" > <span class="ml-3 theme-text edit-ico">
                                            <i class="la la-pen"></i>
                                        </span>
                                    </a>
                                </td> -->
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                        </tbody>
                    </table>
                </div>
                <div class="mb-3 pagination" v-if="categories.data.length > 0 && mountDone == true">
                    <vue-pagination   :pagination="categories"
                        @paginate="getCategories()"
                        v-bind:checked="checked"
                        v-bind:chekall="checkAllList"
                        :offset="4">
                    </vue-pagination>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
        name: 'product-category',
        props: ['tab'],
        data() {
            return{
                pageUrl: siteUrl,
                category_name: '',
                editId: '',
                editing: false,
                searchKey: '',
                checkedList: [],
                checkAllList: false,
                checkedEnableList: [],
                categories: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                avtar: '',
                error: [],
                mountDone: false,
                load: false,
                is_active: 0,
                checked: false,
                catimg: ''
            }
        },
        computed: {

        },
        watch: {
            searchKey: function (val) {
                this.categories.current_page = 1;
            },

        },

        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    vm.avtar = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            add() {
                $("#category div.add-user-form").addClass("open-form");
            },
            editCategory(data) {
                this.editId = data.id;
                this.category_name = data.name;
                this.editing = true;
                $("#category div.add-user-form").addClass("open-form");
            },
            resetCategory() {

                $("#category div.open-form").removeClass("open-form");
            },
            getCategories() {
                let currentObj = this;
                var request = {
                    params: {
                        page: this.categories.current_page,
                        status: this.is_active,
                        searchkey: this.searchKey
                    }
                };
                axios.get(currentObj.pageUrl + 'get/product/categories', request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.categories = response.data.list;
                                if (!currentObj.load) {
                                    currentObj.mountDone = true;
                                }
                                currentObj.load = true;
                            } else {
                                currentObj.categories.data = [];

                            }
                            currentObj.resetCheckbox();
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },
            updateCategory() {
                $(".pageloader").show();
                let currentObj = this;

                axios.post(currentObj.pageUrl + 'update/product/category', {
                    category: currentObj.category_name,
                    categoryid: currentObj.editId,
                    image: currentObj.avtar,
                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                $("#category div.open-form").removeClass("open-form");
                                currentObj.editing = false;
                                currentObj.editId = '';
                                currentObj.category_name = '';
                                currentObj.avtar = '';
                                currentObj.getCategories();
                                EventBus.$emit("invokeSuccess", 'Product Category Updated Successfully');
                            } else {
                                console.log(response.data.msg);
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });


            },
            addCategory() {
                $(".pageloader").show();
                let currentObj = this;

                axios.post(currentObj.pageUrl + 'add/product/category', {
                    category: currentObj.category_name,
                    image: currentObj.avtar,
                })
                        .then(function (response) {
                            if (response.data.status) {
                                $("#category div.open-form").removeClass("open-form");
                                currentObj.getCategories();
                                currentObj.editing = false;
                                currentObj.editId = '';
                                currentObj.category_name = '';
                                currentObj.avtar = '';
                                $(".pageloader").hide();
                                EventBus.$emit("invokeSuccess", 'Product Category Added Successfully');
                            }
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                            console.log(error.response.data.errors);

                        });

            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.categories.data.length; i++) {
                        if (this.categories.data[i].status == 0) {
                            this.checkedList.push(this.categories.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.categories.data.length; i++) {
                        if (this.categories.data[i].status == 1) {
                            this.checkedEnableList.push(this.categories.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {

                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {

                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {

                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {

                        this.checked = false;

                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        this.checked = true;
                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },
            disableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedList.length == 0) {
                    return false;
                }
                let message = "Are you sure?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'disable/product/category', {
                                list: currentObj.checkedList,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getCategories();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checkedEnableList = [];
                                            currentObj.checked = false;
                                            EventBus.$emit("invokeSuccess", 'Product Category Inactivated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        })
                        .catch(function () {
                            $event.target.checked = true;
                        });



            },
            enableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedEnableList.length == 0) {
                    return false;
                }
                this.$dialog.confirm('Do you really want to change status ?')
                        .then(function (dialog) {
                            axios.post(currentObj.pageUrl + 'enable/product/category', {
                                list: currentObj.checkedEnableList,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.getCategories();
                                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.checkAllList = false;
                                            currentObj.checked = false;
                                            currentObj.checkedEnableList = [];
                                            EventBus.$emit("invokeSuccess", 'Product Category Activated Successfully');
                                        } else {
                                            console.log(response.data.msg);
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        })
                        .catch(function () {
                            $event.target.checked = true;
                        });

            },
        },
        components: {
            VuePagination,
        },
        mounted() {
            this.getCategories();

        }



    }
</script>
<style>
    .dg-btn--ok {
        border-color: green;
    }

    .dg-btn-loader .dg-circle {
        background-color: green;
    }
    #preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
   max-width: 50%;
  max-height: 250px;
}
</style>
