<template>

    <div class="col-md-9 toggle-switch bg-grey onboard-list">
        
        <header-page :pagetitle="'Onboarding Agent'" :loader="true" :activeClass="'#agentList'"></header-page>
        <div class="row mt-4 mb-4">
            <div class="col-md-12 pd-x-2">
                <div class="col-md-12 px-3 py-3 mb-3 bg-white border rounded">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-wrap justify-content-between align-items-center attention-tabs">
                            <ul role="tablist" class="nav nav-tabs custom-tabs attention-tabs">
                                <li class="nav-item">
                                    <a  data-toggle="tab"  v-on:click="mapShow = false" href="#list" class="nav-link active">List View</a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" v-on:click="mapShow = true" href="#map" class="nav-link">Map View</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-9 attention-tabs" v-if="!mapShow">
                            <div class="row">
                                <div class="col-md-4 px-2 position-relative search-div">
                                    <input type="text" class="px-3 w-100 pr-4 rounded-lg light-border border shadow search" name="searchkey" v-model='searchkey' id="searchkey" placeholder="Search Here" v-on:keyup='searchTableByDropDown'>
                                    <i class="position-absolute la la-search"></i>
                                </div>
                                <div class="col-md-4 px-2 text-right filter-div">
                                    <select v-on:change='searchTableByDropDown' v-model='is_approve' name="is_approve" class="px-2 w-100 rounded-lg light-border shadow show-data">
                                      
                                        <option value="0">Pending For Approval</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Rejected</option>
                                        <option value="3">Blocked</option>
                                    </select>
                                </div>
                                <div class="col-md-4 px-2 text-right filter-div">
                                    <select v-on:change='searchTableByDropDown' v-model='search_city' name="search_city" class="px-2 w-100 rounded-lg light-border shadow show-data">
                                        <option value="">City</option>
                                        <option v-for='list in cityList' v-if="list.city != '' && list.city != null" v:bind-value="list.city">{{ list.city }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-content">
                    <div id="list" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-end mb-3">
                                <button type="button" v-on:click="exportRetailer" name="button" class="export-btn"><i class="la la-file-export h4 mb-0 mr-1"></i>Export</button>
                            </div>
                            <div class="col-md-6 resolve text-right resolved" v-if="checkedAgentsList.length > 0">
                                <button v-if="is_approve == 1" v-on:click="deactivateAgent" type="button" class="btn btn-secondary theme-bg py-1 px-3 text-white resolvebtn">Block</button>
                                <button v-if="is_approve == 3" v-on:click="activateAgent" type="button" class="btn btn-secondary theme-bg py-1 px-3 text-white resolvebtn">UnBlock</button>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end pd-x-2 mb-3" v-if="checkedAgentsList.length > 0 && is_approve == 0">
                                <select v-on:change='approveOrRejectAgent' v-model='approveOrReject' name="approveOrReject" class="px-2 w-100 rounded-lg light-border shadow show-data">
                                    <option value="">Approve/Reject</option>
                                    <option value="1">Approve</option>
                                    <option value="2">Reject</option>
                                </select>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="col-12 p-0 inner">
                                    <table cellspacing="0" class="table table-borderless table-list agents-list">
                                        <thead>
                                            <tr>
                                                <th class="position-relative pl-4">
                                                    <label class="checklabel">
                                                        <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList" name="selectcheck" id="selectall" class="checkbox-select">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <th class="px-3">Name</th>
                                                <th class="px-3">Mobile Number</th>
                                                <th class="px-3">Aadhar Number</th>
                                                <th class="px-3">Agency Name</th>
                                                <th class="px-3">City</th>

                                                <th class="px-3 pr-4">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if='allAgentList.data.length == 0 && showtable == true'>
                                            <tr>
                                                <td colspan="10" class="text-center bg-light no-data">
                                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody v-else v-for="(list,index) in allAgentList.data">

                                            <tr class="table-rows">
                                                <td class="bg-white py-2 pl-4 border border-right-0 light-border" v-if="list.is_approve != 0">
                                                    <label class="checklabel">
                                                        <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)" type="checkbox" name="selectcheck" class="checkbox-select" checked>
                                                        <input v-else type="checkbox" v-on:click="addinList(list.id,$event)" name="selectcheck" id="selectall" class="checkbox-select">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td v-else class="bg-white py-2 pl-4 border border-right-0 light-border">
                                                    <label class="checklabel" v-if="is_approve == 0">
                                                        <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)" type="checkbox" name="selectcheck" class="checkbox-select" checked>
                                                        <input v-else type="checkbox" v-on:click="addinList(list.id,$event)" name="selectcheck" id="selectall" class="checkbox-select">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checklabel" v-else>

                                                        <input type="checkbox" name="selectcheck" class="checkbox-select" disabled>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="bg-white py-2 pl-3 d-flex align-items-center border-left-0 border border-right-0 rounded-left light-border">
                                                    <img v-bind:src="mainUrl + 'uploads/agents/'+ list.avtar" alt="list-image" class="mr-2 img-ico" />
                                                    <span class="text-capitalize value">{{ list.name }}</span>
                                                </td>

                                                <td class="bg-white py-2 pl-3 border border-right-0 border-left-0 light-border">{{ list.mobile_number }}</td>
                                                <td class="bg-white py-2 pl-3 border border-right-0 border-left-0 light-border">{{ list.adhar_number }}</td>
                                                <td class="bg-white py-2 pl-3 border border-right-0 border-left-0 light-border text-capitalize">{{ list.agency_name }}</td>
                                                <td class="bg-white py-2 pl-3 border border-right-0 border-left-0 light-border text-capitalize">{{ list.city }}</td>

                                                <td class="bg-white py-2 pr-3 border border-left-0 rounded-right light-border">
                                                    <span class="actions ">
                                                        <a v-if='list.is_approve == 0' href="#" title="View" class="action-btn" data-toggle="modal" v-on:click="showAgentDetail(list)" data-target="#myModal">
                                                            <img v-bind:src="mainUrl +'images/view-icon.png'" alt="view" class="action-icon" />
                                                        </a>

                                                        <a v-if='list.is_approve == 1' v-bind:href="mainUrl + 'approve/agent/view/' +list.id " title="View" class="action-btn">
                                                            <img v-bind:src="mainUrl +'images/view-icon.png'" alt="view" class="action-icon" />
                                                        </a>

                                                        <a v-if='list.is_approve == 2' href="#" title="View" class="action-btn" data-toggle="modal" v-on:click="showAgentDetail(list)" data-target="#myModal">
                                                            <img v-bind:src="mainUrl +'images/view-icon.png'" alt="view" class="action-icon" />
                                                        </a>
                                                    </span>

                                                    <span class="actions" v-if='list.is_approve == 0'>
                                                        <a href="#" v-on:click='approveRequest(list)' title="Approve" class="action-btn">
                                                            <img v-bind:src="mainUrl +'images/approve-icon.png'" alt="approve" class="action-icon" />
                                                        </a>
                                                    </span>
                                                    <span class="actions" v-if='list.is_approve == 0'>
                                                        <a href="#" v-on:click='RejectRequest(list)' title="Reject" class="action-btn">
                                                            <img v-bind:src="mainUrl +'images/reject-icon.png'" alt="reject" class="action-icon" />
                                                        </a>
                                                    </span>
                                                    <span class="actions" title="Approved" v-if='list.is_approve == 1 && list.activate != 1'>
                                                        <i class="h5 m-0 align-middle la la-thumbs-up"></i>
                                                    </span>
                                                    <span v-if='list.is_approve == 2 && list.activate != 1' title="Rejected" class="actions">
                                                        <i class="h5 m-0 align-middle la la-thumbs-down"></i>
                                                    </span>
                                                    <span v-if='list.activate == 1' class="text-danger actions" title="Blocked">
                                                        <i class="h5 m-0 align-middle fa fa-ban" aria-hidden="true"></i>
                                                    </span>

                                                </td>
                                            </tr>
                                            <tr class="separation">
                                                <td class="p-0">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="mb-3 pagination" v-if="allAgentList.data.length > 0">
                                        <vue-pagination v-if="!searching" v-bind:checked="is_checked" v-bind:chekall="checkAllList" :pagination="allAgentList" @paginate="getAgentList()" :offset="4"></vue-pagination>
                                        <vue-pagination v-else v-bind:checked="is_checked" v-bind:chekall="checkAllList" :pagination="allAgentList" @paginate="searchTableByDropDown()" :offset="4"></vue-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="tab-pane">
                        <div class="row">
                            <div class="col-md-7 pd-x-2">

                                <div class="row" v-if="allAgentList.data.length > 0">
                                    <div class="col-4 p-0 pr-3 inner">
                                        <select name="is_state" id="agent" onChange="getOnBoard()" class="w-100 px-3 rounded-lg light-border show-data">
                                            <option v-for="agent in allAgentList.data" v-bind:value="agent.id">{{ agent.name }}</option>


                                        </select>
                                    </div>
                                    <!-- <div class="col-4 p-0 pr-3 inner">
                                        <select name="is_city" id="is_city" class="w-100 px-3 rounded-lg light-border show-data" onchange="show_map(this.value, 'is_city')">
                                            <option value="" selected>City</option>
                                            <option value="Gurgaon">Gurgaon</option>
                                            <option value="Noida">Noida</option>
                                        </select>
                                    </div> -->
                                    <div class="col-4 p-0 pr-3 inner">
                                        <!-- <select name="is_address" id="is_address" class="w-100 px-3 rounded-lg light-border show-data" onchange="show_map(this.value, 'is_address')">
                                            <option value="" selected>Area</option>
                                            <option value="Haryana">Sohna</option>
                                            <option value="Uttar Pradesh">Sohna</option>
                                        </select> -->
                                        <input type="date" name="date" value="" id="dateMap"></input>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="row mb-5">
                                    <div class="col-md-12 mt-3 pd-x-2 map-view">
                                        <div id="map_wrapper">
                                            <div id="map_canvas_agent" class="mapping" style="height: 500px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- end -->


        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content onboard-agent-view">
                    <button type="button" class="close position-absolute close-modals" data-dismiss="modal">&times;</button>
                    <!-- Modal body -->
                    <div class="pt-5 px-4 modal-body">
                        <div class="col-12 agent-view">
                            <div class="row">
                                <div class="col-md-4 pr-0">
                                    <span class="w-100 user-image">
                                        <img id='agent_pic' v-bind:src="agentpic" alt="detail" class="w-100 img-fluid" />
                                    </span>
                                    <div class="text-center contact-info">
                                        <p id="agent_name" class="mb-1 mt-2 h5 text-capitalize name">{{ agentname }}</p>
                                        <p class="number"><i class="fa fa-phone"></i> <small id="agent_phone">+91 {{ agentphone }}</small></p>
                                    </div>
                                </div>
                                <div class="col-md-8 onboard-view">
                                    <ul class="list-group">
                                        <li class="d-flex align-items-center pt-0 mb-2 pb-3 list-group-item border-0">
                                            <span class="icons-ico mr-3">
                                                <img v-bind:src="mainUrl +'images/bag-icon.svg'" alt="bag-icon" class="icons" />
                                            </span>
                                            <span id="company_name" class="w-100 font-weight-light text-capitalize text">{{ companyname }}</span>
                                        </li>
                                        <li class="d-flex pt-0 mb-2 pb-3 list-group-item border-0">
                                            <span class="icons-ico mr-3">
                                                <img v-bind:src="mainUrl +'images/location-icon.svg'" alt="location-icon" class="icons" />
                                            </span>
                                            <span id="company_address" class="w-100 font-weight-light text">{{ companyaddress }} ,{{ companycity }} {{ companystate }}</span>
                                        </li>
                                        <li class="d-flex align-items-center pt-0 mb-2 pb-3 list-group-item border-0">
                                            <span class="icons-ico mr-3">
                                                <img v-bind:src="mainUrl +'images/mail-icon.svg'" alt="mail-icon" class="icons" />
                                            </span>
                                            <span id="agent_email" class="w-100 font-weight-light text">{{ agentemail }}</span>
                                        </li>
                                        <li class="d-flex align-items-center pt-0 mb-2 pb-3 list-group-item border-0">
                                            <span class="icons-ico mr-3">
                                                <img v-bind:src="mainUrl +'images/identity-icon.svg'" alt="identity-icon" class="icons" />
                                            </span>
                                            <span id="agent_pancard" class="w-100 font-weight-light text">{{ agentempcode }}</span>
                                        </li>
                                        <li class="d-flex align-items-center pt-0 mb-2 pb-3 list-group-item border-0">
                                            <span class="icons-ico mr-3">
                                                <img v-bind:src="mainUrl +'images/adhar-icon.png'" alt="" class="icons" />
                                            </span>
                                            <span id="agent_adhaar" class="w-100 font-weight-light text">{{ agentadhar }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import Datepicker from 'vuejs-datepicker';
    import {
    EventBus
    } from '../eventBus.js';
    import {
    siteUrl
    } from '../utility.js';
    export default {
        name: 'onboarding-agent-list',
        data() {
            return {
                mainUrl: siteUrl,
                searchkey: '',
                is_approve: 1,
                agentname: '',
                agentphone: '',
                companyname: '',
                companyaddress: '',
                companycity: '',
                companystate: '',
                agentemail: '',
                agentempcode: '',
                agentadhar: '',
                agentpic: '',
                checkedAgentsList: [],
                checkAllList: false,

                searching: false,
                allAgentList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: []
                },
                offset: 4,
                showtable: false,
                load: false,
                is_checked: '',
                search_city: '',
                cityList: '',
                mapShow: false,
                agentListForMap: [],
                approveOrReject: ''
            }
        },
        components: {
            VuePagination,
            Datepicker,
        },
        watch: {
            searchkey: function (val) {
                this.allAgentList.current_page = 1;
            },

        },
        methods: {
            approveOrRejectAgent() {
                if (this.approveOrReject == '') {
                    return alert('Please choose Approve or Reject');
                }
                var message;
                var url;
                if (this.approveOrReject == 1) {
                    message = "Are you sure want to approve the onboarding agent?";
                    url = '/approve/all/agent'
                }
                if (this.approveOrReject == 2) {
                    message = "Are you sure want to reject the onboarding agent?";
                    url = '/reject/all/agent'
                }
                let currentObj = this;


                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + url, {
                                agentlist: currentObj.checkedAgentsList,
                                type: currentObj.approveOrReject
                            })
                                    .then(function (response) {
                                        currentObj.getAgentList();
                                        if (currentObj.approveOrReject == 1) {
                                            EventBus.$emit("invokeSuccess", 'Agent Onboardings Approved Successfully');
                                        }
                                        if (currentObj.approveOrReject == 2) {
                                            EventBus.$emit("invokeSuccess", 'Agent Onboardings Rejected Successfully');
                                        }

                                        currentObj.is_checked = false;
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            exportRetailer() {
                let currentObj = this;
                window.location.href = currentObj.mainUrl + 'export/onboarding/agent?searchkey=' + this.searchkey + '&is_approve=' + this.is_approve + '&city=' + this.search_city;
            },
            resetCheckbox() {

                this.checkAllList = false;
                this.checkedAgentsList = [];
                this.is_checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            getAgentList() {
                this.is_checked = false;
                this.searching = false;
                let currentObj = this;
                axios.get(currentObj.mainUrl + `get/all/onboarding/agent/?page=${currentObj.allAgentList.current_page}`)
                        .then(function (response) {
                            if (response.data.code == '200') {
                                currentObj.allAgentList = response.data.list;
                                currentObj.cityList = response.data.city;
                            } else {
                                currentObj.allAgentList.data = [];
                            }
                            $(".pageloader").hide();
                            currentObj.resetCheckbox();
                            currentObj.load = true;
                            currentObj.showtable = true;
                            currentObj.is_approve = 1;
                        })
                        .catch(function (error) {

                        });
            },
            agentListsForMap() {
                this.is_checked = false;
                this.searching = false;
                let currentObj = this;
                axios.get(currentObj.mainUrl + `get/all/onboarding/agent-map`)
                        .then(function (response) {
                            currentObj.agentListsForMap = response.data.list;
                        })
                        .catch(function (error) {

                        });
            },

            getsearchAgentList() {
                this.is_checked = false;
                var request = {
                    params: {
                        searchkey: this.searchkey,
                        is_approve: this.is_approve,
                        page: this.allAgentList.current_page
                    }
                };
                this.searching = true;
                let currentObj = this;
                axios.get(currentObj.mainUrl + `search/all/onboarding/agent`, request)
                        .then(function (response) {

                            if (response.data.code == 200) {
                                currentObj.allAgentList = response.data.list;

                            } else {
                                currentObj.allAgentList.data = [];
                                currentObj.allAgentList.total = 0;
                                currentObj.allAgentList.current_page = 0;

                            }
                            currentObj.resetCheckbox();
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },
            test() {
                alert("sdsd");
            },
            showAgentDetail(data) {


                this.agentname = data.name;
                this.agentphone = data.mobile_number;
                this.companyname = data.agency_name;
                this.companyaddress = data.address;
                this.companycity = data.city;
                this.companystate = data.state;
                this.agentemail = data.email;
                this.agentempcode = data.employee_code;
                this.agentadhar = data.adhar_number;
                this.agentpic = this.mainUrl + 'uploads/agents/' + data.avtar;
            },
            searchTable() {
                this.is_checked = false;
                let currentObj = this;
                if (this.searchkey != '' || currentObj.is_approve != 'all') {
                    this.searching = true;
                    axios.post(currentObj.mainUrl + 'search/agent', {
                        searchkey: currentObj.searchkey,
                        is_approve: currentObj.is_approve
                    })
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.allAgentList = response.data.list;
                                } else {
                                    currentObj.allAgentList.data = [];
                                    currentObj.allAgentList.total = 0;
                                    currentObj.allAgentList.current_page = 0;
                                }
                                $(".pageloader").hide();
                                currentObj.resetCheckbox();
                            })
                            .catch(function (error) {

                            });
                } else {
                    currentObj.getAgentList();
                }
            },
            searchTableByDropDown() {

                this.is_checked = false;
                this.searching = true;
                let currentObj = this;
                if (this.searchkey != '' || currentObj.is_approve != 'all' || currentObj.search_city != 'all') {
                    axios.post(currentObj.mainUrl + 'search/agent', {
                        searchkey: currentObj.searchkey,
                        is_approve: currentObj.is_approve,
                        city: currentObj.search_city
                    })
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.allAgentList = response.data.list;
                                } else {
                                    currentObj.allAgentList.data = [];
                                    currentObj.allAgentList.total = 0;
                                    currentObj.allAgentList.current_page = 0;
                                }
                                $(".pageloader").hide();
                                currentObj.resetCheckbox();
                            })
                            .catch(function (error) {

                            });
                } else {
                    currentObj.getAgentList();
                }
            },
            approveRequest(data) {



                let currentObj = this;
                let message = "Are you sure want to approve the onboarding agent?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.get(currentObj.mainUrl + '/approve-agent/' + data.id)
                                    .then(function (response) {
                                        currentObj.getAgentList();
                                        EventBus.$emit("invokeSuccess", 'Agent Onboardings Approved Successfully');
                                        currentObj.is_checked = false;
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            RejectRequest(data) {

                let currentObj = this;
                let message = "Are you sure want to reject the onboarding agent?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.get(currentObj.mainUrl + '/reject-agent/' + data.id)
                                    .then(function (response) {
                                        currentObj.is_checked = false;
                                        currentObj.getAgentList();
                                        EventBus.$emit("invokeSuccess", 'Agent Onboardings Rejected Successfully');
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false) {
                    this.is_checked = true;
                    var ind = this.checkedAgentsList.indexOf(arg);
                    this.checkedAgentsList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedAgentsList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    if (!this.checkedAgentsList.includes(arg)) {
                        this.is_checked = true;
                        this.checkedAgentsList.push(arg);
                    } else {
                        this.is_checked = false;
                        var ind = this.checkedAgentsList.indexOf(arg);
                        this.checkedAgentsList.splice(ind, 1);
                    }
                    $event.target.checked = true;
                } else {
                    this.is_checked = false;
                    var ind = this.checkedAgentsList.indexOf(arg);
                    this.checkedAgentsList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            checkAll($event) {

                if ($event.target.checked == true) {
                    this.checkedAgentsList = [];
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    if (this.is_approve == 1 || this.is_approve == 3 || this.is_approve == 0) {
                        for (var i = 0; i < this.allAgentList.data.length; i++) {
                            this.checkedAgentsList.push(this.allAgentList.data[i].id);
                        }
                    }

                } else {
                    this.checkedAgentsList = [];
                    this.checkAllList = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            deactivateAgent() {

                let currentObj = this;
                let message = "Are you sure want to block the onboarding agent?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'deactivate/from/agent', {
                                list: currentObj.checkedAgentsList
                            })
                                    .then(function (response) {
                                        currentObj.is_checked = false;
                                        currentObj.getAgentList();

                                        EventBus.$emit("invokeSuccess", 'Agent Onboardings Blocked Successfully');
                                    })
                                    .catch(function (error) {

                                    });
                        });


            },
            activateAgent() {

                let currentObj = this;
                let message = "Are you sure want to block the onboarding agent?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'activate/from/agent', {
                                list: currentObj.checkedAgentsList
                            })
                                    .then(function (response) {
                                        currentObj.is_checked = false;
                                        currentObj.getAgentList();

                                        EventBus.$emit("invokeSuccess", 'Agent Onboardings Unblocked Successfully');
                                    })
                                    .catch(function (error) {

                                    });
                        });


            },

        },
        computed: {

        },
        mounted() {

            this.getAgentList();
            this.agentListsForMap();

        }
    }
</script>
