<template>
    <div class="row" id="callagentadd">
        <div class="col-md-12 pd-x-2 mt-2 add-user-form">
            <h6 class="mt-4 mb-3 font-weight-bold text-grey-dark">Add Calling Agent</h6>
            <form id="manage" class="bg-white rounded border light-border p-4 manage-user">
                <div class="row p-4">
                    <div class="col-md-4 mb-4">
                        <label for="name">Name of Executive <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="name" v-validate="'required'"  v-model="executive_name" id="name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        <div v-show="error.executive_name" class="error-msg">
                            <i v-show="error.executive_name" class="fa fa-warning"></i>
                            <span v-if="error.executive_name" class="help is-danger">{{ error.executive_name[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="code">Executive Code <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-model="executive_code" name="executive_code"  id="code" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        <div v-show="error.executive_code" class="error-msg">
                            <i v-show="error.executive_code" class="fa fa-warning"></i>
                            <span v-if="error.executive_code" class="help is-danger">{{ error.executive_code[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="mobile">Mobile <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-model="executive_mobile"  name="executive_mobile" id="mobile" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" maxlength="10"/>
                        <div v-show="error.executive_mobile" class="error-msg">
                            <i v-show="error.executive_mobile" class="fa fa-warning"></i>
                            <span v-if="error.executive_mobile" class="help is-danger">{{ error.executive_mobile[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="email">Email <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="email" v-model="executive_email"   name="executive_email" id="email" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        <div v-show="error.executive_email" class="error-msg">
                            <i v-show="error.executive_email" class="fa fa-warning"></i>
                            <span v-if="error.executive_email" class="help is-danger">{{ error.executive_email[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="supervisor-name">Supervisor Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-model="supervisor_name" name="supervisor_name" id="supervisor-name" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        <div v-show="error.supervisor_name" class="error-msg">
                            <i v-show="error.supervisor_name" class="fa fa-warning"></i>
                            <span v-if="error.supervisor_name" class="help is-danger">{{ error.supervisor_name[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="start-time">Shift Start Time <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="time" v-model="start_time" name="start_time" id="start_time"  placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        <div v-show="error.start_time" class="error-msg">
                            <i v-show="error.start_time" class="fa fa-warning"></i>
                            <span v-if="error.start_time" class="help is-danger">{{ error.start_time[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mt-3">
                        <label for="end-time">Shift End Time <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="time" v-model="end_time" name="end_time" id="end_time" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded" />
                        <div v-show="error.end_time" class="error-msg">
                            <i v-show="error.end_time" class="fa fa-warning"></i>
                            <span v-if="error.end_time" class="help is-danger">{{  error.end_time[0] }}</span>
                        </div>
                    </div>
                    <!--                    <div class="col-md-4 mt-3">
                                            <label for="designation">Caller Type</label>
                                            <select name="caller_type" v-model="caller_type" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                                <option value="1">Open Order Page From Mobile Number</option>
                                                <option value="2">Open Order Page From Mobile Email</option>
                                            </select>
                                            <div v-show="error.caller_type" class="error-msg">
                                                <i v-show="error.caller_type" class="fa fa-warning"></i>
                                                <span v-if="error.caller_type" class="help is-danger">{{ error.caller_type[0] }}</span>
                                            </div>
                                        </div>-->
                    <div class="col-md-4 mt-3 pl-5">
                        <label class="photo-upload" for="upload-pic"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                            <span class="upload-text">Upload photo</span>
                        </label>
                        <input type="file" v-on:change="onImageChange" name="avtar" value id="upload-pic" class="upload-file-input upload-pic" />
                        <div v-if="error.avtar" class="error-msg">
                            <i v-show="error.avtar" class="fa fa-warning"></i>
                            <span v-if="error.avtar" class="help is-danger">{{ error.avtar[0] }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button type="reset" v-on:click="cancelUserForm" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button type="button" :disabled="submitted" v-on:click="addCallingAgent" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    export default {
        name: "add_calling_agent",
        data() {
            return {
                pageurl: siteUrl,
                caller_type: "",
                end_time: "",
                start_time: "",

                my_uname: "",
                supervisor_name: "",
                executive_email: "",
                executive_mobile: "",
                executive_code: "",
                executive_name: "",
                avtar: "",
                error: '',
                submitted: false
            };
        },
        props: [],
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    vm.avtar = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUserForm() {
                this.error = '';
                this.submitted = false;
                $("#callagentadd>div.open-form").removeClass("open-form");
            },
            addCallingAgent() {
                this.submitted = true;
                let currentObj = this;
                 $(".pageloader").show();
                currentObj.error = '';
                axios.post(currentObj.pageurl + "add/calling/agent", {
                    caller_type: currentObj.caller_type,
                    end_time: currentObj.end_time,
                    start_time: currentObj.start_time,
                    supervisor_name: currentObj.supervisor_name,
                    executive_email: currentObj.executive_email,
                    executive_mobile: currentObj.executive_mobile,
                    executive_code: currentObj.executive_code,
                    executive_name: currentObj.executive_name,
                    avtar: currentObj.avtar
                })
                        .then(function (response) {
                            EventBus.$emit("agentadded");
                            EventBus.$emit("invokeSuccess", 'Calling Agent Added Successfuly');
                            $("#callagentadd>div.open-form").removeClass("open-form");
                            currentObj.caller_type = '';
                            currentObj.end_time = '';
                            currentObj.start_time = '';
                            currentObj.supervisor_name = '';
                            currentObj.executive_email = '';
                            currentObj.executive_mobile = '';
                            currentObj.executive_code = '';
                            currentObj.executive_name = '';
                            currentObj.avtar = '';
                            currentObj.submitted = false;
                              $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            currentObj.error = error.response.data.errors;
                            currentObj.submitted = false;
                              $(".pageloader").hide();
                        });

            },
            updateUserForm() {
                  this.submitted = true;
                let currentObj = this;
                axios.post(currentObj.pageurl + "update/users/data", {
                            name: currentObj.my_uname,
                            email: currentObj.user_email,
                            mobile: currentObj.user_mobile,
                            department: currentObj.user_department,
                            designation: currentObj.user_designation,
                            editid: currentObj.editId
                        })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                EventBus.$emit("userAdded");
                                EventBus.$emit("invokeSuccess", 'Calling Agent Updated Successfuly');
                                $("#addform>div.open-form").removeClass("open-form");
                                currentObj.editing = false;
                            } else {
                                console.log(response.data.msg);
                            }
                              currentObj.submitted = false;
                        })
                        .catch(function (error) {
                            currentObj.submitted = false;
                            
                        });
            }
        },
        mounted() {
            let $this = this;
            EventBus.$on("useredit", function (data) {
                $this.editing = true;
                $this.editId = data.id;
                $this.my_uname = data.name;
                $this.user_email = data.email;
                $this.user_mobile = data.mobile_number;
                $this.user_department = data.department;
                $this.user_designation = data.designation;
            });

            EventBus.$on("addingagents", function () {
                $this.caller_type = "";
                $this.end_time = "";
                $this.end_time = "";
                $this.start_time = "";

                $this.my_uname = "";
                $this.supervisor_name = "";
                $this.executive_email = "";
                $this.executive_mobile = "";
                $this.executive_code = "";
                $this.executive_name = "";
                $this.avtar = "";
            });
        }
    };
</script>
