<template>
    <div class="usertablewrap">
        <div class="row align-items-center">
            <div class="col-md-12 mt-3 mb-4 pd-x-2">
                <div class="row ustify-content-between align-items-center">
                    <div class="col-md-3 position-relative search-div">
                        <input type="text" name="search" id="search" v-model="searchKey" v-on:keyup="searchBykey" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border shadow search">
                        <i class="position-absolute la la-search"></i>
                    </div>
                    <div class="col-md-3 position-relative search-div">
                        <select v-on:change="searchBykey" v-model="status_search"  class="px-3 w-100 pr-5 rounded-lg light-border border shadow search">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>

                    <div class="col-md-6 d-flex flex-wrap justify-content-end text-right header-action-buttons" v-if="loggedinUser.role == 1">
                        <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length == 0 && checkedList.length == 0">
                            <span class="mr-2 mt-1 theme-text text-secondary">Inactive</span>
                            <label class="m-0">
                                <input type="checkbox" checked="checked" class="ios-switch green bigswitch" disabled>
                                <div>
                                    <div></div>
                                </div>
                            </label>
                            <span class="ml-2 mt-1 theme-text">Active</span>
                        </div>
                        <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedList.length > 0">
                            <span class="mr-2 mt-1 theme-text text-secondary">Inactive</span>
                            <label class="m-0">
                                <input type="checkbox" v-on:change="disableUsers($event)"  class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label>
                            
                        </div>
                        <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length > 0">
                             <span class="ml-2 mt-1 theme-text">Active</span>
                            <label class="m-0">
                                <input type="checkbox" v-on:change="enableUsers($event)" class="ios-switch green bigswitch">
                                <div>
                                    <div></div>
                                </div>
                            </label>
                           
                        </div>
                        <div class="ml-4">
                            <h6 class="m-0">
                                <a href="#" title="" class="d-inline-block w-100 py-2 px-5 rounded text-white theme-bg border-btn" v-on:click="addClassTodiv">ADD</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pd-x-2 mt-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)"  v-model='allcheck' name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>SNo.</th>
                                <th>Name of Executive</th>
                                <th>Executive Code</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Shift Start & End Time</th>
                                <th class="pr-3">Status</th>
                            </tr>
                        </thead>
                        <tbody v-if='userList.data.length == 0 && load'>
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-for='(list,index) in userList.data'>
                            <tr style="cursor: pointer;">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                    <label class="checklabel" v-if="list.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)" type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(list.id,$event)" name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checklabel" v-if="list.status == 1">
                                        <input v-on:click="enableuser(list.id,$event)" type="checkbox" name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-4 border border-left-0 border-right-0 light-border"data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ userList.from + index }}</span>
                                </td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.name }}</span>
                                </td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.executive_code }}</span>
                                </td>
                                <td class="bg-white py-4 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.mobile_number }}</span>
                                </td>
                                <td class="bg-white py-4 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.email }}</span>
                                </td>
                                <td class="bg-white py-4 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">
                                        {{ formatAMPM(list.shift_start_time) }} - {{ formatAMPM( list.shift_end_time) }}
                                    </span>
                                </td>
                                <td class="bg-white py-4 pr-3 border border-left-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span v-if='list.status == 0' class="data text-success">Active</span>
                                    <span v-if='list.status == 1' class="data text-danger">Inactive</span>
                                </td>
                            </tr>
                            <tr class="separation">
                                <td class="p-0">&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="mb-3 pagination"  v-if='userList.data.length > 0 && load'>
                    <vue-pagination v-bind:checked="is_checked" v-bind:chekall="checkAllList" v-if="!searching" :pagination="userList" @paginate="getUsers()" :offset="4"></vue-pagination>
                    <vue-pagination v-bind:chekall="checkAllList" v-bind:checked="is_checked" v-else :pagination="userList" @paginate="getUsers()" :offset="4"></vue-pagination>
                </div>

            </div>
        </div>
        <div id="myModal2" class="modal fade" v-if="modalData != ''">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content"><button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="pt-4 px-3 modal-body calling-view">
                        <div class="col-12 pt-2">
                            <div class="row calling-agent-view">
                                <div class="col-md-4 pr-0">
                                    <span class="w-100 user-image">
                                        <img v-if="modalData.avtar != '' " v-bind:src="pageUrl + 'images/callingAgent/' + modalData.avtar" alt="" class="w-100 img-fluid">
                                        <img v-else v-bind:src="pageUrl + 'images/detail-img.jpg'" alt="" class="w-100 img-fluid">
                                    </span>
                                    <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info">
                                        <p id="agent_name" class="h4 d-inline-block text-center text-capitalize w-100 name">{{ modalData.name }}</p>
                                        <span class="d-inline-block text-center w-100 number">
                                            <i class="fa fa-phone"></i>
                                            <small id="agent_phone">+91 {{ modalData.mobile_number }}</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-8 callingView">
                                    <ul class="list-group">
                                        <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-3"><img v-bind:src="pageUrl + 'images/mail-icon.svg'" alt="mail-icon" class="icons"></span>
                                            <span class="text-body font-weight-light agenttext">{{ modalData.email }}</span>
                                        </li>

                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light label">Supervisor Name:</span>
                                            <span class="text-body text-capitalize agenttext">{{ modalData.supervisor_name }}</span>
                                        </li>
                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light label">Shift:</span>
                                            <span v-if="modalData.shift_start_time != '00:00:00'" class="text-body agenttext">{{ formatAMPM( modalData.shift_start_time) }} -
                                                {{ formatAMPM( modalData.shift_end_time) }}</span>
                                            <span v-else class="text-body agenttext">'00:00:00' - '00:00:00'</span>
                                        </li>
<!--                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light">Caller Type:</span>
                                            <span class="text-body agenttext">Open Order Page From Mobile Number</span>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import { siteUrl } from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store} from '../store.js';
    export default {
        name: 'calling_agent_table',
        props: [],
        data() {
            return {
                pageUrl: siteUrl,
                //                userList: [],
                searchKey: '',
                checkedList: [],
                checkedEnableList: [],
                checkAllList: false,
                enable: false,
                currentSort: 'name',
                currentSortDir: 'asc',
                pageSize: 6,
                currentPage: 1,
                isList: false,
                modalData: '',
                userList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                status_search: 0,
                offset: 4,
                searching: false,
                allcheck: false,
                is_checked: false,
                load : false
            }
        },
        watch: {
            searchKey: function (val) {
                this.userList.current_page = 1;
            },
            checkedList: function (val) {
                if (this.userList.data.length != this.checkedList.length) {
                    this.allcheck = false;
                }
            },

        },

        computed: {
            loggedinUser() {

                return store.getters.getCurrentUser;
            },

        },
        components: {
            VuePagination,
        },
        methods: {
            showModel(data) {
                this.modalData = data;
            },
            formatAMPM(date) {
                console.log(date);
                var d = new Date(date);
                var hh = d.getHours();
                var m = d.getMinutes();
                var s = d.getSeconds();
                var dd = "AM";
                var h = hh;
                if (h >= 12) {
                    h = hh - 12;
                    dd = "PM";
                }
                if (h == 0) {
                    h = 12;
                }
                m = m < 10 ? "0" + m : m;

                s = s < 10 ? "0" + s : s;

                /* if you want 2 digit hours:
                 h = h<10?"0"+h:h; */

                var pattern = new RegExp("0?" + hh + ":" + m + ":" + s);

                var replacement = h + ":" + m;
                /* if you want to add seconds
                 replacement += ":"+s;  */
                replacement += " " + dd;

                return replacement;
            },

            checkAll($event) {

                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    for (var i = 0; i < this.userList.data.length; i++) {
                        if (this.userList.data[i].status == 0) {
                            this.checkedList.push(this.userList.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.userList.data.length; i++) {
                        if (this.userList.data[i].status == 1) {
                            this.checkedEnableList.push(this.userList.data[i].id);
                        }
                    }

                } else {

                    this.checkedList = [];
                    this.checkAllList = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false) {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    this.is_checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {
                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        this.is_checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable user at a time');
                    }
                } else {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {
                        this.is_checked = true;
                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable user at a time');
                    }
                } else {
                    this.is_checked = true;
                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },

            disableUsers($event) {
                if (this.checkedList.length == 0) {
                    return false;
                }

                let currentObj = this;
                let message = "Are you sure want to inactive?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'disable/calling/agents', {
                                list: currentObj.checkedList

                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            currentObj.is_checked = false;
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.getUsers();
                                            EventBus.$emit("invokeSuccess", 'Calling Agent Inactivated Successfully');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            enableUsers($event) {
                if (this.checkedEnableList.length == 0) {
                    return false;
                }

                let currentObj = this;
                let message = "Are you sure want to active?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'enable/calling/agents', {
                                list: currentObj.checkedEnableList

                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.is_checked = false;
                                            currentObj.checkedEnableList = [];
                                            currentObj.getUsers();
                                            EventBus.$emit("invokeSuccess", 'Calling Agent Activated Successfully');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            addClassTodiv() {
                EventBus.$emit('addingagents');

                $('.add-user-form').addClass('open-form');

            },
            editUser(data) {
                EventBus.$emit('useredit', data);
                $('.add-user-form').addClass('open-form');

            },
            searchBykey() {
                this.load = false;
                let currentObj = this;
                this.searching = true;
                this.isList = false;
                if (currentObj.searchKey != '') {
                    var request = {
                        params: {
                            page: this.userList.current_page,
                            key: currentObj.searchKey,
                            status: currentObj.status_search
                        }
                    };
                    axios.get(currentObj.pageUrl + 'search/calling/agent', request)
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.userList = response.data.list;
                                    currentObj.is_checked = false;
                                } else {
                                    currentObj.userList.data = [];
                                    currentObj.isList = true;

                                }
                                currentObj.resetCheckbox();
                                 currentObj.load = true;
                                  $(".pageloader").hide();
                            })
                            .catch(function (error) {

                            });
                } else {
                    currentObj.getUsers();
                }
            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.allcheck = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            getUsers() {
                this.searching = false;
                let currentObj = this;
                 currentObj.load = false;
                var request = {
                    params: {
                        page: this.userList.current_page,
                        status: currentObj.status_search
                    }
                };
                axios.get(currentObj.pageUrl + `get/calling/agent/`, request)
                        .then(function (response) {

                            //                            console.log(response.data);

                            if (response.data.code == 200) {
                                currentObj.is_checked = false;
                                currentObj.userList = response.data.list
                            } else {
                                console.log('data not available');
                            }
                            currentObj.resetCheckbox();
                             currentObj.load = true;
                              $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });

            },
            getDepartment(arg) {
                if (arg == 2) {
                    return 'IT';
                } else if (arg == 3) {
                    return 'Marketing';
                } else if (arg == 4) {
                    return 'Testing';
                } else if (arg == 5) {
                    return 'Sales';
                } else if (arg == 6) {
                    return 'HR';
                }

            }

        },
        mounted() {
            var $this = this;
            EventBus.$on('agentadded', function () {
                $this.getUsers();
            });

            this.getUsers();
        }



    }
</script>
