<template>
    <div class="row pd-x-2" id="callscript-form">
        <div class="col-md-12 p-0 mt-0 add-user-form">
            <h5 class="mt-4 mb-3 text-grey-dark">Add Call Script</h5>
            <form method="" action="" id="manage-user" name="product_form" class="bg-white rounded border light-border p-4 call-detailScript">
                <div class="row p-3">
                    <div class="col-md-4 mb-4">
                        <label for="retail-type1">Retailer Type I<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <div class="w-100 px-3 rounded-lg border light-border show-data customSelect"><p v-if="shopTypeName != ''">{{ shopTypeName }}</p><p v-else>Select</p></div>
                        <div class="bg-white ulListType">
                            <ul id="ulListType" class="w-100 p-0 m-0">
                                <li v-for='shop in shopTypeList' v-on:click='shopType = shop.id' selected>{{ shop.name }}</li>
                            </ul>
                            <div class="manageBtn">
                                <button type="button" name="addscriptitem" class="border-0 bg-primary text-white w-100 addscriptitem" data-toggle="modal" data-target="#addscriptinfo" v-on:click="modalType = 1">ADD</button>
                            </div>
                        </div>
                        <div v-show="error.shopType" class="error-msg">
                            <i  class="fa fa-warning"></i>
                            <span v-if="error.shopType" class="help is-danger">Retailer Type 1 is Required</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="retail-type2">Retailer Type II<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <div class="w-100 px-3 rounded-lg border light-border show-data customSelect"><p v-if="reatilerTypeName != ''">{{ reatilerTypeName }}</p><p v-else>Select</p></div>
                        <div class="bg-white ulListType">
                            <ul id="ulListType" class="w-100 p-0 m-0">
                                <li v-on:click='reatilerType = 1'>Prime </li>
                                <li v-on:click='reatilerType = 2'>Non Prime</li>
                                <li v-on:click='reatilerType = 3'>Regular</li>
                            </ul> 
                        </div>
                        <div v-show="error.reatilerType" class="error-msg">
                            <i  class="fa fa-warning"></i>
                            <span v-if="error.reatilerType" class="help is-danger">Retailer Type 2 is Required</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="calltype">Call Type<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <div class="w-100 px-3 rounded-lg border light-border show-data customSelect"><p v-if="callTypeName != ''">{{ callTypeName }}</p><p v-else>Select</p></div>
                        <div class="bg-white ulListType">
                            <ul id="ulListType" class="w-100 p-0 m-0">
                                <li v-for='call in callTypeList' v-on:click='callType = call.id'>{{ call.name }}</li>
                            </ul>
                            <div class="manageBtn">
                                <button type="button" name="addscriptitem" class="border-0 bg-primary text-white w-100 addscriptitem" data-toggle="modal" v-on:click="modalType = 2" data-target="#addscriptinfo">ADD</button>
                            </div>
                        </div>
                        <div v-show="error.callType" class="error-msg">
                            <i  class="fa fa-warning"></i>
                            <span v-if="error.callType" class="help is-danger">Call Type is Required</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4 mt-3">
                        <label for="Script">Call Script<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <textarea name="address" v-model='scriptText' id="Script" placeholder="Enter here" rows="3" class="w-100 px-3 py-3 input-shadow border light-border rounded"></textarea>
                        <div v-show="error.scriptText" class="error-msg">
                            <i  class="fa fa-warning"></i>
                            <span v-if="error.scriptText" class="help is-danger">Call Script is Required</span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button v-on:click='cancelUserForm' type="reset" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button v-if='!editing' v-on:click='saveScript' type="button" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                            <button v-if='editing' v-on:click='updateScript' type="button" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="addscriptinfo">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content position-relative">
                    <button type="button" class="position-absolute close" data-dismiss="modal">&times;</button>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h6 v-if="modalType == 1">Add Retailer Type 1</h6>
                        <h6 v-if="modalType == 2">Add Call Type</h6>
                        <h6 v-if="modalType == 3">Add Script Level Type</h6>
                        <h6 v-if="modalType == 4">Add Event Type</h6>
                        <div class="row pt-3 align-items-center">
                            <div class="col-md-8 pr-1">
                                <input type="text" placeholder="Enter here" name="type" v-model="type" class="w-100 px-2 input-shadow border light-border rounded">
                                <span v-if="error.type" :class="['label label-danger error-msg']">
                                      <i class="fa fa-warning"></i>
                                    {{ error.type[0] }}
                                </span>
                            </div>
                            <div class="col-md-4 pl-1">
                                <button type="button" v-on:click="addType" name="button" class="d-inline-block w-100 py-1 rounded text-white theme-bg border-btn addbtn">SAVE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    export default {
        name: "add_callscript_form",
        data() {
            return {
                pageurl: siteUrl,
                modalType: '',
                type: '',
                shopTypeList: '',
                callTypeList: '',
                levelTypeList: '',
                eventTypeList: '',
                error: '',
                shopType: '',
                reatilerType: '',
                eventType: '',
                levelType: '',
                callType: '',
                scriptText: '',
                editId: '',
                editing: false,
                callTypeName: '',
                eventTypeName: '',
                levelTypeName: '',
                reatilerTypeName: '',
                shopTypeName: '',

            }
        },
        props: [],
        components: {

        },
        methods: {
            getReatailType(type) {
                if (type == 1) {
                    return "Prime";
                }
                if (type == 2) {
                    return "Non Prime";
                }
                if (type == 3) {
                    return "Regular";
                }

            },
            saveScript() {
                $(".pageloader").show();
                let currentObj = this;
                axios.post(currentObj.pageurl + 'save/call/script', {
                    shopType: currentObj.shopType,
                    reatilerType: currentObj.reatilerType,
                    callType: currentObj.callType,
                    scriptText: currentObj.scriptText,
                })
                        .then(function (response) {
                            if (response.data.code == 500) {
                                EventBus.$emit("fileerror", 'Retailer Type1,Retailer Type2,Call Type Must Unique');
                            } else {
                                EventBus.$emit("scriptadded");
                                EventBus.$emit("invokeSuccess", 'Call Script Added Successfuly');
                                $("#callscript-form>div.open-form").removeClass("open-form");
                            }

                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            currentObj.error = error.response.data.errors;
                            $(".pageloader").hide();
                        });


            },
            updateScript() {
                $(".pageloader").show();
                let currentObj = this;
                axios.post(currentObj.pageurl + 'update/call/script', {
                    editid: currentObj.editId,
                    shopType: currentObj.shopType,
                    reatilerType: currentObj.reatilerType,
                    levelType: currentObj.levelType,
                    eventType: currentObj.eventType,
                    callType: currentObj.callType,
                    scriptText: currentObj.scriptText,
                })
                        .then(function (response) {
                            if (response.data.code == 500) {
                                EventBus.$emit("fileerror", 'Retailer Type1,Retailer Type2,Level Type,Event Type,Call Type Must Unique');
                            } else {
                                EventBus.$emit("scriptadded");
                                EventBus.$emit("invokeSuccess", 'Call Script Updated Successfuly');
                                currentObj.makeBlank();
                                $("#callscript-form>div.open-form").removeClass("open-form");
                            }
                            $(".pageloader").hide();

                        })
                        .catch(function (error) {
                            currentObj.error = error.response.data.errors;
                            $(".pageloader").hide();
                        });


            },
            addType() {
                $(".pageloader").show();
                var url;
                if (this.modalType == 1) {
                    url = "add/shop/type";
                }
                if (this.modalType == 2) {
                    url = "add/call/type";
                }
                if (this.modalType == 3) {
                    url = "add/level/type";
                }
                if (this.modalType == 4) {
                    url = "add/event/type";
                }
                let currentObj = this;
                axios.post(currentObj.pageurl + url, {
                    type: currentObj.type,
                })
                        .then(function (response) {
                            $("#addscriptinfo").modal('hide');
                            $(".pageloader").hide();
                            currentObj.getTypeList();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });
            },
            getTypeList() {
                let currentObj = this;
                axios.get(currentObj.pageurl + 'get/call/script/type')
                        .then(function (response) {

                            currentObj.shopTypeList = response.data.shoptype;
                            currentObj.callTypeList = response.data.calltype;
                            currentObj.levelTypeList = response.data.leveltype;
                            currentObj.eventTypeList = response.data.eventtype;
                        })
                        .catch(function (error) {

                        });
            },

            cancelUserForm() {
                this.makeBlank();
                $("#callscript-form>div.open-form").removeClass("open-form");
            },
            makeBlank() {
                this.editing = false;
                this.editId = '';
                this.shopType = '';
                this.shopTypeName = '';

                this.reatilerType = '';
                this.reatilerTypeName = '';
                this.levelType = '';
                this.levelTypeName = '';
                this.eventType = '';
                this.eventTypeName = '';
                this.callType = '';
                this.callTypeName = '';
                this.scriptText = '';

            },

        },
        mounted() {
            this.getTypeList();
            var currentObj = this;
            $('#addscriptinfo').on('shown.bs.modal', function (e) {
                currentObj.error = '';
                currentObj.type = '';
            });
            $('#addscriptinfo').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });

            EventBus.$on('editscript', function (list) {
                currentObj.editing = true;
                currentObj.editId = list.id;
                currentObj.shopType = list.shop_type;
                currentObj.shopTypeName = list.shop.name;

                currentObj.reatilerType = list.retailer_type;
                currentObj.reatilerTypeName = currentObj.getReatailType(list.retailer_type);
             
                currentObj.callType = list.call_type;
                currentObj.callTypeName = list.call.name;
                currentObj.scriptText = list.script;
                $('.add-user-form').addClass('open-form');
            });
            EventBus.$on('adding', function () {
                currentObj.makeBlank();
            });
        }
    };
</script>
