<template>
    <div class="row mt-4 mb-4" id="calscript-list">
        <div class="col-md-12 pd-x-2">
            <div class="row flex-wrap mb-1 align-items-center attention-tabs"> 
                <div class="col-md-3 position-relative type-div">
                    <select v-model="retailerType1" name="retailerType1" v-on:change="getScriptList" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <option value="">Retailer Type 1</option>
                        <option v-for="list in shopTypeList" v-bind:value="list.id">{{ list.name }}</option>
                    </select>
                </div>
                <div class="col-md-3 position-relative type-div">
                    <select v-model="retailerType2" name="retailerType2" v-on:change="getScriptList" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <option value="">Retailer Type 2</option>
                        <option  value="1">Prime</option>
                        <option  value="2">Non Prime</option>
                        <option  value="3">Regular</option>
                    </select>
                </div>
                <div class="col-md-2 position-relative type-div">
                    <select v-model="calltype" name="calltype" v-on:change="getScriptList" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <option value="">Call Type</option>
                        <option v-for="list in callTypeList" v-bind:value="list.id">{{ list.name }}</option>
                    </select>
                </div>
               
                <div class="col-md-2 d-flex align-items-center justify-content-end text-right addbtn">
                    <button type="button" v-on:click='addClassTodiv' name="button" class="d-inline-block py-2 px-5 rounded text-white theme-bg border-btn addresource">ADD</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div class="col-12 p-0 inner">
                        <table cellspacing="0" class="table table-borderless table-list agents-list">
                            <thead>
                                <tr>
                                    <th class="px-3">Retailer Type-I</th>
                                    <th class="px-3">Retailer Type-II</th>
                                    <th class="px-3">Call Type</th>
                                    
                                    <th class="px-3">Call Script</th>
                                    <th class="px-3 pr-4">Action</th>
                                </tr>
                            </thead>
                            <tbody v-for='(list,index) in allScripts.data' v-if="allScripts.data.length > 0 && loaded">
                                <tr class="table-rows">

                                    <td class="bg-white py-3 pl-3 border border-right-0 light-border">{{ list.shop.name }}</td>
                                    <td class="bg-white py-3 pl-3 border border-right-0 border-left-0 light-border">{{ getReatailType(list.retailer_type) }}</td>
                                    <td class="bg-white py-3 pl-3 border border-right-0 border-left-0 light-border">{{ list.call.name }}</td>
                                  
                                    <td class="bg-white py-3 pl-3 border border-right-0 border-left-0 light-border text-capitalize scriptText">
                                        <span class="script-text">{{ list.script }}</span>
                                    </td>
                                    <td class="bg-white py-3 pr-3 border border-left-0 rounded-right light-border">
                                        <span class="actions">
                                            <a v-bind:href="pageurl + 'call/script/tree/' + list.id" title="View"   v-on:click='showView(list)' class="action-btn">
                                                <img src="http://localhost/o2r/public/images/view-icon.png" alt="view" class="action-icon">
                                            </a>
                                        </span>
                                        <span class="actions">
                                            <a href="#" title="Approve" v-on:click='editScript(list)' class="ml-3 theme-text edit-ico action-btn">
                                                <i class="la la-pen"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="separation"><td class="p-0">&nbsp;</td></tr>


                            </tbody>
                            <tfoot v-if="allScripts.data.length == 0 && loaded">
                                <tr>
                                    <td colspan="10" class="text-center bg-light no-data">
                                        <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="mb-3 pagination" v-if="allScripts.data.length > 0 && loaded">
                            <vue-pagination  :pagination="allScripts" @paginate="getScriptList()" :offset="4"></vue-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div id="viewScriptdetail" class="modal fade" >
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="pt-4 px-3 modal-content"><button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="col-md-12">
                        <h5 class="border border-top-0 border-left-0 border-right-0 pb-2">Details</h5>
                    </div>
                    <div class="modal-body " v-if='viewpop'>
                        <div class="row details-view">
                            <div class="col-md-3 inner-items"><label>RETAILER TYPE-I	</label>
                                <p>{{ modalData.shop.name }}</p>
                            </div>
                            <div class="col-md-3 inner-items"><label>RETAILER TYPE-II	</label>
                                <p>{{ getReatailType(modalData.retailer_type) }}</p>
                            </div>
                            <div class="col-md-2 inner-items"><label>CALL TYPE</label>
                                <p>{{ modalData.call.name }}</p>
                            </div>
                            <div class="col-md-3 inner-items"><label>CALL SCRIPT</label>
                                <p>{{ modalData.script }}<button type="button" class="btn-approve" v-on:click='startScript'>+</button></p> 
                            </div>
                            
                        </div>
                        <div class="row details-view" v-if='showTree'>
                            <my-tree v-bind:script_id="modalData.id"></my-tree> 
                        </div>
                        <div class="row details-view" v-if='showTree'>
                            <button typ='button' v-on:click="submitScript">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VuePagination from '../partials/PaginationComponent.vue';
   
    export default {
        name: "callscript_table",
        data() {
            return {
                pageurl: siteUrl,
                modalData: '',
                searchKey: '',
                allScripts: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                offset: 4,
                viewpop: false,
                shopTypeList: '',
                callTypeList: '',
                levelTypeList: '',
                eventTypeList: '',
                levelType: '',
                calltype: '',
                retailerType2: '',
                retailerType1: '',
                loaded: false,
                showTree : false
                

            };
        },
        props: [],
        components: {
            VuePagination,
           
        },
        watch: {
            levelType: function () {

                this.allScripts.page = 0;
            },
            calltype: function () {

                this.allScripts.page = 0;
            },
            retailerType2: function () {

                this.allScripts.page = 0;
            },
            lretailerType1: function () {

                this.allScripts.page = 0;
            },

        },
        methods: {
            submitScript(){
                
                 EventBus.$emit("saveScript");
                
            },
            startScript(){
                this.showTree = true;
            },
            editScript(list) {
                EventBus.$emit("editscript", list);

            },
            getReatailType(type) {
                if (type == 1) {
                    return "Prime";
                }
                if (type == 2) {
                    return "Non Prime";
                }
                if (type == 3) {
                    return "Regular";
                }

            },
            showView(list) {

                this.modalData = list;


            },
            addClassTodiv() {
                EventBus.$emit("adding");
            },
            getTypeList() {
                let currentObj = this;
                axios.get(currentObj.pageurl + 'get/call/script/type')
                        .then(function (response) {

                            currentObj.shopTypeList = response.data.shoptype;
                            currentObj.callTypeList = response.data.calltype;
                            currentObj.levelTypeList = response.data.leveltype;
                            currentObj.eventTypeList = response.data.eventtype;
                        })
                        .catch(function (error) {

                        });
            },
            getScriptList() {
                let currentObj = this;
                currentObj.loaded = false;
                var request = {
                    params: {
                        page: this.allScripts.current_page,
                        levelType: this.levelType,
                        calltype: this.calltype,
                        retailerType2: this.retailerType2,
                        retailerType1: this.retailerType1,
                    }
                };
                axios.get(currentObj.pageurl + 'get/call/script/list', request)
                        .then(function (response) {

                            currentObj.allScripts = response.data.list;
                            currentObj.loaded = true;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

        },
        mounted() {
            var $this = this;
            EventBus.$on('scriptadded', function () {
                $this.getScriptList();
            });
            $this.getTypeList();
            $this.getScriptList();

            $('#viewScriptdetail').on('shown.bs.modal', function (e) {

                $this.viewpop = true;
            });
            $('#viewScriptdetail').on('hidden.bs.modal', function (e) {
                $this.viewpop = false;
            });

        }
    };
</script>
