<template>
    <div class="col-md-12 pd-x-2 mt-3">
        <div class="row px-3 py-3 mb-3 bg-white border rounded mt-3" id="calscript-list">
            <div class="d-flex flex-wrap w-100">
                <div class="col-md-3 inner-items"><label>RETAILER TYPE-I	</label>
                    <p>{{ $attrs.modaldata.shop.name }}</p>
                </div>
                <div class="col-md-3 inner-items"><label>RETAILER TYPE-II	</label>
                    <p>{{ getReatailType($attrs.modaldata.retailer_type) }}</p>
                </div>
                <div class="col-md-2 inner-items"><label>CALL TYPE</label>
                    <p>{{ $attrs.modaldata.call.name }}</p>
                </div>
                <div class="col-md-3 inner-items"><label>CALL SCRIPT</label>
                    <p>{{ $attrs.modaldata.script }}<button type="button" class="btn-approve" v-on:click='startScript'>+</button></p> 
                </div>
            </div>
            <div class="w-100" v-if='showTree'>
                <my-tree v-bind:script_id="$attrs.modaldata.id"></my-tree> 
            </div>
            <div class="px-4" v-if='showTree'>
                <button type='button' class="border-0 rounded mx-1 theme-bg px-4 custom-btn" v-on:click="submitScript">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VuePagination from '../partials/PaginationComponent.vue';

    export default {
        name: "call_script_tree_table",
        data() {
            return {
                pageurl: siteUrl,

                searchKey: '',
                allScripts: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                offset: 4,
                viewpop: false,
                shopTypeList: '',
                callTypeList: '',
                levelTypeList: '',
                eventTypeList: '',
                levelType: '',
                calltype: '',
                retailerType2: '',
                retailerType1: '',
                loaded: false,
                showTree: false


            };
        },
        props: ['modalData'],
        components: {
            VuePagination,

        },
        watch: {
            levelType: function () {

                this.allScripts.page = 0;
            },
            calltype: function () {

                this.allScripts.page = 0;
            },
            retailerType2: function () {

                this.allScripts.page = 0;
            },
            retailerType1: function () {

                this.allScripts.page = 0;
            },
            showTree: function () {

                var $this = this;
                if (this.showTree == true) {
                    setTimeout(function () {
                        if ($this.$attrs.modaldata.script_data == null) {
                            $this.$attrs.modaldata.script_data = {
                                name: "",
                                children: [
                                    {
                                        name: "",
                                        children: [
                                            {
                                                name: "",
                                                children: [
                                                ]
                                            },
                                            {
                                                name: "",
                                                children: [

                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        name: "",
                                        children: [
                                            {
                                                name: "",
                                                children: [

                                                ]
                                            },
                                            {
                                                name: "",
                                                children: []
                                            }
                                        ]
                                    }
                                ]
                            };
                        }
                        EventBus.$emit("loadScript", $this.$attrs.modaldata.script_data);
                    }.bind($this), 1000);
                }

            },

        },
        methods: {
            submitScript() {
                $(".pageloader").show();
                EventBus.$emit("saveScript");

            },
            startScript() {
                this.showTree = true;
            },
            editScript(list) {
                EventBus.$emit("editscript", list);

            },
            getReatailType(type) {
                if (type == 1) {
                    return "Prime";
                }
                if (type == 2) {
                    return "Non Prime";
                }
                if (type == 3) {
                    return "Regular";
                }

            },
            showView(list) {

                this.$attrs.modaldata = list;


            },
            addClassTodiv() {
                EventBus.$emit("adding");
            },
            getTypeList() {
                let currentObj = this;
                axios.get(currentObj.pageurl + 'get/call/script/type')
                        .then(function (response) {

                            currentObj.shopTypeList = response.data.shoptype;
                            currentObj.callTypeList = response.data.calltype;
                            currentObj.levelTypeList = response.data.leveltype;
                            currentObj.eventTypeList = response.data.eventtype;
                        })
                        .catch(function (error) {

                        });
            },
            getScriptList() {
                let currentObj = this;
                currentObj.loaded = false;
                var request = {
                    params: {
                        page: this.allScripts.current_page,
                        levelType: this.levelType,
                        calltype: this.calltype,
                        retailerType2: this.retailerType2,
                        retailerType1: this.retailerType1,
                    }
                };
                axios.get(currentObj.pageurl + 'get/call/script/list', request)
                        .then(function (response) {

                            currentObj.allScripts = response.data.list;
                            currentObj.loaded = true;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

        },
        mounted() {
            var $this = this;
            EventBus.$on('scriptadded', function () {
                $this.getScriptList();
            });
            $this.getTypeList();
            $this.getScriptList();

            $('#viewScriptdetail').on('shown.bs.modal', function (e) {

                $this.viewpop = true;
            });
            $('#viewScriptdetail').on('hidden.bs.modal', function (e) {
                $this.viewpop = false;
            });

        }
    };
</script>
