<template>
    <div class="row mt-4">
        <div class="col-md-12 pd-x-2">
            
                <div class="dropdown-toggle notification w-100 text-right">
                    <button type="button" class="btn theme-bg py-2 px-4 text-white" v-if="!breakAgent" v-on:click="breakNow">Break</button>
                    <button type="button" class="btn btn-danger py-2 px-4 text-white" v-else v-on:click="breakNow">Stop</button>
                </div>
        </div>
        <div class="col-md-12 mt-3 pd-x-2">
            <div class="col-12 p-0 inner">
                <table cellspacing="0" class="table table-borderless table-list retailer-list">
                    <thead>
                        <tr>
                            <th width="100" class="pl-4">Retailer</th>
                            <th width="110">Mobile</th>
                            <th width="300">Location</th>
                            <!-- <th>Queue Added</th> -->
                            <th>Schedule Start</th>
                            <th>Schedule End</th>
                            <th class="pr-3" v-if="!$attrs.isadmin && !breakAgent ">Action</th>
                        </tr>
                    </thead>
                    <tbody v-if="loaded && userList.length > 0">
                        <tr v-for="(list,index) in userList" v-if="list.retailers != null">
                            <td
                                data-toggle="modal"
                                data-target="#myModal2"
                                class="bg-white py-4 pl-4 border border-right-0 light-border"
                                >
                                <span class="data" v-if="list.retailers != null">{{ list.retailers.full_name }}</span>
                            </td>
                            <td
                                data-toggle="modal"
                                data-target="#myModal2"
                                class="bg-white py-4 border border-right-0 border-left-0 light-border"
                                >
                                <span
                                    class="data"
                                    v-if="list.retailers != null"
                                    >{{ list.retailers.primary_mobile_number }}</span>
                            </td>
                            <td
                                data-toggle="modal"
                                data-target="#myModal2"
                                class="bg-white py-4 border border-right-0 border-left-0 light-border"
                                >
                                <span class="data" v-if="list.retailers != null">{{ list.retailers.shop_address }}</span>
                            </td>

                            <td
                                data-toggle="modal"
                                data-target="#myModal2"
                                class="bg-white py-4 border border-left-0 border-right-0 light-border"
                                >
                                <span class="data">
                                    <font class="text-success">{{ list.startTime }}</font>
                                </span>
                            </td>
                            <td
                                data-toggle="modal"
                                data-target="#myModal2"
                                class="bg-white py-4 border border-left-0 border-right-0 light-border"
                                >
                                <span class="data">{{ list.endTime }}</span>
                            </td>
                            <td 
                                data-toggle="modal"
                                data-target="#myModal2"
                                class="bg-white py-4 pr-3 border border-left-0 light-border"
                                v-if="!$attrs.isadmin && !breakAgent"
                                >
                                <span class="actions">
                                    <a href="#" title="View" class="action-btn" v-on:click="placeCall(list.retailers.id)">
                                        <i class="lar la-eye font-18"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot v-if='userList.length == 0 && loaded'>
                        <tr>
                            <td colspan="10" class="text-center bg-light no-data">
                                <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</template>


<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import { store } from "../store.js";
//import { io } from "../socket.io.js";

    const WS_URL = "http://149.28.158.217:3000";
    var socket = io(WS_URL);
    export default {
        name: "retailer_queue_list",
        props: ['socket'],
        data() {
            return {
                pageUrl: siteUrl,
                tab: 1,
                loaded: false,
                lists: [],
                userList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                  loaded: false,
                 breakAgent : false
            };
        },
        computed: {},
        components: {},
        methods: {
             breakNow() {
                if (this.breakAgent == true) {
                    this.breakAgent = false;
                } else {
                    this.breakAgent = true;
                }
            },
            proceed(ind) {
                this.level =
                        "Level " + (parseInt(this.currIndex) + parseInt(this.integer++));
                this.event = "Initial";
            },
            getQueueList: function () {
                var $this = this;
                $this.loaded = false;
                axios.get(siteUrl + "agent/retailer-queue-list")
                        .then(function (response) {
                            $this.userList = response.data.lists;
                            $this.loaded = true;
                        })
                ["catch"](function (error) {

                });
            },
            placeCall(retailerid) {

                socket.emit('retailers_click');
                window.open(siteUrl + 'agent/panel/' + retailerid, 'mywindow', '_blank', 'status=1,toolbar=0,height=200,width=500,left=500,top=500,fullscreen = 1,directories=no,titlebar=no');
                console.log('test click');
            }
        },
        mounted() {
            var $this = this;

            socket.on('connect', function (data) {
                socket.emit('retailers_click');
                socket.on('usersReload', $this.getQueueList);
            });
            socket.on('connect_error', function () {
                console.log('connection error----------------');
            });

        }
    };


</script>

