<template>
    <div class="col-md-9 toggle-switch bg-grey onboard-list">
        <header-page :pagetitle="'Retailers'" :loader="false"></header-page>

        <div class="row mt-4 mb-5">
            <div class="pd-x-2 mt-1 col-md-12">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-md-12 mt-1 d-flex flex-wrap align-items-center orders-calling">
                            <h6 class="text-grey-dark m-0">Assign Products</h6>
                            <div class="theme-text mx-4 order-call-shop">
                                <a href="#" title class="mx-2 theme-text link">
                                    <img
                                        v-bind:src="mainUrl + 'images/bag-icon.png'"
                                        alt="bag-icon"
                                        class="align-middle mr-2 icons"
                                        />
                                    <span>{{ retailerInfo.shop_name }}</span>
                                </a>
                            </div>
                            <div class="d-flex flex-wrap align-items-center theme-text order-call-name">
                                <img
                                    v-bind:src="mainUrl + 'images/user-icon.svg'"
                                    alt="user-icon"
                                    class="align-middle mr-2 icons"
                                    />

                                <span>{{ retailerInfo.full_name }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 text-right filter-div">
                                    <select
                                        name="is_approve"
                                        v-model="productKey"
                                        class="px-3 pr-5 rounded-lg light-border show-data"
                                        v-on:change="getProducts(productKey)"
                                        >
                                        <option value>Select Product Category</option>
                                        <option v-for="list in categorylist" v-bind:value="list.id">{{ list.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 pr-0 position-relative search-div">
                                    <input
                                        v-model="searchKey"
                                        v-on:keyup="getProducts(productKey,searchKey)"
                                        type="text"
                                        name="searchkey"
                                        id="searchkey"
                                        placeholder="Search Here"
                                        class="px-3 w-100 w-100 pr-5 rounded-lg light-border border search"
                                        />
                                    <i class="position-absolute la la-search"></i>
                                </div>
                            </div>
                            <div class="col-md-8 d-flex flex-wrap justify-content-end text-right header-action-buttons" v-if="checkedList.length > 0">
                                <div class="d-flex flex-wrap align-items-center checkbox-switch">
                                    <label class="m-0">
                                        <input type="checkbox" checked="checked"  class="ios-switch green bigswitch" v-on:click="updateChanges($event)" />
                                        <div>
                                            <div></div>
                                        </div>
                                    </label>
                                    <span class="ml-2 mt-1 theme-text">Update</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list agents-list">
                        <thead>
                            <tr>
                                <th class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input
                                            type="checkbox"
                                            v-on:click="checkAll($event)"
                                            name="selectcheck"
                                            class="checkbox-select"
                                            />
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th class="px-3">Sr. No</th>
                                <th class="px-3">Product Name</th>
                                <th class="px-3">Product SKU</th>
                                <th class="px-3">MRP</th>
                                <th class="px-3">RLP</th>
                                <th class="px-3">DLP</th>
                            </tr>
                        </thead>
                        <tbody v-for="(list,index) in productslist.data" v-if="list.status == 0">
                            <tr class="table-rows">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border" >
                                    <label class="checklabel" v-if="list.isAssigned == 1">
                                        <input v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked />

                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checklabel" v-else>

                                        <input type="checkbox"  v-on:click="addinList(list.id,$event)" name="selectcheck" id="selectall"  class="checkbox-select"   />
                                        <span class="checkmark"></span>
                                    </label>

                                </td>
                                <td class="bg-white py-2 pl-4 border-left-0 border border-right-0 light-border">
                                    <img
                                        v-if="list.avtar != ''"
                                        v-bind:src="mainUrl + 'images/product/'+ list.avtar"
                                        alt="list-image"
                                        class="mr-2 img-ico"
                                        />
                                    <img
                                        v-if="list.avtar == ''"
                                        v-bind:src="mainUrl + 'images/no-image.jpg'"
                                        alt="list-image"
                                        class="mr-2 img-ico"
                                        />
                                    <span class="value data">{{ index + 1 }}</span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.name }}</span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.sku_number }}</span>
                                </td>
                                <td class="bg-white py-2 border border border-left-0 rounded-right light-border">
                                    <span class="data">{{ list.mrp }}</span>
                                </td>
                                <td class="bg-white py-2 border border border-left-0 rounded-right light-border">
                                    <span class="data">{{ list.rlp }}</span>
                                </td>
                                <td class="bg-white py-2 border border border-left-0 rounded-right light-border">
                                    <span class="data">{{ list.dlp }}</span>
                                </td>
                            </tr>
                            <tr class="separation">
                                <td class="p-0">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
            import { EventBus } from "../eventBus.js";
            import VuePagination from "../partials/PaginationComponent.vue";
            import { store } from "../store.js";
            export default {
            name: "assign-product",
                    data() {
            return {
            mainUrl: siteUrl,
                    retailerInfo: "",
                    productKey: "",
                    checkAllList: false,
                    checkedList : [],
                    productslist: {
                    total: 0,
                            per_page: 2,
                            from: 1,
                            to: 0,
                            current_page: 1,
                            data: ''
                    },
                    offset: 4,
                    searchKey  : ''
            };
            },
                    props: ["rid"],
                    computed: {
                    categorylist() {
                    return store.getters.productCategoryList;
                    },
                    },
                    watch: {},
                    methods: {
                    checkAll($event) {
                    if ($event.target.checked == true) {
                    this.checkedList = [];
                            $('table tbody tr td label.checklabel input[type="checkbox"]').each(
                            function() {
                            $(this).prop("checked", true);
                            }
                    );
                            this.checkAllList = true;
                            for (var i = 0; i < this.productslist.data.length; i++) {
                    if (this.productslist.data[i].status == 0) {
                    this.checkedList.push(this.productslist.data[i].id);
                    }
                    }
                    } else {
                    this.checkedList = [];
                            this.checkAllList = false;
                            $('table tbody tr td input[type="checkbox"]').each(function() {
                    $(this).prop("checked", false);
                    });
                    }
                    },
                            removeFromList(arg, $event) {
                    if ($event.target.checked == false) {
                    var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                            $event.target.checked = false;
                    } else {
                    this.checkedList.push(arg);
                            $event.target.checked = true;
                    }
                    },
                            addinList(arg, $event) {


                    if (!this.checkedList.includes(arg)) {
                    this.checkedList.push(arg);
                    } else {
                    var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                    }
                    $event.target.checked = true;
                    },
                            getCategory() {
                    let currentObj = this;
                            axios.post(currentObj.mainUrl + "get/product/category")
                            .then(function(response) {
                            if (response.data.code == 200) {
                            store.commit("productCategory", response.data.list);
                            } else {
                            store.commit("productCategory", []);
                                    console.log(response.data.msg);
                            }
                            })
                            .catch(function(error) {});
                    },
                            getProducts(cat = "",searchKey = "") {
                    let currentObj = this;
                            axios.post(currentObj.mainUrl + "get/assigned/product/list", {
                            cat: cat,
                            searchKey: searchKey,
                                    rid : currentObj.rid
                            })
                            .then(function(response) {
                            if (response.data.code == 200){
                            currentObj.productslist = response.data.list;
                                    for (var i = 0; i < currentObj.productslist.data.length; i++) {
                            if (currentObj.productslist.data[i].isAssigned == 1) {
                            currentObj.checkedList.push(currentObj.productslist.data[i].id);
                            }
                            }


                            }
                            })
                            .catch(function(error) {});
                    },
                            updateChanges($event) {
                    var r = confirm("are you sure?");
                            if (r == 1){
                    let currentObj = this;
                            axios.post(currentObj.mainUrl + "update/retailer/assigned/products", {
                            list: currentObj.checkedList,
                                    rid : currentObj.rid
                            })
                            .then(function(response) {
                            currentObj.getProducts();
                            })
                            .catch(function(error) {});
                    }
                    },
                    },
                    created() {
            var currentObj = this;
                    axios.post(currentObj.mainUrl + "find/retailer", {
                    rid: currentObj.rid
                    })
                    .then(function(response) {
                    currentObj.retailerInfo = response.data.data;
                    })
                    .catch(function(error) {});
            },
                    mounted() {
            this.getCategory();
                    this.getProducts();
            }
            };
</script>
