<template>
    <div class="col-md-9 toggle-switch bg-grey onboard-list">
        <header-page :pagetitle="'Attention Requested'" :activeClass="'#retailerlist'" :loader="true"></header-page>
        <div class="row">            
            <div class="col-md-12 pd-x-2 mt-3">
                <div class="col-md-12 px-3 pb-3 mb-3 bg-white border rounded">
                    <div class="row align-items-center">
                        <div class="col-sm-6 d-flex flex-wrap px-2 mt-3 justify-content-between align-items-center attention-tabs">
                            <ul class="nav nav-tabs custom-tabs attention-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" v-on:click="getAttentionList('reset','attention')" data-toggle="tab" href="#attention">Recieved</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click="getAttentionList('reset','resolve')" data-toggle="tab" href="#resolve">Resolved</a>
                                </li>
                            </ul>
                            <div class="resolve text-right resolved" v-if="checkedRetailerList.length > 0 && attentionbutton == true">
                                <button v-on:click="resolutionpopupopen" type="button" class="btn btn-secondary theme-bg py-2 px-4 text-white resolvebtn">Resolve</button>
                            </div>
                        </div>
                        <div class="col-md-3 px-2 mt-3 position-relative search-div">
                           <datepicker format="d MMMM yyyy"  placeholder="Select Date" :disabled-dates="disabledDates" class="datePicker1"  name="fromdate" v-model="resolvedate"></datepicker>
                        </div>
                        <div class="col-md-3 px-2 mt-3 position-relative search-div">
                            <input type="text" class="px-3 w-100 pr-5 shadow rounded-lg light-border border search"  v-model="searchKey" name="search" id="search" value="" placeholder="Search Here">
                            <i class="position-absolute la la-search" v-on:click="searchBykey"></i>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="attention" class="tab-pane active">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end pd-x-2 mb-3">
                        <a v-bind:href="mainUrl + 'export/attention/required/' + status"  name="button" class="export-btn"><i class="la la-file-export h4 mb-0 mr-1"></i>Export</a>
                    </div>
                    <div class="col-md-12 pd-x-2">
                        <div class="col-12 p-0 inner">
                            <table cellspacing="0" class="table table-borderless table-list attention-list">
                                <thead>
                                    <tr>
                                        <th width="50" class="position-relative pl-3">
                                            <label class="checklabel">
                                                <input type="checkbox" v-on:click="checkAll($event)" v-model='checkAllList' name="selectcheck" id="selectall" class="checkbox-select" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <th>Date</th>
                                        <th>QR Code</th>
                                        <th>Retail Name</th>
                                        <th>Primary Contact</th>
                                        <th>Shop</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Geo location</th>
                                        <th class="pr-3">Reason</th>

                                    </tr>
                                </thead>
                                <tbody v-if='attentionList.data.length == 0'>
                                    <tr>
                                        <td colspan="10" class="text-center bg-light no-data">
                                            <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody  v-for="(list,index) in attentionList.data" v-if="list.status == 0 && attentionList.data.length > 0 && list.get_retailer != null">
                                    <tr>
                                        <td class="bg-white py-2 pl-3 border border-right-0 light-border">
                                            <label class="checklabel">
                                                <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                                <input v-else type="checkbox" v-on:click="addinList(list.id,$event)"  name="selectcheck" id="selectall" class="checkbox-select">
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data"> {{ formatDate(list.created_at) }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data" v-if="list.get_retailer != null || list.get_retailer.scan_code != ''  ">{{ list.get_retailer.scan_code }}</span>
                                            <span class="data" else></span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data retail-shop" v-bind:title="list.get_retailer.full_name">{{ list.get_retailer.full_name }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.primary_mobile_number }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data retail-name" v-bind:title="list.get_retailer.shop_name">{{ list.get_retailer.shop_name }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.city }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.state }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.latitudes }},{{ list.get_retailer.longitude }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-left-0 rounded-right light-border" v-if="list.user_type == 1">
                                            <p class="m-0">{{ list.reason }}</p>
                                            <p class="m-0 text-success">{{ list.sku_name }}</p>
                                        </td>
                                        <td class="bg-white py-2 border border-left-0 rounded-right light-border" v-if="list.user_type == 2">
                                            <p class="m-0" v-if="list.feedback != null">{{ list.feedback.remark }}</p><p class="m-0" v-else>Not Available</p>
                                            <p class="m-0 text-success">By Call Center</p>
                                        </td>
                                        <td class="bg-white py-2 border border-left-0 rounded-right light-border" v-if="list.user_type == 3">
                                            <p class="m-0" v-if="list.feedback != null">{{ list.feedback.remark }}</p><p class="m-0" v-else>Not Available</p>
                                            <p class="m-0 text-success">By Admin</p>
                                        </td>

                                    </tr>
                                    <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="resolve" class="tab-pane">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end pd-x-2 mb-3">
                        <a v-bind:href="mainUrl + 'export/attention/required/' + status"  name="button" class="export-btn"><i class="la la-file-export h4 mb-0 mr-1"></i>Export</a>
                    </div>
                    <div class="col-md-12 pd-x-2">
                        <div class="col-12 p-0 inner">
                            <div class="overflow-x mb-3">
                            <table cellspacing="0" class="table table-borderless table-list attention-list layout-fixed">
                                <thead>
                                    <tr>
                                        <th width="100" class="pl-3">Date</th>
                                        <th width="130">QR Code</th>
                                        <th width="120">Retail Name</th>
                                        <th width="120">Primary Contact</th>
                                        <th width="100">Shop</th>
                                        <th width="100">City</th>
                                        <th width="100">State</th>
                                        <th width="150">Geo location</th>
                                        <th width="150">Reason</th>
                                        <th class="pr-3" width="300">Resolution</th>
                                    </tr>
                                </thead>

                                <tbody v-for="(list,index) in attentionList.data" v-if="list.status == 1 && list.get_retailer != null">
                                    <tr>

                                        <td class="bg-white py-2 pl-3 border border-right-0 light-border">
                                            <span class="data"> {{ formatDate(list.created_at) }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data" v-if="list.get_retailer != null || list.get_retailer.scan_code != ''  ">{{ list.get_retailer.scan_code }}</span>
                                            <span class="data" else></span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data retail-name" v-bind:title="list.get_retailer.full_name">{{ list.get_retailer.full_name }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.primary_mobile_number }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data retail-shop" v-bind:title="list.get_retailer.shop_name">{{ list.get_retailer.shop_name }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.city }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.state }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                            <span class="data">{{ list.get_retailer.latitudes }},{{ list.get_retailer.longitude }}</span>
                                        </td>
                                        <td class="bg-white py-2 border border-left-0 rounded-right light-border" v-if="list.user_type == 1">
                                            <p class="m-0">{{ list.reason }}</p>
                                            <p class="m-0 text-success">{{ list.sku_name }}</p>
                                        </td>
                                         <td class="bg-white py-2 border border-left-0 rounded-right light-border" v-if="list.user_type == 2">
                                            <p class="m-0" v-if="list.feedback != null">{{ list.feedback.remark }}</p><p class="m-0" v-else>Not Available</p>
                                            <p class="m-0 text-success">By Call Center</p>
                                        </td>
                                         <td class="bg-white py-2 border border-left-0 rounded-right light-border" v-if="list.user_type == 3">
                                            <p class="m-0" v-if="list.feedback != null">{{ list.feedback.remark }}</p><p class="m-0" v-else>Not Available</p>
                                            <p class="m-0 text-success">By Admin</p>
                                        </td>
                                        <td class="bg-white py-2 px-2 border border-left-0 rounded-right light-border">
                                            <p class="m-0">{{ list.resolution }}</p>

                                        </td>
                                    </tr>
                                    <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-x-2 mb-3 pagination">
                <div class="row" v-if="attentionList.data.length > 0">
                    <vue-pagination
                        v-bind:checked="checked"
                        v-bind:chekall="checkAllList"
                        v-if="!searching" 
                        :pagination="attentionList" 
                        @paginate="getAttentionList()" 
                        :offset="4">

                    </vue-pagination>
                    <vue-pagination v-else 
                                    v-bind:checked="checked"
                                    v-bind:chekall="checkAllList"
                                    :pagination="attentionList" @paginate="searchBykey()" :offset="4"></vue-pagination>
                </div>
            </div>

            <div id="resolution" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <button type="button" style="position: absolute;right: 20px;top: 14px;" class="close" data-dismiss="modal">&times;</button>  
                        <div class="modal-body">
                            <div class="w-100">                                
                                <label for="name">Resolution<sup class="text-danger font-weight-bold h6">*</sup></label>
                                <textarea name="resolution" v-model="resolution" id="name" placeholder="Enter Here" class="form-control px-3 py-2" aria-required="true" rows="4" cols="12"></textarea>
                                <div v-if="IsReso" class="error-msg">
                                    <i v-if="IsReso" class="fa fa-warning"></i>
                                    <span v-if="IsReso" class="help is-danger">Resolution is Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer mt-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn theme-bg" v-on:click="removeFromAllList">Resolve</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</template>

<script>

    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import VuePagination from '../partials/PaginationComponent.vue';
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        name: 'attention-list',
        data() {
            return{
                checkedRetailerList: [],

                checkAllList: false,
                mainUrl: siteUrl,
                searchKey: '',
                attentionbutton: true,
                status: 0,
                attentionList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                is_active: 0,
                checked: false,
                resolution: '',
                IsReso: false,
                resolvedate : '',
                disabledDates: {
                    from: new Date(),
                },
                searchDateforrmat : ''
            };
        },
        components: {
            VuePagination,
            Datepicker
        },
        watch: {
            searchKey: function (val) {
                this.attentionList.current_page = 1;
                this.searchBykey();
            },
            resolvedate: function (val) {
                this.searchDateforrmat = moment(this.resolvedate).format('YYYY-MM-DD');
                this.attentionList.current_page = 1;
                   this.searchBykey();
            },
        },
        methods: {
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            searchBykey() {
                let currentObj = this;
                currentObj.searching = true;
                
                    var request = {
                        params: {
                            page: currentObj.attentionList.current_page,
                            key: currentObj.searchKey,
                            status: currentObj.status,
                            created_date: currentObj.searchDateforrmat,
                            
                        }
                    };
                    axios.get(currentObj.mainUrl + 'search/attention/required/data', request)
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.attentionList = response.data.list;
                                } else {
                                    currentObj.attentionList.data = [];
                                }
                                $(".pageloader").hide();
                            })
                            .catch(function (error) {

                            });
               
            },
            formatDate(date) {
                var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;
                return [day, month, year].join('-');
            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {
                    this.checked = false;
                    var ind = this.checkedRetailerList.indexOf(arg);
                    this.checkedRetailerList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedRetailerList.push(arg);
                    $event.target.checked = true;
                }
            },
            exportRetailer() {
                let currentObj = this;
//                window.location.href = currentObj.mainUrl + 'export/retailer?type1=' + this.shop_type + '&type2=' + this.retailer_type2 + '&status=' + this.status_search + '&key=' + this.searchKey;

                window.location.href = currentObj.mainUrl + '/export/attention/required?type=1';

            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    this.checked = true;
                    if (!this.checkedRetailerList.includes(arg)) {
                        this.checkedRetailerList.push(arg);
                    } else {
                        this.checked = false;
                        var ind = this.checkedRetailerList.indexOf(arg);
                        this.checkedRetailerList.splice(ind, 1);
                    }
                    $event.target.checked = true;
                } else {
                    this.checked = false;
                    var ind = this.checkedRetailerList.indexOf(arg);
                    this.checkedRetailerList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            getAttentionList(arg = '', tab = '') {
                if (arg == 'reset') {
                    this.searchKey = '';
                }
                if (tab == 'attention') {
                    this.attentionbutton = true;
                    this.status = 0;
                }
                if (tab == 'resolve') {
                    this.attentionbutton = false;
                    this.status = 1;
                }
                this.searchKey = '';
                this.searching = false;

                let currentObj = this;
                var request = {
                    params: {
                        page: this.attentionList.current_page,
                        status: this.status
                    }
                };
                axios.get(currentObj.mainUrl + 'get/attention/data', request)
                        .then(function (response) {
                            currentObj.attentionList = response.data.list;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

            checkAll($event) {

                if ($event.target.checked == true) {
                    this.checkedRetailerList = [];
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.attentionList.data.length; i++) {
                        if (this.attentionList.data[i].status == 0) {
                            this.checkedRetailerList.push(this.attentionList.data[i].id);
                        }
                    }

                } else {

                    this.checkedRetailerList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            resolutionpopupopen() {

                $("#resolution").modal('show');

            },
            removeFromAllList() {
                if (this.resolution == "") {
                    return this.IsReso = true;
                }
                this.IsReso = false;
                var currentObj = this;
                let message = "Do you want to resolve this attetion?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'remove/from/attentionlist',
                                    {list: currentObj.checkedRetailerList, resolution: currentObj.resolution}
                            )
                                    .then(function (response) {
                                        currentObj.getAttentionList();
                                        currentObj.checkedRetailerList = [];
                                        $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                                            $(this).prop('checked', false);
                                        });
                                        currentObj.checkAllList = false;
                                        currentObj.resolution = '';
                                        $("#resolution").modal('hide');
                                        EventBus.$emit("invokeSuccess", 'Attention Request Resolved');
                                    })
                                    .catch(function (error) {

                                    });
                        });


            },
        },
        mounted() {

            this.getAttentionList();

            $('#resolution').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });
        }
    }
</script>
