<template>

    <div class="col-md-9 toggle-switch bg-grey onboard-list">
        <!-- header row -->
        <header-page :pagetitle="'Discovered Places'" :activeClass="'#retailerlist'" :loader="true"></header-page>
        <!-- end -->
        <div class="row">
            <div class="col-md-12 pd-x-2 mt-3">
                <div class="col-md-12 px-3 pb-3 mb-3 bg-white border rounded">
                    <div class="row align-items-center">
                        <div class="col-sm-6 d-flex flex-wrap px-2 mt-3 justify-content-between align-items-center attention-tabs">
                            <ul class="nav nav-tabs custom-tabs attention-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" v-on:click="getDiscovePlaces('reset','discovered')" data-toggle="tab" href="#discovered">Discovered Places</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click="getDiscovePlaces('reset','resolve')" data-toggle="tab" href="#resolve">Resolved</a>
                                </li>
                            </ul>
                            <div class="text-right check-action-btn" v-if="checkedRetailerList.length > 0 && resolveButton == true">
                                <button v-on:click="resolutionpopupopen" class="btn theme-bg py-2 px-4 text-white">Resolve</button>
                            </div>
                        </div>
                        <div class="col-md-3 px-2 mt-3 position-relative search-div">
                            <datepicker format="d MMMM yyyy"  placeholder="Select Date" :disabled-dates="disabledDates" class="datePicker1"  name="fromdate" v-model="resolvedate"></datepicker>
                        </div>
                        <div class="col-md-3 px-2 mt-3 position-relative search-div">
                            <input type="text" class="px-3 w-100 pr-5 shadow rounded-lg light-border border search"  v-model="searchKey" name="search" id="search" value="" placeholder="Search Here">
                            <i class="position-absolute la la-search" v-on:click="searchBykey"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div id="discovered" class="tab-pane active">
                <div class="row">
                    <div class="col-md-12 pd-x-2">
                        <div class="col-12 p-0 inner">
                            <table cellspacing="0" class="table table-borderless table-list ordered-list layout-fixed">
                                <thead>
                                    <tr>
                                        <th width="50" class="position-relative pl-4">
                                            <label class="checklabel">
                                                <input type="checkbox" v-on:click="checkAll($event)" name="selectcheck" id="selectall" class="checkbox-select">
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <th width="120" class="pl-4">Date</th>
                                        <th width="300">Location</th>
                                        <th width="100">City</th>
                                        <th width="100">State</th>
                                        <th width="130">Geo location</th>
                                        <th width="150">Remark</th>
                                    </tr>
                                </thead>
                                <tbody v-if='discoverPlacesList.data.length == 0'>
                                    <tr>
                                        <td colspan="10" class="text-center bg-light no-data">
                                            <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody  v-for="(list,index) in discoverPlacesList.data" v-if="list.status == 0 && discoverPlacesList.data.length >  0" >
                                    <tr>
                                        <td class="bg-white py-3 pl-4 border border-right-0 light-border">
                                            <label class="checklabel">
                                                <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                                <input v-else type="checkbox" v-on:click="addinList(list.id,$event)"  name="selectcheck" id="selectall" class="checkbox-select">
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                        <td class="bg-white py-4 pl-4 border border-left-0 border-right-0 light-border"><span class="data">{{ formatDate(list.created_at) }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.location }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.city }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.state }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.lattitude }} ,{{ list.longitude }}</span></td>
                                        <td class="bg-white py-4 border border-left-0 light-border"><span class="data">{{ list.remarks }}</span></td>
                                    </tr>
                                    <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="resolve" class="tab-pane">
                <div class="row">
                    <div class="col-md-12 pd-x-2">
                        <div class="col-12 p-0 inner">
                            <table cellspacing="0" class="table table-borderless table-list ordered-list">
                                <thead>
                                    <tr>

                                        <th width="120" class="pl-4">Date</th>
                                        <th width="300">Location</th>
                                        <th width="100">City</th>
                                        <th width="100">State</th>
                                        <th width="130">Geo location</th>
                                        <th width="150">Remark</th>
                                        <th width="150">Resolution</th>
                                    </tr>
                                </thead>
                                <tbody v-if='discoverPlacesList.data.length == 0'>
                                    <tr>
                                        <td colspan="10" class="text-center bg-light no-data">
                                            <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-for="(list,index) in discoverPlacesList.data"  v-if="discoverPlacesList.data.length > 0 && list.status == 1" >
                                    <tr >

                                        <td class="bg-white py-4 pl-4 border  border-right-0 light-border"><span class="data">{{ formatDate(list.created_at) }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.location }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.city }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.state }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.lattitude }} ,{{ list.longitude }}</span></td>
                                        <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.remarks }}</span></td>
                                        <td class="bg-white py-4 border border-left-0 light-border"><span class="data">{{ list.resolution }}</span></td>
                                    </tr>
                                    <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-x-2 mb-3 pagination">
                <div class="row" v-if="discoverPlacesList.data.length > 0">
                    <vue-pagination v-if="!searching"  :pagination="discoverPlacesList" v-bind:checked="ischecked" v-bind:chekall="checkAllList" @paginate="getDiscovePlaces()" :offset="4"></vue-pagination>
                    <vue-pagination v-else :pagination="discoverPlacesList" v-bind:checked="ischecked" v-bind:chekall="checkAllList" @paginate="searchBykey()" :offset="4"></vue-pagination>
                </div>
            </div>

            <div id="resolution" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">                        
                        <button type="button" style="position: absolute;right: 20px;top: 14px;" class="close" data-dismiss="modal">&times;</button>                        
                        <div class="modal-body">                            
                            <div class="w-100">
                                <label for="name">Resolution<sup class="text-danger font-weight-bold h6">*</sup></label>
                                <textarea name="resolution" v-model="resolution" id="name" placeholder="Enter Here" class="form-control px-3 py-2" aria-required="true" rows="4" cols="12"></textarea>
                                <div v-if="IsReso" class="error-msg">
                                    <i v-if="IsReso" class="fa fa-warning"></i>
                                    <span v-if="IsReso" class="help is-danger">Resolution is Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer mt-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn theme-bg" v-on:click="removeFromAllList">Resolve</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        name: 'discover-list',
        data() {
            return{
                checkedRetailerList: [],
//                discoverPlacesList: '',
                checkAllList: false,
                searchKey: '',
                mainUrl: siteUrl,
                resolveButton: true,
                status: 0,
                discoverPlacesList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                ischecked: false,
                resolution: '',
                IsReso: false,
                resolvedate: '',
                disabledDates: {
                    from: new Date(),
                },
                searchDateforrmat: ''
            };
        },
        components: {
            VuePagination,
            Datepicker
        },
        watch: {
            searchKey: function (val) {
                this.discoverPlacesList.current_page = 1;
               
                this.searchBykey();
            },
            resolvedate: function (val) {
               
                this.searchDateforrmat = moment(this.resolvedate).format('YYYY-MM-DD');
                this.discoverPlacesList.current_page = 1;
               
                this.searchBykey();
            },
        },
        methods: {
            resolutionpopupopen() {

                $("#resolution").modal('show');

            },
            searchBykey() {
                
                let currentObj = this;
                currentObj.searching = true;

                var request = {
                    params: {
                        page: this.discoverPlacesList.current_page,
                        key: currentObj.searchKey,
                        status: this.status,
                        created: this.searchDateforrmat,
                    }
                };

                axios.get(currentObj.mainUrl + 'search/discovered/places/data', request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.discoverPlacesList = response.data.list;
                            } else {
                                currentObj.discoverPlacesList.data = [];
                            }
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });


            },
            formatDate(date) {
                var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [day, month, year].join('-');
            },

            removeFromList(arg, $event) {


                if ($event.target.checked == false)
                {
                    var ind = this.checkedRetailerList.indexOf(arg);
                    this.checkedRetailerList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedRetailerList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    this.ischecked = true;
                    if (!this.checkedRetailerList.includes(arg)) {
                        this.checkedRetailerList.push(arg);
                    } else {
                        var ind = this.checkedRetailerList.indexOf(arg);
                        this.checkedRetailerList.splice(ind, 1);
                        this.ischecked = false;
                    }

                    $event.target.checked = true;

                } else {
                    this.ischecked = false;
                    var ind = this.checkedRetailerList.indexOf(arg);
                    this.checkedRetailerList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            getDiscovePlaces(arg = '', tab = '') {
                this.ischecked = false;
                if (arg == 'reset') {
                    this.searchKey = '';
                }
                if (tab == 'discovered') {
                    this.resolveButton = true;
                    this.status = 0;
                }
                if (tab == 'resolve') {
                    this.resolveButton = false;
                    this.status = 1;
                }
                this.searching = false;
                this.searchKey = '';
                let currentObj = this;

                var request = {
                    params: {
                        page: this.discoverPlacesList.current_page,
                        status: this.status
                    }
                };
                axios.get(currentObj.mainUrl + 'get/discoved/places/data', request)
                        .then(function (response) {
                            currentObj.discoverPlacesList = response.data.list;
                            currentObj.ischecked = false;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedRetailerList = [];
                    this.ischecked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    for (var i = 0; i < this.discoverPlacesList.data.length; i++) {
                        if (this.discoverPlacesList.data[i].status == 0) {
                            this.checkedRetailerList.push(this.discoverPlacesList.data[i].id);
                        }
                    }

                } else {
                    this.ischecked = false;
                    this.checkedRetailerList = [];
                    this.checkAllList = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromAllList() {
                if (this.resolution == "") {
                    return this.IsReso = true;
                }
                this.IsReso = false;
                var currentObj = this;
                let message = "Do you want to resolve this discover place?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'remove/from/discoveplaces',
                                    {list: currentObj.checkedRetailerList, resolution: currentObj.resolution}
                            )
                                    .then(function (response) {
                                        currentObj.resolution = '';
                                        currentObj.getDiscovePlaces();
                                        $("#resolution").modal('hide');
                                        EventBus.$emit("invokeSuccess", 'Discover Place Resolved');
                                    })
                                    .catch(function (error) {

                                    });
                        });
            }



        },
        mounted() {

            this.getDiscovePlaces();
            $('#resolution').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });
        }
    }
</script>
