<template>
    <div class="col-md-12 distributor">
        <label for="distributor" class="label-distribute">MAP Distributor</label>
        <div class="col-12 px-0 position-relative">
            <div id="test1" class="in-div" v-if="hub.id == ''">
                <input type="text"  v-on:click="getDistributor" v-on:keyup="getDistributor" v-model="searchkey" placeholder="Enter Here" class="px-3 w-100 pr-5 rounded-lg light-border border tags_input" />
                <i class="position-absolute la la-search" style="right:15px;" id="search_btn"></i>
            </div>
            <div class="in-div" v-else>
                <span class="d-flex justify-content-between align-items-center w-100">{{ hub.name }} - {{ hub.code }} <i class="las la-trash-alt text-grey font-18 cursor-pointer"  v-on:click="removeDis(hub.id)"></i></span>
            </div>
            <ul id="distributorList1" class="position-absolute w-100 distributor-list" v-if="!searching" >
                <li v-for="(dist,index) in distributor" v-on:click="mapHub(dist)" v-if="dist.status == 1">{{ dist.distributor_name }} - {{ dist.distributor_code }}</li>
            </ul>
        </div>

    </div>
</template>


<script>
    
    $('body').on('click', function (e) {
        if(!($(e.target).closest('#test1').length > 0)) 
            $('#distributorList1').css('display', 'none');
        else $('#distributorList1').css('display', 'block');
    });
        

    
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'map_distributor',
        inheritAttrs: false,
        props: ['retailer'],
        data() {
            return{
                pageUrl: siteUrl,
                avtar: '',
                quantity: '',
                showInput: false,
                distributor: '',
                hub: {
                    id: '',
                    name: '',
                    code : ''
                },
                searching: false,
                searchkey : ''
            }
        },
        computed: {

        },

        methods: {
            removeDis(dist) {


                let currentObj = this;
                axios.post(currentObj.pageUrl + 'remove/map/distributor', {
                    retail_id: currentObj.retailer.id,
                    dist: dist,
                }
                )
                        .then(function (response) {
                            if (response.data.status == true) {
                                EventBus.$emit("invokeSuccess", 'Distributor Removed successfully');
                                currentObj.searching = false;
                                currentObj.hub.id = '',
                                currentObj.hub.name = '';
                            } else {
                                EventBus.$emit("invokeSuccess", 'Distributor Not Removed successfully');
                            }


                        })
                        .catch(function (error) {

                        });
            },
            mapHub(dist) {
                this.hub.id = dist.id;
                this.hub.name = dist.distributor_name;
                this.hub.code = dist.distributor_code;
                this.searching = true;
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'map/distributor', {
                    retail_id: currentObj.retailer.id,
                    dist: dist.id,
                }
                )
                        .then(function (response) {
                            if (response.data.status == true) {
                               EventBus.$emit("invokeSuccess", 'Hub Mapped successfully to reatiler');
                           currentObj.searching = true;
                            } else {
                                EventBus.$emit("invokeSuccess", 'Hub not Mapped successfully to reatiler');
                            }


                        })
                        .catch(function (error) {

                        });

            },
            
            
            getDistributor() {
                let currentObj = this;
                var request = {
                    params: { 
                        searchkey: this.searchkey
                    }
                };
                axios.get(currentObj.pageUrl + 'get/distributor/list',request)
                        .then(function (response) {
                            if (response.data.status == true) {
                                currentObj.distributor = response.data.list;
                            } else {
                                currentObj.distributor = [];
                                EventBus.$emit("invokeSuccess", 'No Hub exist');
                            }


                        })
                        .catch(function (error) {

                        });

            },
            
        },
        mounted() {
           
        },
        created() {
            if (this.retailer.map_distributor != null) {
                this.hub.id = this.retailer.map_distributor.distributor_data.id;
                this.hub.name = this.retailer.map_distributor.distributor_data.distributor_name;
                this.hub.code = this.retailer.map_distributor.distributor_data.distributor_code;
            }
        }



    }
</script>
