<template>
    <!-- agent listing section -->
    <div id="retailersection" class="">   
        <div class="row mt-3">
            <div class="col-md-12 pd-x-2">
                <div class="col-md-12 px-3 py-3 mb-3 bg-white border rounded">
                    <div class="row align-items-center">
                        <div class="d-flex flex-wrap w-100 justify-content-between">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3 px-2 position-relative search-div">
                                <select name="shop_type" v-on:change="searchBykey" v-model='shop_type' class="w-100 px-3 pr-5 shadow rounded-lg light-border show-data">
                                    <option value="">Retailer Type 1</option>
                                    <option value="1">General A</option>
                                    <option value="2">General B</option>
                                    <option value="3">General C</option>
                                    <option value="4">Chemist A</option>
                                    <option value="5">Chemist B</option>
                                    <option value="6">Chemist C</option>
                                    <option value="7">Cosmetic</option>
                                    <option value="8">Paan A</option>
                                    <option value="9">Paan B</option>
                                    <option value="10">Paan C</option>
                                </select>
                            </div>
                            <div class="col-md-3 px-2 position-relative search-div">
                                <select name="retailer_type2" v-on:change="searchBykey" v-model='retailer_type2' class="w-100 px-3 pr-5 shadow rounded-lg light-border show-data">
                                    <option value="">Retailer Type 2</option>
                                    <option value="1">Prime</option>
                                    <option value="2">Non Prime</option>
                                    <option value="3">Regular</option>

                                </select>
                            </div>
                            <div class="col-md-3 px-2 position-relative search-div">
                                <select name="status_search" v-on:change="searchBykey" v-model='status_search' class="w-100 px-3 pr-5 shadow rounded-lg light-border show-data">
                                    <option value="">Status</option>
                                    <option value="0">Active</option>
                                    <option value="1">Inactive</option>
                                </select>
                            </div>
                            <div class="col-md-3 px-2 position-relative search-div">
                                <select name="hub_status" v-on:change="searchBykey" v-model='hub_status' class="w-100 px-3 pr-5 shadow rounded-lg light-border show-data">
                                    <option value="">Hub Assigned/Unassined</option>
                                    <option value="1">Hub Assigned</option>
                                    <option value="2">Hub Unassined</option>
                                </select>
                            </div>
                                </div>
                            </div>
                             <div class="col-md-3 px-2 position-relative search-div">
                                <input type="text" class="px-3 w-100 pr-4 shadow rounded-lg light-border border search" v-model="searchKey" name="search" id="search" value="" placeholder="Search Here" v-on:keyup="searchBykey">
                                <i class="position-absolute la la-search" v-on:click="searchBykey"></i>
                            </div>
                        </div>
                    <div class="col-md-9">
                        <div class="d-flex flex-wrap">
                            
                           
                        </div>
                    </div>
                </div>
                </div>
               
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end mb-3">
                        <button type="button" v-on:click="exportRetailer" name="button" class="export-btn"><i class="la la-file-export h4 mb-0 mr-1"></i>EXPORT</button>
                    </div>
        <div class="tab-content" >
            <div id="list" class="tab-pane active">
                <div class="row">
                    
                    <div class="col-md-12 pd-x-2">
                        <div class="col-12 p-0 inner">
                            <div class="overflow-x mb-3">
                                <table cellspacing="0" class="table table-borderless table-list retailer-list layout-fixed ">
                                    <thead>
                                        <tr>

                                            <th width="40">S.No</th>
                                            <th width="120">QR Code</th>
                                            <th width="120">Retailer Type 1</th>
                                            <th width="120">Retailer Type 2</th>
                                            <th width="120">Retailer Name</th>
                                            <th width="100">Hub Code</th>
                                            <th width="120">Primary Contact</th>
                                            <th width="120">Shop</th>
                                            <th width="120">City</th>
                                            <th width="120">State</th>
                                            <th width="120">Geo Location</th> 
                                            <th width="120">Onboarding Date</th>
                                            <th width="120">status</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if='retailer.data.length == 0 && mountDone == true'>
                                        <tr>
                                            <td colspan="10" class="text-center bg-light no-data">
                                                <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody v-for="(list,index) in retailer.data" v-if="retailer.data.length > 0 && list.is_fill != 0">
                                        <tr style="cursor: pointer">

                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data">{{ retailer.from + index }}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data" v-if="list.scan_code != null ">{{ list.scan_code }}</span>
                                                <span class="data" v-else></span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data retail-type" v-bind:title="getRetailType(list.shop_type)">{{ getRetailType(list.shop_type) }}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data retail-type" v-bind:title="getRetailType(list.shop_type)">
                                                    <span v-if="list.is_prime == 2" class="text-success data">Non Prime</span>
                                                    <span v-if="list.is_prime == 1" class="text-danger data">Prime</span>
                                                    <span v-if="list.is_prime == 3" class="text-danger data">Regular</span>
                                                    <span v-if="list.is_prime == 0" class="text-danger data">None</span></span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data text-capitalize retail-shop" v-bind:title="list.full_name">{{ list.full_name }}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span v-if="list.map_distributor != null" class="data text-capitalize retail-shop" v-bind:title="list.map_distributor.distributor_data.distributor_code">{{ list.map_distributor.distributor_data.distributor_code }}</span>
                                                <span v-else class="data text-capitalize retail-shop"></span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data">{{ list.primary_mobile_number }}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data retail-name" v-bind:title="list.shop_name">{{ list.shop_name }}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data">{{ list.city}}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data">{{ list.state}}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-right-0 border-left-0 light-border">
                                                <span class="data">{{ list.latitudes }} , {{ list.longitude  }}</span>
                                            </td> 
                                            <td v-on:click="showListDetails(list.id)" class="bg-white py-3 border border-left-0 border-right-0 rounded-left light-border">
                                                <span class="data">{{ formatDate(list.created_at) }}</span>
                                            </td>
                                            <td v-on:click="showListDetails(list.id)" class="bg-white border border-left-0 border-right-0 rounded-left light-border">
                                                <span v-if="list.status == 0" class="text-success data">Active</span>
                                                <span v-if="list.status == 1" class="text-danger data">Inactive</span>
                                                <!-- <span>/</span> -->

                                            </td>

                                        </tr>
                                        <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3 pagination" v-if="retailer.data.length > 0 && mountDone == true">
                                <vue-pagination v-if="!searching" v-bind:checked="is_checked" v-bind:chekall="checkAllList" :pagination="retailer" @paginate="getRtailer()" :offset="4"></vue-pagination>
                                <vue-pagination v-bind:chekall="checkAllList" v-bind:checked="is_checked" v-else :pagination="retailer" @paginate="searchBykey()" :offset="4">
                            </vue-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" class="tab-pane">
            <div class="row">
                <div class="col-md-12 pd-x-2">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-4 p-0 pr-3 inner">
                                <select name="is_state" id="is_state" v-model="is_state" class="w-100 px-3 rounded-lg light-border show-data" onchange="show_map(this.value, 'is_state')">
                                    <option value="">State</option>
                                </select>
                            </div>
                            <div class="col-4 p-0 pr-3 inner">
                                <select name="is_city" id="is_city" v-model="is_city" class="w-100 px-3 rounded-lg light-border show-data" onchange="show_map(this.value, 'is_city')">
                                    <option value="">City</option>
                                </select>
                            </div>
                            <div class="col-4 p-0 pr-3 inner">
                                <select name="is_address" id="is_address" v-model="is_address" class="w-100 px-3 rounded-lg light-border show-data" onchange="show_map(this.value, 'is_address')">
                                    <option value="">Area</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mb-5">
                        <div class="col-md-12 mt-3 pd-x-2 map-view">
                            <div id="map_wrapper">
                                <div id="map_canvas" class="mapping" style="height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    import { siteUrl} from '../utility.js';
    import { EventBus} from '../eventBus.js';
    import VuePagination from '../partials/PaginationComponent.vue';
    export default {
        name: 'onboarder-retailer-list',
        data() {
            return {
                checkedList: [],
                checkedEnableList: [],
                checkAllList: false,
                enable: false,
                searchKey: '',
                mainUrl: siteUrl,
                mapShow: false,
                retailer: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: []
                },
                offset: 4,
                searching: false,
                shop_type: '',
                showForm: false,
                loadform: false,
                isPrime: '',
                mountDone: false,
                load: false,
                retailer_type2: '',
                hidetable: false,
                status_search: 0,
                is_checked: false,
                is_state: '',
                is_city: '',
                is_address: '',
                hub_status: ''
            };
        },
        props: [],
        computed: {

        },
        watch: {
            searchKey: function (val) {
                this.retailer.current_page = 1;
            },
            checkedList: function (val) {
                if (this.retailer.data.length != this.checkedList.length) {
                    this.checkAllList = false;
                }
            },
            checkedEnableList: function (val) {
                if (this.retailer.data.length != this.checkedEnableList.length) {
                    this.checkAllList = false;
                }
            },

        },
        components: {
            VuePagination,
        },
        methods: {
            placeOrder(retailerid) {

                window.open(this.mainUrl + 'retailer/panel/' + retailerid, 'mywindow', '_blank', 'status=1,toolbar=0,height=200,width=500,left=500,top=500,fullscreen = 1,directories=no,titlebar=no');

            },
            exportRetailer() {
                let currentObj = this;


                window.location.href = currentObj.mainUrl + 'export/retailer?type1=' + this.shop_type + '&type2=' + this.retailer_type2 + '&status=' + this.status_search + '&key=' + this.searchKey + '&userid=' + this.$attrs.agentid ;

            },
            editRetailer(list) {
                this.loadform = true;
                this.hidetable = true;
                EventBus.$emit('editRetailer', list);
                $("#retailersection div.add-user-form").addClass("open-form");
            },
            addRetailer() {
                this.loadform = true;
                this.hidetable = true;
                EventBus.$emit('addingRetailer');
                $("#retailersection div.add-user-form").addClass("open-form");
            },
            defaults() {
                alert("Please Choose a retailer!!");

            },
            checkAll($event) {

                if ($event.target.checked == true) {
                    this.is_checked = false;
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    for (var i = 0; i < this.retailer.data.length; i++) {
                        if (this.retailer.data[i].status == 0) {
                            this.checkedList.push(this.retailer.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.retailer.data.length; i++) {
                        if (this.retailer.data[i].status == 1) {
                            this.checkedEnableList.push(this.retailer.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }
            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false) {
                    this.is_checked = true;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.is_checked = false;
                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    this.is_checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {
                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable user at a time');
                    }
                } else {
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }
            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    this.is_checked = true;
                    if (this.checkedList.length == 0) {
                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable user at a time');
                    }
                } else {
                    this.is_checked = true;
                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },

            disableUsers($event) {
                if (this.checkedList.length == 0) {
                    return false;
                }
                let currentObj = this;
                let message = "Are you sure want to inactive retailer?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {

                            axios.post(currentObj.mainUrl + 'disable/retailer', {
                                list: currentObj.checkedList
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.is_checked = false;
                                            currentObj.checkedList = [];
                                            if (currentObj.searching) {
                                                currentObj.searchBykey();
                                            } else {
                                                currentObj.getRtailer();
                                            }

                                            EventBus.$emit("invokeSuccess", 'Retialer Inactivated Successfuly');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            makeNonPrime($event) {
                if (this.checkedList.length == 0) {
                    return false;
                }

                let currentObj = this;
                let message = "Are you sure want to change retailer type?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'make/non/prime/retailer', {
                                list: currentObj.checkedList,
                                isPrime: currentObj.isPrime
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.is_checked = false;
                                            currentObj.checkedList = [];
                                            if (currentObj.searching) {
                                                currentObj.searchBykey();
                                            } else {
                                                currentObj.getRtailer();
                                            }
                                            EventBus.$emit("invokeSuccess", 'Retialer Prime  Inactivated Successfuly');
                                        }

                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            enableUsers($event) {
                if (this.checkedEnableList.length == 0) {
                    return false;
                }
                let currentObj = this;
                let message = "Are you sure want to activate retailer?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {

                            axios.post(currentObj.mainUrl + 'enable/retailer', {
                                list: currentObj.checkedEnableList
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.is_checked = false;
                                            currentObj.checkedEnableList = [];
                                            if (currentObj.searching) {
                                                currentObj.searchBykey();
                                            } else {
                                                currentObj.getRtailer();
                                            }
                                            EventBus.$emit("invokeSuccess", 'Retialer Activated Successfuly');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            makePrime($event) {
                if (this.checkedEnableList.length == 0) {
                    return false;
                }
                let currentObj = this;
                let message = "Are you sure want to change retailer type?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'make/prime/retailer', {
                                list: currentObj.checkedEnableList,
                                isPrime: currentObj.isPrime
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.is_checked = false;
                                            currentObj.checkedEnableList = [];
                                            if (currentObj.searching) {
                                                currentObj.searchBykey();
                                            } else {
                                                currentObj.getRtailer();
                                            }
                                            EventBus.$emit("invokeSuccess", 'Retialer Prime Activated Successfuly');
                                        }

                                    })
                                    .catch(function (error) {

                                    });
                        });

            },
            getRetailType(type) {
                if (type == 1) {
                    return 'General A';
                } else if (type == 2) {
                    return 'General B';
                } else if (type == 3) {
                    return 'General C';
                } else if (type == 4) {
                    return 'Chemist A';
                } else if (type == 5) {
                    return 'Chemist B';
                } else if (type == 6) {
                    return 'Chemist C';
                } else if (type == 7) {
                    return 'Cosmetic';
                } else if (type == 8) {
                    return 'Paan A';
                } else if (type == 9) {
                    return 'Paan B';
                } else if (type == 10) {
                    return 'Paan C';
                } else {
                    return " ";
                }
            },

            searchBykey() {
                this.checkedList = [];
                this.checkedEnableList = [];
                this.checkAllList = false;
                $('table tbody tr td input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
                this.searching = true;
                let currentObj = this;
                if (this.$attrs.onboardtype) {
                    var request = {
                        params: {
                            page: this.retailer.current_page,
                            key: currentObj.searchKey,
                            shop_type: currentObj.shop_type,
                            retailer_type: currentObj.retailer_type2,
                            status: currentObj.status_search,
                            hub_status: currentObj.hub_status,
                            userid: this.$attrs.agentid
                        }
                    };
                } else {
                    var request = {
                        params: {
                            page: this.retailer.current_page,
                            key: currentObj.searchKey,
                            shop_type: currentObj.shop_type,
                            retailer_type: currentObj.retailer_type2,
                            status: currentObj.status_search,
                            hub_status: currentObj.hub_status,
                        }
                    };
                }
                if (currentObj.searchKey != '' || currentObj.shop_type != '' || currentObj.retailer_type2 != '' || currentObj.status_search != '' || currentObj.hub_status != '') {
                    axios.get(currentObj.mainUrl + 'search/retailer/data', request)
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.is_checked = false;
                                    currentObj.retailer = response.data.list;
                                } else {
                                    currentObj.retailer.data = [];
                                }
                                $(".pageloader").hide();
                            })
                            .catch(function (error) {

                            });
                } else {
                    this.searching = false;
                    currentObj.getRtailer();
                }
            },
            formatDate(date) {
                var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;
                return [day, month, year].join('-');
            },
            showListDetails(arg) {
                let currentObj = this;
                window.location.href = currentObj.mainUrl + 'view/retailer/data/' + arg;
            },

            getRtailer(arg = '', tab = '') {
                if (arg == 'reset') {
                    this.searchKey = '';
                }
                if (tab == 'list') {
                    this.mapShow = false;
                    this.showForm = true;
                }
                if (tab == 'map') {
                    this.showForm = false;
                    this.mapShow = true;
                }
                this.searching = false;
                let currentObj = this;

                if (this.$attrs.onboardtype) {
                    var request = {
                        params: {
                            page: currentObj.retailer.current_page,
                            key: currentObj.searchKey,
                            userid: this.$attrs.agentid
                        }
                    };
                } else {
                    var request = {
                        params: {
                            page: currentObj.retailer.current_page,
                            key: currentObj.searchKey,
                        }
                    };
                }
                axios.get(currentObj.mainUrl + 'get/retailer/data', request)
                        .then(function (response) {
                            currentObj.is_checked = false;
                            currentObj.retailer = response.data;
                            if (!currentObj.load) {
                                currentObj.mountDone = true;
                            }
                            currentObj.load = true
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

        },
        mounted() {

            this.getRtailer();
            this.loadform = false;
            var $this = this;

            EventBus.$on('addnewretail', function () {
                $this.hidetable = false;
                $this.getRtailer();
                $("#formretail div.open-form").removeClass("open-form");
                $this.loadform = false;

            });
            EventBus.$on('formcancel', function () {
                $this.hidetable = false;
                $this.getRtailer();
                $this.loadform = false;

            });
        }
    }
</script>
