<template>


    <!-- agent listing section -->
    <div class="col-md-9 toggle-switch bg-grey onboard-list">
        <header-page :pagetitle="'Retailers'" :loader="false"></header-page>

        <div class="row mt-4 mb-5">
            <div class="pd-x-2 mt-1 col-md-12">
                <div class="row align-items-center">
                    <div class="col-md-12 mt-1 d-flex flex-wrap align-items-center orders-calling">
                        <h6 class="text-grey-dark m-0">Order & Calling Setting</h6>
                        <div class="theme-text mx-4 order-call-shop">
                            <a href="#" title="" class="mx-2 theme-text link">
                                <img v-bind:src="mainUrl + 'images/bag-icon.png'" alt="bag-icon" class="align-middle mr-2 icons" />
                                <span>{{ retailerInfo.shop_name}}</span>
                            </a>
                        </div>
                        <div class="d-flex flex-wrap align-items-center theme-text order-call-name">
                            <img  v-bind:src="mainUrl + 'images/user-icon.svg'" alt="user-icon" class="align-middle mr-2 icons" />
                            <span>{{ retailerInfo.full_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pd-x-2 mt-2 order-days">
                <div class="col-12 px-5 py-5 bg-white border light-border rounded days-inner">
                    <div class="row">
                        <div class="col-md-12 section1">
                            <h5 class="font-weight-normal">Order Days :</h5>
                            <div class="">
                                <table cellspacing="0" class="table table-borderless table-layout-fixed table-list order-days-list">
                                    <tr>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox"  name="selectcheckall" v-model="selectcheckall" v-on:change="chooseAllDays($event)"  class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">All</span></label>
                                        </td>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox" v-model='days' name="selectcheck" value='1' class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">Monday</span></label>
                                        </td>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox" v-model='days' name="selectcheck" value='2'  class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">Tuesday</span></label>
                                        </td>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox" v-model='days' name="selectcheck"  value='3' class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">Wednesday</span></label>
                                        </td>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox" v-model='days' name="selectcheck" value='4' class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">Thrusday</span></label>
                                        </td>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox" v-model='days' name="selectcheck" value='5' class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">Friday</span></label>
                                        </td>
                                        <td class="pl-0">
                                            <label class="d-inline-block align-text-bottom checklabel"><input type="checkbox" v-model='days' name="selectcheck"  value='6' class="checkbox-select"> <span class="checkmark"></span><span class="font-weight-light days">Saturday</span></label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-4 section2">
                            <div class="row">
                                <div class="col-md-4 pr-5 grid1">
                                    <label for="order-limit">Order Limit(Rs):</label>
                                    <input type="text" name="order-limit" id="order-limit" v-model='orderLimit' placeholder="Value" class="px-3 w-100 rounded-lg shadow border">
                                    <span v-if="axiosError.orderLimit" :class="['label label-danger']">{{ axiosError.orderLimit[0] }}</span>
                                </div>
                                <div class="col-md-4 pr-5 grid2">
                                    <label for="call-start">Calling Start Time:</label>
                                    <input type="time" name="call-start" id="call-start" v-model='startTime' placeholder="Value" class="px-3 w-100 rounded-lg shadow border">

                                    <span v-if="axiosError.startTime" :class="['label label-danger']">{{ axiosError.startTime[0] }}</span>
                                </div>
                                <div class="col-md-4 pr-5 grid3">
                                    <label for="call-end">Calling End Time:</label>

                                    <input type="time" name="call-end" id="call-end" v-model='endTime' placeholder="Value" class="px-3 w-100 rounded-lg shadow border">

                                    <span v-if="axiosError.endTime" :class="['label label-danger']">{{ axiosError.endTime[0] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-2 section3">
                            <div class="row">
                                <div class="col-md-12 text-center mt-4">
                                    <a href="#" v-on:click="cancelOrderCalling" class="px-3 py-2 mr-2 d-inline-block rounded text-uppercase theme-text border-btn">Cancel</a>
                                    <a href="#" v-on:click="saveOrderCalling" class="d-inline-block px-4 py-2 rounded mt-3 text-uppercase text-white theme-bg border-btn save-btn">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import moment from 'moment';
    import VuePagination from '../partials/PaginationComponent.vue';
    export default {
        name: 'order-calling',
        data() {
            return{

                mainUrl: siteUrl,
                retailerInfo: '',
                isActive: false,
                days: [],
                source: '',
                callingOption: '',
                endTime: '',
                startTime: '',
                orderLimit: '',
                axiosError: [],
                selectcheckall : false

            };
        },
        props: ['rid'],
        computed: {

        },
        watch: {
          days:function(){
               if(this.days.length == 6){
                  
                    this.selectcheckall = true;
                }else{
                    this.selectcheckall = false; 
                }
          }
        },

        methods: {
            getdata() {

                var currentObj = this;
                axios.post(currentObj.mainUrl + 'find/retailer', {
                    rid: currentObj.rid
                })
                        .then(function (response) {
                            currentObj.retailerInfo = response.data.data;
                            if (currentObj.retailerInfo.order_calling != '') {
                                currentObj.days = (currentObj.retailerInfo.order_calling.calling_days).split(',');
                                
                                currentObj.orderLimit = currentObj.retailerInfo.order_calling.order_limit;
                                currentObj.isActive = currentObj.retailerInfo.order_calling.status;
                                currentObj.convertMoment();
                            }

                        })
                        .catch(function (error) {


                        });

            },
            convertMoment() {
                var input1 = this.retailerInfo.order_calling.end_time;
                var fields1 = input1.split('.');
                var input2 = this.retailerInfo.order_calling.start_time;
                var fields2 = input2.split('.');
                this.endTime = fields1[0];
                this.startTime = fields2[0];
                
               


            },
            saveOrderCalling() {

                var currentObj = this;
                axios.post(currentObj.mainUrl + 'save/retailer/order/calling', {
                    days: currentObj.days.join(),
                    endTime: currentObj.endTime,
                    startTime: currentObj.startTime,
                    orderLimit: currentObj.orderLimit,
                    retailerId: currentObj.rid,
                })
                        .then(function (response) {
                            if (response.data.status) {
                                EventBus.$emit("invokeSuccess", 'Retailer Order Calling Setting Updated Successfully');
                                currentObj.getdata();
                            }

                        })
                        .catch(function (error) {
                            EventBus.$emit("invokeSuccess", 'Retailer Order Calling Setting Not Updated Successfully');
                            currentObj.axiosError = error.response.data.errors;
                        });

            },
            cancelOrderCalling() {
                
               window.location.href = this.mainUrl + 'retailer/' ;

            },
            chooseAllDays($event){
              
                if($event.target.checked == true){
                      this.days = [];
                   var d = [1,2,3,4,5,6];
                   for(var i = 0; i < d.length;i++){
                       this.days.push(d[i]);
                   }
                }else{
                    this.days = [];
                }
                
            },
        },
        created() {


            this.getdata();
        },
        mounted() {




        }
    }
</script>
