<template>
    <div class="row" id="formretail" >
        <div class="col-md-12 add-user-form">
            <h5 class="mt-0 mb-3 font-weight-normal text-grey-dark">Add Retailer</h5>

            <div class="pt-3 pb-4 bg-white rounded border light-border manage-Retailer">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link theme-text active " v-bind:class="{ 'text-danger': error.full_name || error.primary_phone || error.whatsapp_number || error.primary_contact_image}"  data-toggle="tab" href="#retailer">Retailer Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-text" v-bind:class="{ 'text-danger': error.shop_type || error.shop_name || error.shop_image || error.shop_address || error.lattitude || error.longitude}" data-toggle="tab" href="#shop">Shop Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-text" v-bind:class="{ 'text-danger': error.gst || error.pan_number || error.adhar_number }" data-toggle="tab" href="#kyc">KYC Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-text" v-bind:class="{ 'text-danger': error.ds_qrcode || qurvalidateerror }" data-toggle="tab" href="#qrcode">QR Code</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane p-0 col-md-12 active" id="retailer">
                        <form class="px-4 pt-4 pb-4 rounded-bottom retailAddform">
                            <div class="detail-div primary-detail">
                                <h6 class="pb-2 mb-4 border border-top-0 border-left-0 border-right-0">Primary Details</h6>
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <label for="name">Full Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="text" v-model="full_name" name="name" id="name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <span v-if="error.full_name" :class="['label label-danger error-msg']">{{ error.full_name[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="primary-phone">Primary Phone Number <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="text"  v-model="primary_phone" name="primary-phone"   pattern="[0-9]{5}[-][0-9]{7}[-][0-9]{1}" id="primary-phone" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" maxlength="10">
                                        <span v-if="error.primary_phone" :class="['label label-danger error-msg']">{{ error.primary_phone[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="alternate-phone">Alternate Phone Number</label>
                                        <input type="text" v-model="alternate_phone" pattern="[0-9]{5}[-][0-9]{7}[-][0-9]{1}" name="alternate-phone" id="alternate-phone" placeholder="Enter Here" maxlength="10" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" >
                                        <span v-if="error.alternate_phone" :class="['label label-danger error-msg']">{{ error.alternate_phone[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4 mt-3">
                                        <!-- <label for="has-mart-phone">
                                            <input type="checkbox" v-model="has_smart_phone" name="has-smart-phone" id="has-smart-phone" class="checkbox-select has-device">
                                            <span class="checkmark"></span>
                                        </label> -->
                                        <label for="has-smart-phone" class="checklabel">
                                            <input type="checkbox" v-model="has_smart_phone"  name="has-smart-phone" id="has-smart-phone" class="checkbox-select has-device">
                                            <span class="checkmark"></span>
                                            <span>Has Smart Phone</span>
                                        </label>
                                        <div class="radio-label" v-if='has_smart_phone'>
                                            <h6 class="mr-2 deviceText">Select Device</h6>
                                            <span class="position-relative mr-3">
                                                <input type="radio" id="Android" value="1" v-model="device" name="device" class="position-absolute">
                                                <label for="Android" class="position-relative">Android</label>
                                                <div class="check"></div>
                                            </span>
                                            <span class="position-relative mr-3">
                                                <input type="radio" id="iOS" value="2"  v-model="device" name="device" class="position-absolute">
                                                <label for="iOS" class="position-relative">iOS</label>
                                                <div class="check"></div>
                                            </span>
                                            <span class="position-relative mr-3">
                                                <input type="radio" id="KaiOS" value="3"  v-model="device" name="device" class="position-absolute">
                                                <label for="KaiOS" class="position-relative">KaiOS</label>
                                                <div class="check"></div>
                                            </span>
                                            <span v-if="error.device" :class="['label label-danger error-msg']">{{ error.device[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4 mt-3" v-if="device != ''">
                                        <label for="same_as_primary" class="checklabel">
                                            <input type="checkbox" v-model="same_as_primary" v-on:change='sameAsPrimaryPhone' name="same_as_primary" id="same_as_primary" class="checkbox-select">
                                            <span class="checkmark"></span>
                                            <span>Same as Primary</span>
                                        </label>

                                        <div class="">
                                            <!-- <label for="primary-phone">Whatsapp Number <sup class="text-danger font-weight-bold h6">*</sup></label> -->
                                            <input type="text" v-model="whatsapp_number" pattern="[0-9]{5}[-][0-9]{7}[-][0-9]{1}" name="whatsapp_number" id="whatsapp_number" placeholder="Whatsapp Number*" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" maxlength="10">
                                            <span v-if="error.whatsapp_number" :class="['label label-danger error-msg']">{{ error.whatsapp_number[0] }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 retailAddForm">
                                        <label for="Contact-upload-pic" class="photo-upload"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                            <span class="upload-text">Primary Contact Image<sup class="text-danger font-weight-bold h6">*</sup></span>
                                        </label>
                                        <input type="file" v-on:change="onImageChange" name="primary_contact_image" id="Contact-upload-pic" class="upload-file-input upload-pic">
                                        <span v-if="error.primary_contact_image" :class="['label label-danger error-msg']">{{ error.primary_contact_image[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-div secondary-detail mt-4">
                                <h6 class="pb-2 mb-4 border border-top-0 border-left-0 border-right-0">Secondary Details</h6>
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <label for="name">Secondary Name</label>
                                        <input type="text" v-model="secondary_name" name="name" id="Secondaryname" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="primary-phone">Secondary Phone Number</label>
                                        <input type="text" v-model="secondary_phone_number" name="Secondary-primary-phone" id="Secondary-primary-phone" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" maxlength="10">
                                        <span v-if="error.secondary_phone_number" :class="['label label-danger error-msg']">{{ error.secondary_phone_number[0] }}</span>
                                    </div>
                                    <div class="col-md-4 pl-5 mt-1 retailAddForm">
                                        <label for="Secondary-upload-pic" class="photo-upload"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                            <span class="upload-text">Secondary Contact Image</span>
                                        </label>
                                        <input type="file" v-on:change="onImageChange" name="secondary_contact_image" id="Secondary-upload-pic" class="upload-file-input upload-pic">
                                    </div>
                                </div>
                            </div>
                            <div class="detail-div mt-4 additional-detail">
                                <h6 class="pb-2 mb-4 border border-top-0 border-left-0 border-right-0">Additional Details</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12 p-0 formInner-title">
                                            <p class="d-inline-block border border-top-0 border-right-0 border-light-0 border-left-0 mb-4">Shop Owner :</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="dob">Date of Birth</label>
                                                <input type="date" name="dob" v-model="dob" id="dob" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3">
                                                <i class="fa fa-warning" style="display: none;"></i>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="anniversary">Marriage Anniversary</label>
                                                <input type="date" name="anniversary" v-model="anniversary" id="anniversary" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3">
                                                <i class="fa fa-warning" style="display: none;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  border border-right-0 border-top-0 border-bottom-0">
                                        <div class="col-md-12 p-0 formInner-title">
                                            <p class="d-inline-block border border-top-0 border-right-0 border-light-0 border-left-0 mb-4">Kids Details :</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="1kid-dob">1st Kid's Birthday</label>
                                                <input type="date" v-model="first_kid_dob" name="1kid-dob" id="1kid-dob" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3">
                                                <i class="fa fa-warning" style="display: none;"></i>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="2kid-dob">2nd Kid's Birthday</label>
                                                <input type="date" v-model="sec_kid_dob" name="2kid-dob" id="2kid-dob" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3">
                                                <i class="fa fa-warning" style="display: none;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane p-0 col-md-12 fade" id="shop">
                        <form class="px-4 pt-4 pb-4 rounded-bottom retailAddform">
                            <div class="detail-div shop-detail">
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <label for="shop_type">Shop Type <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <select name="shop_type" v-model="shop_type" id="shop_type" class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                                            <option value="">Shop Type</option>
                                            <option value="1">General A</option>
                                            <option value="2">General B</option>
                                            <option value="3">General C</option>
                                            <option value="4">Chemist A</option>
                                            <option value="5">Chemist B</option>
                                            <option value="6">Chemist C</option>
                                            <option value="7">Cosmetic</option>
                                            <option value="8">Paan A</option>
                                            <option value="9">Paan B</option>
                                            <option value="10">Paan C</option>
                                        </select>
                                        <span v-if="error.shop_type" :class="['label label-danger error-msg']">{{ error.shop_type[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="primary-phone">Shop Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="text" name="shopname" v-model="shop_name" id="shop-name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <span v-if="error.shop_name" :class="['label label-danger error-msg']">{{ error.shop_name[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mt-3 retailAddForm">
                                        <label for="upload-pic" class="photo-upload"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                            <span class="upload-text">Upload Shop Image<sup class="text-danger font-weight-bold h6">*</sup></span>
                                        </label>
                                        <input type="file" v-on:change="onImageChange" name="shop_image" id="Shop-upload-pic" class="upload-file-input upload-pic">
                                        <span v-if="error.shop_image" :class="['label label-danger error-msg']">{{ error.shop_image[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="address">Shop Address <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="text" name="address" id="Shop-address" v-model="shop_address" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <span v-if="error.shop_address" :class="['label label-danger error-msg']">{{ error.shop_address[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="lat">Latitude <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="number" name="lat" v-model="lattitude" id="lat" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <span v-if="error.lattitude" :class="['label label-danger error-msg']">{{ error.lattitude[0] }}</span>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="long">Longitude <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="number" name="long" v-model="longitude" id="long" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <span v-if="error.longitude" :class="['label label-danger error-msg']">{{ error.longitude[0] }}</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane p-0 col-md-12 fade" id="kyc">
                        <form class="px-4 pt-4 pb-4 rounded-bottom retailAddform">
                            <div class="detail-div kyc-detail">
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <label for="name">Establishment Name</label>
                                        <input type="text" name="name" v-model="establishment_name" id="Establishment-name" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="gst">GST Number</label>
                                        <input type="text" name="gst" v-model="gst" id="gst" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" maxlength="15">
                                        <span v-if="error.gst" :class="['label label-danger error-msg']">{{ error.gst[0] }}</span>
                                    </div>
                                    <div class="col-md-4 pl-5 mt-3 retailAddForm">
                                        <label for="upload-pic" class="photo-upload"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                            <span class="upload-text">Upload GST</span>
                                        </label>
                                        <input type="file" v-on:change="onImageChange" name="gst_image"  id="GST-upload-pic" class="upload-file-input upload-pic">
                                    </div>

                                    <div class="col-md-4 mb-4">
                                        <label for="alternate-phone">Name as per ID </label>
                                        <input type="nameID" name="nameID" v-model="name_id" id="nameID" placeholder="Enter Here" maxlength="10" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="adhaar">Adhaar Number </label>
                                        <input type="text" name="adhaar" v-model="adhar_number" id="adhaar" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" maxlength="12">
                                        <span v-if="error.adhar_number" :class="['label label-danger error-msg']">{{ error.adhar_number[0] }}</span>
                                    </div>
                                    <div class="col-md-4 pl-5 mt-3 retailAddForm">
                                        <label for="upload-pic" class="photo-upload"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                            <span class="upload-text">Upload Adhaar</span>
                                        </label>
                                        <input type="file" v-on:change="onImageChange" name="adhar_image"  id="Adhaar-upload-pic" class="upload-file-input upload-pic">
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="adhaar">PAN Number</label>
                                        <input type="text" name="pan" v-model="pan_number" id="PAN" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false" maxlength="10">
                                        <span v-if="error.pan_number" :class="['label label-danger error-msg']">{{ error.pan_number[0] }}</span>
                                    </div>
                                    <div class="col-md-4 pl-5 mt-3 retailAddForm">
                                        <label for="upload-pic" class="photo-upload"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                                            <span class="upload-text">Upload PAN</span>
                                        </label>
                                        <input type="file" v-on:change="onImageChange" name="pan_image"  id="PAN-upload-pic" class="upload-file-input upload-pic">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane p-0 col-md-12 fade" id="qrcode">
                        <form class="px-4 pt-4 pb-4 rounded-bottom retailAddform">
                            <div class="detail-div QR-detail">
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <label for="qr">DS QR Code <sup class="text-danger font-weight-bold h6">*</sup></label>
                                        <input type="text" name="qr" v-model="ds_qrcode" id="qr" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <span v-if="error.ds_qrcode" :class="['label label-danger error-msg']">{{ error.ds_qrcode[0] }}</span>
                                        <span v-if="qurvalidateerror" :class="['label label-danger error-msg']">Invalid QR code</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 otherQR">
                                        <p>Other QR Code</p>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="paytm">Paytm</label>
                                        <input type="text" name="paytm" v-model="paytm_qrcode" id="paytm" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="mobiqwik">Mobiqwik</label>
                                        <input type="text" name="mobiqwik" v-model="mobiqwik_qrcode" id="mobiqwik" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="gpay">GPay </label>
                                        <input type="text" name="gpay" v-model="gpay_qrcode" id="gpay" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="phonepe">PhonePe </label>
                                        <input type="text" name="phonepe" v-model="phonepe_qrcode" id="phonepe" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="upi">UPI </label>
                                        <input type="text" name="upi" v-model="upi_qrcode" id="upi" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <label for="bharatqr">BharatQR</label>
                                        <input type="text" name="bharatqr" v-model="bharat_qrcode" id="bharatqr" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" aria-required="true" aria-invalid="false">
                                        <i class="fa fa-warning" style="display: none;"></i>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button type="reset" v-on:click="resetproduct" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button v-if='editing' type="button" v-on:click="updateRetailer" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</button>
                            <button  v-else type="button" v-on:click="addRetailer" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VuePagination from "../partials/PaginationComponent.vue";
    import { store } from "../store.js";
    import moment from 'moment';
    export default {
        name: "retailer_form",
        data() {
            return {
                mainUrl: siteUrl,
                shop_name: '',
                full_name: '',
                primary_phone: '',
                alternate_phone: '',
                has_smart_phone: false,
                device: '',
                primary_contact_image: '',
                secondary_name: '',
                secondary_phone_number: '',
                secondary_contact_image: '',
                dob: '',
                anniversary: '',
                first_kid_dob: '',
                sec_kid_dob: '',
                shop_type: '',
                shop_image: '',
                shop_address: '',
                lattitude: '',
                longitude: '',
                establishment_name: '',
                gst: '',
                gst_image: '',
                name_id: '',
                adhar_number: '',
                adhar_image: '',
                pan_number: '',
                pan_image: '',
                ds_qrcode: '',
                paytm_qrcode: '',
                mobiqwik_qrcode: '',
                gpay_qrcode: '',
                phonepe_qrcode: '',
                upi_qrcode: '',
                bharat_qrcode: '',
                same_as_primary: false,
                whatsapp_number: '',
                editing: false,
                editid: '',
                error: '',
                qurvalidateerror: false,

            };
        },
        props: [''],
        computed: {

        },
        watch: {},
        methods: {
            sameAsPrimaryPhone() {
                if (this.same_as_primary) {
                    this.whatsapp_number = this.primary_phone;
                } else {
                    this.whatsapp_number = '';
                }

            },
            resetproduct() {
                EventBus.$emit("formcancel");
                $("#formretail div.open-form").removeClass("open-form");
            },
            onImageChange(e) {

                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                var type;
                if (e.target.name == 'primary_contact_image') {
                    type = 1;
                }
                if (e.target.name == 'secondary_contact_image') {
                    type = 2;
                }
                if (e.target.name == 'shop_image') {
                    type = 3;
                }
                if (e.target.name == 'gst_image') {

                    type = 4;
                }
                if (e.target.name == 'adhar_image') {

                    type = 5;
                }
                if (e.target.name == 'pan_image') {

                    type = 6;
                }
                this.createImage(files[0], type);
            },
            createImage(file, type) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    if (type == 1) {
                        vm.primary_contact_image = e.target.result;
                    }
                    if (type == 2) {
                        vm.secondary_contact_image = e.target.result;
                    }
                    if (type == 3) {
                        vm.shop_image = e.target.result;
                    }
                    if (type == 4) {

                        vm.gst_image = e.target.result;
                    }
                    if (type == 5) {

                        vm.adhar_image = e.target.result;
                    }
                    if (type == 6) {

                        vm.pan_image = e.target.result;
                    }
                };
                reader.readAsDataURL(file);
            },
            addRetailer() {
                $(".pageloader").show();
                let currentObj = this;
                currentObj.error = '';
                currentObj.qurvalidateerror = false;
                axios.post(currentObj.mainUrl + 'add/retailer', {
                    shop_name: currentObj.shop_name,
                    full_name: currentObj.full_name,
                    primary_phone: currentObj.primary_phone,
                    alternate_phone: currentObj.alternate_phone,
                    has_smart_phone: currentObj.has_smart_phone,
                    device: currentObj.device,
                    primary_contact_image: currentObj.primary_contact_image,
                    secondary_name: currentObj.secondary_name,
                    secondary_phone_number: currentObj.secondary_phone_number,
                    secondary_contact_image: currentObj.secondary_contact_image,
                    dob: currentObj.dob,
                    anniversary: currentObj.anniversary,
                    first_kid_dob: currentObj.first_kid_dob,
                    sec_kid_dob: currentObj.sec_kid_dob,
                    shop_type: currentObj.shop_type,
                    shop_image: currentObj.shop_image,
                    shop_address: currentObj.shop_address,
                    lattitude: currentObj.lattitude,
                    longitude: currentObj.longitude,
                    establishment_name: currentObj.establishment_name,
                    gst: currentObj.gst,
                    gst_image: currentObj.gst_image,
                    name_id: currentObj.name_id,
                    adhar_number: currentObj.adhar_number,
                    adhar_image: currentObj.adhar_image,
                    pan_number: currentObj.pan_number,
                    pan_image: currentObj.pan_image,
                    ds_qrcode: currentObj.ds_qrcode,
                    paytm_qrcode: currentObj.paytm_qrcode,
                    mobiqwik_qrcode: currentObj.mobiqwik_qrcode,
                    gpay_qrcode: currentObj.gpay_qrcode,
                    phonepe_qrcode: currentObj.phonepe_qrcode,
                    upi_qrcode: currentObj.upi_qrcode,
                    bharat_qrcode: currentObj.bharat_qrcode,
                    same_as_primary: currentObj.same_as_primary,
                    whatsapp_number: currentObj.whatsapp_number,
                })
                        .then(function (response) {
                            console.log(response.data);
                            if (response.data.status == 1001) {
                                currentObj.qurvalidateerror = true;
                                return;
                            }
//                            EventBus.$emit("addnewretail");
                            $(".pageloader").hide();
                            EventBus.$emit("invokeSuccess", 'Retailer Added Successfully');
                        })
                        .catch(function (error) {
                            console.log(error.response.data.errors);
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;


                        });
            },
            updateRetailer() {
                $(".pageloader").show();
                let currentObj = this;
                currentObj.qurvalidateerror = false;
                currentObj.error = '';
                axios.post(currentObj.mainUrl + 'update/retailer', {
                    edit_id: currentObj.editid,
                    shop_name: currentObj.shop_name,
                    full_name: currentObj.full_name,
                    primary_phone: currentObj.primary_phone,
                    alternate_phone: currentObj.alternate_phone,
                    has_smart_phone: currentObj.has_smart_phone,
                    device: currentObj.device,
                    primary_contact_image: currentObj.primary_contact_image,
                    secondary_name: currentObj.secondary_name,
                    secondary_phone_number: currentObj.secondary_phone_number,
                    secondary_contact_image: currentObj.secondary_contact_image,
                    dob: currentObj.dob,
                    anniversary: currentObj.anniversary,
                    first_kid_dob: currentObj.first_kid_dob,
                    sec_kid_dob: currentObj.sec_kid_dob,
                    shop_type: currentObj.shop_type,
                    shop_image: currentObj.shop_image,
                    shop_address: currentObj.shop_address,
                    lattitude: currentObj.lattitude,
                    longitude: currentObj.longitude,
                    establishment_name: currentObj.establishment_name,
                    gst: currentObj.gst,
                    gst_image: currentObj.gst_image,
                    name_id: currentObj.name_id,
                    adhar_number: currentObj.adhar_number,
                    adhar_image: currentObj.adhar_image,
                    pan_number: currentObj.pan_number,
                    pan_image: currentObj.pan_image,
                    ds_qrcode: currentObj.ds_qrcode,
                    paytm_qrcode: currentObj.paytm_qrcode,
                    mobiqwik_qrcode: currentObj.mobiqwik_qrcode,
                    gpay_qrcode: currentObj.gpay_qrcode,
                    phonepe_qrcode: currentObj.phonepe_qrcode,
                    upi_qrcode: currentObj.upi_qrcode,
                    bharat_qrcode: currentObj.bharat_qrcode,
                    same_as_primary: currentObj.same_as_primary,
                    whatsapp_number: currentObj.whatsapp_number,
                })
                        .then(function (response) {

                            if (response.data.status == 1001) {
                                currentObj.qurvalidateerror = true;
                                return;
                            }
                            EventBus.$emit("addnewretail");
                            $(".pageloader").hide();
                            EventBus.$emit("invokeSuccess", 'Retailer Updated Successfully');
                            currentObj.editing = false;
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
//                            console.log(error.response.data.errors);
                            currentObj.error = error.response.data.errors;
                        });
            }
        },
        created() {

        },
        mounted() {

            var currentObj = this;
            EventBus.$on('editRetailer', function (list) {
                currentObj.error = '';
                currentObj.qurvalidateerror = false;
                currentObj.editing = true;
                currentObj.editid = list.id;
                currentObj.full_name = list.full_name;
                currentObj.primary_phone = list.primary_mobile_number;
                if (list.alternative_mobile_number == 0) {
                    currentObj.alternate_phone = '';
                } else {
                    currentObj.alternate_phone = list.alternative_mobile_number;
                }
                if (list.whats_app_number == 0) {
                    currentObj.whatsapp_number = '';
                } else {
                    currentObj.whatsapp_number = list.whats_app_number;
                }
                if (list.whats_app_number != '') {
                    currentObj.has_smart_phone = true;
                } else {
                    currentObj.has_smart_phone = false;
                }
                if (currentObj.whatsapp_number == currentObj.primary_phone) {
                    currentObj.same_as_primary = true;
                } else {
                    currentObj.same_as_primary = false;
                }
                currentObj.secondary_name = list.secondary_full_name;
                currentObj.secondary_phone_number = list.secondary_mobile_number;
                currentObj.shop_type = list.shop_type;
                currentObj.shop_name = list.shop_name;
                if (list.dob !== null) {
                    console.log(list.dob);
                    currentObj.dob = moment(list.dob).format('YYYY-MM-DD');
                } else {
                    currentObj.dob = '';
                }
                if (list.anniversay !== null) {
                    currentObj.anniversary = moment(list.anniversay).format('YYYY-MM-DD');
                } else {
                    currentObj.anniversary = '';
                }
                if (list.first_kid_birthday !== null) {
                    currentObj.first_kid_dob = moment(list.first_kid_birthday).format('YYYY-MM-DD');
                } else {
                    currentObj.first_kid_dob = '';
                }
                if (list.second_kid_birthday != null) {
                    currentObj.sec_kid_dob = moment(list.second_kid_birthday).format('YYYY-MM-DD');
                } else {
                    currentObj.sec_kid_dob = '';
                }
                currentObj.establishment_name = list.establishment_name;
                currentObj.gst = list.gst_number;
                currentObj.pan_number = list.pan_number;
                currentObj.adhar_number = list.adhar_number;
                currentObj.device = list.p_device_type;
                currentObj.ds_qrcode = list.scan_code;
                currentObj.shop_address = list.shop_address;
                currentObj.lattitude = list.latitudes;
                currentObj.longitude = list.longitude;
                currentObj.name_id = list.name_as_per_id;


                currentObj.shop_image = '';
                currentObj.gst_image = '';
                currentObj.pan_image = '';
                if (list.other_qrcode != null) {
                    currentObj.mobiqwik_qrcode = list.other_qrcode.mobiqwik;
                    currentObj.gpay_qrcode = list.other_qrcode.gpay;
                    currentObj.phonepe_qrcode = list.other_qrcode.phone_pe;
                    currentObj.upi_qrcode = list.other_qrcode.upi;
                    currentObj.bharat_qrcode = list.other_qrcode.bharat_qr;
                    currentObj.paytm_qrcode = list.other_qrcode.paytm;
                } else {
                    currentObj.mobiqwik_qrcode = '';
                    currentObj.gpay_qrcode = '';
                    currentObj.phonepe_qrcode = '';
                    currentObj.upi_qrcode = '';
                    currentObj.bharat_qrcode = '';
                    currentObj.paytm_qrcode = '';
                }

            });
            EventBus.$on('addingRetailer', function () {
                currentObj.shop_image = '';
                currentObj.gst_image = '';
                currentObj.pan_image = '';
                currentObj.error = '';
                currentObj.same_as_primary = false;
                currentObj.has_smart_phone = false;
                currentObj.qurvalidateerror = false;
                currentObj.editing = false;
                currentObj.editid = '';
                currentObj.full_name = '';
                currentObj.primary_phone = '';
                currentObj.alternate_phone = '';
                currentObj.whatsapp_number = '';
                currentObj.secondary_name = '';
                currentObj.secondary_phone_number = '';
                currentObj.shop_type = '';
                currentObj.shop_name = '';
                currentObj.dob = '';
                currentObj.anniversary = '';
                currentObj.first_kid_dob = '';
                currentObj.sec_kid_dob = '';
                currentObj.establishment_name = '';
                currentObj.gst = '';
                currentObj.pan_number = '';
                currentObj.adhar_number = '';
                currentObj.device = '';
                currentObj.ds_qrcode = '';
                currentObj.shop_address = '';
                currentObj.lattitude = '';
                currentObj.longitude = '';
                currentObj.name_id = '';
                currentObj.paytm_qrcode = '';
                currentObj.mobiqwik_qrcode = '';
                currentObj.gpay_qrcode = '';
                currentObj.phonepe_qrcode = '';
                currentObj.upi_qrcode = '';
                currentObj.bharat_qrcode = '';
            });
        }
    };
</script>
