<template>
    <div class="row px-3" id="addform">
        <div class="col-md-12 add-user-form">
            <form class="bg-white rounded border light-border p-4 manage-user"  id="manage-user">
                <div class="row p-4">
                    <div class="col-md-4 mb-5">
                        <label for="name">Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="name"  id="name" placeholder="Enter Here" v-model='user_name' class="w-100 input-shadow border light-border rounded px-3" required>
                        <div v-show="error.user_name" class="error-msg">
                            <i v-show="error.user_name" class="fa fa-warning"></i>
                            <span v-if="error.user_name" class="help is-danger">{{ error.user_name[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <label for="email">Email <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="email" name="email"  v-model='user_email' id="email" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" required>
                        <div v-show="error.user_email" class="error-msg">
                            <i v-show="error.user_email" class="fa fa-warning"></i>
                            <span v-if="error.user_email" class="help is-danger">{{ error.user_email[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <label for="mobile">Mobile <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" pattern="[0-9]{5}[-][0-9]{7}[-][0-9]{1}"  name="mobile"  v-model='user_mobile' id="mobile" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" maxlength="10" required>
                        <div v-show="error.user_mobile" class="error-msg">
                            <i v-show="error.user_mobile" class="fa fa-warning"></i>
                            <span v-if="error.user_mobile" class="help is-danger">{{ error.user_mobile[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <label for="mobile">User Name <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="username"  v-model='username' id="username" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" required>
                        <div v-show="error.username" class="error-msg">
                            <i v-show="error.username" class="fa fa-warning"></i>
                            <span v-if="error.username" class="help is-danger">{{ error.username[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <label for="role">Role<sup class="text-danger font-weight-bold h6">*</sup></label>
                        <select name="role" v-model='role'  class="w-100 px-3 pr-5 select-shadow rounded-lg light-border show-data">
                            <option value="">Role Type</option>
                            <option value="1">Admin</option>
                            <option value="2">Call Centre Admin</option>
                        </select>
                        <div v-show="error.role" class="error-msg">
                            <i v-show="error.role" class="fa fa-warning"></i>
                            <span v-if="error.role" class="help is-danger">{{ error.role[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <label for="designation">Designation <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" v-model='user_designation' name="designation"id="designation" placeholder="Enter here" class="w-100 px-3 input-shadow border light-border rounded">
                        <div v-show="error.user_designation" class="error-msg">
                            <i v-show="error.user_designation" class="fa fa-warning"></i>
                            <span v-if="error.user_designation" class="help is-danger">{{ error.user_designation[0] }}</span>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <span class="m-0">
                                <a href="#" title="" v-on:click="cancelUserForm" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</a>
                            </span>
                            <span v-if="!editing" class="m-0">
                                <a href="#" title="" v-on:click="saveUserForm" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</a>
                            </span>
                            <span v-if="editing" class="m-0">
                                <a href="#" title="" v-on:click="updateUserForm" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">UPDATE</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--<test-table></test-table>-->
    </div>
</template>

<script>
    import { siteUrl } from '../utility.js'
            import { EventBus } from '../eventBus.js';
    export default {
        name: 'add_hub_user_form',
        data() {
            return{
                pageurl: siteUrl,
                user_name: '',
                user_email: '',
                user_mobile: '',
                user_department: '',
                user_designation: '',
                added: false,
                editId: '',
                editing: false,
                error: '',
                username: '',
                role: ''
            }
        },
        props: [],
        methods: {
            cancelUserForm() {
                this.error = '';
                $("#addform>div.open-form").removeClass("open-form");
            },
            saveUserForm() {
                $(".pageloader").show();
                this.error = '';
                let currentObj = this;

                axios.post(currentObj.pageurl + 'add/users/data', {
                    user_name: currentObj.user_name,
                    user_email: currentObj.user_email,
                    user_mobile: currentObj.user_mobile,
                    user_department: currentObj.user_department,
                    user_designation: currentObj.user_designation,
                    username: currentObj.username,
                    role: currentObj.role,

                })
                        .then(function (response) {
//                                 alert(response.data);
                            EventBus.$emit('userAdded');
                            $("#addform>div.open-form").removeClass("open-form");
                            EventBus.$emit("invokeSuccess", 'User Added Successfully');
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });


            },
            updateUserForm() {
                $(".pageloader").show();
                this.error = '';
                let currentObj = this;

                axios.post(currentObj.pageurl + 'update/users/data', {
                    user_name: currentObj.user_name,
                    user_email: currentObj.user_email,
                    user_mobile: currentObj.user_mobile,
                    user_department: currentObj.user_department,
                    user_designation: currentObj.user_designation,
                    editid: currentObj.editId,
                    username: currentObj.username,
                    role: currentObj.role,
                })
                        .then(function (response) {

                            EventBus.$emit('userAdded');
                            $("#addform>div.open-form").removeClass("open-form");
                            EventBus.$emit("invokeSuccess", 'User Updated Successfully');
                            currentObj.editing = false;
                             $(".pageloader").hide();
                        })
                        .catch(function (error) {
                            $(".pageloader").hide();
                            currentObj.error = error.response.data.errors;
                        });


            },
        },
        mounted() {
            let $this = this;
            EventBus.$on('useredit', function (data) {
                $this.error = '';
                $this.editing = true;
                $this.editId = data.id;
                $this.user_name = data.name;
                $this.user_email = data.email;
                $this.user_mobile = data.mobile_number;
                $this.user_department = data.department;
                $this.user_designation = data.designation;
                $this.username = data.username;
                $this.role = data.role;
            });
            EventBus.$on('addinguser', function () {
                $this.error = '';
                $this.editing = false;
                $this.editId = '';
                $this.user_name = '';
                $this.user_email = '';
                $this.user_mobile = '';
                $this.user_department = '';
                $this.user_designation = '';
                $this.username = '';
                $this.role = '';
            });
        }



    }
</script>
