<template>
    <div class="usertablewrap">
        <div class="row px-3 mt-4 mb-4 align-items-center">
            
            <div class="col-md-2 pr-0 position-relative search-div">
                <select name="is_active" v-on:change="searchBykey"  v-model='role'  class="w-100 px-3 pr-5 shadow rounded-lg light-border show-data">
                    <option value="">Role</option>
                    <option value="1">Admin</option>
                    <option value="2">Call Centre Admin</option>
                </select>
            </div>
            <div class="col-md-2 pr-0 position-relative search-div">
                <select name="is_active" v-on:change="searchBykey"  v-model='is_active'  class="w-100 px-3 pr-5 shadow rounded-lg light-border show-data">
                    <option value="0">Active</option>
                    <option value="1">Inactive</option>
                </select>
            </div>
            <div class="col-md-3 pr-0 position-relative search-div">
                <input type="text" class="px-3 w-100 pr-5 rounded-lg shadow light-border border search" v-model="searchKey" name="search" id="search" v-on:keyup="searchBykey" placeholder="Search Here">
                <i class="position-absolute la la-search" ></i>
            </div>
            <div class="col-md-5 d-flex flex-wrap justify-content-end text-right header-action-buttons" v-if="loggedinUser.role == 1">
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length == 0 && checkedList == 0" >
                    <label class="m-0">
                        <input type="checkbox"  checked="checked" class="ios-switch green bigswitch" disabled>
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedList.length > 0" >
                    <label class="m-0">
                        <input type="checkbox" v-on:change="disableUsers($event)" checked="checked" class="ios-switch green bigswitch">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <span class="ml-2 mt-1 theme-text">Inactive</span>
                </div>
                <div class="d-flex flex-wrap align-items-center checkbox-switch" v-if="checkedEnableList.length > 0" >
                    <label class="m-0">
                        <input type="checkbox" v-on:change="enableUsers($event)"  class="ios-switch green bigswitch">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <span class="ml-2 mt-1 theme-text">Active</span>
                </div>
                <div class="ml-4">
                    <a href="#" title="" class="d-inline-block w-100 py-2 px-3 rounded text-white theme-bg border-btn" v-on:click="addClassTodiv" ><h6 class="m-0">ADD USER</h6></a>
                </div>
            </div>
        </div>


        <div class="row my-3">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list">
                        <thead>
                            <tr>
                                <th class="position-relative pl-4">
                                    <label class="checklabel">
                                        <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList" name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>Sr. No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>User Name</th>
                                <th>Mobile</th>
                                <th>Role</th>
                                <th>Designation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody v-if="userList.data.length == 0 && loaded">
                            <tr>
                                   <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tbody>
                        <tbody  v-for="(list,index) in userList.data" v-if="userList.data.length > 0 && list.department != 1">
                            <tr style="cursor: pointer">
                                <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                    <label class="checklabel" v-if="list.status == 0">
                                        <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" checked>
                                        <input v-else type="checkbox" v-on:click="addinList(list.id,$event)"  name="selectcheck" id="selectall" class="checkbox-select">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label  class="checklabel" v-if="list.status == 1">
                                        <input v-on:click="enableuser(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="bg-white py-4 border border-left-0 border-right-0 light-border"><span class="data">{{ userList.from + index }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.name }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.email }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data">{{ list.username }}</span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span v-if="list.mobile_number" class="data">{{ list.mobile_number }}</span><span v-else></span></td>
                                <td class="bg-white py-4 border border-right-0 border-left-0 light-border"><span class="data text-success">{{ getDepartment(list.role) }}</span></td>
                                <td class="bg-white py-4 border border-left-0 border-right-0 light-border"><span class="data">{{ list.designation }}</span></td>
                                <td class="bg-white pr-4 border border-left-0 light-border">
                                    <span class="actions">
                                        <a v-on:click="editUser(list)" href="#" title="edit" class="action-btn">
                                            <i class="h5 mb-0 mr-2 align-middle fa fa-edit theme-text" aria-hidden="true"></i>
                                        </a>
                                        <a v-if='list.status == 1' href="#" title="disabled" class="theme-text action-btn" >
                                            <i class="h5 mb-0 ml-2 align-middle fa fa-ban text-danger" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                        </tbody>
                    </table>
                    <div class="mb-3 pagination" v-if="userList.data.length > 0 && loaded">
                        <vue-pagination v-if="!searching"  :pagination="userList"
                                        @paginate="getUsers()"
                                        v-bind:checked="active"
                                        v-bind:chekall="checkAllList"
                                        :offset="4">
                        </vue-pagination>
                        <vue-pagination v-else :pagination="userList"
                                        @paginate="searchBykey()"
                                        v-bind:checked="checked"
                                        v-bind:chekall="checkAllList"
                                        :offset="4">
                    </vue-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    import { EventBus } from '../eventBus.js';
    import { store } from '../store.js';
    export default {
        name: 'users_hub_table_component',
        props: [],
        data() {
            return{
                pageUrl: siteUrl,

                searchKey: '',
                checkedList: [],
                checkedEnableList: [],
                checkAllList: false,
                enable: false,
                userList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                user_department: '',
                is_active: 0,
                active: false,
                loaded : false,
                role : '',

            }
        },
        components: {
            VuePagination,
        },
        computed: {
            loggedinUser() {

                return store.getters.getCurrentUser;
            },

        },
        watch: {
            searchKey: function (val) {
                this.userList.current_page = 1;
            },

        },
        methods: {
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            checkAll($event) {

                if ($event.target.checked == true) {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.active = false;
                    for (var i = 0; i < this.userList.data.length; i++) {
                        if (this.userList.data[i].status == 0) {
                            this.checkedList.push(this.userList.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.userList.data.length; i++) {
                        if (this.userList.data[i].status == 1) {
                            this.checkedEnableList.push(this.userList.data[i].id);
                        }
                    }

                } else {

                    this.checkedList = [];
                    this.checkAllList = false;
                    this.active = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {
                    this.active = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {
                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {
                    if (this.checkedEnableList.length == 0) {
                        this.active = true;
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {
                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable user at a time');
                    }
                } else {
                    this.active = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {
                        this.active = true;
                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            this.active = false;
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {
                        $event.target.checked = false;
                        alert('You can select disable or enable user at a time');
                    }
                } else {
                    this.active = false;
                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },

            disableUsers($event) {
                let currentObj = this;
                if (currentObj.checkedList.length == 0) {
                    return false;
                }
                let message = "Are you sure want to change user status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'disable/users', {
                                list: currentObj.checkedList

                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedList = [];
                                            currentObj.active = false;
                                            currentObj.getUsers();
                                            EventBus.$emit("invokeSuccess", 'User Inactivated Successfully');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });


            },
            enableUsers($event) {
                let currentObj = this;

                if (currentObj.checkedEnableList.length == 0) {
                    return false;
                }
                let message = "Are you sure want to change user status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageUrl + 'enable/users', {
                                list: currentObj.checkedEnableList

                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            $('table tbody tr td input[type="checkbox"]').each(function () {
                                                $(this).prop('checked', false);
                                            });
                                            currentObj.checkedEnableList = [];
                                            currentObj.active = false;
                                            currentObj.getUsers();
                                            EventBus.$emit("invokeSuccess", 'User Activated Successfully');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });


            },
            addClassTodiv() {
                EventBus.$emit('addinguser');
                $('.add-user-form').addClass('open-form');

            },
            editUser(data) {
                EventBus.$emit('useredit', data);
                $('.add-user-form').addClass('open-form');

            },
            searchBykey() {
                this.loaded = false;
                let currentObj = this;
                currentObj.searching = true;
                if (currentObj.searchKey != '' || currentObj.user_department != '' || currentObj.is_active != '' || currentObj.role != '') {
                    var request = {
                        params: {
                            page: this.userList.current_page,
                            key: currentObj.searchKey,
                            status: currentObj.is_active,
                            role: currentObj.role,
                        }
                    };

                    axios.get(currentObj.pageUrl + 'search/users', request)
                            .then(function (response) {
                                if (response.data.code == 200) {
                                    currentObj.userList = response.data.list;
                                } else {
                                    currentObj.userList.data = [];
                                }
                                currentObj.resetCheckbox();
                                  currentObj.loaded = true;
                                    $(".pageloader").hide();
                            })
                            .catch(function (error) {

                            });
                } else {
                    currentObj.getUsers();
                }
            },
            getUsers() {
                let currentObj = this;
                 currentObj.loaded = false;
                currentObj.searching = false;
                var request = {
                    params: {
                        page: this.userList.current_page,
                        status: currentObj.is_active,
                    }
                };
                axios.get(currentObj.pageUrl + 'get/users/data', request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.userList = response.data.list
                            } else {
                                console.log('data not available');
                            }
                             currentObj.resetCheckbox();
                               currentObj.loaded = true;
                                 $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });

            },
            getDepartment(arg) {
                if (arg == 1) {
                    return 'Admin';
                } else if (arg == 2) {
                    return 'Call Centre Admin';
                } else{
                    return '';
                }

            }

        },
        mounted() {
            var $this = this;
            EventBus.$on('userAdded', function () {
                $this.getUsers();
            }
            );

            this.getUsers();
        }



    }
</script>
