<template>
    <div>
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>created_at</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="cat in users.data">
                    <td>{{cat.name}}</td>
                    <td>{{cat.created_at}}</td>

                </tr>
            </tbody>
        </table>
        <vue-pagination  :pagination="users"
            @paginate="getUsers()"
            :offset="4">
        </vue-pagination>
    </div>
</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import { siteUrl } from '../utility.js'
            import { EventBus } from '../eventBus.js';
    export default {
        name: 'test_table',
        data() {
            return {
                pageUrl : siteUrl,
                users: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
            }
        },
        mounted() {
            this.getUsers();
        },
        components: {
            VuePagination,
        },
        methods: {
            getUsers() {
                axios.get(this.pageUrl +  `category/paginate/${this.users.current_page}`)
                        .then((response) => {
                            this.users = response.data;
                        })
                        .catch(() => {
                            console.log('handle server error from here');
                        });
            }
        }
    }
</script>
