<template>
    <div class="row" id="addslider">
        <div class="col-md-12 pd-x-2 add-user-form">
            <h6 class="mt-4 mb-3 font-weight-bold text-grey-dark">Add Slider</h6>
            <form id="manage" class="bg-white rounded border light-border p-4 manage-user">
                <div class="row p-4" >
                    <div class="col-md-3">
                        <label for="name">Title <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="text" name="myname" v-model="title"  placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        <div v-show="error.title" class="error-msg">
                            <i v-show="error.title" class="fa fa-warning"></i>
                            <span v-if="error.title" class="help is-danger">{{ error.title[0] }}</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <label for="code">Type <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <select name="type" id="is_address" class="w-100 px-3 rounded-lg light-border show-data" v-model="type">
                            <option value="">Select</option>
                            <option value="1">Top</option>
                            <option value="2">Bottom</option>
                        </select>
                        <div v-show="error.type" class="error-msg">
                            <i v-show="error.type" class="fa fa-warning"></i>
                            <span v-if="error.type" class="help is-danger">{{ error.type[0] }}</span>
                        </div>
                    </div>
<!--                    <div class="col-md-3">
                        <label for="code">URL <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <input type="url"  name="myurl" v-model="url"  id="code" placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3" />
                        <div v-show="error.url" class="error-msg">
                            <i v-show="error.url" class="fa fa-warning"></i>
                            <span v-if="error.url" class="help is-danger">{{ error.url[0] }}</span>
                        </div>
                    </div>-->
                    <!-- <div class="col-md-3">
                        <label class="photo-upload" for="upload-pic"><i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i>
                            <span class="upload-text">Upload Slider Image</span>
                        </label>
                        <input type="file" name="avtar" ref="images" id="photo-upload" v-on:change="onImageChange($event)" class="upload-file-input upload-pic" />
                        <div v-show="error.avtar" class="error-msg">
                            <i v-show="error.avtar" class="fa fa-warning"></i>
                            <span v-if="error.avtar" class="help is-danger">{{ error.avtar[0] }}</span>
                        </div>
                    </div> -->

                    <div class="col-md-3">
                        <label class="photo-upload" for="upload-pic">
                        <i class="la la-arrow-circle-up display-4 mr-3 theme-text"></i> Upload Image(jpeg,jpg,png)</label>
                        <div id="preview">
                                        <img v-if="avtar" :src="avtar" />
                                    </div>
                        <input type="file" name="upload-pic" value="" id="upload-pic" v-on:change="onImageChange($event)" class="upload-file-input upload-pic">
                        <div v-show="error.avtar" class="error-msg">
                            <i v-show="error.avtar" class="fa fa-warning"></i>
                            <span v-if="error.avtar" class="help is-danger">{{ error.avtar[0] }}</span>
                        </div>
                      </div>

                </div>

                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button v-on:click.once='cancelUserForm' type="reset" class="h6 text-uppercase w-25 py-2 mr-2 d-inline-block rounded theme-text border-btn cancel-btn">Cancel</button>
                            <button v-on:click.prevent="saveSliders" v-if="!lock" type="button" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                            <button  v-else type="button" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    export default {
        name: "add_cms_form",
        data() {
            return {
                pageurl: siteUrl,
                title: '',
                url: '',
                avtar: '',
                type: '',
                error: '',
                lock: false
            };
        },
        props: [],
        methods: {

            onImageChange(e) {


                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file, index) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    vm.avtar = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cancelUserForm() {
                $("#addslider>div.open-form").removeClass("open-form");
            },
            saveSliders() {
                $(".pageloader").show();
                let currentObj = this;
                this.lock = true;
                axios.post(currentObj.pageurl + "add/home/slider", {
                    title: currentObj.title,
                    avtar: currentObj.avtar,
                    type: currentObj.type,
                })
                        .then(function (response) {
                            if (response.data.status == true) {
                                $("#addslider>div.open-form").removeClass("open-form");
                                currentObj.title = '';
                               
                                currentObj.avtar = '';
                                currentObj.type = '';
                                EventBus.$emit("sliderAdded");
                                EventBus.$emit("invokeSuccess", 'Slider Added Successfuly');
                                currentObj.lock = false;
                                $(".pageloader").hide();
                            }
                        })
                        .catch(function (error) {
                            currentObj.error = error.response.data.errors;
                            currentObj.lock = false;
                            $(".pageloader").hide();
                        });

            },

        },
        mounted() {

        }
    };
</script>
<style>
     #preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 50%;
  max-height: 250px;
}    
    
</style>
