<template>
    <div class="usertablewrap">
        <div class="row align-items-center">
            <div class="col-md-12 mt-4 mb-4 pd-x-2">
                <div class="row ustify-content-between align-items-center">
                    <div class="col-md-3 position-relative search-div">
                        <input type="text" name="search" v-on:keyup="getSliders()" v-model="searchKey" id="search" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                        <i class="position-absolute la la-search"></i>
                    </div>
                    <div class="col-3">
                        <select name="type" id="is_address"  class="w-100 px-3 rounded-lg light-border show-data" v-model="bannertype">
                            <option value="">Type</option>
                            <option value="1">Top</option>
                            <option value="2">Bottom</option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex flex-wrap justify-content-end text-right header-action-buttons">
                        <div class="ml-4">
                            <h6 class="m-0">
                                <a href="#" v-on:click="addClassTodiv" title="" class="d-inline-block w-100 py-2 px-5 rounded text-white theme-bg border-btn">ADD</a>
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row" id="scheme">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th class="position-relative pl-4">Title</th>
                                <th>Type</th>
                                <th>Modified On</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody v-for="list in slidersList.data">
                            <tr>
                                <td class="bg-white py-2 pl-4 border border-right-0 light-border">
                                    <span class="text-capitalize data">{{ list.title }}</span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span v-if="list.banner_type == 1" class="data">Top</span>
                                    <span v-if="list.banner_type == 2" class="data">Bottom</span>
                                </td>

                                <td  class="bg-white py-2 border border-right-0 border-left-0 light-border">
                                    <span class="data">{{ list.updated_at | moment("DD-MM-YYYY") }}</span>
                                </td>
                                <td  class="bg-white py-2 border border-left-0 border-right-0 light-border">
                                    <label class="m-0">
                                        <input v-if="list.status == 0" type="checkbox" v-on:change.prevent="changeStatus(1,list.id,$event)" checked="checked" class="ios-switch bigswitch">
                                        <input v-else type="checkbox" v-on:change.prevent="changeStatus(0,list.id,$event)" class="ios-switch bigswitch">
                                        <div><div></div></div>
                                    </label>
                                </td>
                                <td class="bg-white py-2 border border-left-0 light-border">
                                    <span class="actions">
                                        <a href="#" title="View" v-on:click.prevent="showBannerImage(list)" class="action-btn">
                                            <img v-bind:src="pageurl + 'images/view-icon.png'" alt="view" class="action-icon">
                                        </a>
                                    </span>

                                    <span class="actions">
                                        <a href="#" title="Reject" v-on:click.prevent="deleteSlider(list.id)" class="action-btn">
                                            <img v-bind:src="pageurl + 'images/reject-icon.png'" alt="reject" class="action-icon">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr class="separation"><td class="p-0">&nbsp;</td></tr>

                        </tbody>
                        <tfoot v-if="slidersList.data.length == 0 && loaded">
                            <tr>
                                <td colspan="10" class="text-center bg-light no-data">
                                    <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="mb-3 pagination" v-if="slidersList.data.length > 0 && loaded">
                    <vue-pagination
                        :pagination="slidersList"
                        @paginate="getSliders()"
                        :offset="4">
                    </vue-pagination>
                </div>

            </div>
        </div>
        <div id="productview" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="pt-4 px-3 modal-body calling-view"  v-if='shown'>
                        <div class="col-12 pt-2">
                            <div class="row calling-agent-view">

                                <span class="w-100 user-image">
                                    <img v-if="modalData.avtar != '' " v-bind:src="pageurl + 'images/banners/' + modalData.avatar"  alt   class="w-100 img-fluid" />
                                    <img  v-else v-bind:src="pageurl + 'images/detail-img.jpg'" alt   class="w-100 img-fluid"   />
                                </span>
                                <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info"  >
                                    <span id="agent_name" class="h4 font-weight-normal mb-0 name" >{{ modalData.title }}</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VuePagination from '../partials/PaginationComponent.vue';
    export default {
        name: "cms_table",
        data() {
            return {
                pageurl: siteUrl,
                modalData: '',
                searchKey: '',
                bannertype: '',
                slidersList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ""
                },
                offset: 4,
                loaded: false,
                shown: false

            };
        },
        props: [],
        watch: {
            bannertype: function () {
               
                this.slidersList.current_page = 1;
                this.slidersList.per_page = 2;
                this.slidersList.from = 1;
                this.slidersList.to = 0;

                this.getSliders();
            },

        },
        components: {
            VuePagination,
        },
        methods: {
            showBannerImage(list) {
                this.modalData = list;
                $("#productview").modal('show');


            },
            addClassTodiv() {


                $('.add-user-form').addClass('open-form');

            },

            getSliders() {
                this.loaded = false;
                var currentObj = this;
                var request = {
                    params: {
                        page: this.slidersList.current_page,
                        key: currentObj.searchKey,
                        type: currentObj.bannertype,
                    }
                };
                axios.get(currentObj.pageurl + "get/home/slider", request)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                currentObj.slidersList = response.data.list;
                            } else {
                                currentObj.slidersList.data = [];
                            }
                            currentObj.loaded = true;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },
            changeStatus(arg1, sid, $event) {
                var currentObj = this;
                let message = "Are you sure want to change banner status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageurl + "change/home/slider/status", {
                                status: arg1,
                                sid: sid,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            EventBus.$emit("invokeSuccess", 'Home slider banner status changed successfully');

                                            
                                        } else {
                                            EventBus.$emit("invokeSuccess", 'Home slider banner status not changed successfully');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        }).catch(function () {
                    if (arg1 == 1) {
                        $event.target.checked = true;
                    }
                    if (arg1 == 0) {
                        $event.target.checked = false;
                    }
                });
            },
            deleteSlider(sid) {
                var currentObj = this;
                let message = "Are you sure want to delete banner?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.pageurl + "delete/home/slider", {

                                sid: sid,
                            })
                                    .then(function (response) {
                                        if (response.data.code == 200) {
                                            EventBus.$emit("invokeSuccess", 'Home slider banner deleted successfully');
                                            currentObj.getSliders();
                                        } else {
                                            EventBus.$emit("invokeSuccess", 'Home slider banner not deleted successfully');
                                        }
                                    })
                                    .catch(function (error) {

                                    });
                        });
            },
        },
        mounted() {
            var $this = this;
            EventBus.$on('sliderAdded', function () {
                $this.getSliders();
            });
            $this.getSliders();
            $('#productview').on('show.bs.modal', function (e) {

                $this.shown = true;

            });
        }
    };
</script>
