<template>
    <div class="row mt-4 mb-4" id="addslider">
        <div class="col-md-12 pd-x-2">
            <div class="d-flex bg-white p-3 border report-pages">
                <form id="manage" class="manage-user">
                <div class="d-flex flex-wrap" >
                    <div class="col-md-3">
                        <label for="name">Ordered To Packed <sup class="text-danger font-weight-bold h6">*</sup></label>
                        <!--<input type="time" name="order_to_packing" v-model="order_to_packing"  placeholder="Enter Here" class="w-100 input-shadow border light-border rounded px-3 without " />-->
                       
                        <VueTimepicker v-model="order_to_packing" ></VueTimepicker>
                        <div v-show="error.order_to_packing" class="error-msg">
                            <i v-show="error.order_to_packing" class="fa fa-warning"></i>
                            <span v-if="error.order_to_packing" class="help is-danger">{{ error.order_to_packing[0] }}</span>
                        </div>
                    </div>  
                    <div class="col-md-3">
                        <label for="code">Packed To Dispatch <sup class="text-danger font-weight-bold h6">*</sup></label>
                       
                         <VueTimepicker v-model="packing_to_dispatch" ></VueTimepicker>
                        <div v-show="error.packing_to_dispatch" class="error-msg">
                            <i v-show="error.packing_to_dispatch" class="fa fa-warning"></i>
                            <span v-if="error.packing_to_dispatch" class="help is-danger">{{ error.packing_to_dispatch[0] }}</span>
                        </div>
                    </div> 
                    <div class="col-md-3">
                        <label for="code">Dispatch To Delivered <sup class="text-danger font-weight-bold h6">*</sup></label>
                      
                        <VueTimepicker v-model="dispatch_to_delivered" ></VueTimepicker>
                        <div v-show="error.dispatch_to_delivered" class="error-msg">
                            <i v-show="error.dispatch_to_delivered" class="fa fa-warning"></i>
                            <span v-if="error.dispatch_to_delivered" class="help is-danger">{{ error.dispatch_to_delivered[0] }}</span>
                        </div>
                    </div> 
                </div>

                <div class="row">
                    <div class="col-md-12 mt-4 text-center">
                        <div class="col-md-6 offset-md-3 margin-auto">
                            <button v-on:click.prevent="setOrderSetting" type="button" class="h6 text-uppercase d-inline-block w-25 py-2 rounded text-white theme-bg border-btn save-btn">SET</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            
        </div>
    </div>
</template>

<script>
    import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
    import VueTimepicker from 'vue2-timepicker';
import 'vue2-timepicker/dist/VueTimepicker.css';
    export default {
        name: "add_cms_form",
        data() {
            return {
                pageurl: siteUrl,
                order_to_packing: '',
                packing_to_dispatch: '',
                dispatch_to_delivered: '',
                error: ''

            };
        },
        props: [],
        components: {
            VueTimepicker
        },
        methods: {

            setOrderSetting() {
              
                let currentObj = this;
                  currentObj.error = '';
                if(currentObj.order_to_packing == "00:00"){
                    currentObj.order_to_packing = '';
                }
                if(currentObj.packing_to_dispatch == "00:00"){
                    currentObj.packing_to_dispatch = '';
                }
                if(currentObj.dispatch_to_delivered == "00:00"){
                    currentObj.dispatch_to_delivered = '';
                } 
                axios.post(currentObj.pageurl + "set/order/status/setting", {
                    order_to_packing: currentObj.order_to_packing,
                    packing_to_dispatch: currentObj.packing_to_dispatch,
                    dispatch_to_delivered: currentObj.dispatch_to_delivered,
                })
                        .then(function (response) {
                            if (response.data.status == true) {
                                EventBus.$emit("invokeSuccess", 'Order Status Setting Updated Successfuly');
                                currentObj.getOrderSetting();
                            }
                        })
                        .catch(function (error) {
                            currentObj.error = error.response.data.errors;
                        });
            },
            getOrderSetting() {
                let currentObj = this;
                axios.get(currentObj.pageurl + "get/order/status/setting")
                        .then(function (response) {
                            currentObj.order_to_packing = response.data.list.order_to_packing;
                            currentObj.packing_to_dispatch = response.data.list.packing_to_dispatch;
                            currentObj.dispatch_to_delivered = response.data.list.dispatch_to_delivered;
                        })
                        .catch(function (error) {
                        });
            },

        },
        mounted() {
            this.getOrderSetting();
        }
    };
</script>
<style>
    .vue__time-picker, .vue__time-picker input.display-time{width:100%;}
  .without::-webkit-datetime-edit-ampm-field {
   display: none;
 } 
input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0; 
 }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   margin: 0; 
  }
    
</style>
