<template>
    <li>
        <div :class="{bold: isFolder}" >  
            <input type='text' v-model='item.name' placeholder="Type here ..." class="add-item-input">
            <button  @click="toggle" @dblclick="makeFolder" type='button' class="btn-info"><span >{{ isOpen ? '-' : '+' }}</span></button>
            
        </div>
        <ul v-show="isOpen" v-if="isFolder">
            <tree-item
                class="item"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                @make-folder="$emit('make-folder', $event)"
                @add-item="$emit('add-item', $event)"
                ></tree-item>
<!--            <li class="add" @click="$emit('add-item', item)">+</li>-->
        </ul>
    </li>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'childtree',
        
        props: ['script_id'],
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
            },
            makeFolder: function () {
                if (!this.isFolder) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            },
            
        },
       



    }
</script>
