<template>
    <div>
        <div class="row pd-x-2 align-items-center bg-white header" v-if="pagetitle != 'Agent Panel'">
            <div class="col-md-6 pl-0" >
                <div class="col-md-12 pl-0 pagetitle">
                    <div class="font-weight-light m-0">
                        <img v-bind:src="pageUrl + 'images/hamburger-icon.png'" class="align-text-top mr-2 ham-icon" />
                        <span class="ml-1 page-title">{{ pagetitle }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 pr-0 text-right profile-drop">
                <div class="col-12 pr-1 notify">
                    <div class="dropdown d-inline-block mr-4">
                        
                    <span class="dropdown-toggle notification" data-toggle="dropdown">
                        <sup class="theme-bg text-light">5</sup>
                        <img v-bind:src="pageUrl + 'images/notification.svg'" alt="notification" class="notification-ico" />
                    </span>
                    <div class="p-0 dropdown-menu dropdown-menu-right border-0 shadow custom-dropdown">
                        <div class="d-flex justify-content-between align-item-center py-2 px-3 theme-bg text-white">
                            <h6 class="m-0">Notification</h6>
                            <a href="" title="" class="text-white notifyViewall"><small>View All</small></a>
                        </div>
                        <ul class="p-1 notify-list">
                            <li class="mb-1">
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list unread">
                                    <span class="font-weight-bold">Notification 1</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list unread">
                                    <span class="font-weight-bold">Notification 2</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list">
                                    <span class="font-weight-bold">Notification 3</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list">
                                    <span class="font-weight-bold">Notification 4</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list unread">
                                    <span class="font-weight-bold">Notification 5</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list">
                                    <span class="font-weight-bold">Notification 6</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list">
                                    <span class="font-weight-bold">Notification 7</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="p-3 position-relative notify-list">
                                    <span class="font-weight-bold">Notification 8</span>
                                    <p>Lorem ipsum dolor sit amet, quo verear appareat indoctum ei, meis scripserit voluptatibus cum te.</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <span class="position-relative d-inline-block mr-4 notification">
                    <sup class="theme-bg text-light">5</sup>
                    <img v-bind:src="pageUrl + 'images/notification.svg'" alt="notification" class="notification-ico" />
                    <div class="p-0 dropdown-menu notify-drop">
                        <ul class="list-group list-group-flush shadow notify-list">
                            <span class="position-absolute close">X</span>
                            <li class="list-group-item border-0 unread">
                                <a href="" title="" class="notify">
                                    <p class="h6 theme-text font-weight-normal">Title Here to show</p>
                                    <p class="text-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </li>
                            <li class="list-group-item border-0">
                                <a href="" title="" class="notify">
                                    <p class="h6 theme-text font-weight-normal">Title Here to show</p>
                                    <p class="text-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </li>
                            <li class="list-group-item border-0 unread">
                                <a href="" title="" class="notify">
                                    <p class="h6 theme-text font-weight-normal">Title Here to show</p>
                                    <p class="text-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </li>
                            <li class="list-group-item border-0">
                                <a href="" title="" class="notify">
                                    <p class="h6 theme-text font-weight-normal">Title Here to show</p>
                                    <p class="text-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </li>
                            <li class="list-group-item border-0 last">
                                <a href="" title="" class="notify">
                                    <p class="h6 theme-text font-weight-normal">Title Here to show</p>
                                    <p class="text-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </a>
                            </li>
                            <li class="list-group-item bg-grey p-2 text-center border-0 last">
                                <h6 href="" title="" class="m-0 notify">
                                    <a href="#" title="" class="theme-text viewall">VIEW ALL</a>
                                </h6>
                            </li>
                        </ul>
                    </div>
                </span> -->

                <div class="d-inline-block dropdown-toggle top-profile">
                    <span v-if="loggedInUser.avtar == null" class="profile"><img v-bind:src="pageUrl + 'images/profile-pic.png'" alt="profile" class="img-fluid mr-1 profile-img" /></span>
                    <span v-else class="profile"><img v-bind:src="pageUrl + 'images/callingAgent/' + loggedInUser.avtar" alt="profile" class="img-fluid h-100 mr-1 profile-img" /></span>
                    <div class="dropdown-menu p-0 profile-drop">
                        <a class="py-2 pl-3 border border-left-0 border-right-0 border-top-0 dropdown-item" v-bind:href="pageUrl +'agent/profile'"><i class="h5 m-0 mr-2 ml-1 la la-user"></i>Profile</a>
                        <a class="py-2 pl-3 dropdown-item" v-bind:href="pageUrl +'agent/logout'"><i class="h5 m-0 mr-2 ml-1 la la-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 pl-0 info-msg" v-if="success">
            <div class="w-50 m-auto position-relative text-center text-white p-2">
                <span>{{ msg }}</span>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="col-md-12 pl-0 info-msg" v-if="success">
            <div class="w-50 m-auto position-relative text-center text-white p-2 after-select-date">
                <span>{{ msg }}</span>
            </div>
        </div> 
    </div>
</div>
</template>


<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'header_guard_component',
        props: ['pagetitle', 'activeClass'],
        data() {
            return{
                pageUrl: siteUrl,
                success: false,
                msg: '',
               
            }
        },
        computed: {
            loggedInUser() {
                return store.getters.getCurrentUser;
            }
        },

        methods: {
           
            getCurrentUser() {

                let currentObj = this;
                axios.post(currentObj.pageUrl + 'agent/login/guard/data')
                        .then(function (response) {
                            var data = response.data;
                            store.commit('currentUser', data);
                        })
                        .catch(function (error) {

                        });


            },

        },
        mounted() {
            this.getCurrentUser();
            var $this = this;
            EventBus.$on('loadAuth', function () {
                $this.getCurrentUser();
            });

            EventBus.$on('invokeSuccess', function (msg) {
                $this.msg = msg;
                setTimeout(function () {
                    $this.success = false;
                }, 2000);
                $this.success = true;

            });
        }



    }
</script>
