<template>
    <div class="row pd-x-2 py-2 align-items-center bg-white header">
        <div v-if="pagetitle != 'Dashboard' && loader" class="pageloader"><div class="loader"></div></div>
        <div class="col-md-6 pl-0 pagetitle">
            <div class="font-weight-light m-0">
                <img v-bind:src="pageUrl + 'images/hamburger-icon.png'" class="align-text-top mr-2 ham-icon" />
                <span class="ml-1 page-title">{{ pagetitle }}</span>

            </div>
        </div>
        <div class="col-md-6 pr-0 text-right profile-drop">
            <div class="col-12 pr-1 notify">
                <div class="dropdown d-inline-block mr-4" v-on:click="notificationsView()">
                  <span class="dropdown-toggle notification" data-toggle="dropdown">
                    <sup class="theme-bg text-light">{{ total }}</sup>
                    <img v-bind:src="pageUrl + 'images/notification.svg'" alt="notification" class="notification-ico" />
                  </span>
                  <div class="p-0 dropdown-menu dropdown-menu-right border-0 shadow custom-dropdown">
                    <div class="d-flex justify-content-between align-item-center py-2 px-3 theme-bg text-white">
                      <h6 class="m-0">Notification</h6>
                      <a href="" title="" class="text-white notifyViewall"><small>View All</small></a>
                    </div>
                    <ul class="p-1 notify-list">
                        <li class="mb-1" v-for="list in notification">
                          <a href="javascript:void(0);" class="p-3 position-relative notify-list unread">
                            <span class="font-weight-bold">{{ list.type }}</span>
                            <p v-bind:title="list.hub_message">{{ list.hub_message }}</p>
                          </a>
                        </li>
                    </ul>
                  </div>
                </div>

                <div class="d-inline-block dropdown-toggle top-profile">
                    <span v-if="loggedInUser.avtar != null && loggedInUser.avtar != ''" class="profile">
                        <img v-bind:src="pageUrl + 'images/distributor/' + loggedInUser.avtar" alt="profile" class="img-fluid mr-1 profile-img" />
                    </span>
                    <span v-else class="profile">
                       <img v-bind:src="pageUrl + 'images/profile-pic.png'" alt="profile" class="img-fluid h-100  mr-1 profile-img" />
                    </span>
                    <div class="dropdown-menu p-0 profile-drop">
                        <a class="py-2 pl-3 border border-left-0 border-right-0 border-top-0 dropdown-item" v-bind:href="pageUrl +'hub/profile'"><i class="h5 m-0 mr-2 ml-1 la la-user"></i>Profile</a>
                        <a class="py-2 pl-3 dropdown-item" v-bind:href="pageUrl +'hub/logout'"><i class="h5 m-0 mr-2 ml-1 la la-sign-out-alt"></i> Logout</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 pl-0 info-msg" v-if="success">
            <div class="w-50 m-auto position-relative text-center text-white p-2">
                <span>{{ msg }}</span>
            </div>
        </div>
    </div>
</template>


<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'header_hub_component',
        props: ['pagetitle', 'activeClass','loader'],
        data() {
            return{
                pageUrl: siteUrl,
                success: false,
                msg: '',
                total : 0,
                notification : []
            }
        },
        computed: {
            loggedInUser() {
                return store.getters.getCurrentUser;
            }
        },

        methods: {
            getCategory() {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'hub/get/product/category')
                        .then(function (response) {
                            if (response.data.code == 200) {
                                store.commit('productCategory', response.data.list);
                            } else {
                                store.commit('productCategory', []);
                            }
                        })
                        .catch(function (error) {

                        });
            },
            getSubCategory() {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'hub/get/product/subcategory')
                        .then(function (response) {
                            if (response.data.code == 200) {
                                store.commit('productSubCategory', response.data.list);
                            } else {
                                store.commit('productSubCategory', []);
                            }
                        })
                        .catch(function (error) {
                        });
            },

            getCurrentUser() {
                this.getCategory();
                this.getSubCategory();

                let currentObj = this;
                axios.post(currentObj.pageUrl + 'hub/login/guard/data')
                        .then(function (response) {
                            var data = response.data;
                            store.commit('currentUser', data);
                        })
                        .catch(function (error) {

                        });

            },
            getNotifications(){
                let currentObj = this;
                axios.get(currentObj.pageUrl + 'hub/notifications')
                .then(function (response) {
                    if (response.data.status) {
                        currentObj.notification = response.data.list;
                        currentObj.total = response.data.count;
                    } else {
                           // store.commit('productlist',[]);
                        console.log(response.data);
                    }
                    currentObj.getThreshNotifications();
                })
                .catch(function (error) {
                });
            },
            getThreshNotifications(){
                let currentObj = this;
                axios.get(currentObj.pageUrl + 'hub/thresh/notifications')
                .then(function (response) {
                    if (response.data.status) {
                        if(currentObj.notification.length == 0){
                             currentObj.notification = (response.data.list);
                        }else{
                            if(response.data.list.length > 0){
                                for(var i = 0;i < response.data.list.length;i++){
                                   currentObj.notification.push(response.data.list[i]); 
                                }
                            }
                        }
                        currentObj.total += parseInt(response.data.count);
                    } else {
                           // store.commit('productlist',[]);
                        console.log(response.data);
                    }
                })
                .catch(function (error) {
                });
            },

            notificationsView(){
                let currentObj = this;
                axios.get(currentObj.pageUrl + 'hub/view-notifications')
                .then(function (response) {
                    if (response.data.status) {
                        currentObj.total = 0;
                    }
                })
                .catch(function (error) {
                    console.log(response.data);
                });
            }

        },
        mounted() {
            this.getNotifications();
            this.getCurrentUser();
            var $this = this;
            EventBus.$on('loadAuth', function () {
                $this.getCurrentUser();
            });

            EventBus.$on('invokeSuccess', function (msg) {
                $this.msg = msg;
                setTimeout(function () {
                    $this.success = false;
                }, 2000);
                $this.success = true;

            });

        }

    }
</script>
