<template>
    <span class="d-inline-block position-relative mr-3 rounded-circle profile-pic">
     <img v-if="loggedInUser.avtar != null && loggedInUser.avtar != ''" v-bind:src="pageUrl + 'images/distributor/' + loggedInUser.avtar" alt="" class="h-100 w-100 rounded-circle img-fluid" />
      <img v-else v-bind:src="pageUrl + 'images/user-pic.jpg'" alt="" class="h-100 w-100 rounded-circle img-fluid" />
      <form class="edit-pic" action="#" method="post" id="edit-pic" name="edit-pic">
        <label class="cam-icon">
          <input type="file" v-on:change="onImageChange" name="upload-pic" id="upload-pic" class="cam-upload">
        </label>
      </form>
    </span>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'hub_image_component',
        props: ['pagetitle', 'activeClass'],
        data() {
            return{
                pageUrl: siteUrl,
                avtar : ''
            }
        },
        computed: {
            loggedInUser() {
                return store.getters.getCurrentUser;
            }
        },

        methods: {
          onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.avtar = e.target.result;
                    vm.uploadNow();
                };
                reader.readAsDataURL(file);
            },

            uploadNow(){
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'hub/upload/avtar', {
                   avtar : currentObj.avtar,

                })
                        .then(function (response) {
//                             console.log(response.data);
                             EventBus.$emit('loadAuth');
                              EventBus.$emit("invokeSuccess", 'Profile Image Uploaded Successfuly');
                        })
                        .catch(function (error) {

                        });
            }
        },
        mounted() {

        }



    }
</script>
