<template>
    <span class="font-weight-light">
        <span v-if="!showInput" class="font-weight-light" >{{ quantity }}</span>
        <input v-else type='number'  class=" form-group col-md-4" name='quantity' v-on:keyup.enter="changeNow"  v-model="quantity" style="min-height: 30px;padding: 10px;height: 30px;">
        <a href="#" v-if="!showInput" v-on:click="editNow" class="btn btn-primary a-btn-slide-text edit-btn-small">Edit</a>
        <a v-else href="#" v-on:click="changeNow" class="btn btn-primary a-btn-slide-text edit-btn-small" style="padding: 7px;margin-top: -3px;">Update</a>
    </span>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'stock_value_component',
        inheritAttrs: false,
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                avtar: '',
                quantity: '',
                showInput: false,
            }
        },
        computed: {

        },

        methods: {
            editNow() {

                this.showInput = true;

            },

            changeNow() {
                let currentObj = this;
                axios.post(currentObj.pageUrl + 'hub/update/stock', {
                    quantity: currentObj.quantity,
                    productId: currentObj.$attrs.productid

                })
                        .then(function (response) {
                            if (response.data.code == 200) {
                                EventBus.$emit("invokeSuccess", 'Product Stock Quantity Successfuly');
                                currentObj.showInput = false;
                            } else {
                                EventBus.$emit("invokeSuccess", 'Product Stock Quantity Not Successfuly');
                            }


                        })
                        .catch(function (error) {

                        });
            }
        },
        mounted() {
            this.quantity = '';
            this.quantity = this.$attrs.availability;
        }



    }
</script>
