<template>
    <div class="col-md-4 pt-2 right-section">
        <div class="row">
            <div class="col-md-12 distributor">
                <label for="distributor" class="label-distribute">MAP Distributor1</label>
                <div class="col-12 px-0 position-relative tags-div">
                    <div class="in-div">
                        <input type="text" v-model="search" data-role="tagsinput" v-on:keyup="update_list" placeholder="Enter Here" class="px-1 w-100 pr-5 rounded-lg light-border border tags_input" />
                        <i class="position-absolute la la-search mr-3" id="search_btn"></i>
                    </div>
                    <ul class="position-absolute w-100 list-group list-group-flush border d-none shadow tag-list" id="distributor_list">

                    </ul>
                </div>
                <a href="#" title="" class="d-inline-block px-4 py-2 rounded mt-3 text-white theme-bg save-btn">SAVE</a>
            </div>
        </div>
    </div>
</template>

<script>
    import {siteUrl} from '../utility.js';

    import { EventBus } from '../eventBus.js';
    export default {
        name: 'map_distributor_conponent',
        props: ['pagetitle', 'activeClass'],
        data() {
            return{
                pageUrl: siteUrl,
                search : '',
                result : ''
            }
        },
        computed: {

        },

        methods: {
            update_list() {
                  alert('1');
                  let currentObj = this;
                  axios.post(this.pageUrl + 'get/distributor/ajaxlist',{
                    searach_distributor : currentObj.search
                    
                })
                        .then(function (response) {
                            console.log(response.data);
                      currentObj.result = response.data;
                           
                        })
                        .catch(function (error) {

                        });
                
            }

        },
        mounted() {

        }



    }
</script>
