<template>
    
    <ul class="list-group list-group-horizontal list-unstyled mb-4" v-if="$attrs.chekall || $attrs.checked">
        <li class="">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded theme-bg text-white" title="First" href="javascript:void(0)" v-on:click="pageAlert"  aria-label="First" > <i class="las la-angle-double-left"></i> </a>
        </li>
        <li class="" v-if="pagination.current_page > 1">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded border" title="Prev" href="javascript:void(0)"  v-on:click="pageAlert" aria-label="Previous" > <i class="las la-angle-left"></i> </a>
        </li>
        <!-- <li class=""></li> -->
        <li class="" v-for="page in pagesNumber" :class="{'active': page == pagination.current_page}">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded text-grey-medium" href="javascript:void(0)"  v-on:click="pageAlert" >{{ page }}</a>
        </li>
        <!-- <li class=""></li> -->
        <li class="" v-if="pagination.current_page < pagination.last_page">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded border" title="Next" href="javascript:void(0)"  v-on:click="pageAlert" aria-label="Next" > <i class="las la-angle-right"></i> </a>
        </li>
        <li class="">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded theme-bg text-white" title="Last"  v-on:click="pageAlert" href="javascript:void(0)" aria-label="Last" > <i class="las la-angle-double-right"></i> </a>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal list-unstyled mb-4" v-else>
        <li class="">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded theme-bg text-white" title="First" href="javascript:void(0)" aria-label="First" v-on:click.prevent="changePage(1)"> <i class="las la-angle-double-left"></i> </a>
        </li>
        <li class="" v-if="pagination.current_page > 1">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded border" title="Prev" href="javascript:void(0)" aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)"> <i class="las la-angle-left"></i> </a>
        </li>
        <!-- <li class=""></li> -->
        <li class="" v-for="page in pagesNumber" :class="{'active': page == pagination.current_page}">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded text-grey-medium" href="javascript:void(0)" v-on:click.prevent="changePage(page)">{{ page }}</a>
        </li>
        <!-- <li class=""></li> -->
        <li class="" v-if="pagination.current_page < pagination.last_page">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded border" title="Next" href="javascript:void(0)" aria-label="Next" v-on:click.prevent="changePage(pagination.current_page + 1)"> <i class="las la-angle-right"></i> </a>
        </li>
        <li class="">
            <a class="d-flex flex-wrap align-items-center justify-content-center mr-1 rounded theme-bg text-white" title="Last" href="javascript:void(0)" aria-label="Last" v-on:click.prevent="changePage(pagination.last_page)"> <i class="las la-angle-double-right"></i> </a>
        </li>
    </ul>
</template>
<script>
    export default{
        props: ['chekall','checked'],
        props: {

            pagination: {
                type: Object,
                required: true
            },
            offset: {
                type: Number,
                default: 4
            },

        },
        
        computed: {
            pagesNumber() {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                    pagesArray.push(page);
                }
                return pagesArray;
            }
        },
        methods: {
            pageAlert(){
               this.$dialog.alert('Please Uncheck check box').then(function (dialog) {
                           
                        });  
                
            },
            changePage(page) {
                this.pagination.current_page = page;
                this.$emit('paginate');
            },

        }
    }
</script>
