<template>
    <div class="star-rating" >
        <label class="star-rating__star p-0" v-for="rating in ratings" :class="{'is-selected': ((computedValue >= rating) && computedValue != null), 'is-disabled': disabled}" 
            v-on:click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">
            <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" 
                   v-model="computedValue" :disabled="disabled">★</label>

    </div>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    import '../../../../public/scss/_rating.scss';
    export default {
        name: 'rating_component',
        inheritAttrs: true,
        props: [
            'name',
            'value',
            'id',
            'disabled',
            'required',
            'orderid',
            'retailerid',
            'type'
        ],
        data() {
            return{
                pageUrl: siteUrl,
                temp_value: null,
                ratings: [1, 2, 3, 4, 5],
                computedValue: 0,
                loaded: false
            }
        },

        methods: {
            rateToOrder(rating) {

                let currentObj = this;
                axios.post(currentObj.pageUrl + currentObj.type  + '/retailer/rating', {
                    user_id: currentObj.retailerid,
                    stars: rating,
                    comment: 'no comment',
                    order_id: currentObj.orderid
                })
                        .then(function (response) {

                            EventBus.$emit("invokeSuccess", response.data.message);
                            currentObj.getOrders();
                        })
                        .catch(function (error) {
                            EventBus.$emit("invokeSuccess", 'Rating submitted');

                        });
            },
            star_over: function (index) {
                var self = this;

                if (!this.disabled) {
                    this.temp_value = this.value;
                    return this.computedValue = index;
                }

            },

            /*
             * Behaviour of the stars on mouseout.
             */
            star_out: function () {
                var self = this;

                if (!this.disabled) {
                    return this.computedValue = this.temp_value;

                }
            },

            /*
             * Set the rating.
             */
            set: function (value) {
                var self = this;

                if (!this.disabled) {
                    this.temp_value = value;

                    this.rateToOrder(value);

                    return this.computedValue = value;

                }
            }
        },
        created() {


        },
        mounted() {

            if (this.value == 1.0) {
                this.computedValue = 1;
            }
            if (this.value == 2.0) {
                this.computedValue = 2;
            }
            if (this.value == 3.0) {
                this.computedValue = 3;
            }
            if (this.value == 4.0) {
                this.computedValue = 4;
            }
            if (this.value == 5.0) {
                this.computedValue = 5;
            }
            if (this.value == 0) {
                this.computedValue = 0;
            }



        }



    }
</script>

