<template>
    <span class="font-weight-light">
        <span v-if="!showInput" class="font-weight-light" >{{ quantity }}</span>
        <input v-else type='number'  class=" form-group col-md-4" name='quantity' v-on:keyup='checkPositive($event,quantity)' v-on:keyup.enter="changeNow"  v-model="quantity" style="min-height: 30px;padding:5px 10px;height: 30px;">
        <a href="#" v-if="!showInput" v-on:click.prevent="editNow" class="btn btn-primary a-btn-slide-text edit-btn-small">Edit</a>
        <a v-else href="#" v-on:click.prevent="changeNow" class="btn btn-primary a-btn-slide-text edit-btn-small" style="padding: 7px;margin-top: -3px;">Update</a>
    </span>
</template>

<script>
    import {siteUrl} from '../utility.js';
    import { store } from '../store.js';
    import { EventBus } from '../eventBus.js';
    export default {
        name: 'stock_value_component',
        inheritAttrs: false,
        props: [],
        data() {
            return{
                pageUrl: siteUrl,
                avtar: '',
                quantity: '',
                showInput: false,
            }
        },
        computed: {

        },

        methods: {
            checkPositive($event, packed_quantity) {
                if(packed_quantity == 0){
                    $event.target.value = '';
                   EventBus.$emit("invokeSuccess", 'Packed Quantity Must be greater than zero!');  
                   return false;
                }
                
                if ( ($event.which != 8 && $event.which != 0 && ($event.which < 48 || $event.which > 57)) && ($event.which != 96 && $event.which != 99 && $event.which != 98 && $event.which != 97 && $event.which != 102 && $event.which != 101 && $event.which != 100 && $event.which != 105 && $event.which != 104 && $event.which != 103)) {


                    EventBus.$emit("invokeSuccess", 'Packed Quantity Must be Positive Integer!');
                    $event.target.value = '';

                    return false;
                }

            },
            editNow() {

                this.showInput = true;

            },

            changeNow() {

                let currentObj = this;

                axios.post(currentObj.pageUrl + 'hub/update/stock', {
                    quantity: currentObj.quantity,
                    productId: currentObj.$attrs.productid,
                    type: currentObj.$attrs.type

                })
                        .then(function (response) {
                            var textType;
                            if (currentObj.$attrs.type == 1) {
                                textType = 'Stock Quantity';
                            }
                            if (currentObj.$attrs.type == 2) {
                                textType = 'Stock Threshold Quantity one';
                            }
                            if (currentObj.$attrs.type == 3) {
                                textType = 'Stock Threshold Quantity two';
                            }
                            if (response.data.code == 200) {

                                EventBus.$emit("invokeSuccess", 'Product ' + textType + ' Successfuly');
                                currentObj.showInput = false;
                            } else {
                                EventBus.$emit("invokeSuccess", 'Product ' + textType + ' Not Successfuly');
                            }


                        })
                        .catch(function (error) {

                        });
            }
        },
        mounted() {
            this.quantity = '';
            if (this.$attrs.type != 1) {
                if(this.$attrs.availability == 0){
                  this.$attrs.availability = ''; 
                }
                this.quantity = this.$attrs.availability;
            }
        }



    }
</script>
