<template>
    <div>
        <p class="text-danger">(You can double click on an item to turn it into a folder.)</p>
        <ul id="demo" class="folder-items pl-4">
            <tree-item
                class="item"
                :item="treeData"
                @make-folder="makeFolder"
                @add-item="addItem"
                ></tree-item>
        </ul>
    </div>
</template>
<script>
// demo data
    var treeData = {
        name: "",
        children: [

            {
                name: "",
                children: [
                    {
                        name: "",
                        children: [
                            
                        ]
                    },

                    {
                        name: "",
                        children: [
                            
                        ]
                    }
                ]
            },
            {
                name: "",
                children: [
                    {
                        name: "",
                        children: [
                            
                        ]
                    },

                    {
                        name: "",
                        children: []
                    }
                ]
            }
        ]
    };

// define the tree-item component
    Vue.component("tree-item", {
        template: `<li>
    <div
    :class="{bold: isFolder}"
    @click="toggle"
    @dblclick="makeFolder">
    {{ item.name }}
    <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
    </div>
    <ul v-show="isOpen" v-if="isFolder">
    <tree-item
    class="item"
    v-for="(child, index) in item.children"
    :key="index"
    :item="child"
    @make-folder="$emit('make-folder', $event)"
    @add-item="$emit('add-item', $event)"
    ></tree-item>
    
    </ul>
    </li>`,
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                }
            },
            makeFolder: function () {
                if (!this.isFolder) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            }
        }
    });
    import Vue from 'vue';
      import { siteUrl } from "../utility.js";
    import { EventBus } from "../eventBus.js";
// boot up the demo
    export default {
        name: 'treelist',
        data: function () {
            return {
                treeData: treeData,
                 pageurl: siteUrl,
            }
        },
        methods: {
            makeFolder: function (item) {
                Vue.set(item, "children", [{
                        name: "",
                        children: []
                    },
                    {
                        name: "",
                        children: []
                    }]);
//                this.addItem(item);
            },
            addItem: function (item) {
                item.children.push({
                    name: "new stuff"
                });
            },
            saveScript(){
                
               let currentObj = this;
                axios.post(currentObj.pageurl + 'save/script/tree',{
                    scritpid : currentObj.$attrs.script_id,
                    treeData : currentObj.treeData
                })
                        .then(function (response) {
                              $(".pageloader").hide();
                           EventBus.$emit("invokeSuccess", 'Call Script Added Successfuly');
                        })
                        .catch(function (error) {

                        });  
            },
        
    },
            mounted: function () {
           var $this = this;
           EventBus.$on('saveScript', function () {
                $this.saveScript();
            }); 
           EventBus.$on('loadScript', function (loadScript) {
                $this.treeData = JSON.parse(loadScript);
            }); 
        }
        }
   
</script>

