<template>
    <div class="usertablewrap dfs">
        <div class="row align-items-center">
            <div class="col-md-12 mt-4 mb-4 pd-x-2">
                <div class="row">
                    <div class="col-md-3 position-relative search-div">
                        <input type="text" name="search" id="search" v-model="searchKey" v-on:keyup="searchBykey" placeholder="Search Here" class="px-3 w-100 pr-5 rounded-lg light-border border search"> <i class="position-absolute la la-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-x-2">
                <div class="col-12 p-0 inner">
                    <table cellspacing="0" class="table table-borderless table-list retailer-list">
                        <thead>
                            <tr>
                                <th class="pl-4">Name of Executive</th>
                                <th>Executive Code</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Shift Start & End Time</th>
                                <th>Supervisor Name</th>
                                <th>Login Status</th>
                                <th class="pr-3">Status</th>
                            </tr>
                        </thead>
                        <tbody v-for='(list,index) in userList.data'>
                            <tr>
                                <td class="bg-white py-2 pl-4 border border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.name }}</span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.executive_code }}</span>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.mobile_number }}</span>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.email }}</span>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">
                                        <font class="text-success">{{ formatAMPM(list.shift_start_time) }}</font> - {{ formatAMPM( list.shift_end_time) }}
                                    </span>
                                </td>
                                <td class="bg-white py-2 border border-left-0 border-right-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span class="data">{{ list.supervisor_name }}</span>
                                </td>
                                <td class="bg-white py-2 border border-right-0 border-left-0 light-border" data-toggle="modal" data-target="#myModal2">
                                    <label v-if="list.login_status == 1" class="m-0"><input type="checkbox" checked="checked" v-on:change="loginStatus(0,list.id,$event)" class="ios-switch green bigswitch">
                                        <div>
                                            <div></div>
                                        </div>
                                    </label>
                                    <label v-else class="m-0"><input type="checkbox" v-on:change="loginStatus(1,list.id,$event)" class="ios-switch green bigswitch">
                                        <div>
                                            <div></div>
                                        </div>
                                    </label>
                                </td>
                                <td class="bg-white py-2 pr-3 border border-left-0 light-border" data-toggle="modal" v-on:click="showModel(list)" data-target="#myModal2">
                                    <span v-if='list.status == 0' class="data text-success">Active</span>
                                    <span v-if='list.status == 1' class="data text-success">Inactive</span>
                                </td>
                            </tr>
                            <tr class="separation">
                                <td class="p-0">&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-12 p-0 inner" v-if="isList">
                    <span>
                        <h2>No data available !!</h2>
                    </span>
                </div>

                <div class="mb-3 pagination">
                    <vue-pagination v-if="!searching" :pagination="userList" @paginate="getUsers()" :offset="4"></vue-pagination>
                    <vue-pagination v-else :pagination="userList" @paginate="getUsers()" :offset="4"></vue-pagination>
                </div>

            </div>
        </div>
        <div id="myModal2" class="modal fade" v-if="modalData != ''">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content"><button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                    <div class="pt-4 px-3 modal-body">
                        <div class="col-12 pt-2">
                            <div class="row">
                                <div class="col-md-4 pr-0">
                                    <span class="w-100 user-image">

                                        <img v-if="modalData.avtar != '' " v-bind:src="pageUrl + 'images/callingAgent/' + modalData.avtar" alt="" class="w-100 img-fluid">
                                        <img v-else v-bind:src="pageUrl + 'images/detail-img.jpg'" alt="" class="w-100 img-fluid">
                                    </span>
                                    <div class="d-flex flex-wrap align-items-center justify-content-center py-3 contact-info">
                                        <span id="agent_name" class="h4 font-weight-normal mb-0 name">{{ modalData.name }}</span>
                                        <span class="number">
                                            <i class="fa fa-phone"></i>
                                            <small id="agent_phone">+91 {{ modalData.mobile_number }}</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-8 calling-agent">
                                    <ul class="list-group">
                                        <li class="d-flex pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-3"><img v-bind:src="pageUrl + 'images/mail-icon.svg'" alt="mail-icon" class="icons"></span>
                                            <span class="text-body font-weight-light agenttext">{{ modalData.email }}</span>
                                        </li>
                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light label">Username:</span>
                                            <span class="text-body agenttext">{{ modalData.user_name }}</span>
                                        </li>
                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light label">Supervisor Name:</span>
                                            <span class="text-body agenttext">{{ modalData.supervisor_name }}</span>
                                        </li>
                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light label">Shift:</span>
                                            <span v-if="modalData.shift_start_time != '00:00:00'" class="text-body agenttext">{{ formatAMPM('1-01-2019 ' + modalData.shift_start_time) }} -
                                                {{ formatAMPM('1-01-2019 ' + modalData.shift_end_time) }}</span>
                                            <span v-else class="text-body agenttext">'00:00:00' - '00:00:00'</span>
                                        </li>
                                        <li class="pt-0 mb-2 pl-2 pb-2 pr-0 list-group-item border-0">
                                            <span class="mr-1 font-weight-light">Caller Type:</span>

                                            <span class="text-body agenttext">Open Order Page From Mobile Number</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {
        siteUrl
    } from '../utility.js';
    import {
        EventBus
    } from '../eventBus.js';
    import {
        store
    } from '../store.js';
    export default {
        name: 'auth_callcenter_agent_table',
        props: [],
        data() {
            return {
                pageUrl: siteUrl,
                //                userList: [],
                searchKey: '',
                checkedList: [],
                checkedEnableList: [],
                checkAllList: false,
                enable: false,
                currentSort: 'name',
                currentSortDir: 'asc',
                pageSize: 6,
                currentPage: 1,
                isList: false,
                modalData: '',
                userList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
            }
        },
        watch: {
            searchKey: function(val) {
                this.userList.current_page = 1;
            },
        },
        computed: {
            loggedinUser() {
                return store.getters.getCurrentUser;
            },
        },
        components: {
            VuePagination,
        },
        methods: {
            showModel(data) {
                this.modalData = data;
            },
            formatAMPM(date) {
                var d = new Date(date);
                var hh = d.getHours();
                var m = d.getMinutes();
                var s = d.getSeconds();
                var dd = "AM";
                var h = hh;
                if (h >= 12) {
                    h = hh - 12;
                    dd = "PM";
                }
                if (h == 0) {
                    h = 12;
                }
                m = m < 10 ? "0" + m : m;
                s = s < 10 ? "0" + s : s;
                var pattern = new RegExp("0?" + hh + ":" + m + ":" + s);
                var replacement = h + ":" + m;
                replacement += " " + dd;

                return replacement;
            },


            loginStatus(arg, aid, $event) {

                var r = confirm('Are you sure want change agents login status!!');
                if (r) {
                    let currentObj = this;
                    axios.post(currentObj.pageUrl + 'agent/change/agent/login/status', {
                            arg: arg,
                            aid: aid,
                        })
                        .then(function(response) {
                            if (response.data.code == 200) {
                                currentObj.getUsers();
                                EventBus.$emit("invokeSuccess", 'Calling Agent Login Status changed Successfuly');
                            }
                        })
                        .catch(function(error) {

                        });
                } else {
                    if (arg == 1) {
                        $event.target.checked = false;
                    } else {
                        $event.target.checked = true;
                    }
                    $event.target.checked = false;
                }
            },
            addClassTodiv() {
                EventBus.$emit('addingagents');

                $('.add-user-form').addClass('open-form');

            },
            editUser(data) {
                EventBus.$emit('useredit', data);
                $('.add-user-form').addClass('open-form');

            },
            searchBykey() {
                let currentObj = this;
                this.searching = true;
                this.isList = false;
                if (currentObj.searchKey != '') {
                    var request = {
                        params: {
                            page: this.userList.current_page,
                            key: currentObj.searchKey
                        }
                    };
                    axios.get(currentObj.pageUrl + 'agent/search/calling/agent', request)
                        .then(function(response) {
                            if (response.data.code == 200) {
                                currentObj.userList = response.data.list;
                            } else {
                                currentObj.userList.data = [];
                                currentObj.isList = true;

                            }
                        })
                        .catch(function(error) {

                        });
                } else {
                    currentObj.getUsers();
                }
            },
            getUsers() {
                this.searching = false;
                let currentObj = this;
                var request = {
                    params: {
                        page: this.userList.current_page
                    }
                };
                axios.get(currentObj.pageUrl + `agent/calling/list`, request)
                    .then(function(response) {

                        //                            console.log(response.data);

                        if (response.data.code == 200) {
                            currentObj.userList = response.data.list
                        } else {
                            console.log('data not available');
                        }
                    })
                    .catch(function(error) {

                    });

            },
            getDepartment(arg) {
                if (arg == 2) {
                    return 'IT';
                } else if (arg == 3) {
                    return 'Marketing';
                } else if (arg == 4) {
                    return 'Testing';
                } else if (arg == 5) {
                    return 'Sales';
                } else if (arg == 6) {
                    return 'HR';
                }

            }

        },
        mounted() {
            this.getUsers();
        }



    }
</script>
