<template>
    <!-- agent listing section -->
    <div class="row my-3">
        <div class="col-md-3 position-relative search-div">
            <input type="text"  id="searchkey" placeholder="Search Here" name="searchkey" v-model='searchkey' v-on:keyup='searchBykey'  class="px-3 w-100 w-100 pr-5 rounded-lg light-border border search">
            <i class="position-absolute la la-search" v-on:click='searchBykey'></i>
        </div>
        <div class="col-md-3 position-relative search-div">
            <select v-model="is_active" v-on:change="searchBykey" name="is_active" class="px-3 w-100 pr-5 rounded-lg light-border border input-shadow search">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
        </div>
        <div class="col-md-6 d-flex flex-wrap justify-content-end text-right header-action-buttons">
            <div v-if='checkedList.length == 0 && checkedEnableList.length == 0' class="d-flex flex-wrap align-items-center checkbox-switch">
                <span class="ml-2 mt-1 theme-text">Active</span>
                <label class="m-0">
                    <input type="checkbox" checked="checked" disabled="disabled" class="ios-switch green bigswitch">
                    <div>
                        <div></div>
                    </div>
                </label> <span class="ml-2 mt-1 theme-text">Inactive</span>
            </div>
            <div v-if='checkedList.length > 0' class="d-flex flex-wrap align-items-center checkbox-switch">
                <span class="ml-2 mt-1 theme-text">Inactive</span>
                <label class="m-0">
                 
                    <input type="checkbox" v-on:change='updateStatus'   class="ios-switch green bigswitch">
                    <div>
                        <div></div>
                    </div>
                       </label> 
                
            </div>
            <div v-if='checkedEnableList.length > 0' class="d-flex flex-wrap align-items-center checkbox-switch">
                 <span class="ml-2 mt-1 theme-text">Active</span>
                   <label class="m-0">
                    <input type="checkbox" v-on:change='enableStatus'   class="ios-switch green bigswitch">
                    <div>
                        <div></div>
                    </div>
                   </label>
            </div>
            <div class="ml-4 add-user-btn">
                <h6 class="m-0"><a href="distributor/create" title="" class="d-inline-block w-100 py-2 px-4 rounded text-white theme-bg border-btn add-user-btn">ADD</a></h6>
            </div>
        </div>
        <div class="col-md-12 mt-4 distributor-page">
            <div class="col-12 p-0 inner">
                <a v-bind:href="mainUrl + 'excel/distributor.xls'" class="d-flex align-items-center mb-4 float-right border-0 text-body export-btn" download>
                    <i class="la h4 mr-1 mb-0 la-download"></i> Download sample
                </a>
                <a  v-bind:href="mainUrl + 'distributor-add-excel'" name="button" class="d-flex align-items-center mb-4 float-right export-btn"  ><i class="la la-file-export h4 mb-0 mr-1"></i> Upload Excel</a>

                <table cellspacing="0" class="table table-borderless table-list retailer-list">
                    <thead>
                        <tr>
                            <th class="position-relative pl-4">
                                <label class="checklabel">
                                    <input type="checkbox" v-on:click="checkAll($event)" v-model="checkAllList" name="selectcheck" id="selectall" class="checkbox-select"> <span class="checkmark"></span>
                                </label>
                            </th>
                            <th>SNo.</th>
                            <th>Hub Name</th>
                            <th>Hub Code</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>GST</th>
                            <th>City</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody v-if='distributorList.data.length == 0 && load'>
                        <tr>
                            <td colspan="10" class="text-center bg-light no-data">
                                <h6 class="m-0 py-2 border light-border">No Record Found ! </h6>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-for="(list,index) in distributorList.data">
                        <tr style="cursor: pointer;">
                            <td class="position-relative bg-white pl-4 border border-right-0 rounded-left light-border">
                                <label class="checklabel" v-if="list.status == 1">
                                    <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)"  type="checkbox" name="selectcheck"  class="checkbox-select" checked>
                                    <input v-else type="checkbox" v-on:click="addinList(list.id,$event)"  name="selectcheck"  class="checkbox-select">
                                    <span class="checkmark"></span>
                                </label>
                                <label  class="checklabel" v-if="list.status == 0">
                                    <input v-on:click="enableuser(list.id,$event)"  type="checkbox" name="selectcheck" id="selectall" class="checkbox-select" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-left-0 border-right-0 light-border">
                                <span class="data">{{distributorList.from + index}}</span>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-right-0 border-left-0 light-border text-capitalize">
                                <span class="data">{{ list.distributor_name}}</span>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                <span class="data">{{ list.distributor_code}}</span>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                <span class="data">{{ list.mobile}}</span>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                <span class="data">{{ list.email}}</span>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                <span class="data">{{ list.gst_no}}</span>
                            </td>
                            <td  data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                <span class="data">{{ list.city}}</span>
                            </td>
                            <td class="bg-white py-4 border border-right-0 border-left-0 light-border">
                                <span class="text-success data" v-if="list.status ==1">Active</span>
                                <span class="text-danger data" v-if="list.status !=1">Inactive</span>
                            </td>
                            <td class="bg-white border border-left-0 light-border">
                                <a href="#" title="View" data-toggle="modal" data-target="#myModal-distri" v-on:click='showform(list)' class="action-btn"><img src="images/view-icon.png" alt="view" class="action-icon"></a>
                                <span class="actions" ><a  v-bind:href="mainUrl + 'distributor/'+list.id+'/edit'"  title="edit" class="action-btn"><i aria-hidden="true" class="h5 m-0 align-middle fa fa-edit theme-text"></i></a></span>
                            </td>
                        </tr>
                        <tr class="separation"><td class="p-0">&nbsp;</td></tr>
                    <input v-if="checkAllList" v-on:click="removeFromList(list.id,$event)" type="checkbox" name="selectcheck" class="checkbox-select" checked>
                    <input v-else type="checkbox" v-on:click="addinList(list.id,$event)" name="selectcheck" id="selectall" class="checkbox-select">
                    </tbody>
                </table>
            </div>
            <div class="mb-3 pagination" v-if='distributorList.data.length > 0 && load'>
                <vue-pagination v-if="!searching"  :pagination="distributorList"
                                @paginate="getDistributor()"
                                v-bind:checked="checked"
                                v-bind:chekall="checkAllList"
                                :offset="4">
                </vue-pagination>
                <vue-pagination v-else :pagination="distributorList"
                                @paginate="searchBykey()"
                                v-bind:checked="checked"
                                v-bind:chekall="checkAllList"
                                :offset="4">
            </vue-pagination>
        </div>

    </div>
    <div class="modal fade" id="myModal-distri">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" data-dismiss="modal" class="close position-absolute close-modals">×</button>
                <!-- Modal body -->
                <div class="pt-4 px-3 modal-body">
                    <div class="row">
                        <div class="col-md-12 distributor-modal">
                            <h5 class="font-weight-normal mb-0 text-capitalize border-bottom pb-3">{{ dist.distributor_name}} Details</h5>
                            <ul class="list-group">
                                <li class="d-flex px-0 border-bottom py-2">
                                    <span class="icons-ico border-right mr-3">
                                        <img src="images/location-icon.svg" alt="location-icon" width="15">
                                    </span>
                                    <span id="company_address" class="w-100 text">{{ dist.address}}</span>
                                </li>
                                <li class="d-flex px-0 border-bottom py-2">
                                    <span class="icons-ico border-right mr-3">
                                        <img src="images/web-icon.svg" alt="location-icon" width="18">
                                    </span>
                                    <span id="company_website" class="w-100 text">{{ dist.website}}</span>
                                </li>
                                <li class="d-flex px-0 border-bottom py-2">
                                    <span class="icons-ico border-right mr-3">
                                        <img src="images/geo-location-icon.svg" alt="location-icon" width="18">
                                    </span>
                                    <span id="latitude_longitude" class="w-100 text">{{ dist.latitude}}, {{ dist.longitude}}</span>
                                </li>
                                <li class="d-flex px-0 border-bottom py-2">
                                    <span class="icons-ico border-right mr-3">
                                        <img src="images/phone-icon.svg" alt="mail-icon" width="7">
                                    </span>
                                    <span id="distri_contact" class="w-100 text">+91 {{ dist.mobile}}</span>
                                </li>
                                <li class="d-flex px-0 py-2">
                                    <span class="icons-ico border-right mr-3">
                                        <img src="images/mail-icon.svg" alt="mail-icon" width="18">
                                    </span>
                                    <span id="distri_email" class="w-100 text">{{ dist.email}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
    import VuePagination from '../partials/PaginationComponent.vue';
    import {siteUrl} from '../utility.js';
    export default {

        name: 'distributor-list',
        data() {
            return{

                mainUrl: siteUrl,
//                distributorList: [],
                dist: '',
                searchkey: '',
                checkedList: [],
                checkAllList: false,
                distributorList: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    data: ''
                },
                offset: 4,
                searching: false,
                checkedEnableList: [],
                is_active: 1,
                checked: false,
                load: false,
            };
        },
        components: {
            VuePagination,
        },
        watch: {
            searchKey: function (val) {
                this.distributorList.current_page = 1;
            },

        },
        methods: {
            showform(list) {

                this.dist = list;
            },
            searchBykey() {
                this.load = false;
                let currentObj = this;
                if ($.trim(currentObj.searchkey)) {
                    var request = {
                        params: {
                            page: this.distributorList.current_page,
                            searchkey: this.searchkey

                        }
                    };
                    this.searching = true;
                    axios.get(currentObj.mainUrl + 'get/distributor/data', request)
                            .then(function (response) {
                                currentObj.distributorList = response.data.list;
                                currentObj.mainUrl = response.data.siteUrl;
                                currentObj.load = true;
                            })
                            .catch(function (error) {

                            });

                } else {
                    currentObj.getDistributor();
                }


            },
            showListDetails(arg) {
                let currentObj = this;
                window.location.href = currentObj.mainUrl + 'view/retailer/data/' + arg;
            },
            resetCheckbox() {
                this.checkedList = [];
                this.checkAllList = false;
                this.checkedEnableList = [];
                this.checked = false;
                $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            },
            checkAll($event) {
                if ($event.target.checked == true) {
                    this.checkedList = [];
                    $('table tbody tr td label.checklabel input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                    this.checkAllList = true;
                    this.checked = false;
                    for (var i = 0; i < this.distributorList.data.length; i++) {
                        if (this.distributorList.data[i].status == 1) {
                            this.checkedList.push(this.distributorList.data[i].id);
                        }
                    }
                    for (var i = 0; i < this.distributorList.data.length; i++) {
                        if (this.distributorList.data[i].status == 0) {
                            this.checkedEnableList.push(this.distributorList.data[i].id);
                        }
                    }
                } else {
                    this.checkedList = [];
                    this.checkedEnableList = [];
                    this.checkAllList = false;
                    this.checked = false;
                    $('table tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }

            },
            removeFromList(arg, $event) {
                if ($event.target.checked == false)
                {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                } else {

                    this.checkedList.push(arg);
                    $event.target.checked = true;
                }
            },
            addinList(arg, $event) {
                if ($event.target.checked == true) {

                    this.checked = true;
                    if (this.checkedEnableList.length == 0) {
                        if (!this.checkedList.includes(arg)) {
                            this.checkedList.push(arg);
                        } else {

                            var ind = this.checkedList.indexOf(arg);
                            this.checkedList.splice(ind, 1);
                        }
                        $event.target.checked = true;
                    } else {

                        this.checked = false;

                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    this.checked = false;
                    var ind = this.checkedList.indexOf(arg);
                    this.checkedList.splice(ind, 1);
                    $event.target.checked = false;
                }

            },
            enableuser(arg, $event) {

                if ($event.target.checked == true) {
                    if (this.checkedList.length == 0) {

                        if (!this.checkedEnableList.includes(arg)) {
                            this.checkedEnableList.push(arg);
                        } else {
                            var ind = this.checkedEnableList.indexOf(arg);
                            this.checkedEnableList.splice(ind, 1);
                        }
                        this.checked = true;
                        $event.target.checked = true;
                    } else {
                        this.checked = false;
                        $event.target.checked = false;
                        alert('You can select disable or enable items at a time');
                    }
                } else {

                    var ind = this.checkedEnableList.indexOf(arg);
                    this.checkedEnableList.splice(ind, 1);
                    $event.target.checked = false;
                    this.checked = false;
                }

            },

            //used for update records
            updateStatus() {
                var flage = 0;
                let currentObj = this;
                let message = "Are you sure want to change user status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'get/distributor/change-status', {ids: currentObj.checkedList, status: 0})
                                    .then(function (response) {
                                        currentObj.getDistributor();
                                        $('table tbody tr td input[type="checkbox"]').each(function () {
                                            $(this).prop('checked', false);
                                        });
                                        currentObj.checkedList = [];
                                        currentObj.checkedEnableList = [];
                                        currentObj.checkAllList = false;
                                    })
                                    .catch(function (error) {

                                    });
                        });
            },
            enableStatus() {
                var flage = 0;
                let currentObj = this;
                let message = "Are you sure want to change user status?";

                let options = {
                    html: false, // set to true if your message contains HTML tags. eg: "Delete <b>Foo</b> ?"
                    loader: true, // set to true if you want the dailog to show a loader after click on "proceed"
                    reverse: false, // switch the button positions (left to right, and vise versa)
                    okText: 'Continue',
                    cancelText: 'Close',
                    animation: 'bounce', // Available: "zoom", "bounce", "fade"
                    type: 'soft', // coming soon: 'soft', 'hard'
                    verification: 'continue', // for hard confirm, user will be prompted to type this to enable the proceed button
                    verificationHelp: 'Type "[+:verification]" below to confirm', // Verification help text. [+:verification] will be matched with 'options.verification' (i.e 'Type "continue" below to confirm')
                    clicksCount: 3, // for soft confirm, user will be asked to click on "proceed" btn 3 times before actually proceeding
                    backdropClose: false, // set to true to close the dialog when clicking outside of the dialog window, i.e. click landing on the mask
                    customClass: '' // Custom class to be injected into the parent node for the current dialog instance
                };
                this.$dialog.confirm(message)
                        .then(function (dialog, options) {
                            axios.post(currentObj.mainUrl + 'get/distributor/change-status', {ids: currentObj.checkedEnableList, status: 1})
                                    .then(function (response) {
                                        currentObj.getDistributor();
                                        currentObj.checkedList = [];
                                        currentObj.checkedEnableList = [];
                                        currentObj.checkAllList = false;

                                        $('table tbody tr td input[type="checkbox"]').each(function () {
                                            $(this).prop('checked', false);
                                        });
                                    })
                                    .catch(function (error) {

                                    });
                        });
            },
            // used to get data

            getDistributor() {


                this.searching = false;
                let currentObj = this;
                currentObj.load = false;
                var request = {
                    params: {
                        page: this.distributorList.current_page,
                        status: this.is_active
                    }
                };
                axios.get(currentObj.mainUrl + 'get/distributor/data', request)
                        .then(function (response) {
                            currentObj.distributorList = response.data.list;
                            currentObj.mainUrl = response.data.siteUrl;
                            currentObj.resetCheckbox();
                            currentObj.load = true;
                            $(".pageloader").hide();
                        })
                        .catch(function (error) {

                        });
            },

        },
        mounted() {



            this.getDistributor();
        }
    }


</script>
